---
http_interactions:
- request:
    method: post
    uri: https://config.operativeone.com/operativeone/api/accounts/
    body:
      encoding: UTF-8
      string: accountType=agency&addressline1=9124+Madyson+Cliff&addressline2=Apt.+907&city=New+Murphybury&country=Mongolia&externalID=boostr_288_Gerlach+LLC_account&name=Pfannerstill-Oberbrunner&parentAccount=Murphy%2C+Goodwin+and+Predovic&phone=69985740331568&state=WV&zip=85703
    headers:
      Companyid:
      - '149'
      Apiprovider:
      - operative
      Authorization:
      - Basic YXBpX3VzZXJAa2luZ3NhbmRib3guY29tOktpbmcyMDE3IQ==
      Dealid:
      - '72'
      Resourcename:
      - account
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <account><accountId>169</accountId><name>Pfannerstill-Oberbrunner</name><phone>69985740331568</phone><status>active</status><addressline1>9124
        Madyson Cliff</addressline1><addressline2>Apt. 907</addressline2><city>New
        Murphybury</city><state>WV</state><zip>85703</zip><country>Mongolia</country><accountType
        id="2" name="agency"/><propertyValueList/><createdTime>2017-02-28 14:33:46.69</createdTime><createdUser>api_user@kingsandbox.com</createdUser><updatedTime>2017-02-28
        14:33:46.69</updatedTime><updatedUser>api_user@kingsandbox.com</updatedUser><externalID>boostr_288_Gerlach
        LLC_account</externalID><psAdvertiserId>0</psAdvertiserId><psCustomerId>0</psCustomerId><deleted>false</deleted></account>
  recorded_at: Tue, 28 Feb 2017 14:33:46 GMT
recorded_with: VCR 3.0.3
