.row
  .col-xs-10
    %input.title.editable-control{ type: 'text', 'ng-model': 'option.name', placeholder: "Enter option", 'ng-blur': 'isUpdating || updateOption(option)', 'ng-disabled': 'isDisabled(option)' }
    |
    %span.total
      {{ option.suboptions.length }}-Sub

    %span.default-label{ ng: {if: 'option.locked' }}
      (Default)
  %a.delete{ href: '', ng: { click: 'deleteOption(option)', if: '!option.locked' } }
    = inline_svg 'icons/trash.svg'
