.title{ editable: { text: 'value.name' }, onaftersave: 'updateStage(value)', 'e-name': 'stage-name' }
  {{ value.name }}
%div{ editable: { text: 'value.probability' }, onaftersave: 'updateStage(value)', 'e-name': 'stage-probability' }
  Probability: {{ value.probability }}%