.row
  .col-xs-6
    .title{ editable: { text: 'value.name' }, onaftersave: 'updateStage(value)', 'e-name': 'stage-name' }
      {{ value.name }}
    %div{ editable: { text: 'value.probability' }, onaftersave: 'updateStage(value)', 'e-name': 'stage-probability' }
      Probability: {{ value.probability }}%
  .col-xs-6
    .btn-group.pull-right
      %label.open-button.btn.btn-info.btn-xs{ ng: { model: 'value.open', change: 'updateStage(value)' }, btn: { radio: 'true' } }
        Open
      %label.close-button.btn.btn-info.btn-xs{ ng: { model: 'value.open', change: 'updateStage(value)' }, btn: { radio: 'false' } }
        Closed
    .btn-group.pull-right
      %label.btn.btn-info.btn-xs{ ng: { model: 'value.active', change: 'updateStage(value)' }, btn: { radio: 'true' } }
        Active
      %label.btn.btn-info.btn-xs{ ng: { model: 'value.active', change: 'updateStage(value)' }, btn: { radio: 'false' } }
        Archived
