#api-configurations
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last{ dropdown: true }
              %a.add-api-integration{ href: '', dropdown: { toggle: true } }
                = inline_svg 'icons/add.svg'
                Add Api Integration
              %ul.dropdown-menu
                %li{ ng: { repeat: 'integration in integration_types' } }
                  %a{ href: '', ng: { click: 'selectIntegrationProvider(integration)'} }
                    {{ integration }}

  .container
    %h3 Integrations
    .row
      .table-wrapper
        %table.table.table-hover.table-striped
          %thead
            %tr
              %th.left Integration Provider
              %th.left Api link
              %th.left Network code
              %th.left Triggers on deal percentage
              %th.left Monthly report query id
              %th.left Cumulative report query id
              %th.left Cumulative Weekly recurrence day
              %th.left Monthly report recurrence day
              %th.left Cumulative report id daily recurrent?
              %th.left Switched on?
              %th.action-column
          %tbody
            %tr{ ng: { repeat: 'api_configuration in api_configurations' } }
              %td.left {{ api_configuration.integration_provider }}
              %td.left {{ api_configuration.base_link }}
              %td.left {{ api_configuration.network_code }}
              %td.left {{ api_configuration.trigger_on_deal_percentage }}
              %td.left {{ api_configuration.monthly_dfp_report_query.report_id }}
              %td.left {{ api_configuration.cumulative_dfp_report_query.report_id }}
              %td.left {{ api_configuration.cumulative_dfp_report_query.weekly_recurrence_day }}
              %td.left {{ api_configuration.monthly_dfp_report_query.monthly_recurrence_day}}
              %td.left {{ api_configuration.cumulative_dfp_report_query.is_daily_recurrent }}
              %td.left {{ api_configuration.switched_on }}
              %td.action-td
                %a.edit-api-integration{ href: '', ng: { click: 'editModal(api_configuration)' } }
                  = inline_svg 'icons/pencil.svg'
                %a.delete-api-integration{ href: '', ng: { click: 'delete(api_configuration)' } }
                  = inline_svg 'icons/trash.svg'
