#api-configurations
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-left.dfp-import-buttons{ ng: { if: 'dfp_turned_on'} }
              %button.add-btn{ ng: { click: 'dfp_cumulative_import()'} } Run Cumulative DFP Report
              %button.add-btn{ ng: { click: 'dfp_monthly_import()'} } Run Monthly DFP Report
            %li.pull-left.slack-button
              %button.add-btn{ ng: { click: 'auth_slack()'} } Enable Slack
            %li.pull-right.last{ dropdown: true }
              %a.add-api-integration{ href: '', dropdown: { toggle: true } }
                = inline_svg 'icons/add.svg'
                Add Api Integration
              %ul.dropdown-menu
                %li{ ng: { repeat: 'integration in integration_types' } }
                  %a{ href: '', ng: { click: 'selectIntegrationProvider(integration)'} }
                    {{ integration }}

  .container
    %h3 Integrations
    .row
      .table-wrapper
        %table.table.table-hover.table-striped
          %thead
            %tr
              %th.left Integration Provider
              %th.left Api link
              %th.left Switched on?
              %th.left Network code
              %th.left Probability Threshold
              %th.left Job Status
              %th.left Action
              %th.action-column
          %tbody
            %tr{ ng: { repeat: 'api_configuration in api_configurations' } }
              %td.left {{ api_configuration.integration_provider }}
              %td.left {{ api_configuration.base_link }}
              %td.left {{ api_configuration.switched_on }}
              %td.left {{ api_configuration.network_code }}
              %td.left {{ api_configuration.trigger_on_deal_percentage }}
              %td.left {{ api_configuration.job_status }}
              %td.left
                %div{ng: {if: 'api_configuration.integration_provider == "Operative Datafeed"'}}
                  %button.btn.activity-email-btn{ ng: { click: 'runDatafeedIntraday(api_configuration)', disabled: '!api_configuration.can_be_scheduled'} } Run Intraday
                  %button.btn.activity-email-btn{ ng: { click: 'runDatafeedImportAll(api_configuration)', disabled: '!api_configuration.can_be_scheduled'} } Import All
              %td.action-td
                %a.edit-api-integration{ href: '', ng: { click: 'editModal(api_configuration)', if: 'api_configuration.integration_provider != "Slack"' } }
                  = inline_svg 'icons/pencil.svg'
                %a.delete-api-integration{ href: '', ng: { click: 'delete(api_configuration)' } }
                  = inline_svg 'icons/trash.svg'
