.bp-detail
  .container.table-report
    .row
      .col-xs-12
        .section
          %a.pull-right.upload{ href: '', ng: { click: 'showModal()' } }
            = inline_svg 'icons/add.svg'
        %h3.title Bottoms Up

    .row
      .col-md-12.text-center.bp-table-wrapper
        .alerts{ 'ng-if': 'notification' }
          .alert.alert-success
            %i.fa.fa-check-circle
            <strong style="text-transform: capitalize"></strong>
            {{notification}}
        %table.table.bp-table
          %thead
            %tr
              %th.left Bottoms Up name
              %th Time period
              %th Date Created
              %th Due Date
              %th Status
              %th Active
              %th
          %tbody
            %tr.clickable{ ng: { if: 'bps.length > 0', repeat: 'bp in bps', click: 'go($event, bp)' } }
              %td.left
                {{bp.name}}
              %td
                {{bp.time_period.name}}
              %td
                {{bp.created_at | date: 'shortDate'}}
              %td
                {{bp.due_date | date: 'shortDate'}}
              %td
                {{bp.status}} / {{bp.client_count}}
              %td
                %z-toggle{'ng-model': 'bp.active', 'ng-change': 'activateBp(bp)', 'ng-click': '$event.stopPropagation()'}
              %td{width: '100px'}
                %i.fa.fa-trash.delete-icon{'ng-click': 'deleteBp($event, bp)'}
            %tr{ ng: { if: 'bps.length == 0' }}
              %td.center{ colspan: '6' }
                No data available