#custom-values
  .container
    .row
      .col-xs-12
        %h3
          Custom Values

    .row
      #objects.col-xs-4
        .well.primary
          Object
        .well{ ng: { repeat: 'object in objects', click: 'setObject(object)' } }
          %span.title
            {{ object.name }}
          |
          %span.total
            {{ object.fields.length }} total
      #fields.col-xs-4
        .well.primary
          Field Name
        .well{ ng: { repeat: 'field in current.object.fields', click: 'setField(field)' } }
          %span.title
            {{ field.name }}s
          |
          %span.total
            {{ field.options.length }} Options
      #options.col-xs-4
        .well.primary
          Options
          .pull-right
            %a.add{ href: '', ng: { click: 'createNewValue()' } }
              = inline_svg 'icons/add.svg'
              Add
        %ul{ 'ui-sortable': 'sortableOptions', ng: { model: 'current.field.options' } }
          %li{ ng: { repeat: 'option in current.field.options' } }
            .well{ ng: { include: '"settings/custom_values/option.html"' }, 'scroll-if': 'option == newest' }


