#custom-values
  .container
    .row
      .col-xs-12
        %h3
          Custom Values

    .row
      #objects.col-xs-2.list-group
        .well.primary
          Object
        .well{ ng: { repeat: 'object in objects', click: 'setObject(object)', class: '{active: current.object == object}' } }
          %span.title
            {{ object.name }}
          |
          %span.total
            {{ object.fields.length }}-Fields
      #fields.col-xs-3.list-group
        .well.primary
          Field Name
        .well{ ng: { repeat: 'field in current.object.fields', click: 'setField(field)', class: '{active: current.field === field}' } }
          %span.title
            {{ field.name | pluralize }}
          |
          %span.total
            {{ field.options.length }}-Opt
      #options.col-xs-4.list-group
        .well.primary
          Options
          .pull-right
            %a.add{ href: '', ng: { click: 'createNewValue()' } }
              = inline_svg 'icons/add.svg'
              Add
        %ul{ 'ui-sortable': 'sortableOptions', ng: { model: 'current.field.options' } }
          %li{ ng: { repeat: 'option in current.field.options', click: 'setOption(option)', class: '{ active: current.option === option }' } }
            .well{ ng: { include: '"settings/custom_values/option.html"' }, 'scroll-if': 'option == newest' }

      #suboptions.col-xs-3.list-group
        .well.primary
          Sub-Options
          .pull-right
            %a.add{ href: '', ng: { click: '!isFieldCategory() || createNewSubOption()', disabled: '!isFieldCategory()' } }
              = inline_svg 'icons/add.svg'
              Add
        %ul{ 'ui-sortable': 'sortableSuboptions', ng: { model: 'current.option.suboptions' } }
          %li{ ng: { repeat: 'suboption in current.option.suboptions' } }
            .well{ ng: { include: '"settings/custom_values/suboption.html"' }, 'scroll-if': 'suboption == newest' }
