#data_import.block
  %div.mb20
    %span.title Import/Export Data
    .logs-filter
      %tabset{active: "active"}
        %tab{heading: "Data Import", index: "0"}
          .row
            .col-sm-4{ 'ng-repeat': 'option in importOptions | orderBy : "title"' }
              .panel
                .panel-body
                  %h4 {{option.title}}
                  %li.import
                    %a.upload{ "ng-click": 'option.click()' }
                      = inline_svg 'icons/import.svg'
                      {{ option.linkText }}

        %tab{heading: "Data Export", index: "1"}
          .row
            .col-sm-4{ 'ng-repeat': 'option in exportOptions | orderBy : "title"' }
              .panel
                .panel-body
                  %h4 {{option.title}}
                  %li.export
                    %a.upload{ "ng-click": 'option.click()' }
                      = inline_svg 'icons/import.svg'
                      {{ option.linkText }}

        %tab{heading: "Import Status", index: "3", ng: { click: 'getLogs()' } }
          .table-report.pad
            %table.table.table-hover
              %thead
                %tr
                  %th.left Date
                  %th.center{width: '90px'} Processed
                  %th.center{width: '90px'} Imported
                  %th.center{width: '90px'} Failed
                  %th.center{width: '90px'} Skipped
                  %th.left File Source
                  %th.left Object Name
                  %th.left{width: '150px'} Error Messages

              %tbody
                %tr{'ng-repeat': 'log in csv_import_logs' }
                  %td {{log.created_at | date: 'medium' }}
                  %td.center
                    %b {{log.rows_processed}}
                  %td.center
                    %b {{log.rows_imported}}
                  %td.center
                    %b {{log.rows_failed}}
                  %td.center
                    %b {{log.rows_skipped}}
                  %td
                    %b {{ log.file_source }}
                  %td
                    %b {{ log.object_name }}
                  %td
                    %button.btn.activity-email-btn{'ng-click': 'showBodyModal(log)', 'ng-if': 'log.rows_failed > 0'}
                      Show Errors
                    %b{ng: {if: 'log.rows_failed == 0'}}
                      No Errors

          .custom-pagination{'bgf-pagination': 'bgf-pagination',
            'collection': 'csv_import_logs',
            'per-page': '25',
            'link-group-size': "2",
            'request-limit': "50",
            'url': 'csvImportLogsUrl',
            'url-params': 'csvImportLogsUrlParams'}
