#ealerts.z-styles
  .container-fluid
    .row
      .col-xs-7
        .block
          %div.mb20
            %span.title eAlert Settings
          .row
            .col-xs-7
              .mb20.pb20.bb-gray
                .form-group{'ng-class': "{'error': errors['delay']}"}
                  %label{ for: 'stage' }
                    Auto-send eAlerts Delay (in minutes)
                    %span.star *
                  %input.form-control{type: 'number', 'ng-model': 'ealert.delay', placeholder: "enter delay" }
                  %span.error-text {{errors.delay}}
              .mb20.pb20.bb-gray
                .same-recipients-for
                  Show Billing Contact
                .show-hide-remainder-form
                  .switch-remainder-form
                    %input.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'ealert.show_billing_contact', id: "show-billing-contact"}
                    %label{:for => "show-billing-contact"}
                      %span
              .mb20.pb20.bb-gray
                .specify-the-recipien
                  Specify Recipients
                .same-recipients-for
                  Same recipients for all sales stages
                .show-hide-remainder-form
                  .switch-remainder-form
                    %input.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'ealert.same_all_stages', id: "same-recipients-for"}
                    %label{:for => "same-recipients-for"}
                      %span
                .recipients-list
                  .recipient-item{'ng-repeat': 'recipient in ealert.recipient_list track by $index'}
                    {{recipient}}
                    %span.close-btn{'ng-click': 'removeRecipient("all_recipients", $index)'}
                    
                %span{ dropdown: true, 'dropdown-append-to-body': true, 'auto-close': 'outsideClick', 'is-open': 'status.isopen["all_recipients"]'  }
                  %add-button{ dropdown: { toggle: true } } Add
                  %ul.dropdown-menu
                    %li
                      %input.form-control.recipient-field{type: 'text', placeholder: "type email here", 'ng-keypress': 'onKeypress($event, "all_recipients")'}
              .mb20.pb20.bb-gray
                .auto-send-e-alerts-on
                  Auto-send eAlerts on stages:
                .all-stages
                  .stage-item
                    %i.fa.checkbox-fa{ng: {class: '{"fa-check-square active": ealert.automatic_send, "fa-square-o": !ealert.automatic_send}', click: 'enableAllEalerts()'}}
                    All Stages
                  .stage-item
                    %i.fa.checkbox-fa{ng: {class: '{"fa-check-square active": ealert.all_disabled, "fa-square-o": !ealert.all_disabled}', click: 'disableAllEalerts()'}}
                    Don’t send auto eAlerts
                  .stage-item.wide{ng: {repeat: 'ealert_stage in ealert.ealert_stages track by $index'}}
                    %i.fa.checkbox-fa{ng: {class: '{"fa-check-square active": ealert_stage.enabled, "fa-square-o": !ealert_stage.enabled}', click: 'changeEalertEnabled($index)'}}
                    {{ealert_stage.stage.sales_process && ealert_stage.stage.sales_process.name}} {{ealert_stage.stage.probability}}% ({{ealert_stage.stage.name}})
              .mb20.pb20.bb-gray{'ng-if': '!ealert.same_all_stages'}
                .specify-the-recipien
                  Recipients on each stages:
                .stage-recipients{ng: {repeat: '(stage_index, ealert_stage) in ealert.ealert_stages'}}
                  .recipients-list
                    .auto-send-e-alerts-on
                      {{ealert_stage.stage.sales_process && ealert_stage.stage.sales_process.name}} {{ealert_stage.stage.probability}}% ({{ealert_stage.stage.name}})
                    .recipient-item{'ng-repeat': 'recipient in ealert_stage.recipient_list track by $index'}
                      {{recipient}}
                      %span.close-btn{'ng-click': 'removeRecipient(stage_index, $index)'}
                  %span{ dropdown: true, 'dropdown-append-to-body': true, 'auto-close': 'outsideClick', 'is-open': 'status.isopen[ealert_stage.stage_id]'  }
                    %add-button{ dropdown: { toggle: true } } Add
                    %ul.dropdown-menu
                      %li
                        %input.form-control.recipient-field{type: 'text', placeholder: "type email here", 'ng-keypress': 'onKeypress($event, ealert_stage.stage_id)'}
            .col-xs-5
              .mb20
                .select-fields-and-or
                  Select fields and order for eAlert
                .fields-section
                  .select-fields-and-or
                    Selected Fields
                  .selected-fields{'dnd-list': 'selectedFields'}
                    .field-item{'ng-repeat': 'field in selectedFields',
                        'dnd-draggable': 'field',
                        'dnd-moved': 'onMoved(field, $index)',
                        'dnd-effect-allowed': 'move'}
                      %i.fa.fa-bars
                      {{field.subject.field_label}} - {{field.subject.field_value}}
                      %span.close-btn{'ng-click': 'removeField(field)'}
                  .select-fields-and-or
                    Available Fields
                  .available-fields
                    .field-item{'ng-repeat': 'field in availableFields'}
                      %i.fa.fa-plus{'ng-click': 'addField(field)'}
                      {{field.subject.field_label}} - {{field.subject.field_value}}
          .row
            .col-xs-12        
              %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Cancel
              %button.btn.btn-primary{ type: 'submit', ng: { disabled: 'buttonDisabled', click: 'submitEalert(ealert)' } } Save
      .col-xs-5
        .block
          %div.mb20
            %span.title eAlert Preview
          .row
            .col-xs-12
              .mb20
                .preview-container
                  .preview-header
                    .logo-title
                      boostr
                    .subtitle
                      eAlert
                  .preview-subheader
                    %table{width: '100%'} 
                      %tr
                        %td{ style: 'position: relative;' }
                          .deal-won-indicator
                            .deal-won-indicator-oval
                            .deal-won-indicator-deal
                              Deal
                            .deal-won-indicator-won
                              Won
                          .subtitle
                            Summer Concert Series
                          .advertiser-ballast
                            %strong
                              Stage:
                            Proposal
                          .advertiser-ballast
                            %strong
                              Probability:
                            50%
                          .advertiser-ballast
                            %strong
                              Advertiser:
                            Ballast Point
                          .advertiser-ballast
                            %strong
                              Sales Team:
                            Patrick O (50%), Katie Scheirle (50%)
                          .comment-section
                            %div
                              %strong
                                Comments:
                            %div
                              Client expecting auto-play video location targetting at Concert Venues. Needs to be millenial hip.
                        %td.action
                          %button.add-btn{'ng-click': 'goDeal()'}
                            Go to Deal
                  .preview-body
                    %section.mb30
                      %div
                        %strong
                          Budget:
                        £200,000 GBP, $250,000 USD
                      %div
                        %strong
                          Flight Date:
                        Jun 15, 2017 - Sep 31, 2017

                      %div{'ng-if': 'ealert.show_billing_contact'}
                        %strong
                          Billing Contact:
                        Jaron Rush - jaron.rush@test.com
                      %div{'ng-repeat': 'field in selectedFields | filter: dealCustomFieldFilter'}
                        %strong
                          {{field.subject.field_label}}:
                        {{field.subject.field_value}}
                    %section.mb30
                      .products.mb10
                        Products
                      %div.mb10
                        %strong
                          Custom Video:
                        £140,000 GBP, $175,000 USD
                        %table{width: '100%'} 
                          %tr
                            %td
                              %strong Jun 17
                            %td
                              %strong Jul 17
                            %td
                              %strong Aug 17
                            %td
                              %strong Sep 17
                          %tr
                            %td
                              10%
                            %td
                              40%
                            %td
                              25%
                            %td
                              25%
                        .product-fields
                          %div{'ng-repeat': 'field in selectedFields | filter: dealProductCfFilter'}
                            %strong
                              {{field.subject.field_label}}:
                            {{field.subject.field_value}}
                      %div.mb10
                        %strong
                          Snapchat:
                        £60,000 GBP, $75,000
                        %table{width: '100%'} 
                          %tr
                            %td
                              %strong Jun 17
                            %td
                              %strong Jul 17
                            %td
                              %strong Aug 17
                            %td
                              %strong Sep 17
                          %tr
                            %td
                              10%
                            %td
                              40%
                            %td
                              25%
                            %td
                              25%
                        .product-fields
                          %div{'ng-repeat': 'field in selectedFields | filter: dealProductCfFilter'}
                            %strong
                              {{field.subject.field_label}}:
                            {{field.subject.field_value}}


          