#general.z-styles
  .container-fluid
    %span.page-title General Settings

    .row
      .col-sm-3
        .panel
          .panel-body
            %h4 Forecast
            %h5 Set the day of the week for the week over week snapshot to begin
            .form-group
              %label.control-label{ for: 'day' } Day of the week
              %ui-select{ name: 'day', ng: { model: 'company.snapshot_day', disabled: true }, 'on-select': 'updateCompany()' }
                %ui-select-match{ placeholder: 'Day' }
                  {{ $select.selected.name }}
                %ui-select-choices{ repeat: 'day.id as day in days | filter: { name: $select.search }' }
                  %div{ ng: { bind: { html: 'day.name' } } }

            %h5 Forecast Fact Recalculation
            .form-group
              %button.btn.btn-primary{'ng-click': 'runForecastCalculation()'}
                Run Now 
            %h5 Forecast Gap to Quota Positive
            .form-group
              .show-hide-remainder-form
                .switch-remainder-form
                  %input.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'company.forecast_gap_to_quota_positive', 'ng-change': "updateCompany()", id: "rem-act-modal-toggle-forecast-gap-to-quota"}
                  %label{:for => "rem-act-modal-toggle-forecast-gap-to-quota"}
                    %span
            %h5 Enable Net Forecasting
            .form-group
              .show-hide-remainder-form
                .switch-remainder-form
                  %input.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'company.enable_net_forecasting', 'ng-change': 'updateCompany()', id: 'rem-act-modal-toggle-enable-net-forecast'}
                  %label{:for => 'rem-act-modal-toggle-enable-net-forecast'}
                    %span
            %h5 Default IO Freeze Budgets
            .form-group
              .show-hide-remainder-form
                .switch-remainder-form
                  %input.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'company.default_io_freeze_budgets', 'ng-change': 'updateCompany()', id: 'rem-act-modal-toggle-io-freeze-budgets'}
                  %label{:for => 'rem-act-modal-toggle-io-freeze-budgets'}
                    %span

