#general.z-styles
  .container-fluid
    %span.page-title General Settings

    .row
      .col-sm-3
        .panel
          .panel-body
            %h4 Forecast
            %h5 Set the day of the week for the week over week snapshot to begin
            .form-group
              %label.control-label{ for: 'day' } Day of the week
              %ui-select{ name: 'day', ng: { model: 'company.snapshot_day', disabled: true }, 'on-select': 'updateCompany()' }
                %ui-select-match{ placeholder: 'Day' }
                  {{ $select.selected.name }}
                %ui-select-choices{ repeat: 'day.id as day in days | filter: { name: $select.search }' }
                  %div{ ng: { bind: { html: 'day.name' } } }

            %h5 Forecast Fact Recalculation
            .form-group
              %button.btn.btn-primary{'ng-click': 'runForecastCalculation()'}
                Run Now 

