#general.z-styles
  .container-fluid
    %span.page-title General Settings

    .row
      .col-sm-3
        .panel
          .panel-body
            %h4 Forecast
            %h5 Set the day of the week for the week over week snapshot to begin
            .form-group
              %label.control-label{ for: 'day' } Day of the week
              %ui-select{ name: 'day', ng: { model: 'company.snapshot_day', disabled: true }, 'on-select': 'updateCompany()' }
                %ui-select-match{ placeholder: 'Day' }
                  {{ $select.selected.name }}
                %ui-select-choices{ repeat: 'day.id as day in days | filter: { name: $select.search }' }
                  %div{ ng: { bind: { html: 'day.name' } } }

      .col-sm-3
        .panel
          .panel-body
            %h4 Deal Validations
            %h5 Require Deal Billing Contact
            .form-group
              %label.control-label{ for: 'validations' } Select a Stage at which point Billing Contact is always required
              %ui-select{ name: 'percentage', ng: { model: 'billing_contact_validation.criterion.value', disabled: true }, 'on-select': 'updateValidation(billing_contact_validation)' }
                %ui-select-match{ placeholder: 'Select Stage' }
                  {{ $select.selected.name }}
                %ui-select-choices{ repeat: 'stage.probability as stage in stages | orderBy: "[-active, position]"' }
                  %div{ ng: { bind: { html: 'stage.name' } } }

            %h5 Require Account Manager
            .form-group
              %label.control-label{ for: 'validations' } Select a Stage at which point Account Manager is always required
              %ui-select{ name: 'percentage', ng: { model: 'account_manager_validation.criterion.value', disabled: true }, 'on-select': 'updateValidation(account_manager_validation)' }
                %ui-select-match{ placeholder: 'Select Stage' }
                  {{ $select.selected.name }}
                %ui-select-choices{ repeat: 'stage.probability as stage in stages | orderBy: "[-active, position]"' }
                  %div{ ng: { bind: { html: 'stage.name' } } }

            %h5 Can't be closed manually
            .form-group
              %label.control-label{ for: 'disable_close' } Disable Manual change to Closed Won stage
              .show-hide-remainder-form
                .switch-remainder-form
                  %input.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'disable_deal_close_validation.criterion.value', id: "disable_close", 'ng-change': 'confirmDisableDealWon()'}
                  %label{:for => "disable_close"}
                    %span
                .validation-warning{ng: { if: 'disable_deal_close_validation.criterion.value' }}
                  %i.fa.fa-exclamation-triangle{'aria-hidden' => 'true'}
                  %span Stages can't be changed to Closed Won manually
