#integration-logs.block
  %div.mb20
    %span.title Integration Logs
    .logs-filter
      %span{'ng-class': '{active: errors_only == false}', 'ng-click': 'setErrorFilter(false)'} All logs
      %span{'ng-class': '{active: errors_only == true}', 'ng-click': 'setErrorFilter(true)'} Error logs

  .table-report.pad
    %table.table.table-hover
      %thead
        %tr
          %th.left{width: '100'} ID
          %th.left{width: '100'} Deal ID
          %th.left{width: '100'} Method
          %th.left{width: '100'} Code
          %th.left{width: '120'} URL
          %th.left{width: '180'} Date
          %th.left{width: '100'} Response
          %th.left Resource
          %th.left Action

      %tbody
        %tr{'ng-repeat': 'log in logs', 'ng-class': '{"error-log": log.is_error}' }
          %td
            %a{href: '', 'ng-href': '/settings/integration_logs/{{log.id}}'} {{log.id}}
          %td
            %a{href: '', 'ng-href': '/deals/{{log.deal_id}}'} {{log.deal_id}}
            {{log.deal_id ? '' : '-'}}
          %td
            %b {{log.request_type.toUpperCase()}}
          %td
            %b {{log.response_code || '-'}}
          %td
            %a{href: '{{log.api_endpoint}}'} {{getHost(log.api_endpoint)}}
          %td {{log.created_at | date: 'medium'}}
          %td
            %button.btn.activity-email-btn{'ng-if': 'log.response_body.length', 'ng-click': 'showBodyModal(log)'}
              Show Body
          %td {{log.object_name}}
          %td
            %button.btn.btn-primary{'ng-if': 'log.is_error', 'ng-click': 'resendRequest(log.id)'}
              Resend

    .custom-pagination{'bgf-pagination': 'bgf-pagination',
      'collection': 'logs',
      'per-page': '50',
      'request-limit': "100",
      'url': 'logsUrl',
      'url-params': 'logsUrlParams'}
