#leads-settings.z-styles
    .container-fluid
        %div.mb20
            %span.main-title.mr8 Leads

        .block
            .title.mb20 Manage Coverage
            .rules-table
                .rules-column
                    .rule-column-header
                        %div ASSIGNMENT RULE
                        .rule-add-btn.z-dropdown{dropdown: true}
                            %div{'dropdown-toggle': true} Add
                            %div.dropdown-menu.dropdown-menu-right
                                %div.dropdown-item{ng: {repeat: 'type in fieldTypes', click: 'selectType($event, type)'}}
                                    {{decorateType(type)}}
                    .rule-row.rule-name.new-row
                        %form{'ng-submit': 'submitForm($event, "rule")'}
                            %input.form-control{placeholder: 'Name', 'ng-model': 'form', 'ng-blur': 'submitForm($event, "rule")'}
                        %i.fa.fa-close.z-icon{'ng-mousedown': 'hideForm($event)'}
                    .rules-wrap{'dnd-list': 'rules'}
                        .rule-row.rule-name{ng: {repeat: 'rule in rules', click: 'selectRule(rule)', class: '{active: rule === selectedRule}'}, dnd: {draggable: 'rule', moved: 'onRuleMoved($index)'}}
                            %span{'editable-text': 'rule.name', blur: 'submit', onaftersave: 'updateField("rule", rule)'}
                                {{rule.name}}
                            \-
                            %span.rule-type {{decorateType(rule.field_type)}}
                            %i.fa.fa-trash.z-icon{'ng-click': 'deleteRule($event, rule)'}
                    %div{'ng-if': 'defaultRule'}
                        .rule-row.rule-name.default-rule{ng: {click: 'selectRule(defaultRule)', class: '{active: defaultRule === selectedRule}'}}
                            {{defaultRule.name}}
                            %i.fa.fa-star.z-icon{style: 'visibility: hidden'}

                .rules-column
                    .rule-column-header
                        %div CRITERIA 1
                        .rule-add-btn{'ng-click': 'showForm($event)'} Add
                    .rule-row.rule-name.new-row
                        %form{'ng-submit': 'submitForm($event, "criteria_1")'}
                            %input.form-control{placeholder: 'Criteria 1', 'ng-model': 'form', 'ng-blur': 'submitForm($event, "criteria_1")'}
                        %i.fa.fa-close.z-icon{'ng-mousedown': 'hideForm($event)'}
                    .rule-row{'ng-repeat': 'criteria in selectedRule.criteria_1 track by $index'}
                        %span{'editable-text': 'selectedRule.criteria_1[$index]', blur: 'submit', onaftersave: 'updateField("criteria_1", selectedRule)'}
                            {{selectedRule.criteria_1[$index]}}
                        %i.fa.fa-trash.z-icon{'ng-click': 'deleteField("criteria_1", criteria)'}

                .rules-column
                    .rule-column-header
                        %div CRITERIA 2
                        .rule-add-btn{'ng-click': 'showForm($event)'} Add
                    .rule-row.rule-name.new-row
                        %form{'ng-submit': 'submitForm($event, "criteria_2")'}
                            %input.form-control{placeholder: 'Criteria 2', 'ng-model': 'form', 'ng-blur': 'submitForm($event, "criteria_2")'}
                        %i.fa.fa-close.z-icon{'ng-mousedown': 'hideForm($event)'}
                    .rule-row{'ng-repeat': 'criteria in selectedRule.criteria_2 track by $index'}
                        %span{'editable-text': 'selectedRule.criteria_2[$index]', blur: 'submit', onaftersave: 'updateField("criteria_2", selectedRule)'}
                            {{selectedRule.criteria_2[$index]}}
                        %i.fa.fa-trash.z-icon{'ng-click': 'deleteField("criteria_2", criteria)'}

                .rules-column
                    .rule-column-header
                        %div USERS
                        .rule-add-btn.z-dropdown{dropdown: true}
                            %div{'dropdown-toggle': true, 'ng-click': 'userSearch = ""'} Add
                            %div.dropdown-menu.dropdown-menu-right.users-dropdown
                                %div.users-search-wrap
                                    %i.fa.fa-search.users-search-icon
                                    %input.form-control{'placeholder': 'Search', 'ng-model': 'userSearch', 'ng-click': '$event.stopPropagation()'}
                                %div.users-list-wrap
                                    %div.dropdown-item{ng: {repeat: 'user in users | filter : userSearch', click: 'addUser(user)'}}
                                        {{user.name}}
                    .rule-row{'ng-repeat': 'user in selectedRule.users'}
                        {{user.name}}
                        %i.fa.fa-trash.z-icon{'ng-click': 'removeUser(user)'}
