#products.z-styles
	.container
		.row.block
			%div.mb20
				%download-button.pull-right{'ng-click': 'exportProducts()'} Export
				%span.title Products
				%add-button{'ng-click': 'showModal()'} Add

			.table-wrapper
				%table.table.table-hover
					%thead
						%tr
							%th Name
							%th Product Line
							%th Family
							%th Type
							%th Revenue Type
					%tbody{ ng: { repeat: 'product in products' } }
						%tr.clickable{'ng-click': 'expendRow(product)'}
							%td
								%i{class: 'mr8 fa fa-chevron-{{expendedRow == product.id ? "right" : "down"}}'}
								%span.mr8 {{ product.name }}
								%i.fa.fa-pencil.z-icon{'ng-click': 'editModal(product)'}
							%td {{ product.product_line.option.name }}
							%td {{ product.product_family.option.name }}
							%td {{ product.pricing_type.option.name }}
							%td {{ product.revenue_type }}
						%tr{'ng-show': 'expendedRow == product.id'}
							%td{style: 'padding: 0', colspan: '5'}
								%table.table.ad-unit-table
									%thead
										%tr
											%th
												%span.mr20 Ad units
												%span.add-unit{'ng-click': 'showUnitModal(product)'}
													%i.fa.fa-plus
													Add new ad unit
									%tbody
										%tr{'ng-repeat': 'unit in productUnits[product.id]'}
											%td
												%span.mr8 {{unit.name}}
												%i.fa.fa-pencil.z-icon{'ng-click': 'showUnitModal(product, unit)'}
												%i.fa.fa-trash.z-icon{'ng-click': 'deleteUnit(product, unit)'}
