#settings-products.z-styles
  .container
    .row.settings-product-header.mb20
      .header-item
        %span.menu-item{ ng: { repeat: 'menu in menus', class: '{active: selectedMenu == menu.value}', click: 'onSelectMenu(menu.value)'} }
          {{ menu.name }}
      .header-item

  #product-families.container{ 'ng-if': 'selectedMenu == "product_families"', 'ng-include': "'settings/products/product_families.html'" }

  #products.container{ 'ng-if': 'selectedMenu == "products"', 'ng-include': "'settings/products/products.html'" }

  #product-options.container{ 'ng-if': 'selectedMenu == "settings"', 'ng-include': "'settings/products/product_settings.html'" }

