#products
  #nav
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a.add-product{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'icons/add.svg'
                Add Product

  .container
    .row
      .col-xs-12
        %h3
          Products

        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Name
                %th.left Product Line
                %th.left Family
                %th.left Type
            %tbody
              %tr{ ng: { repeat: 'row in products', click: 'editModal(row)' } }
                %td.left {{ row.name }}
                %td.left {{ row.product_line.option.name }}
                %td.left {{ row.product_family.option.name }}
                %td.left {{ row.pricing_type.option.name }}
