#teams
  #nav
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a.add-team{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'icons/add.svg'
                Add Team

  .container
    .row
      .col-xs-12
        %h3
          Teams

        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th Team/Members
                %th Team Lead
                %th.text-center Members
            %tbody
              %tr{ ng: { repeat: 'team in teams', click: 'go("settings/teams/" + team.id)' } }
                %td {{ team.name }}
                %td {{ team.leader_name }}
                %td.text-center {{ team.members_count }}
