#time-periods.block
    %div.mb20
        %span.title Time Periods
        %add-button.plus-btn{ ng: { click: 'showModal()'} }
            Add

    %table.time-period-table.table
        %thead
            %tr
                %th Name
                %th Start Date
                %th End Date
                %th Type
                %th Visible
        %tbody{ ng: { if: 'time_periods.length > 0' } }
            %tr{ ng: { repeat: 'row in time_periods | orderBy: "start_date"', click: 'editModal(row); $event.stopPropagation()'  } }
                %td
                    {{ row.name }}
                %td
                    %span
                        {{ row.start_date | date: 'shortDate' }}
                %td
                    %span
                    {{ row.end_date | date: 'shortDate' }}
                %td
                    %span
                    {{ (row.period_type || 'N/A') }}
                %td
                    %span
                    {{ (row.visible ? 'Yes' : 'No') }}
                    %a.trashcan.pull-right{ href: '', ng: { click: 'delete(row); $event.stopPropagation()' } }
                        = inline_svg 'icons/trash.svg'

        %tbody{ ng: { if: 'time_periods.length == 0' } }
            %tr
                %td.center{ colspan: '3' }
                    No data available
