#users
  #nav
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a.add-user{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'add.svg'
                Add User

  .container
    .row
      .col-xs-12
        %h3
          Users

        #users-table.table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th
                %th Name
                %th Title
                %th Role
                %th Teams
                %th Deals
            %tbody
              %tr{ ng: { repeat: 'row in users', click: 'editModal(row)' } }
                %td
                  .empty
                %td
                  {{ row.first_name }} {{ row.last_name }}
                  %br
                  %small
                    {{ row.email }}
                %td
                %td
                %td
                %td
