#users
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a.add-user{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'icons/add.svg'
                Add User

  .container
    .row
      .col-xs-12
        %h3
          Users

        #users-table.table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th
                %th.left Name
                %th.left Title
                %th.left Status
            %tbody
              %tr{ ng: { repeat: 'row in users', click: 'editModal(row)' } }
                %td
                  .empty
                %td.left
                  {{ row.first_name }} {{ row.last_name }}
                  %br
                  %small
                    {{ row.email }}
                %td.left
                  {{ row.title }}
                %td.left{ ng: { click: '$event.stopPropagation()' } }
                  %ui-select{ name: 'is-active', ng: { model: 'row.is_active', disabled: 'row.id === current_user.id' }, 'on-select': 'submitUser(row)' }
                    %ui-select-match
                      {{ $select.selected.name }}
                    %ui-select-choices{ repeat: 'status.value as status in user_statuses' }
                      %div{ ng: { bind: { html: 'status.name' } } }
