#users
  #nav.transparent
    .container-fluid
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a.add-user{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'icons/add.svg'
                Add User

  .container-fluid
    .row
      .col-xs-12
        %h3
          Users

        #users-table.table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Name
                %th.left Email
                %th.left Title
                %th.left Team
                %th.left Default Currency
                %th.left Type
                %th.left Status
                %th.left Is Admin
                %th.left Action
            %tbody
              %tr{ ng: { repeat: 'user in users' } }
                %td.left{ ng: { click: 'editModal(user)' } }
                  {{ user.first_name }} {{ user.last_name }}
                %td.left{ ng: { click: 'editModal(user)' } }
                  {{ user.email }}
                %td.left{ ng: { click: 'editModal(user)' } }
                  {{ user.title }}
                %td.left{ ng: { click: 'editModal(user)' } }
                  {{ user.teams.length > 0 ? 'Leader - ' + user.teams[0].name : user.team.name}}
                %td.left
                  %ui-select{ name: 'default-currency', ng: { model: 'user.default_currency' }, 'on-select': 'submitUser(user)' }
                    %ui-select-match
                      {{ $select.selected.curr_cd }}
                    %ui-select-choices{ repeat: 'currency.curr_cd as currency in currencies' }
                      %div{ ng: { bind: { html: 'currency.curr_cd + " " + currency.curr_symbol' } } }
                %td.left
                  %ui-select{ name: 'user-types', ng: { model: 'user.user_type' }, 'on-select': 'submitUser(user)' }
                    %ui-select-match{ placeholder: 'Default' }
                      {{ $select.selected.name }}
                    %ui-select-choices{ repeat: 'type.id as type in user_types' }
                      %div{ ng: { bind: { html: 'type.name' } } }
                %td.left
                  %ui-select{ name: 'is-active', ng: { model: 'user.is_active', disabled: 'user.id === current_user.id' }, 'on-select': 'submitUser(user)' }
                    %ui-select-match
                      {{ $select.selected.name }}
                    %ui-select-choices{ repeat: 'status.value as status in user_statuses' }
                      %div{ ng: { bind: { html: 'status.name' } } }
                %td.left
                  .show-hide-remainder-form
                    .switch-remainder-form
                      %input.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'user.is_admin', 'ng-change': "submitUser(user)", id: "rem-act-modal-toggle{{user.id}}"}
                      %label{:for => "rem-act-modal-toggle{{user.id}}"}
                        %span
                %td.left
                  %a{href: '/switch_user?scope_identifier=user_{{user.id}}', target: '_blank'} Login As
