#general.z-styles
  .container-fluid
    %span.page-title Validations

    .row
      .col-sm-3
        .panel
          .panel-body
            %h4 Deal Validations
            %h5 Require Deal Billing Contact
            .form-group
              %label.control-label{ for: 'validations' } Require Billing Contact Full Address
              .show-hide-remainder-form
                .switch-remainder-form
                  %z-toggle{ 'ng-model': 'billing_contact_full_address_validation.criterion.value', id: 'billing-contact-required', 'ng-change': 'updateValidation(billing_contact_full_address_validation)' }

              %label.control-label{ for: 'validations' } Select a Stage at which point Billing Contact is always required
              %ui-select{ multiple: true, name: 'billing_contact_validations', ng: { model: 'validation.billing_contacts', disabled: false }, 'on-select': 'updateBillingContactValidation($item, $model)', 'on-remove': 'removeBillingContactValidation($item, $model)' }
                %ui-select-match{ placeholder: 'Select Stage' }
                  {{ stageName($item) }}
                %ui-select-choices{ repeat: 'stage as stage in stages | orderBy: "[sales_process.id, position]"' }
                  %div{ 'ng-bind-html': 'stage.sales_process.name + " " + stage.name' }

            %h5 Require Account Manager
            .form-group
              %label.control-label{ for: 'validations' } Select a Stage at which point Account Manager is always required
              %ui-select{ multiple: true, name: 'account_manager_validation', ng: { model: 'validation.account_managers', disabled: true }, 'on-select': 'updateAccountManagerValidation($item, $model)', 'on-remove': 'removeAccountManagerValidation($item, $model)' }
                %ui-select-match{ placeholder: 'Select Stage' }
                  {{ stageName($item) }}
                %ui-select-choices{ repeat: 'stage as stage in stages | orderBy: "[sales_process.id, position]"' }
                  %div{ 'ng-bind-html': 'stage.sales_process.name + " " + stage.name' }

            %h5 Can't be closed manually
            .form-group
              %label.control-label{ for: 'disable_close' } Disable Manual change to Closed Won stage
              %z-toggle{'ng-model': 'disable_deal_close_validation.criterion.value', 'ng-change': 'confirmDisableDealWon()',  id: "disable_close"}
              .validation-warning{ng: { if: 'disable_deal_close_validation.criterion.value' }}
                %i.fa.fa-exclamation-triangle{'aria-hidden' => 'true'}
                %span Stages can't be changed to Closed Won manually

            %h5 Restrict Deal Reopen to Admins
            .form-group
              %z-toggle{'ng-model': 'restrict_deal_reopen.criterion.value', 'ng-change': 'restrictDealReopen()',  id: "restrict"}

            %h5 Require Reason for Wins
            .form-group
              %z-toggle{'ng-model': 'require_won_reason.criterion.value', 'ng-change': 'updateValidation(require_won_reason)',  id: "require_won_reason"}

            %h5 Select which fields are required
            %table.table.table-hover
              %thead
                %tr
                  %th Base field
                  %th Required?
              %tbody
                %tr{ ng: { repeat: 'base_field in deal_base_fields' } }
                  %td {{ base_field.name }}
                  %td
                    %z-toggle{'ng-model': 'base_field.criterion.value', 'ng-change': 'updateValidation(base_field)'}

      .col-sm-3
        .panel
          .panel-body
            %h4 Accounts-Advertiser Required Fields
            %h5 Select which fields are required
            %table.table.table-hover
              %thead
                %tr
                  %th Base field
                  %th Required?
              %tbody
                %tr{ ng: { repeat: 'base_field in advertiser_base_fields' } }
                  %td {{ base_field.name }}
                  %td
                    %z-toggle{'ng-model': 'base_field.criterion.value', 'ng-change': 'updateValidation(base_field)'}

      .col-sm-3
        .panel
          .panel-body
            %h4 Accounts-Agency Required Fields
            %h5 Select which fields are required
            %table.table.table-hover
              %thead
                %tr
                  %th Base field
                  %th Required?
              %tbody
                %tr{ ng: { repeat: 'base_field in agency_base_fields' } }
                  %td {{ base_field.name }}
                  %td
                    %z-toggle{'ng-model': 'base_field.criterion.value', 'ng-change': 'updateValidation(base_field)'}

      .col-sm-3
        .panel
          .panel-body
            %h4 Lead Validations
            %h5 Require Rejection Explanation
            .form-group
              %z-toggle{'ng-model': 'require_lead_rejection_explanation.criterion.value', 'ng-change': 'updateValidation(require_lead_rejection_explanation)',  id: "require_lead_rejection_explanation"}
