.row.mb20
  .reports-header
    .billing-header-col
      %form.form-inline.filter-form
        .form-group
          %label
            Year
          .dropdown.form-control
            .dropdown-toggle.year-toggle{'data-toggle': 'dropdown', type: 'button'}
              %span {{selectedYear || 'Select'}}
              %span.caret
            %ul.dropdown-menu.year-dropdown
              %li{'ng-repeat': 'year in years', 'ng-class': '{active: selectedYear == year}'}
                %a{'href': '', 'ng-click': 'selectYear(year)'}
                  %span {{year}}

        .form-group
          %label
            Month
          .dropdown.form-control
            .dropdown-toggle.month-toggle{'data-toggle': 'dropdown', type: 'button'}
              %span {{selectedMonth || 'Select'}}
              %span.caret
            %ul.dropdown-menu.month-dropdown
              %li{'ng-repeat': 'month in months', 'ng-class': '{active: selectedMonth == month}'}
                %a{'href': '', 'ng-click': 'selectMonth(month)'}
                  %span {{month}}
        .form-group
          %label
            Team
          .team-filter
            %tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected: 'filter.team'}
        .form-group
          %label
            Seller
          .dropdown.form-control.wide
            .dropdown-toggle.month-toggle{'data-toggle': 'dropdown', type: 'button'}
              %span {{filter.user.name}}
              %span.caret
            %ul.dropdown-menu.month-dropdown
              %li{'ng-repeat': 'user in users | orderBy : "name"', 'ng-class': '{active: filter.user.name == user.name}'}
                %a{'href': '', 'ng-click': 'setFilter("user", user)'}
                  %span {{user.name}}
        .form-group
          %label
            Account Manager
          .dropdown.form-control.wide
            .dropdown-toggle.month-toggle{'data-toggle': 'dropdown', type: 'button'}
              %span {{filter.manager.name}}
              %span.caret
            %ul.dropdown-menu.month-dropdown
              %li{'ng-repeat': 'manager in managers', 'ng-class': '{active: filter.manager.id == manager.id}'}
                %a{'href': '', 'ng-click': 'setFilter("manager", manager)'}
                  %span {{manager.name}}
        .form-group
          %label
            Product Family
          .dropdown.form-control.wide
            .dropdown-toggle.month-toggle{'data-toggle': 'dropdown', type: 'button'}
              %span {{filter.productFamily.name}}
              %span.caret
            %ul.dropdown-menu.month-dropdown
              %li{'ng-repeat': 'productFamily in productFamilies', 'ng-class': '{active: filter.productFamily.id == productFamily.id}'}
                %a{'href': '', 'ng-click': 'setFilter("productFamily", productFamily)'}
                  %span {{productFamily.name}}
        .form-group
          %label
            Product
          .dropdown.form-control.wide
            .dropdown-toggle.month-toggle{'data-toggle': 'dropdown', type: 'button'}
              %span {{filter.product.name}}
              %span.caret
            %ul.dropdown-menu.month-dropdown
              %li{'ng-repeat': 'product in products', 'ng-class': '{active: filter.product.id == product.id}'}
                %a{'href': '', 'ng-click': 'setFilter("product", product)'}
                  %span {{product.name}}

%div
  .row.mb20
    .col-xs-12.block
      %div.mb20
        %span.title Costs
      %div{'ng-show': '!costs.length && !dataIsLoading'}
        %h4 No Data Available
      %div.table-wrap{'ng-hide': '!costs.length && !dataIsLoading'}
        %table.table.table-hover.ios-for-approval
          %thead
            %tr
              %th IO #
              %th IO Name
              %th Advertiser
              %th Agency
              %th Seller
              %th Account Manger
              %th Product
              %th Cost Type
              %th.text-right Amount
              %th.text-right Actualization Status
          %tbody.hide-input-arrows
            %tr{'ng-repeat': 'item in costs'}
              %td
                %b {{item.io_number}}
                %i.fa.fa-copy.z-icon.edit-product{'ng-click': 'copyCost(item); $event.stopPropagation()'}
              %td
                %a{href: '', 'ng-href': '/revenue/ios/{{item.io_id}}'} {{item.io_name}}
              %td
                {{item.advertiser}}
              %td
                {{item.agency}}
              %td
                %div{'ng-repeat': 'seller in item.sellers'}
                  {{seller.name}}
              %td
                %div{'ng-repeat': 'account_manager in item.account_managers'}
                  {{account_manager.name}}
              %td
                .dropdown{'ng-click': 'fixingDropdownPosition($event)'}
                  %div.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
                    %span.text.editable
                      {{item.product || 'Select product'}}
                    %span.caret
                  %ul.dropdown-menu
                    %li{'ng-repeat': 'product in allProducts'}
                      %a{'href': '', 'ng-click': 'item.product_id = product.id; updateCost(item)'}
                        %span.text {{product.name}}

              %td
                .dropdown{'ng-click': 'fixingDropdownPosition($event, "right")'}
                  %div.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
                    %span.text.editable
                      {{item.type.option.name || 'Select type'}}
                    %span.caret
                  %ul.dropdown-menu
                    %li{'ng-repeat': 'type in item.type.options'}
                      %a{'href': '', 'ng-click': 'item.type.option_id = type.id; updateCost(item)'}
                        %span.text {{type.name}}

              %td.text-right
                %span.display-fee-product-budget{'editable-number': 'item.amount', 'e-step': '0.01', blur: 'submit', onbeforesave: 'item.budget_loc = $data; updateCostBudget(item)'}
                  {{ item.amount | currency : item.currency_symbol : 2 }}

              %td{class: 'text-right {{item.actual_status.toLowerCase() + "-status"}}'}
                .dropdown{'ng-click': 'fixingDropdownPosition($event)'}
                  %div.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
                    %span.text.editable
                      {{item.actual_status || 'Select status'}}
                    %span.caret
                  %ul.dropdown-menu
                    %li{'ng-repeat': 'status in statuses'}
                      %a{'href': '', 'ng-click': 'item.actual_status = status; updateCostBudget(item)'}
                        %span.text {{status}}
