.z-sliding-filter {
    $sliding-filter-w: 350px;
    $sliding-filter-dropdown-w: 330px;
    background-color: white;
    min-height: calc(100vh - #{$header-height});
    width: $sliding-filter-w;
    position: absolute;
    right: -$sliding-filter-w - 5px;
    z-index: 102;
    transition: right 500ms;
    box-shadow: -2px 0 10px gray;
    &.open {
        right: 0;
    }
    .header {
        padding: 25px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid $separate-line-color;
        span {
            padding: 5px;
            line-height: 20px;
            font-size: 12px;
            color: $secondary-font-color;
            cursor: pointer;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
    .body {
        width: 100%;
        padding: 20px 25px 10px;
        border-bottom: 2px solid $separate-line-color;
        position: relative;
        .filter-row {
            padding: 10px 0;
        }
        .filter-name {
            vertical-align: top;
            display: inline-block;
            width: 35%;
            font-size: 12px;
            color: $secondary-font-color;
            min-height: 30px;
        }
        .filter-dropdown, .filter-input {
            width: 63%;
            display: inline-block;
            position: relative;
            .fa-close {
                padding: 2px 3px;
                position: absolute;
                left: -23px;
                top: -1px;
                color: $secondary-font-color;
                font-size: 16px;
                cursor: pointer;
                &:hover {
                    color: lighten($secondary-font-color, 20%)
                }
            }
            .filter-date {
                white-space: pre-wrap;
            }
            .date {
                border: none;
                width: 100%;
                cursor: pointer;
            }
            .dropdown-button {
                font-size: 12px;
                cursor: pointer;
                color: lighten($secondary-font-color, 30%);
                position: relative;
                border-bottom: 1px solid lighten($secondary-font-color, 40%);
                padding: 0 15px 5px 5px;
                &.selected {
                    color: inherit;
                    font-size: 14px;
                    font-weight: bold;
                }
                .caret {
                    color: lighten($secondary-font-color, 20%);
                    position: absolute;
                    right: 3px;
                    top: 30%;
                }
                input {
                    &::-webkit-input-placeholder { color: lighten($secondary-font-color, 30%) }
                    &:-moz-placeholder { color: lighten($secondary-font-color, 30%) }
                    &::-moz-placeholder { color: lighten($secondary-font-color, 30%) }
                    &:-ms-input-placeholder { color: lighten($secondary-font-color, 30%) }
                }
                ul.dropdown-menu {
                    top: 30px !important;
                    left: -50% !important;
                }
            }
            .bs-datepicker {
                .dropdown-button {
                }
            }
            .dropdown {
                position: static;
                .dropdown-menu {
                    //left: -80%;
                    left: auto;
                    right: 0;
                    padding: 10px 0;
                    min-width: 100px;
                    .dropdown-search {
                        position: relative;
                        padding: 0 10px 10px;
                        margin-bottom: 0;
                        input {
                            background-color: white;
                            padding-right: 40px;
                            min-width: $sliding-filter-dropdown-w;
                            width: 100%;
                        }
                        i {
                            position: absolute;
                            right: 24px;
                            top: 14px;
                            font-size: 18px;
                            color: $secondary-font-color;
                            opacity: 0.7;
                            pointer-events: none;
                        }
                    }
                    .dropdown-title {
                        color: $secondary-font-color;
                        padding: 6px 20px;
                        display: inline-block;
                        font-size: 13px;
                        opacity: 0.8;
                    }
                    .dropdown-option {
                        a {
                            display: block;
                            cursor: pointer;
                            padding: 6px 20px;
                            color: inherit !important;
                            &:hover, &:focus {
                                background-color: #EDEFF0;
                                outline: none;
                            }

                        }
                    }
                    .dropdown-budget {
                        width: $sliding-filter-dropdown-w + 15;
                        padding: 10px;
                        color: lighten($secondary-font-color, 30%);
                        .budget-range-input {
                            margin-bottom: 10px;
                            input {
                                margin: 0 4px;
                                display: inline-block;
                                background-color: white;
                                width: calc(50% - 36px);
                                height: 40px;
                            }
                        }
                        .rzslider {
                            .rz-bar {
                                height: 3px;
                                &.rz-selection {
                                    background-color: $main-color;
                                }
                            }
                            .rz-bubble:not(.rz-limit) {
                                color: $main-font-color;
                            }
                            .rz-pointer {
                                border: 2px solid #D8E0F3;
                                background-color: white;
                                top: -8px;
                                width: 19px;
                                height: 19px;
                                &:after {
                                    top: 3px;
                                    left: 3px;
                                    width: 9px;
                                    height: 9px;
                                    border-radius: 50%;
                                    background-color: $main-color;
                                }
                                &.rz-active {
                                    &:after {
                                        background-color: $main-color;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
        .filter-input {
            input {
                background-color: transparent;
                cursor: default;
                border: none;
                border-bottom: 1px solid lighten($secondary-font-color, 40%);
                height: auto;
            }
        }
    }
    .footer {
        padding: 25px;
        text-align: center;
        .reset {
            padding: 5px;
            margin-right: 25px;
            cursor: pointer;
            color: $secondary-color;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
        .btn-main {
            padding: 6px 22px;
            font-size: 14px;
        }
    }
}