.z-sortable {
    //display: inline-block;
    //padding: 5px 10px;
    cursor: pointer;
    [class*="fa-caret"] {
        font-size: 14px;
        margin-left: 5px;
    }
}

.table thead tr.z-sortable-second {
  height: 63px !important;
  max-height: 63px !important;
  th {
    vertical-align: bottom;
  }
}