#account {
    .main-title {
        height: 33px;
        width: 96px;
        color: #2B3C49;
        font-family: "Avenir Next";
        font-size: 24px;
        font-weight: 600;
        line-height: 33px;
    }
    .sub-title {
        height: 27px;
        width: 104px;
        color: #2B3C49;
        font-family: "Avenir Next";
        font-size: 20px;
        font-weight: 500;
        line-height: 27px;
        padding-bottom: 37px;
        padding-right: 30px;
    }
    .return {
        padding-bottom: 46px;
        a {
            padding: 9px 23px;
            border-radius: 100px;
            background-color: #E9E9EA;
            color: #2B3C49;
            font-family: "Avenir Next";
            font-size: 12px;
            font-weight: 500;
            line-height: 30px;
        }
    }
    .title {
        color: #2B3C49;
        font-family: "Avenir Next";
        font-size: 24px;
        font-weight: 600;
        line-height: 33px;
        padding-bottom: 37px;
        padding-left: 0px;
    }
    .warning-message {
        background-color: $error-color;
        color: white;
        transition: all 500ms;
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0 20px;
        &.show-warning {
            opacity: 1;
            padding: 20px;
            margin: 0 0 30px 0;
            height: auto;
        }
        .fa {
            position: relative;
            top: -8px;
            right: -8px;
            cursor: pointer;
        }
    }
    .caret {
        color: $secondary-font-color;
        //position: relative;
        //top: -2px;
    }
    .no-wrap-line {
        display: inline-block;
        white-space: nowrap;
    }
    textarea.editable {
        resize: none;
        width: 100%;
        padding: 5px 8px;
        &:focus {
            outline: none;
            border: 1px dashed $secondary-font-color;
            &:hover {
                cursor: text;
                background-color: inherit;
            }
        }
    }

    .editable {
        cursor: pointer;
        padding: 5px 8px;
        border-radius: 4px;
        border-bottom: 1px dashed $secondary-font-color;
        &:hover {
            border-color: transparent;
            border-bottom-color: $secondary-font-color;
            background-color: $separate-line-color;
        }
    }
    .editable-field {
        padding: 5px 8px;
        border: 1px dashed $secondary-font-color;
    }
    .editable-dropdown {
        .ui-select-match .btn-default {
            border: none;
            background: none;
            cursor: pointer;
            padding: 5px 8px;
            height: 30px;
            border-radius: 4px;
            border-bottom: 1px dashed #818689;
            min-width: 100px;
            max-width: 100%;
            .caret {
                right: -21px;
            }

        }
        .ui-select-search {
            background: none;
            border: none;
            padding: 5px 8px;
            height: 30px;
            border-radius: 4px;
            border-bottom: 1px dashed #818689;
        }

        .ui-select-toggle {
            text-align: center !important;
            .ui-select-match-text {
                float: none !important;
            }
        }

        .ui-select-container .ui-select-choices.ui-select-choices-content {
            top: 40px !important;
        }
    }
    .dropdown {
        display: inline-block;
        button:not(.add-btn) {
            background-color: inherit;
            border: none;
            color: inherit;
            padding: 0;
            &:active {
                outline: none;
                box-shadow: none;
            }
        }
        .dropdown-menu {
            top: calc(100% + 10px);
        }
    }
    .edit-deal, .delete-deal, .delete-product, .reminder-icon, .send-icon {
        color: $secondary-font-color;
        margin-left: 8px;
        cursor: pointer;
        width: 28px;
        height: 28px;
        padding: 4px 6px;
        font-size: 20px;
        border-radius: 5px;
        &:hover {
            background-color: $secondary-font-color;
            color: white;
        }
    }
    .budget-field {
        padding-right: 30px;
    }
    .send-icon {
        vertical-align: middle;
        margin-left: 2px;
    }
    .show-create-remainders-popup {
        margin: 0;
        .show-form-create-reminders {
            display: none;
        }
        .reminder-icon {
            padding: 4px 5px;
        }
        #reminder_popup_modal {
            background-color: white;
            position: absolute;
            right: 0;
            width: 400px;
            z-index: 10;
            border: 2px solid $separate-line-color;
            box-shadow: 3px 3px 8px gray;
            border-radius: 4px;
            input, textarea {
                height: 36px;
                background-color: white;
            }
            .popup-modal-header {
                height: 0;
                margin: 0;
                padding: 0;
                border-bottom: none;
                .close-btn {
                    top: -18px;
                    right: -16px;
                }
            }
        }
    }
    .delete-deal {
        margin-left: 0
    }

    .client-stats {
        display: flex;

        .stats-body {
            display: flex;
            flex: 1;
            justify-content: space-around;
            align-items: center;
        }

        .stats-col {
            width: auto;
            height: auto;
            margin-right: -4px;
            text-align: center;
            position: relative;
            display: inline-block;
            .col-description {
                color: #818689;
            }
            .col-title {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
    .deal-stats {
        textarea.editable {
            margin-left: 10px;
        }
        .deal-info {
            color: $secondary-font-color;
            .dropdown {
                position: relative;
                top: -3px;
                .edit {
                    color: $main-font-color;
                    font-weight: bold;
                }
            }
        }
        .stats-col {
            margin-right: -4px;
            text-align: center;
            height: 120px;
            position: relative;
            display: inline-block;
            width: 16.66%;
            &:nth-child(1), &:nth-child(4) {
                width: 25%;
            }
            .col-body-wrap {
                width: 100%;
                height: 100%;
                display: table;
                .col-body {
                    display: table-cell;
                    vertical-align: middle;
                    //white-space: nowrap;
                    .title {
                        font-size: 18px;
                        margin-right: 0;
                    }
                    .description {
                        color: $secondary-font-color;
                    }
                    .error-tooltip {
                        white-space: normal;
                    }
                    button {
                        white-space: normal;
                    }
                }
            }
            .error-tooltip {
                left: 1%;
                width: 98%;
                bottom: calc(50% + 30px);
            }
        }
    }
    .products {
        overflow-x: auto;
        .error-tooltip {
            white-space: nowrap;
            bottom: 90%;
            //left: calc(-50%);
        }
        .has-error {
            color: $error-color;
        }
        .total-budget {
            word-spacing: -0.25em;
            white-space: nowrap;
            display: inline-block;
        }
        .product-budget {
            position: relative;
            .budget-value {
                font-weight: bold;
            }
        }

        .custom-field-item-field {
            .text-area {
                textarea {
                    margin-top: 10px;
                    width: 100px;
                }
            }
            .editable {
                display: inline-block;
                min-width: 100px;
                max-width: 100%;
                background: none;
                &:focus {
                    outline: none;
                    border: 1px dashed $secondary-font-color;
                    &:hover {
                        background-color: inherit;
                    }
                }
            }
            .datetime-field {
                width: 130px;
                table {
                    tr {
                        height: auto !important;
                    }
                }
            }

            .dropdown {
                position: static;

                .dropdown-menu {
                    top: auto;
                    left: auto;
                }
            }
        }

        .editable-wrap {
            white-space: nowrap;
            .budget-value, .budget-percent {
                display: inline-block;
                border: 1px dashed $secondary-font-color;
                padding: 0 5px;
                border-radius: 4px;
                input {
                    background-color: inherit;
                    cursor: text;
                    border: none;
                    padding: 0;
                    width: 100px;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .budget-percent {
                input {
                    width: 50px;
                }
            }
        }
        .total-budget-wrap {
            input {
                padding: 5px 10px;
                border-radius: 4px;
                border: 1px dashed $secondary-font-color;
                background-color: inherit;
                cursor: text;
                width: 180px;
                &:focus {
                    outline: none;
                }
            }
        }
        > table {
            > thead > tr {
                background-color: $brand-tertiary;
                //background-color: lighten($main-color, 35%);
                > th {
                    color: white !important;
                    //color:lighten($main-color, 5%) !important;
                }
            }
            > tbody {
                > td:first-child {
                    white-space: nowrap;
                    font-size: 18px;
                    font-weight: bold;
                    .delete-product {
                        font-size: 18px;
                        visibility: hidden;
                    }
                }
                > tr {
                    &:first-child > td {
                        border-top: none;
                    }
                    &:hover {
                        .delete-product {
                            visibility: visible;
                        }
                    }
                }
            }
            > thead > tr > th, > tbody > tr > td {
                text-align: center;
                width: 100px;
                &:first-child {
                    text-align: left;
                    width: 200px;
                }
            }
        }
    }
    .members, .contacts {
        table {
            tr {
                .fa {
                    visibility: hidden;
                    margin-left: 10px;
                }
                &:hover {
                    .fa {
                        visibility: visible;
                    }
                }

                button {
                    height: 36px;
                    padding: 5px 16px;
                    visibility: hidden;
                    svg {
                        width: 15px;
                        margin-right: 5px;
                        vertical-align: middle;
                        path {
                            fill: white;
                        }
                    }
                }
                &:hover {
                    button {
                        visibility: visible;
                    }
                }
                .dropdown button {
                    visibility: visible;
                }
            }
        }

        .member-share, .contact-role-dropdown {
            position: relative;
        }
        .editable {
            display: inline-block;
            min-width: 100px;
        }
        .editable-field {
            width: 100px;
        }
        .dropdown {
            .editable {
                min-width: 0;
            }
            .dropdown-menu {
                li {
                    a {
                        color: $main-font-color;
                        &:hover {
                            color: $main-color;
                        }
                    }
                    &.active > a {
                        color: white;
                    }
                }
            }
        }
        .not-selected {
            color: lighten($secondary-font-color, 15%);
        }
    }
    .contacts {
        table {
            tr {
                .delete-deal {
                    margin-left: 0;
                }
            }
            .contact-role-dropdown {
                display: inline-block;
                .error-tooltip {
                    min-width: 300px;
                    right: 0;
                    left: auto;
                    bottom: calc(100% + 7px);
                    &:before {
                        right: 30px;
                        left: auto;
                    }
                }
            }
        }
        .custom-pagination {
            .links {
                display: inline-block;
                margin-right: 30px;
            }
            .per-page {
                display: inline-block;
                select {
                    margin-right: 10px;
                }
            }
            .pagination {
                vertical-align: middle;
            }

            .pagination > li > a{
                color: #2B3C49;
            }
            .pagination > li.active > a {
                color: #ffffff;
                background-color: #2B3C49;
                border-color: #2B3C49;
            }
        }
    }
    .campaign-details {
        .star {
            color: $error-color;
            text-align: right;
        }
        .custom-field-item {
            margin-bottom: 5px;
            .star {
                display: none;
            }
            .custom-field-item-label {
                display: inline-block;
                vertical-align: top;
                width: 39%
            }
            .custom-field-item-field {
                padding-left: 10px;
                display: inline-block;
                width: 59%;
                .editable {
                    display: inline-block;
                    min-width: 100px;
                    max-width: 100%;
                    &:focus {
                        outline: none;
                        border: 1px dashed $secondary-font-color;
                        &:hover {
                            background-color: inherit;
                        }
                    }
                }
                .boolean-field {
                    margin: 5px 0 0;
                    height: 15px;
                    .switch-remainder-form {
                        margin-left: 0;
                        label > span {
                            height: 15px;
                        }
                    }
                }
                .not-selected {
                    color: lighten($secondary-font-color, 15%);
                }
            }
            .address-field {
                i.edit-deal {
                    display: none;
                }
                &:hover {
                    i.edit-deal {
                        display: inline-block;
                    }
                }
            }
        }
        .required-field {
            .star {
                display: inline;
            }
            .custom-field-item-field.has-error {
                border-left: 3px solid $error-color;
            }
        }
        .status-error {
            color: $error-color;
        }
        .status-success {
            //background-color: #2ca02c;
            //color: white;
            color: #2ca02c;
        }
        .title {
            margin-right: 0;
        }
    }
    .error-tooltip {
        font-family: "Avenir Next", Arial, serif;
        font-weight: normal;
        font-size: 14px;
        text-transform: none;
        position: absolute;
        left: calc(-50%);
        bottom: 100%;
        background-color: $error-color;
        color: white;
        padding: 10px;
        border-radius: 4px;
        width: auto;
        z-index: 3;
        &:before {
            content: '';
            bottom: -10px;
            left: 50%;
            //left: 30px;
            margin-left: -10px;
            border-width: 10px 10px 0;
            border-color: transparent;
            border-style: solid;
            border-top-color: $error-color;
            position: absolute;
            width: 0;
            height: 0;
        }
    }

    .egnyte-section{
      iframe {
        border: 0;
      }
    }
}
