#billing {
    font-family: "Avenir Next", Arial, serif;
    min-height: 100vh;
    background-color: $main-background-color;
    color: $main-font-color;
    padding: 20px 55px;
    .billing-header {
        display: flex;
        align-items: flex-end;
        .billing-header-col {
            &:not(:first-child) {
                padding: 0 40px;
            }
            .col-number {
                font-size: 20px;
                font-weight: 600;
                text-align: center;
            }
            .col-text {
                color: $secondary-font-color;
                text-align: center;
            }

            &.right {
                margin: 0 0 0 auto;
            }
        }
    }
    .main-title {
        font-size: 24px;
        font-weight: bold;
    }
    .title {
        font-size: 18px;
        font-weight: bold;
    }
    .filter-text {
        color: $secondary-font-color;
    }
    .filter-form {
        color: $secondary-font-color;
        label {
            margin-right: 30px;
            font-weight: normal;
            .star {
                color: $error-color;
            }
        }
        .dropdown {
            margin-right: 30px;
            padding: 0;
            height: 40px;
            min-width: 120px;
            border-color: lighten($secondary-font-color, 30%);
            .dropdown-toggle {
                cursor: pointer;
                border: none;
                height: 100%;
                width: 100%;
                padding: 9px 0 0 10px;
                position: relative;
                .caret {
                    position: absolute;
                    top: 17px;
                    right: 9px;
                    color: $secondary-font-color;
                }
            }
        }

        .dropdown.wide {
            min-width: 220px;
        }
        .team-filter {
            display: inline-block;
            margin-right: 30px;

            .tree-dropdown.team-list {
                width: 200px;
                height: 40px;
            
                .select {
                    height: 40px;
                    border-radius: 5px;
                    border-color: #d0d2d3;
                    background-color: #F6F8FA;
                    &:hover {
                        background-color: #FFFFFF;
                        color: #58656f;
                    }
                    &::after {
                        top: 18px;
                        &:hover {
                            border-color: #58656f;
                        }
                    }
                }
                .select p {
                    line-height: 40px;
                }

                .list {
                    top: 41px;
                    p {
                        &:hover {
                            color: #FF7E30;
                        }
                    }
                    p.selected {
                        background-color: #FF7E30;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    .not-editable {
        padding: 5px 10px;
    }
    .table-wrap {
        overflow-x: auto;
    }
    form.editable-wrap {
        width: 100px;
    }
    .editable, .editable-input {
        padding: 5px 10px;
        height: auto;
        border: none;
        border-bottom: 1px dashed $secondary-font-color;
        white-space: nowrap;
        background-color: inherit;
        max-width: 100px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .editable-input {
        cursor: text;
        width: 100px;
        border: 1px dashed $secondary-font-color;
    }

    table.table {
        thead {
            background-color: white;
            th {
                color: $secondary-font-color !important;
                border-left: none;
                border-right: none;
                text-transform: none;
                font-weight: 500;
                font-size: 12px;
            }
        }
        tbody {
            td {
                //border: 2px solid red;
                width: 100px;
                color: lighten($main-font-color, 15%);
                font-size: 13px;
                &.pending-status .dropdown-toggle .text {
                    color: #FF7301;
                    font-weight: bold;
                }
                &.approved-status .dropdown-toggle .text {
                    color: #16A085;
                    font-weight: bold;
                }
                &.ignore-status .dropdown-toggle .text {
                    color: #ff2e2e;
                    font-weight: bold;
                }
                a {
                    color: $secondary-color;
                    font-weight: bold;
                }
                .dropdown {
                    white-space: nowrap;
                    padding: 3px 10px;
                    cursor: pointer;
                    position: static;
                    li:hover {
                        background-color: $main-color;
                        color: white
                    }
                    a {
                        color: inherit;
                    }
                }
            }
        }
        tr:first-child {
            td {
                border-top-width: 2px;
            }
        }
        tr {
            th, td {
                text-align: left;
                &.text-right {
                    text-align: right;
                }
            }
        }
    }

}
