.positive {
  color: #8ec536;
  font-weight: 600;
}

.negative {
  color: #e5443d;
  font-weight: 600;
}

.bp-table-wrapper {
  overflow-x: auto;
  .table tbody tr{
    td {
      line-height: 19px !important;
      vertical-align: middle;
      a {
        cursor: pointer;
        color: $blue;

        &:hover {
          color: $blue-hover;
        }
      }

      a.unassign-bp-estimates {
        height: 19px;
        display: none;
      }
    }

    &:hover {
      td {
        a.unassign-bp-estimates {
          display: block;
        }
      }
    }
  }

}

.clickable {
  cursor: pointer;

}
.bp-info .info {
  font-size: 12px;
  color: $very-dark-desaturated-blue-5;
  .info-value {
    font-weight: bold;
  }
}
.bp-detail {
  font-family: $font-family-sans-serif !important;
  .return {
    margin-top: 30px;
    a {
      color: $very-dark-desaturated-blue-4;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .bp-table-wrapper {
    overflow-x: auto;
  }
  .table-report .table {
    table-layout: fixed;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}