.bp-detail {
  height: calc(100vh - 149px);
  padding: 20px 10px;
  font-family: $font-family-arial !important;

  .export {
    color: #ff7200;

    svg {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      fill: #ff7200;
    }
  }

  #progress-circle {
    circle {
      fill: #ff7200;
    }
    g path:last-child {
      fill: #ff7200;
    }
  }
  ul.bp-search {
    width: 30%;
  }
  ul.bp-filter {
    display: inline-block;
    list-style: none;

    li {
      a {
        color: #96A2AC;
      }

      .dropdown-menu {
        li a {
          .name {
            color: #2B3C49;
          }
          .status {
            color: #818689;
          }
        }

        li.active {
          a {
            background-color: #96A2AC;
            color: #ffffff;
          }
        }
      }
    }
    .tree-dropdown {
      margin-left: 0;
      position: relative;
      display: inline-block;
      width: auto;
      height: auto;
      max-width: 100%;
      cursor: pointer;

      .select {
        padding: 0;
        display: block;
        height: auto;
        color: #B5BDC4;
        vertical-align: middle;
        margin-right: 15px;
        border: none;

        p {
          line-height: normal;
          margin: 0;
        }

        &::after {
          content: " ";
          width: 0;
          height: 0;
          position: absolute;
          right: 0;
          top: 7px;
          border-top: 5px dashed;
          border-top: 5px solid \9;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
        }
      }

      .list {
        width: 180px;
        box-sizing: content-box;
        position: absolute;
        top: 33px;
        left: 0;
        right: 0;
        background-color: #FFF;
        border: 1px solid #ccc;
        z-index: 1100;
        overflow-x: hidden;
        max-height: 300px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

        p.selected {
          background-color: #96A2AC;
          color: #2B3C49;
        }
      }
    }
    .title {
      font-weight: 600;
      color: #2b3c49;
    }

    .add-btn {
      top: 3px;
    }
  }

  .editable {
    display: inline-block;
    border: none;
    padding: 0;
    text-align: right;
    font-weight: 600;
    line-height: normal;

    &:hover {
      padding: 0;
      font-weight: 600;
      border: none;
      border-bottom: 1px dashed #2b3c49;
      outline: none;
    }
  }

  input.editable-field {
    width: 80px;
    padding: 0;
    font-weight: 600;
    border: none;
    border-bottom: 1px dashed #2b3c49;
    outline: none;
    text-align: right;
  }
  .money-field {
    border: none;
    padding: 0;
    text-align: right;
    font-weight: 600;
    line-height: normal;
    width: 80px;

    &:focus {
      padding: 0;
      font-weight: 600;
      border: none;
      border-bottom: 1px dashed #2b3c49;
      outline: none;
    }
    &:hover {
      padding: 0;
      font-weight: 600;
      border: none;
      border-bottom: 1px dashed #2b3c49;
      outline: none;
    }
  }

  .positive {
    color: #16A085;
    font-weight: normal;
  }

  .negative {
    color: #e5443d;
    font-weight: normal;
  }

  .clickable {
    cursor: pointer;
  }

  h3 {
    font-family: $font-family-arial !important;
    font-size: 24px;
    font-weight: 600;
    height: 33px;
    line-height: 33px;
    margin: 5px 0 0 0;
  }
  .return {
    margin-top: 30px;
    a {
      color: $very-dark-desaturated-blue-4;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .bp-info {
    background-color: #ffffff;
    display: block;
    padding-top: 24px;
    padding-bottom: 50px;

    .info {
      height: 105px;
      width: 150px;
      margin-right: 30px;
      display: inline-block;
      position: relative;

      #progress-circle {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 105px;
        height: 105px;
      }
      .info-body-wrap {
        width: 100%;
        height: 100%;
        display: table;

        .info-body {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }

        .title {
          font-size: 20px;
          font-weight: 500;
          color: $very-dark-desaturated-blue-4;
          padding-bottom: 3px;
        }

        .description {
          font-size: 13px;
          font-weight: normal;
          color: $gray-normal;

          .action {
            display: inline-block;
            vertical-align: middle;
          }

          .switch-active-form {
            float: left;
            margin-left: 35px;
            width: 46px;
          }
        }

        .read-only-section {
          height: 35px;
        }

        .name {
          font-size: 20px;
          font-weight: 500;
          padding-bottom: 5px;
          padding-top: 5px;
          color: $very-dark-desaturated-blue-4;
        }
      }

    }

    .filter {
      display: inline-block;
      .filter-item {
        display: inline-block;
        font-size: 13px;
        text-align: right;
        line-height: 18px;
        font-weight: 600;
        color: #2B3C49;
        margin-left: 20px;
        padding-left: 4px;
        padding-right: 4px;

        &:hover {
          cursor: pointer;
          color: #FF7200;
        }
      }
      .filter-item.active {
        color: #FF7200;
        border-bottom: 2px solid #FF7200;
      }
    }
  }
  .bp-table-wrapper {
    background-color: #ffffff;
    overflow-x: auto;

    .fixed {
      top: 0px;
      left: 0px;
      position: absolute;
      width: 100%;
      display:none;
      border:none;
    }

    table {
      table-layout: auto;
      font-family: $font-family-arial !important;
      font-size: 13px;
      font-weight: normal;
      width: 100%;
      position: relative;

      thead {
        background-color: #ffffff;
        tr {
          border-bottom: 2px solid #d9dde0;
          th {
            font-weight: normal;
            padding: 10px 8px;
            color: #818689;
            text-align: right;
            a {
              color: #818689;
            }
            &:first-child {
              padding-left: 30px;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 15px 8px;
            line-height: 19px !important;
            vertical-align: middle;
            color: #2B3C49;
            text-align: right;
            a {
              cursor: pointer;
              color: $blue;

              &:hover {
                color: $blue-hover;
              }
            }

            a.unassign-bp-estimates {
              height: 19px;
              display: none;
            }

            &:first-child {
              padding-left: 30px;
            }

            i.toggle-icon {
              margin-left: -20px;
              margin-right: 4px;
              cursor: pointer;
            }

            .show-hide-remainder-form {
              clear: both;
              height: 26px;
              line-height: 26px;
              width: 45px;
              float: right;
            }
          }
          &:hover {
            td {
              a.unassign-bp-estimates {
                display: block;
              }
            }
          }

          border-bottom: 1px solid #d9dde0;
        }
        tr:nth-child(even) {
          background-color: #fafafb;
        }
        tr.bp-estimate-detail {
          background-color: #ffffff !important;
          .bp-estimate-wrapper {
            //    padding-top: 20px !important;
            vertical-align: top;

            .bp-estimate-attribute {
              padding-top: 10px;

              .attr-label {
                font-weight: normal;
                color: #818689;
              }
              .attr-value {
                padding-top: 5px;
              }
            }
          }
          .bp-estimate-product-list {
            table.detail {
              width: 100%;
              table-layout: fixed;
              tbody {
                background-color: #ffffff;
                tr {
                  th {
                    padding: 15px 8px;
                    font-weight: normal;
                    color: #818689;
                    text-align: right;
                  }
                  td {
                    border-top: 1px solid #ddd;
                    padding: 15px 8px;
                    text-align: right;
                    background-color: #ffffff !important;
                  }
                  .total {
//                    padding-right: 10px;
                  }
                  th:first-child {
                    padding: 15px 0 15px 15px;
                  }
                  td:first-child {
                    padding: 15px 0 15px 15px;
                  }
                }
              }
            }
          }
        }
      }
      tbody:nth-child(odd) {
        background-color: #fafafb;
      }

    }
  }

  .bp-table {
    tr{
      &:hover {
        i.fa {
          visibility: visible;
        }
      }
    }

    .delete-icon {
      visibility: hidden;
      color: $secondary-font-color;
      margin-left: 8px;
      cursor: pointer;
      width: 28px;
      height: 28px;
      padding: 4px 6px;
      font-size: 20px;
      border-radius: 5px;
      &:hover {
        background-color: $secondary-font-color;
        color: white;
      }
    }
    .delete-icon {
      margin-left: 0
    }
  }
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.center {
  text-align: center !important;
}
.skin-background {
  background-color: #f5f5f5;
  min-height: 100%;
}