#client-list {
  padding-right: 34px;
  padding-top: 33px;
}

#client-detail {
  padding-left: 34px;
  padding-top: 15px;
  .section {
    margin-top: 60px;
  }

  #advertisers-people {
    .panel-heading.hide-detail-wrap {
      background: #fff none repeat scroll 0 0;
      border-bottom: 1px solid $silver-border;
      border-radius: 0;
    }

    .panel.item-advertisers {
      margin-bottom: 0;
    }

    .show-people {
      display: block;
      float: left;
      height: 100%;
      margin-right: 5px;
    }

    .show-people .trigger-click {
      height: 40px;
      line-height: 40px;
      margin-bottom: 0;
    }

    .show-people .trigger-click > svg {
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
    }

    .text-wrap .company-name {
      color: #2a3b48;
      font-weight: bold;
    }

    .text-wrap > span {
      margin: 0 0 0 5px;
    }

    .panel-body.details {
      background: #fbfcfd none repeat scroll 0 0;
      padding: 0;
    }

    .user-data {
      margin-left: 7%;
      clear: both;
    }
    .data-section-wrapper .user-data:last-child span {
      border: medium none;
    }

    .user-data span {
      border-bottom: 1px solid $silver-border;
      display: block;
      float: left;
      height: 28px;
      line-height: 28px;
      width: 33.3333%;
    }

    .user-data .name {
      color: #333;
    }
  }

  #people {
    .wells-group {
      margin-top: 18px;
      .well {
        border-radius: 5px;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  #deals {
    .wells-group {
      margin-top: 18px;
      .well {
        border-radius: 5px;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .vertical-line {
        border-right: 1px solid $text-color;
        padding-left: 30px;
        padding-right: 30px;
        &:first-child {
          padding-left: 0;
          padding-right: 15px;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }

  #teamsplits {
    .wells-group {
      margin-top: 18px;
    }

    .role {
      padding-left: 19px;
    }

    .share {
      padding-right: 19px;
    }
  }

  /*------------remainder popup-----------------------------*/
  .wrap-form .modal-header.text-center {
    border: medium none;
    min-height: 20px;
    padding: 10px;
  }

  .location.ng-binding {
    clear: both;
    text-align: left;
  }

  .show-form-create-reminders {
    display: none;
  }

  .show-create-remainders-popup > label {
    cursor: pointer;
  }

  .show-create-remainders-popup {
    cursor: pointer;
    display: block;
    float: right;
    height: inherit;
    margin-left: 5px;
    position: relative;
    margin-top: 0px;
  }

  .show-create-remainders-popup .wrap-form::before {
    content: "";
    display: block;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #fff;
    border-width: 0px 9px 9px;
    top: -8px;
    left: 249px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .show-create-remainders-popup .wrap-form {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px #9591a9;
    left: -249px;
    position: absolute;
    width: 316px;
    z-index: 10;
    top: 36px;
  }

  div.modal-footer.text-center {
    border-top: medium none;
    padding: 10px 10px 20px;
  }

  #reminder_modal {
    .btn.btn-add-remainder {
      border-radius: 5px;
      display: block;
      margin: 0 auto;
      padding: 10px 24px;
    }

    .form-control.reminder-name {
      height: 36px;
    }

    .reminder-name,
    .reminder-date,
    .reminder-on-time input,
    .reminder-note {
      background-color: #f4f7f9;
      border: 1px solid #d7e1eb;
      border-radius: 4px;
      font-size: 14px;
      font-weight: normal;
      padding-left: 5px;
      color: $dark-grayish-blue-1;
      outline: none;
    }

    .reminder-name:hover,
    .reminder-date:hover,
    .reminder-on-time input:hover,
    .reminder-note:hover,
    .reminder-name:focus,
    .reminder-date:focus,
    .reminder-on-time input:focus,
    .reminder-note:focus {
      background-color: #fff;
    }

    .reminder-name:active,
    .reminder-date:active,
    .reminder-on-time input:active,
    .reminder-note:active,
    .reminder-name:focus,
    .reminder-date:focus,
    .reminder-on-time input:focus,
    .reminder-note:focus {
      border: 1px solid $brand-primary;
      outline: none;
    }

    .modal-body {
      color: $dark-grayish-blue-1;
    }
  }
  /*-------------------------------------------------------*/
}

#details {
  margin-top: 20px;
}

.location {
  font-size: 15px;
  color: $text-color;
  font-family: $font-family-sans-serif;
}

#activities-feed.section {
  margin-top: 20px;
}

#clients {
  #reminder_modal .modal-body div.form-group.error .error,
  #reminder_modal .modal-body div.form-group.error .error input {
    border-color: red;
  }
  .contact-info {
    .action {
      width: 68px;
      vertical-align: middle;
      display: none;
    }
    &:hover {
      .action {
        display: inline-block;
      }
    }
  }
}

a#edit-contact svg {
  margin-bottom: -3px;
}

.activities-feed {
  .long-text {
    height: 100px;
    overflow: auto;
  }

  .attachments {
    padding-top: 10px;
    a {
      color: #FF7E30;
    }
  }
}
