#contact-list {
  padding-right: 34px;
  padding-top: 33px;
}

#contact-detail {
  padding-left: 34px;
  padding-top: 15px;
}

#details {
  margin-top: 20px;
}

.position {
  font-size: 15px;
  color:$text-color;
}