#contracts {
    overflow-x: hidden;
    position: relative;
    .contracts-inner {
        margin: 0 25px;
    }
    .z-sliding-filter {
        top: 0
    }
    .contracts-header {
        display: flex;
        align-items: center;
        .header-item {
            margin-right: 30px;
            white-space: nowrap;
            &:last-child {
                margin: 0 0 0 auto;
            }

        }
        .add-btn {
            position: relative;
            top: 0;
        }
        .contract-search {
            width: 30%;
            position: relative;
            i.fa {
                position: absolute;
                font-size: 20px;
                color: lighten($secondary-font-color, 15%);
                top: 13px;
                left: 10px;
            }
            input {
                width: 100%;
                padding-left: 38px;
                background-color: white;
            }
        }
        .download-btn {
            position: relative;
            top: 0;
        }
    }
    table.table {
        th, td {
            text-align: left;
        }
    }
}
#contract_modal {
    .toggle-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        height: 47px;
        .z-toggle {
            margin-right: 8px;
        }
    }
    .form-row {
        display: flex;
        align-items: flex-end;
        .row-w33 {
            width: 33.33%;
        }
        .row-w35 {
            width: 35%;
        }
        .row-w40 {
            width: 40%;
        }
        .row-w50 {
            width: 50%;
        }
        .row-w60 {
            width: 60%;
        }
        .row-w70 {
            width: 70%;
        }
    }
    .pl8 {
        padding-left: 8px;
    }
    .pr8 {
        padding-right: 8px;
    }
    .pl16 {
        padding-left: 16px;
    }
    .pr16 {
        padding-right: 16px;
    }
}