#reports {
    padding-top: 20px;
    min-height: calc(100vh - #{$header-height});
    .filters-block {
        display: inline-block;
        vertical-align: middle;
    }
    .export {
        svg {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            g {
                fill: $main-color;
            }
        }
        color: $main-color;
    }
    a {
        color: #3498DB;
        cursor: pointer;
    }
    .dropdown-menu {
        li {
            &.active {
                background-color: $main-color;
            }
        }
    }
}