#reports {
    padding-top: 20px;
    .filters-block {
        display: inline-block;
        vertical-align: middle;
    }
    #nav .nav-tabs > li {
        margin-right: 0;
    }
    .export {
        svg {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            g {
                fill: $main-color;
            }
        }
        color: $main-color;
    }
    .table {
        a {
            color: #3498DB;
            cursor: pointer;
        }
        .long-comment {
            max-width: 700px;
            word-wrap: break-word;
        }
    }
    .dropdown-menu {
        li {
            &.active {
                background-color: $main-color;
            }
        }
    }
}