#reports {
    padding-top: 20px;
    .title {
        display: inline-block;
        margin-right: 90px;
    }
    .filters-block {
        display: inline-block;
        vertical-align: middle;
    }
    .export {
        margin-top: 15px;
        svg {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            g {
                fill: $main-color;
            }
        }
    }
}