#deal, .z-detail-page {
    .warning-message {
        background-color: $error-color;
        color: white;
        transition: all 500ms;
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0 20px;
        &.show-warning {
            opacity: 1;
            padding: 20px;
            margin: 0 0 30px 0;
            height: auto;
        }
        .fa {
            position: relative;
            top: -8px;
            right: -8px;
            cursor: pointer;
        }
    }
    .caret {
        color: $secondary-font-color;
        //position: relative;
        //top: -2px;
    }
    .no-wrap-line {
        display: inline-block;
        white-space: nowrap;
    }
    textarea.editable {
        resize: none;
        width: 100%;
        padding: 5px 8px;
        &:focus {
            outline: none;
            border: 1px dashed $secondary-font-color;
            &:hover {
                cursor: text;
                background-color: inherit;
            }
        }
    }
    .editable {
        cursor: pointer;
        padding: 5px 8px;
        border-radius: 4px;
        border-bottom: 1px dashed $secondary-font-color;
        &:hover {
            border-color: transparent;
            border-bottom-color: $secondary-font-color;
            background-color: $separate-line-color;
        }
    }
    .editable-field {
        padding: 5px 8px;
        border: 1px dashed $secondary-font-color;
    }
    .dropdown {
        display: inline-block;
        button:not(.add-btn) {
            background-color: inherit;
            border: none;
            color: inherit;
            padding: 0;
            &:active {
                outline: none;
                box-shadow: none;
            }
        }
        .dropdown-menu {
            top: calc(100% + 10px);
        }
    }
    .edit-deal, .delete-deal, .delete-product, .reminder-icon, .send-icon {
        color: $secondary-font-color;
        margin-left: 8px;
        cursor: pointer;
        width: 28px;
        height: 28px;
        padding: 4px 6px;
        font-size: 20px;
        border-radius: 5px;
        &:hover {
            background-color: $secondary-font-color;
            color: white;
        }
    }
    .ealert {
        color: $secondary-font-color;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
        height: 28px;
        padding: 4px 6px;
        font-size: 20px;
        border-radius: 5px;
        &:hover {
            background-color: $secondary-font-color;
            color: white;
        }
        &.danger {
            color: $brand-danger;
            &:hover {
                background-color: $brand-danger;
                color: white;
            }
        }
    }
    .ealert-label {
        font-size: 14px;
        line-height: 34px;
        &.danger {
            color: $brand-danger;
        }
    }
    .send-icon {
        vertical-align: middle;
        margin-left: 2px;
    }
    .show-create-remainders-popup {
        margin: 0;
        .show-form-create-reminders {
            display: none;
        }
        .reminder-icon {
            padding: 4px 5px;
        }
        #reminder_popup_modal {
            background-color: white;
            position: absolute;
            right: 0;
            width: 400px;
            z-index: 10;
            border: 2px solid $separate-line-color;
            box-shadow: 3px 3px 8px gray;
            border-radius: 4px;
            input, textarea {
                height: 36px;
                background-color: white;
            }
            .popup-modal-header {
                height: 0;
                margin: 0;
                padding: 0;
                border-bottom: none;
                .close-btn {
                    top: -18px;
                    right: -16px;
                }
            }
        }
    }
    .delete-deal {
        margin-left: 0
    }
    .detail-stats {
        .deal-won-indicator {
            position: absolute;
            top: 25px;
            left: 514px;
            height: 146.97px;
            width: 146.97px;
            opacity: 0.5;
            transform: rotate(345deg);
            text-transform: uppercase;
            pointer-events: none;
            user-select: none;
            .deal-won-indicator-deal {
                height: 48.18px;
                width: 69.39px;
                color: #FF7200;
                font-family: "Avenir Next";
                font-size: 31px;
                font-weight: 600;
                line-height: 33px;
                text-align: right;
                position: absolute;
                top: 38px;
                left: 30px;
            }
            .deal-won-indicator-won {
                height: 71.92px;
                width: 104.45px;
                color: #FF7200;
                font-family: "Avenir Next";
                font-size: 42px;
                font-weight: 600;
                line-height: 49px;
                text-align: right;
                position: absolute;
                top: 71px;
                left: 16px;
            }
            .deal-won-indicator-oval {
                height: 146.97px;
                width: 146.97px;
                border: 5px solid #FF7200;
                border-radius: 125px;
            }
        }
        textarea.editable {
            margin-left: 10px;
        }
        .detail-info {
            color: $secondary-font-color;
            .dropdown {
                position: relative;
                top: -3px;
                .edit {
                    color: $main-font-color;
                    font-weight: bold;
                }
            }
            b {
                //color: $main-font-color;
            }
        }
        .stats-col {
            vertical-align: top;
            margin-right: -4px;
            text-align: center;
            //height: 120px;
            position: relative;
            display: inline-block;
            width: 16.66%;
            &:nth-child(1), &:nth-child(4) {
                width: 25%;
            }
            .col-body-wrap {
                width: 100%;
                height: 100%;
                //display: table;
                .col-body {
                    //display: table-cell;
                    //vertical-align: middle;
                    //white-space: nowrap;
                    .title {
                        font-size: 18px;
                        margin-right: 0;
                    }
                    .description {
                        color: $secondary-font-color;
                    }
                    .error-tooltip {
                        white-space: normal;
                    }
                    button {
                        white-space: normal;
                    }
                }
            }
            .error-tooltip {
                left: 1%;
                width: 98%;
                bottom: calc(50% + 30px);
            }
        }
    }
    #io-details {
        .table-wrapper {
            overflow-y: hidden;
        }
        span.title {
            font-size: 24px;
            font-weight: 600;
            margin-right: 20px;
            display: block;
        }
        span.details {
            margin-left: 15px;
            margin-bottom: 15px;
        }
        a.io-link {
            display: inline-block;
            margin-bottom: 25px;
        }
        a.io-revenue-request {
            margin-left: 15px;
            color: $main-color;
        }
        .cell-thin {
            min-width: 133px;
            width: 133px;
            padding-left: 0;
            padding-right: 0;
            a {
                color: $main-color;
            }
        }
    }
    .deal-insights {
        .insights-row:not(:last-child) {
            padding-bottom: 10px;
            margin-bottom: 5px;
            border-bottom: 1px solid $separate-line-color;
        }
        .sub-title {
            padding: 10px 0;
            div:nth-child(1) {
                width: 39%;
                display: inline-block;
                font-weight: bold;
            }
            div:nth-child(2) {
                font-size: 15px;
                padding-left: 10px;
                width: 61%;
                display: inline-block;
            }

        }
        .deal-stats {
            display: flex;
            justify-content: space-between;
            .stats-col {
                width: auto;
                padding: 0 5px;
                .col-body-wrap {
                    .col-body {
                        .description {
                            font-size: 0.7vw;
                            text-align: center;
                        }
                        .title {
                            margin: 0;
                            text-align: center;
                            font-size: 0.9vw;
                        }
                    }
                }
            }
        }
    }
    .products {
        overflow-x: auto;
        .error-tooltip {
            white-space: nowrap;
            bottom: 90%;
            //left: calc(-50%);
        }
        .has-error {
            color: $error-color;
        }
        .total-budget {
            word-spacing: -0.25em;
            white-space: nowrap;
            display: inline-block;
        }
        .product-budget {
            position: relative;
            .budget-value {
                font-weight: bold;
            }
        }

        .custom-field-item-field {
            .text-area {
                textarea {
                    margin-top: 10px;
                    width: 100px;
                }
            }
            .editable {
                display: inline-block;
                min-width: 100px;
                max-width: 100%;
                background: none;
                &:focus {
                    outline: none;
                    border: 1px dashed $secondary-font-color;
                    &:hover {
                        background-color: inherit;
                    }
                }
            }
            .datetime-field {
                width: 130px;
                table {
                    tr {
                        height: auto !important;
                    }
                }
            }
            
        }
        .dropdown {
            position: static;

            .dropdown-menu {
                top: auto;
                left: auto;
            }
        }

        .editable-wrap {
            white-space: nowrap;
            .budget-value, .budget-percent {
                display: inline-block;
                border: 1px dashed $secondary-font-color;
                padding: 0 5px;
                border-radius: 4px;
                input {
                    background-color: inherit;
                    cursor: text;
                    border: none;
                    padding: 0;
                    width: 100px;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .budget-percent {
                input {
                    width: 50px;
                }
            }
        }
        .total-budget-wrap {
            input {
                padding: 5px 10px;
                border-radius: 4px;
                border: 1px dashed $secondary-font-color;
                background-color: inherit;
                cursor: text;
                width: 180px;
                &:focus {
                    outline: none;
                }
            }
        }
        > table {
            > thead > tr {

                background-color: $brand-tertiary;
                //background-color: lighten($main-color, 35%);
                > th {
                    color: white !important;
                    //color:lighten($main-color, 5%) !important;
                }
            }
            > tbody {
                td:first-child {
                    white-space: nowrap;
                    font-size: 16px;
                    font-weight: bold;
                    .delete-product {
                        font-size: 18px;
                        visibility: hidden;
                    }
                }
                > tr {
                    &:first-child > td {
                        border-top: none;
                    }
                    &:hover {
                        .delete-product {
                            visibility: visible;
                        }
                    }
                }
            }
            > thead > tr > th, > tbody > tr > td {
                text-align: center;
                width: 100px;
                &:first-child {
                    text-align: left;
                    width: 200px;
                }
            }
        }
        .sum-budgets-row {
            &:hover {
                background-color: inherit;
            }
            td {
                border-top-width: 2px;
            }
        }
    }
    .members, .contacts {
        table {
            tr {
                .fa {
                    visibility: hidden;
                    margin-left: 10px;
                }
                &:hover {
                    .fa {
                        visibility: visible;
                    }
                }
            }
            th, td {
                text-align: left;
            }
        }
        .member-share, .contact-role-dropdown {
            position: relative;
        }
        .editable {
            display: inline-block;
            min-width: 100px;
        }
        .editable-field {
            width: 100px;
        }
        .dropdown {
            .editable {
                min-width: 0;
            }
            .dropdown-menu {
                li {
                    a {
                        color: $main-font-color;
                        &:hover {
                            color: $main-color;
                        }
                    }
                    &.active > a {
                        color: white;
                    }
                }
            }
        }
        .not-selected {
            color: lighten($secondary-font-color, 15%);
        }
    }
    .next-steps {
        textarea.editable {
            margin-bottom: 5px
        }
        .custom-field-item {
            span.star {
                display: inline;
            }
            .custom-field-item-label {
                label {
                    margin-top: 5px
                }
            }
        }
        .datetime-field {
            span.editable.expired{
                color: $error-color;
            }
        }
    }
    .contacts {
        table {
            tr {
                .delete-deal {
                    margin-left: 0;
                }
            }
            .contact-role-dropdown {
                display: inline-block;
                .error-tooltip {
                    min-width: 300px;
                    right: 0;
                    left: auto;
                    bottom: calc(100% + 7px);
                    &:before {
                        right: 30px;
                        left: auto;
                    }
                }
            }
        }
    }
    .campaign-details, .next-steps {
        .error-text {
          display: none;
          color: $error-color;
          float: right;
          margin-bottom: 5px;
          margin-left: 104px;
        }
        .error {
          .error-text {
            display: inline;
          }
          input, textarea, span.editable, .ui-select-container, .ui-select-toggle, button.dropdown-toggle {
            border-color: $error-color;
          }
        }
        .star {
            color: $error-color;
        }
        .custom-field-item {
            margin-bottom: 5px;
            .star {
                display: none;
            }
            .custom-field-item-label {
                display: inline-block;
                vertical-align: top;
                width: 39%
            }
            .custom-field-item-field {
                padding-left: 10px;
                display: inline-block;
                width: 59%;
                .editable, .editable-input {
                    display: inline-block;
                    min-width: 100px;
                    max-width: 100%;
                    &:focus {
                        outline: none;
                        border: 1px dashed $secondary-font-color;
                        &:hover {
                            background-color: inherit;
                        }
                    }
                }
                .editable-controls {
                    width: 100%;
                }
                .editable-input {
                    background-color: transparent;
                    padding: 3px 8px;
                    width: 100%;
                    height: auto;
                    border: 1px dashed $secondary-font-color;
                    box-shadow: none;
                }
                .link-field {
                    height: 28px;
                    white-space: nowrap;
                    .link-wrap {
                        //border: 1px solid $error-color;
                        padding-left: 8px;
                        display: inline-block;
                        //box-sizing: border-box;
                        max-width: calc(100% - 36px);
                        overflow: hidden;
                        a {
                            position: relative;
                            top: 3px;
                        }
                        span {
                            &.has-error {
                                color: $error-color;
                            }
                            &.not-selected {
                                font-weight: normal;
                                color: #757575;
                            }
                        }
                    }
                }
                .boolean-field {
                    margin: 5px 0 0;
                    height: 15px;
                    .switch-remainder-form {
                        margin-left: 0;
                        label > span {
                            height: 15px;
                        }
                    }
                }
                .not-selected {
                    color: lighten($secondary-font-color, 15%);
                }
                .remove-icon {
                    color: $secondary-font-color;
                    //display: none;
                    margin-right: 4px;
                    &:hover {
                        color: $main-font-color;
                    }
                }
                &:hover {
                    .remove-icon {
                        display: inline;
                    }
                }
            }
        }
        .required-field {
            .star {
                display: inline;
            }
            .custom-field-item-field.has-error {
                border-left: 3px solid $error-color;
            }
        }
        .status-error {
            color: $error-color;
        }
        .status-success {
            //background-color: #2ca02c;
            //color: white;
            color: #2ca02c;
        }
    }
    .error-tooltip {
        font-family: "Avenir Next", Arial, serif;
        font-weight: normal;
        font-size: 14px;
        text-transform: none;
        position: absolute;
        left: calc(-50%);
        bottom: 100%;
        background-color: $error-color;
        color: white;
        padding: 10px;
        border-radius: 4px;
        width: auto;
        z-index: 3;
        &:before {
            content: '';
            bottom: -10px;
            left: 50%;
            //left: 30px;
            margin-left: -10px;
            border-width: 10px 10px 0;
            border-color: transparent;
            border-style: solid;
            border-top-color: $error-color;
            position: absolute;
            width: 0;
            height: 0;
        }
    }
        .display-line-budgets-row {
        height: auto !important;
        max-height: none !important;
        td {
            padding: 0;
            border-top: none;
        }
    }
    .display-line-budgets {
        width: 100%;
        height: 0;
        overflow: hidden;
        box-sizing: border-box;
        opacity: 0;
        border: 0 solid #DDDDDD;
        background-color: #FBFCFD;
        transform-origin: 0 0;
        transition: height 400ms, opacity 400ms, border-width 400ms;
        .budget {
            .editable-budget {
                position: relative;
            }
            .budget-delete {
                position: absolute;
                right: -8px;
                top: 6px;
                color: $error-color;
                cursor: pointer;
            }
        }
        .budgets-inner {
            padding: 15px;
        }
        &.active {
            border-width: 2px 0 1px;
            opacity: 1;
        }
        .title {
            font-size: 16px;
            span {
                font-size: 14px;
                color: $secondary-font-color;
            }
        }
        .line-budget {
            display: inline-block;
            width: calc(100% / 12);
            text-align: center;
            padding: 15px 15px;
            .editable-field {
                max-width: 100px;
                &:focus {
                    background-color: inherit;
                    border-color: $secondary-font-color;
                }
            }
            .editable-wrap {
            }
            .editable-input {
                margin-top: -3px;
                background-color: transparent;
                height: 28px;
                max-width: 100px;
                box-sizing: border-box;
                border: 1px dashed $secondary-font-color;
            }
            .add-budget {
                color: $main-color;
            }
        }
    }
    .display-line-table-budget {
        .budget-arrow {
            text-align: center;
            position: relative;
            background-color: red;
            .fa {
                opacity: 0;
                transition: opacity 100ms;
                color: #d5d5d5;
                font-size: 26px;
                position: absolute;
                left: 40%;
                top: -2px;
            }
            &.active {
                .fa {
                    opacity: 1;

                }
            }
        }

    }
    .attachments {
        &.active {
            margin: -2px -2px 28px;
            border: 2px solid #66afe9;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        }
        .files-uploader__describe {
            padding-left: 20px;
            &:before {
                top: 4px;
                left: -4px
            }
        }
        .files-uploader {
            textarea.form-control {
                background-color: inherit;
                resize: none !important;
            }
            .files-uploader__drop-area {
                padding: 10px 0 0;
            }
        }
        .not-selected {
            color: lighten($secondary-font-color, 15%);
        }
    }
}
@media screen and (min-width: 1921px) {
    #deal {
        .deal-insights {
            .stats-col {
                .description {
                    font-size: 14px !important;
                }
                .title {
                    font-size: 17px !important;
                }
            }
        }
    }
}
@media screen and (max-width: $content-min-width) {
    #deal {
        .deal-insights {
            .stats-col {
                .description {
                    font-size: 10px !important;
                }
                .title {
                    font-size: 13px !important;
                }
            }
        }
    }
}
