#forecast-detail {
    padding-left: 25px;
    padding-right: 25px;
    .reports-header {
        padding-left: 15px;
        padding-right: 15px;
    }
    .filters-block {
        padding-left: 60px;
        a {
            font-weight: normal;
            color: $main-color;
            &.empty {
                color: #B5BDC4;
                //color: $secondary-font-color;
            }
        }
        .dropdown-menu {
            li {
                &.active {
                    color: white;
                }
                a {
                    color: inherit;
                }
            }
        }
        vertical-align: middle;
    }
    .block {
        .title {
            font-size: 18px;
        }
    }

    .z-fixed-header {
      border-bottom: 0;
    }

    table.table {
        tr {
            th {
                border-top: none;
            }
            th, td {
                text-align: center;
                &:first-child {
                    text-align: left;
                }
            }
        }
        .popover-content {
            word-wrap: break-word;
        }
    }
    .close-btn {
        color: $secondary-font-color;
        &:hover {
            color: $main-color
        }
        z-index: 999999;
    }
    .add-btn {
        top: 0;
    }
}