#forecasts {
    .inner-forecasts {
        max-width: 1600px;
        padding: 0 15px;
        .reports-header {
            padding: 0;
        }
    }
    .forecast-chart {
        height: auto;
        .axis {
            font: 10px sans-serif;
        }
        .quota-line {
            stroke: gray;
            stroke-dasharray: 2, 2;
            stroke-width: 1px;
        }
        .axis path,
        .axis line {
            fill: none;
            stroke: #d9dde0;
            shape-rendering: crispEdges;

        }
        .tick {
            text {
                font-size: 14px;
                //font-weight: bold;
            }
        }
    }
    .legend-container {
        margin-bottom: 20px;
        .legend {
            //display: inline-block;
            display: inline-flex;
            align-items: center;
            margin-right: 20px;
            .legend-icon {
                width: 14px;
                height: 14px;
                border-radius: 3px;
                display: inline-block;
                margin-right: 8px;
                //vertical-align: middle;
            }
            .legend-text {
                //line-height: 14px;
                //vertical-align: top;
            }
        }
    }
}