#forecasts {
    .inner-forecasts {
        max-width: 1600px;
        padding: 0 15px;
        .reports-header {
            padding: 0;
        }
    }
    .forecast-chart {
        height: auto;
        .axis {
            font: 10px sans-serif;
        }
        .quota-line {
            stroke: gray;
            stroke-dasharray: 6, 4;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }
        .axis path,
        .axis line {
            fill: none;
            stroke: #d9dde0;
            shape-rendering: crispEdges;

        }
        .tick {
            text {
                font-size: 14px;
                //font-weight: bold;
            }
        }
    }
    .legend-container {
        margin-bottom: 20px;

        .legend {
            //display: inline-block;
            display: inline-flex;
            flex-basis: 100px;
            align-items: center;
            margin-right: 20px;

            .legend-icon {
                width: 14px;
                height: 14px;
                border-radius: 3px;
                display: inline-block;
                margin-right: 8px;
                //vertical-align: middle;
            }
            .legend-text {
                //line-height: 14px;
                //vertical-align: top;
            }
        }
    }
    #forecast-chart-tooltip {
        background-color: white;
        border-radius: 4px;
        position: fixed;
        padding: 8px 12px;
        color: $main-font-color;
        display: none;
        border: 1px solid black;
        .tip-icon {
            display: inline-block;
            height: 13px;
            width: 13px;
            border-radius: 3px;
            position: relative;
            top: 2px;
            border: 1px solid rgb(228, 228, 228);
        }
        .tip-text {
            font-weight: bold;
            float: right;
            padding-left: 8px;
        }
        &.active {
            display: block;
        }
    }
    .table-wrapper {
        padding-bottom: 10px;
    }
    .table {
        .subtable-arrow-wrap {
            //position: relative;
            padding: 0;
            & > div {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100%;
                min-height: 60px;
                //background-color: #c1dfff;
            }
        }
        .subtable-arrow {
            height: 0;
            color: #c1c1c1;
            font-size: 24px;
            position: absolute;
            bottom: 17px;
            left: 50%;
            right: 50%;
            display: none;
            //opacity: 0;
            //&.opened {
            //    opacity: 1;
            //}
        }
    }
    .loading-subtable {
        display: inline-block;
        animation: rotation 0.75s infinite linear;
    }
    @keyframes rotation {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(359deg);
        }
    }
    .subtable-row {
        max-height: 0 !important;
        height: auto !important;
        td {
            padding: 0;
            border: none;
        }
        .subtable-wrap {
            background-color: white;
            overflow: hidden;
            height: 0;
            width: 100%;
            opacity: 0;
            transition: height 400ms, opacity 400ms;
            &.opened {
                opacity: 1;
                border-bottom: 0;
            }
            .subtable-container {
                display: inline-block;
                position: relative;
                border: 1px solid #DDDDDD;
                padding: 15px;
                background-color: #FAFAFB;
            }
            .subtable {
                width: 100%;
                background-color: transparent;
                thead {
                    background-color: transparent;
                    border-bottom: 2px solid #DDDDDD;
                }
                tbody {
                    tr:not(:last-child) {
                        border-bottom: 1px solid #DDDDDD;
                    }
                }
                td {
                    padding: 8px 10px;
                }
            }
        }
    }
    .totals {
        font-weight: bold;
        a {
            color: inherit;
            pointer-events: none;
        }
    }
}