#io {
    .container-fluid {
    }
    .detail-stats {
        .stats-col {
            width: 20%;
            &:last-child {
                width: 40%;
            }
        }
    }
    .editable {
        &:hover {
            background-color: inherit;
        }
    }
    .table-wrapper {
        overflow-y: hidden;
    }
    .editable-field {
        &:focus {
            background-color: inherit;
            border-color: $secondary-font-color;
        }
    }
    .bs-datepicker {
        table {
            th, tr {
                height: auto !important;
                max-height: none !important;
            }
        }
    }
    .display-line-table-wrapper {
        position: relative;
        //tr {
        //    td {
        //        transition: padding 300ms;
        //        padding-bottom: 8px;
        //    }
        //    &.active-budget {
        //        td {
        //            padding-bottom: 150px;
        //        }
        //    }
        //}
    }
    #display-line-budgets {
        width: 100%;
        transform: scaleY(1);
        opacity: 1;
        position: absolute;
        border: solid #DDDDDD;
        border-width: 1px;
        box-shadow: 2px 2px 8px gray;
        padding: 15px;
        background-color: #FBFCFD;
        //background-color: #bababa;
        transform-origin: 0 0;
        transition: opacity 500ms, box-shadow 200ms, color 200ms, transform 300ms;
        &.hide-budgets-row {
            pointer-events: none;
            opacity: 0;
            transform: scaleY(0);
            box-shadow: 0 0 0;
            color: transparent;
        }
        .title {
            font-size: 16px;
        }
        .line-budget {
            display: inline-block;
            width: 140px;
            text-align: center;
            padding: 15px 15px;
            .editable-field {
                max-width: 100px;
                &:focus {
                    background-color: inherit;
                    border-color: $secondary-font-color;
                }
            }
            .add-budget {
                color: $main-color;
            }
        }
    }
    .display-line-table-budget {
        .budget-arrow {
            text-align: center;
            position: relative;
            background-color: red;
            .fa {
                opacity: 0;
                transition: opacity 100ms;
                color: #d5d5d5;
                font-size: 26px;
                position: absolute;
                left: 40%;
                top: -2px;
            }
            &.active-budget {
                .fa {
                    opacity: 1;

                }
            }
        }

    }
}