#io {
  font-family: $font-family-sans-serif !important;
  margin-top: 30px;
  .return {
    a {
      color: $very-dark-desaturated-blue-4;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .campaign {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .info {
    font-size: 12px;
    color: $very-dark-desaturated-blue-5;
    .info-value {
      font-weight: bold;
    }
    .info-error {
      display: inline-block;
    }
  }

  .error-text {
    display: none;
    text-transform: none;
    color: $error-color;
  }
  .error {
    .error-text {
      display: inline;
    }
    input, textarea, .ui-select-container, .ui-select-toggle, button.dropdown-toggle, .info-error {
      border: 1px solid $error-color;
    }
  }

  .editable-input {
    font-size: 12px;
  }

//  .small-datepicker {
//    font-size: 13px;
//  }

  .io-content {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .table {
    thead {
      tr {
        th {
          font-size: 12px !important;
          font-family: $font-family-sans-serif !important;


        }
        .product{
          width: 200px
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 12px !important;
          font-family: $font-family-sans-serif !important;
        }
      }
    }
  }
}
