#kpi-analytics {
  .legend {
    padding-top: 27px;
  }

  .title {
    margin-bottom: 25px;
  }

  .kpi-block {
    margin-bottom: 50px;

    .date-caret {
      margin-left: -4px;
      color: #ff6e17;
    }

    .default-date {
      width: 95px;
    }

    .date {
      width: 136px!important;
    }

    &__filter{
      display: inline-block;
      list-style: none;
      padding-left: 20px;

      .bs-datepicker {
        input{
          cursor: pointer;
          border:none;
          color: #ff6e17;
          outline: none;
          padding-left: 6px;
        }
        input::-webkit-input-placeholder {
          color: #ff6e17;
        }
        input::-moz-placeholder {
          color: #ff6e17;
        }
        input:-ms-input-placeholder {
          color: #ff6e17;
        }
      }
    }

    .buttons__filter {
      margin-top: -6px;
      .btn {
        margin-right: 17px;
        background: white;
      }
    }

    &__title {
      font-weight: 300;
      margin-top: 0;
      margin-left: -5px;
    }
  }

  .schedule {
    height: 450px;
    margin-bottom: 95px;

    svg:not(:root) {
      overflow: visible;
    }

    path {
      stroke: steelblue;
      stroke-width: 2;
      fill: none;
    }

    .win-rate,
    .deal-size{
      width: 1070px;
      margin: auto;
      position: relative;

      div.tooltip {
        position: absolute;
        text-align: center;
        width: 250px;
        height: 100px;
        padding: 10px 10px 10px 20px;
        background: white;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
        box-shadow: -1px 9px 36px -6px rgba(163,162,180,0.65);

        span {
          display: inline-block;
          width: 73px;
          text-align: center;
        }

        p:first-child {
          color: #FF7E30;
          font-size: 16px;
        }

        p:nth-child(2) {
          width: 230px;
          color: #2B3C49;
          font-size: 18px;
          font-weight: bold;
        }

        p:nth-child(3) {
          width: 230px;
          color: #A3ACB4;
          font-size: 12px;
        }
      }

      .x-axis,
      .y-axis {
        stroke-opacity: 0.4;
      }
      .axis path, .axis line {
        fill: none;
        stroke: #6B6B6B;
      }
      .axis .grid-line {
        stroke: #000;
        stroke-opacity: 0.2;
      }
      .axis text {
        font: 12px Arial;
      }
    }
  }

  .btnPrimary {
    color: #fff;
    background-color: #FF7E30!important;
    border-color: #ff6e17;

    &:focus{
      outline: none;
    }
  }

  .reset-dates {
    padding: 1px 4px;
    margin-top: -2px;
  }
}

