#product-monthly-summary {
	padding-left: 25px;
	padding-right: 25px;
}

#product-monthly-summary table thead tr th {
	white-space: nowrap;

	a {
		white-space: nowrap;
	}
}

#product-monthly-summary table tbody tr td {
	white-space: nowrap;

	a {
		white-space: nowrap;
	}
}