#publishers {
  $publishers-menu-h: 100px;
  $publishers-column-header-h: 72px;

  font-family: "Avenir Next", Arial, serif;
  color: $main-font-color;
  background-color: #F5F5F5;
  min-height: calc(100vh - #{$header-height});
  position: relative;
  overflow-x: hidden;
  a {
    color: $secondary-color;
  }

  .publishers-menu {
    height: $publishers-menu-h;
    padding: 30px 30px 30px 30px;
    display: flex;

    .title {
      color: #2B3C49;
      font-family: "Avenir Next";
      font-size: 24px;
      font-weight: 600;
      line-height: 33px;
      margin-right: 40px;
    }
    .btn-main {
      margin-top: 5px;
      margin: 0 0 0 auto;
    }
    .switcher {
      margin-top: -25px;
      margin-right: 30px;
      text-align: center;
      .switch-remainder-form {
        float: none;
        display: inline-block;
        margin-left: 0;
      }
    }
    .search {
      margin-left: 30px;
      width: 30%;
    }
  }

  .publisher-types {
    display: inline-block;
    margin-left: 50px;
    span {
      display: inline-block;
      padding: 12px 5px;
      margin: 0 10px;
      font-weight: bold;
      cursor: pointer;
      &.active {
        color: $main-color;
        border-bottom: 2px solid $main-color;
      }
    }
  }
}
