#publishers {
  $publishers-menu-h: 100px;
  $publishers-column-header-h: 72px;

  font-family: "Avenir Next", Arial, serif;
  color: $main-font-color;
  background-color: #F5F5F5;
  min-height: calc(100vh - #{$header-height});
  position: relative;
  overflow-x: hidden;
  a {
    color: $secondary-color;
  }

  .publisher-inner {
    margin: 0 25px;
  }

  .publisher-header {
    display: flex;
    align-items: center;
    .header-item {
      margin-right: 30px;
      white-space: nowrap;
      &:last-child {
        margin: 0 0 0 auto;
      }

    }
    .add-btn {
      position: relative;
      top: 2px;
    }
    .publisher-search {
      width: 30%;
      position: relative;
      i.fa {
        position: absolute;
        font-size: 20px;
        color: lighten($secondary-font-color, 15%);
        top: 13px;
        left: 10px;
      }
      input {
        width: 100%;
        padding-left: 38px;
        background-color: white;
      }
    }
    .download-btn {
      position: relative;
      top: 0;
    }
  }
}
