#revenue_upload_modal {
  svg {
    height: 36px;
    fill: $brand-primary;
  }

  .modal-header {
    border: none;
  }

  .modal-body {
    padding: 20px;
    color: $dark-text-color;

    ol {
      margin-left: 25px;
      font-size: 13px;

      li {
        padding: 10px 20px 10px 0;

      }
    }
  }
}

#revenue {
  font-family: "Avenir Next", Arial, serif;
  .container-fluid {
    margin: 0 25px;
  }
  .revenue-header {
    display: flex;
    //align-items: center;
    .header-item {
      white-space: nowrap;
      margin-right: 30px;
      &:last-child {
        margin: 0 0 0 auto;
      }
    }
    .search {
      width: 30%;
    }
  }
  .date-filter {
    padding: 10px 0;
    font-weight: bold;
    .date-picker-wrap {
      cursor: pointer;
      color: $main-color;
      div {
        display: inline-block;
      }
    }
  }
  *[ng-click] {
    cursor: pointer;
  }
  .table {
    thead {
      .action-column {
        width: auto;
      }

      .add-button {
        color: $main-color !important;

        svg {
          width: 14px;
          path {
            transition: fill 300ms;
            fill: $main-color;
          }
        }
        svg, span {
          vertical-align: middle;
        }
      }
    }
    tbody {
      tr {
        td.action-td {
          width: auto;
          white-space: nowrap;
        }
      }
    }
  }
  .filter-row {
    margin-top: -2px;
    span {
      display: inline-block;
      padding: 12px 5px;
      margin: 0 10px;
      font-weight: 600;
      cursor: pointer;
      &.active {
        color: $main-color;
        border-bottom: 2px solid $main-color;
      }
    }
  }
  .sub-filter {
    transform: scale(0.9);
    transform-origin: 0 0;
  }
}