#revenue_upload_modal {
  svg {
    height: 36px;
    fill: $brand-primary;
  }

  .modal-header {
    border: none;
  }

  .modal-body {
    padding: 20px;
    color: $dark-text-color;

    ol {
      margin-left: 25px;
      font-size: 13px;

      li {
        padding: 10px 20px 10px 0;

      }
    }
  }
}

#revenue {
  font-family: "Avenir Next", Arial, serif;
  .year-filter {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 1;
    & > ul {
      padding-left: 10px;
      display: inline-block;
      li {
        list-style: none;
      }
      ul.dropdown-menu {
        left: auto;
        right: 0;
      }
    }
  }
  .table.table-striped {
    thead {
      span {
        cursor: pointer;
        padding: 10px 0;
      }
      .action-column {
        width: 50px;
      }
    }
    tbody {
      tr {
        cursor: pointer;
        td {
          &:nth-child(3) {
            word-break: break-all;
          }
          &:nth-child(9) {
            word-break: break-all;
          }
        }
        td.action-td {
          width: 50px;
        }
      }
    }

  }
}

.risk-upside-filters {
  span {
    display: inline-block;
    padding: 12px 5px;
    margin: 0 10px;
    font-weight: 600;
    cursor: pointer;
    &.active {
      color: $main-color;
      border-bottom: 2px solid $main-color;
    }
  }
}