#revenue_upload_modal {
  svg {
    height: 36px;
    fill: $brand-primary;
  }

  .modal-header {
    border: none;
  }

  .modal-body {
    padding: 20px;
    color: $dark-text-color;

    ol {
      margin-left: 25px;
      font-size: 13px;

      li {
        padding: 10px 20px 10px 0;

      }
    }
  }
}

#revenue {
  font-family: "Avenir Next", Arial, serif;
  .date-filter {
    float: right;
    padding: 10px 0;
    font-weight: bold;
    .date-picker-wrap {
      cursor: pointer;
      color: $main-color;
      div {
        display: inline-block;
      }
    }
  }
  *[ng-click] {
    cursor: pointer;
  }
  .table {
    thead {
      .action-column {
        width: auto;
      }
    }
    tbody {
      tr {
        td.action-td {
          width: auto;
        }
      }
    }
  }
  .filter-row {
    span {
      display: inline-block;
      padding: 12px 5px;
      margin: 0 10px;
      font-weight: 600;
      cursor: pointer;
      &.active {
        color: $main-color;
        border-bottom: 2px solid $main-color;
      }
    }
  }
  .sub-filter {
    transform: scale(0.9);
    transform-origin: 0 0;
  }
}