.filter-section {
  padding: 8px;
  display: flex;
  align-items: center;
}
.clearBox {
  clear: both;
}
.sales-execution-dashboard {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  h3 {
    margin-top: 12px;
  }
  hr {
    margin-top: 10px;
  }

  .popover {
    max-width: 750px;
  }
  table.activity-popup {
    width: 400px;
    tr {
      height: auto !important;
      td {
        padding: 5px 3px !important;
        max-width: 300px;
        font-size: 12px;
        line-height: 12px;
        vertical-align: top;
        &:first-child {
          width: 80px;
          padding: 5px 3px !important;
        }
      }
      th {
        padding: 5px 3px !important;
        max-width: 300px;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        vertical-align: top;
        &:first-child {
          width: 80px;
          padding: 5px 3px !important;
        }
      }
    }
  }


  table.pipeline-popup {
    width: 700px;
    tr {
      height: auto !important;
      td {
        padding: 5px 3px !important;
        max-width: 300px;
        font-size: 12px;
        line-height: 12px;
        vertical-align: top;
        &:first-child {
          padding: 5px 3px !important;
        }
      }
    }
  }

  .table-wrapper {
    background-color: #ffffff;
    width: 100%;
    margin-top:20px;
    padding: 10px 10px;
    h3 {
      margin-top: 20px;
      text-align: left;
      font-weight: normal;
      color: #45545f;
    }
    .table {
      margin-top: 10px;
      thead {
        background: #f4f7fa;
        color: #959fa9;
        tr {
          th {
            font-family: "Gotham Medium", sans-serif !important;
            font-weight: normal;
            color: #959fa9 !important;
            text-transform: none;
          }
          th.center{
            text-align: center;
            padding-left: 8px !important;
            padding-right: 8px !important;

          }
          th:first-child {
//            padding-left: 0px;
            border-left: none;
          }
          th:last-child {
            border-right: none;
          }
        }
      }
      tbody{
        tr {
          background-color: #ffffff !important;
          td {
            color: #67747E !important;
            border-top: none;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            font-size: 12px;
            font-weight: normal;
          }
          td:first-child {
//            padding-left: 0px;
            border-left: none;
          }
          td.center{
            text-align: center;
            padding-left: 8px !important;
            padding-right: 8px !important;
          }
        }
      }

    }

    .table.table-large {
      thead {
        background: none;
        tr {
          height: auto !important;
        }
      }
      tbody{
        tr {
          height: auto !important;
          td {
            width: 30%;
            padding-top: 5px;
            padding-bottom: 5px;
            border-top: 1px solid #dbdfe2;
            border-left: 1px solid #dbdfe2;
            font-size: 18px;
            div.label {
              color: #959fa9 !important;
              font-size: 12px;
//              line-height: 18px;
            }
            div {
              line-height: 18px;
              color: #45545f !important;
            }
            div.small {
              color: #959fa9 !important;
              font-size: 12px;
              line-height: 12px;

            }
          }
          td:first-child {
            border-left: none;
            padding-left: 0px;
            border-left: none;
          }
          td.center{
            text-align: center;
            padding-left: 8px !important;
            padding-right: 8px !important;
          }
        }

        tr:first-child {
          td {
            border-top: none;
          }
        }
      }
    }
  }

  .table-bar-charts {
    width: 100%;
    background: none;
    tbody {
      width: 100%;
      tr{
        td{
          vertical-align: middle;
          padding-top:3px;
          padding-bottom:3px;
          height: 30px;
        }
        td.left {
          width: 120px;
        }

        td.bar-section {
          text-align: center;
          //        width:80%;

          div.bar {
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            vertical-align: middle;
            opacity: 1;
            cursor: pointer;
            transition: all 0.25s ease-out;
            span{
              line-height: 30px;
              color: #838F9A;
            }

            &:hover {
              opacity: 0.7;
              transition: all 0.25s ease-out;
            }
          }
        }
      }
    }
  }

  .member-list {
    height: 47px;
    width: 300px;
    max-width: 100%;

    font-weight: normal;

    .select {
      line-height: 47px;
      height: 47px;
      border: 1px solid #d9e2ec;
      padding: 0 10px;
      color: #58656f;
    }
    .select:hover {
      color: #3996db;
    }
    .select::after {
      content: " ";
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 5px dashed;
      border-top: 5px solid \9;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      position: absolute;
      right: 10px;
      top: 22px;
    }



    .members {
      width: 100%;
      li {
        a {
          font-weight: normal;
          color: #58656f;
          background-color: #ffffff;
        }
        a:hover {
          font-weight: normal;
          color: #7ab9e9;
          background-color: #ffffff;
        }
      }

      li.active {
        a {
          background: #7ab9e9;
          color: #FFFFFF;
        }
      }


    }
  }


  h3.float-left {
    float: left;
  }
  .chart-choice {
    text-align: center;
    margin-top: 16px;
    margin-right: 50px;
    div {
      color: #959fa9;
      padding: 8px 10px;
      margin-left: -4px;
//      width: 100px;
      border: none;
      border-radius: 4px;
      display: inline-block;
      cursor: pointer;
      font-size: 13px;
    }
    div.active {
      background-color: #3996db;
      color: #FFFFFF;
    }
    div:hover {
      background-color: #a4d0f0;
      color: #FFFFFF;
    }
  }
  .nvd3 {
    text {
      fill: #959fa9;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 12px !important;
      white-space: pre-wrap;
    }
  }
  .tick {
    line {
      opacity: 0 !important;
    }
  }
  .nv-bar {
    text {
      fill: #959fa9 !important;
    }
  }
  .product-pipeline-chart {
    .nv-legend{ transform: translate(-70px, 215px); }
  }
  .quarter-forecast-chart {
    //  .nv-bar {
    //    width: 50px;
    //  }
    .nv-series-6 {
      rect {
        border-top:2px dotted #666b80;
        background-color: none;
      }
    }
    .nv-legend{ transform: translate(-45px, 300px); }
  }
}

.tree-dropdown.team-list {
  height: 47px;
  .select {
    height: 47px;
    border: 1px solid #d9e2ec;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #58656f;
    font-weight: normal;
    font-size: 14px;
    background: none;
  }
  .select::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-top: 5px solid \9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: 10px;
    top: 22px;
  }

  p {
    line-height: 47px;
    margin: 0;
  }

  .select:hover {
    color: #3996db;
    cursor: pointer;
  }

  .list {
    top: 50px;
    border: 1px solid #D7E4F1;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    padding: 10px 10px;

    p {
      font-weight: normal;
      color: #58656f;
      background: #FFFFFF;
      line-height: 40px;
    }

    p.selected {
      background: #7ab9e9;
      color: #FFFFFF;
    }

    p:hover{
      color: #7ab9e9;
      background: #FFFFFF;
      cursor: pointer;
    }

    p.selected:hover {
      background: #7ab9e9;
      color: #FFFFFF;
    }

  }
}
