.tools {
  border-radius: 3px;
  padding: 8px 10px 2px 5px;
  margin: 15px 0;
  position: relative;
  a {
    margin: 0 10px;
    svg {
      height: 23px;
    }
  }
}
.block {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  border-bottom: 1px solid #E6E6E8;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.fwb {
  font-weight: bold;
}