.tools {
  border-radius: 3px;
  padding: 8px 10px 2px 5px;
  margin: 15px 0;
  position: relative;
  a {
    margin: 0 10px;
    svg {
      height: 23px;
    }
  }
}
.block {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  border-bottom: 1px solid #E6E6E8;
}
.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-right: 0;
}
.m0 {
  margin: 0 !important;
}
.mr8 {
  margin-right: 8px;
}
.mr20 {
  margin-right: 20px;
}
.mr40 {
  margin-right: 40px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mt10 {
  margin-top: 10px;
}
.fwb {
  font-weight: bold;
}
.clickable {
  cursor: pointer;
}
.inline-block {
  display: inline-block;
}
.nowrap {
  white-space: nowrap;
}
.empty-input {
  color: #BCC6D8;
}

.hide-input-arrows {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance:textfield;
  }
}
