.block#costs
  %div.mb20
    %span.title Costs
    %add-button{'ng-click': 'showNewCostModal()'} Add

  .table-wrapper
    %table.table.table-hover
      %thead
        %tr
          %th.left.product-column Product
          %th.left.type-column Type
          %th.left.column Start Date
          %th.left.column End Date
          %th.right.column Total Cost
          %th.right.column{ ng: { repeat: "range in currentIO.readable_months" } }
            {{ range.name }}
      %tbody
        %tr{ ng: { if: 'currentIO.costs && currentIO.costs.length > 0', repeat: "cost in currentIO.costs"} }
          %td.product-column
            .dropdown
              %button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
                %span.editable
                  {{cost.product.name}}
                  %span.caret
              %ul.dropdown-menu
                %li{'ng-repeat': 'product in costProducts', 'ng-class': '{active: cost.product.name == product.name}'}
                  %a{'href': '', 'ng-click': 'cost.product_id = product.id; updateCost(cost);'}
                    %span.text {{product.name}}
              %i.fa.fa-trash.z-icon{'ng-click': 'deleteCost(cost)'} 
          %td.type-column
            .dropdown
              %button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
                %span.editable
                  {{ cost.type.option.name }}
                  %span.caret
              %ul.dropdown-menu
                %li{'ng-repeat': 'type in cost.type.options', 'ng-class': '{active: cost.type.option_id == type.id}'}
                  %a{'href': '', 'ng-click': 'cost.type.option_id = type.id; updateCost(cost);'}
                    %span.text {{type.name}}
          %td.column
            {{ currentIO.start_date | date: 'M/d/yyyy' }}
          %td.column
            {{ currentIO.end_date | date: 'M/d/yyyy' }}
          %td.right.column
            %span{'click-to-edit':'click-to-edit', type: "number", prefix: "{{currency_symbol}}", decimal: '2', 'ng-model': "cost.budget_loc", 'on-after-save': 'updateCost(cost)', 'ng-if': "(currentUser.is_admin || canEditIO) && !currentIO.is_freezed" }
            %span{ ng: { if: "(!currentUser.is_admin && !canEditIO) || currentIO.is_freezed" } }
              {{ cost.budget_loc | currency:currency_symbol:2 }}
          %td.right.column{ ng: { repeat: "monthly_amount in cost.cost_monthly_amounts | orderBy: 'start_date'" } }
            %span{'click-to-edit':'click-to-edit', type: "number", prefix: "{{currency_symbol}}", decimal: '2', 'ng-model': "monthly_amount.budget_loc", 'on-after-save': 'updateCost(cost)', 'ng-if': "currentUser.is_admin || canEditIO" }
            %span{ ng: { if: "!currentUser.is_admin && !canEditIO" } }
              {{ monthly_amount.budget_loc | currency:currency_symbol:2 }}
        %tr.sum-budgets-row{ ng: { if: 'currentIO.costs && currentIO.costs.length > 0'} }
          %td{colspan: 3}
          %td.right
            %b TOTAL
          %td.right
            %b {{sumCostBudget() | currency: currency_symbol : 2}}
          %td.right{'ng-repeat': 'month in currentIO.months'}
            %b {{sumCostBudget($index) | currency: currency_symbol : 2}}
        %tr{ ng: { if: '!currentIO.costs || currentIO.costs.length == 0' } }
          %td.center{ 'colspan': '{{5+currentIO.readable_months.length}}' }
            No data available