%tr
	%td
		%div{ ng: { if: 'row.type == "team" || row.type == "member" || row.type == "totals"' } }
			{{ row.name + (row.quarter ? ' Q' + row.quarter : '')}}
		%div{ ng: { if: 'row.is_leader && year' } }
			\--
	%td
		{{ row.is_leader ? '--' : (isNetForecast ? row.quota_net : row.quota | currency: '$': 0) }}
	%td.subtable-arrow-wrap
		%div
			%a{href: '', 'ng-click': 'showSubtable(row, "revenue", $event)'} {{ (isNetForecast ? row.revenue_net : row.revenue) | currency: '$': 0 }}
			%i.fa.fa-caret-up.subtable-arrow
	%td.subtable-arrow-wrap
		%div
			%a{href: '', 'ng-click': 'showSubtable(row, "pipeline", $event)'} {{ (isNetForecast ? row.weighted_pipeline_net : row.weighted_pipeline) | currency: '$': 0 }}
			%i.fa.fa-caret-up.subtable-arrow
	%td
		{{ (isNetForecast ? row.amount_net : row.amount) | currency: '$': 0 }}
	%td
		{{ row.is_leader ? '--' : ((isNetForecast ? row.gap_to_quota_net : row.gap_to_quota) | currency: '$': 0) }}
	%td
		{{ row.is_leader ? '--' : isFinite((isNetForecast ? row.percent_to_quota_net : row.percent_to_quota)) ? ((isNetForecast ? row.percent_to_quota_net : row.percent_to_quota) | number: 0) + '%' : '--' }}
	%td
		{{ row.is_leader ? '--' : isFinite((isNetForecast ? row.percent_booked_net : row.percent_booked)) ? ((isNetForecast ? row.percent_booked_net : row.percent_booked) | number: 0) + '%' : '--' }}
	%td
		{{ row.is_leader || appliedFilter.product.id || appliedFilter.productFamily.id || isNetForecast ? '--' : row.new_deals_needed }}
	%td
		{{ appliedFilter.product.id || appliedFilter.productFamily.id ? '--' : (row.wow_weighted_pipeline | currency: '$': 0) }}
	%td.center
		{{ appliedFilter.product.id || appliedFilter.productFamily.id ? '--' : (row.wow_revenue | currency: '$': 0) }}
	-#%td
		--
%tr.subtable-row
	%td.auto-colspan
		%div.subtable-wrap.revenue-subtable
			%div.subtable-container
				%div
					%span.title Revenue Summary
					%span.close-btn{'ng-click': 'hideSubtable()'}
				%table.table.subtable.mb10{'ng-if': 'openedSubtable == row && revenues'}
					%thead
						%tr
							%th
								%span.clickable{ ng: { click: 'sort.revenues.toggle("name")' } }
									Io name
									%i{ ng: { class: "{ 'fa': sort.revenues.column == 'name', 'fa-sort-asc': sort.revenues.column == 'name' && sort.revenues.direction == 'asc', 'fa-sort-desc': sort.revenues.column == 'name' && sort.revenues.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.revenues.toggle("advertiser")' } }
									Advertiser
									%i{ ng: { class: "{ 'fa': sort.revenues.column == 'advertiser', 'fa-sort-asc': sort.revenues.column == 'advertiser' && sort.revenues.direction == 'asc', 'fa-sort-desc': sort.revenues.column == 'advertiser' && sort.revenues.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.revenues.toggle("agency")' } }
									Agency
									%i{ ng: { class: "{ 'fa': sort.revenues.column == 'agency', 'fa-sort-asc': sort.revenues.column == 'agency' && sort.revenues.direction == 'asc', 'fa-sort-desc': sort.revenues.column == 'agency' && sort.revenues.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.revenues.toggle("budget")' } }
									Total Budget
									%i{ ng: { class: "{ 'fa': sort.revenues.column == 'budget', 'fa-sort-asc': sort.revenues.column == 'budget' && sort.revenues.direction == 'asc', 'fa-sort-desc': sort.revenues.column == 'budget' && sort.revenues.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.revenues.toggle("sum_period_budget")' } }
									In-Period Amt
									%i{ ng: { class: "{ 'fa': sort.revenues.column == 'sum_period_budget', 'fa-sort-asc': sort.revenues.column == 'sum_period_budget' && sort.revenues.direction == 'asc', 'fa-sort-desc': sort.revenues.column == 'sum_period_budget' && sort.revenues.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.revenues.toggle("split_period_budget")' } }
									Split In-Period Amt
									%i{ ng: { class: "{ 'fa': sort.revenues.column == 'split_period_budget', 'fa-sort-asc': sort.revenues.column == 'split_period_budget' && sort.revenues.direction == 'asc', 'fa-sort-desc': sort.revenues.column == 'split_period_budget' && sort.revenues.direction == 'desc' }" } }
					%tbody
						%tr{ ng: { repeat: 'subrow in revenues' } }
							%td
								%a{ href: '', ng: { href: '/revenue/ios/{{subrow.id}}' } }
									{{ subrow.name }}
							%td {{ subrow.advertiser }}
							%td {{ subrow.agency }}
							%td {{ subrow.budget | currency: '$': 0 }}
							%td {{ subrow.sum_period_budget | currency: '$': 0 }}
							%td {{ subrow.split_period_budget | currency: '$': 0 }}
				%div.mt10
					%span.title PMP Summary
				%table.table.subtable{'ng-if': 'openedSubtable == row && pmp_revenues'}
					%thead
						%tr
							%th
								%span.clickable{ ng: { click: 'sort.pmp_revenues.toggle("name")' } }
									PMP name
									%i{ ng: { class: "{ 'fa': sort.pmp_revenues.column == 'name', 'fa-sort-asc': sort.pmp_revenues.column == 'name' && sort.pmp_revenues.direction == 'asc', 'fa-sort-desc': sort.pmp_revenues.column == 'name' && sort.pmp_revenues.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.pmp_revenues.toggle("advertiser")' } }
									Advertiser
									%i{ ng: { class: "{ 'fa': sort.pmp_revenues.column == 'advertiser', 'fa-sort-asc': sort.pmp_revenues.column == 'advertiser' && sort.pmp_revenues.direction == 'asc', 'fa-sort-desc': sort.pmp_revenues.column == 'advertiser' && sort.pmp_revenues.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.pmp_revenues.toggle("agency")' } }
									Agency
									%i{ ng: { class: "{ 'fa': sort.pmp_revenues.column == 'agency', 'fa-sort-asc': sort.pmp_revenues.column == 'agency' && sort.pmp_revenues.direction == 'asc', 'fa-sort-desc': sort.pmp_revenues.column == 'agency' && sort.pmp_revenues.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.pmp_revenues.toggle("budget")' } }
									Total Budget
									%i{ ng: { class: "{ 'fa': sort.pmp_revenues.column == 'budget', 'fa-sort-asc': sort.pmp_revenues.column == 'budget' && sort.pmp_revenues.direction == 'asc', 'fa-sort-desc': sort.pmp_revenues.column == 'budget' && sort.pmp_revenues.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.pmp_revenues.toggle("sum_period_budget")' } }
									In-Period Amt
									%i{ ng: { class: "{ 'fa': sort.pmp_revenues.column == 'sum_period_budget', 'fa-sort-asc': sort.pmp_revenues.column == 'sum_period_budget' && sort.pmp_revenues.direction == 'asc', 'fa-sort-desc': sort.pmp_revenues.column == 'sum_period_budget' && sort.pmp_revenues.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.pmp_revenues.toggle("split_period_budget")' } }
									Split In-Period Amt
									%i{ ng: { class: "{ 'fa': sort.pmp_revenues.column == 'split_period_budget', 'fa-sort-asc': sort.pmp_revenues.column == 'split_period_budget' && sort.pmp_revenues.direction == 'asc', 'fa-sort-desc': sort.pmp_revenues.column == 'split_period_budget' && sort.pmp_revenues.direction == 'desc' }" } }
					%tbody
						%tr{ ng: { repeat: 'subrow in pmp_revenues' } }
							%td
								%a{ href: '', ng: { href: '/revenue/pmps/{{subrow.id}}' } }
									{{ subrow.name }}
							%td {{ subrow.advertiser }}
							%td {{ subrow.agency }}
							%td {{ subrow.budget | currency: '$': 0 }}
							%td {{ subrow.sum_period_budget | currency: '$': 0 }}
							%td {{ subrow.split_period_budget | currency: '$': 0 }}


		%div.subtable-wrap.pipeline-subtable
			%div.subtable-container
				%div.mb10
					%span.title Deal Summary
					%span.mr8
					%a{ href: '', 'ng-href': '/deals' } Manage Pipeline
					%span.close-btn{'ng-click': 'hideSubtable()'}
				%table.table.subtable{'ng-if': 'openedSubtable == row && weighted_pipeline'}
					%thead
						%tr
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("name")' } }
									Deal name
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'name', 'fa-sort-asc': sort.weighted_pipeline.column == 'name' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'name' && sort.weighted_pipeline.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("client_name")' } }
									Advertiser
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'client_name', 'fa-sort-asc': sort.weighted_pipeline.column == 'client_name' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'client_name' && sort.weighted_pipeline.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("agency_name")' } }
									Agency
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'agency_name', 'fa-sort-asc': sort.weighted_pipeline.column == 'agency_name' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'agency_name' && sort.weighted_pipeline.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("probability")' } }
									{{'%'}}
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'probability', 'fa-sort-asc': sort.weighted_pipeline.column == 'probability' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'probability' && sort.weighted_pipeline.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("budget")' } }
									Budget
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'budget', 'fa-sort-asc': sort.weighted_pipeline.column == 'budget' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'budget' && sort.weighted_pipeline.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("in_period_amt")' } }
									In-Period Amt
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'in_period_amt', 'fa-sort-asc': sort.weighted_pipeline.column == 'in_period_amt' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'in_period_amt' && sort.weighted_pipeline.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("in_period_split_amt")' } }
									Split In-Period<br/>Amt (UW)
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'in_period_split_amt', 'fa-sort-asc': sort.weighted_pipeline.column == 'in_period_split_amt' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'in_period_split_amt' && sort.weighted_pipeline.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("in_period_split_weighted_amt")' } }
									Split In-Period<br/>Amt (W)
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'in_period_split_weighted_amt', 'fa-sort-asc': sort.weighted_pipeline.column == 'in_period_split_weighted_amt' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'in_period_split_weighted_amt' && sort.weighted_pipeline.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("start_date")' } }
									Start Date
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'start_date', 'fa-sort-asc': sort.weighted_pipeline.column == 'start_date' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'start_date' && sort.weighted_pipeline.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("wday_in_stage")' } }
									Stage (d)
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'wday_in_stage', 'fa-sort-asc': sort.weighted_pipeline.column == 'wday_in_stage' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'wday_in_stage' && sort.weighted_pipeline.direction == 'desc' }" } }
							%th
								%span.clickable{ ng: { click: 'sort.weighted_pipeline.toggle("wday_since_opened")' } }
									Opened (d)
									%i{ ng: { class: "{ 'fa': sort.weighted_pipeline.column == 'wday_since_opened', 'fa-sort-asc': sort.weighted_pipeline.column == 'wday_since_opened' && sort.weighted_pipeline.direction == 'asc', 'fa-sort-desc': sort.weighted_pipeline.column == 'wday_since_opened' && sort.weighted_pipeline.direction == 'desc' }" } }
					%tbody
						%tr{ ng: { repeat: 'subrow in weighted_pipeline' } }
							%td
								%a{ href: '', ng: { href: '/deals/{{subrow.id}}' }, tooltip: '{{subrow.name}}'}
									{{ subrow.name.length > 35 ? subrow.name.substr(0, 35) + '...' : subrow.name }}
							%td
								%span{tooltip: '{{subrow.client_name}}'}
									{{ subrow.client_name.length > 25 ? subrow.client_name.substr(0, 25) + '...' : subrow.client_name }}
							%td
								%span{tooltip: '{{subrow.agency_name}}'}
									{{ subrow.agency_name.length > 25 ? subrow.agency_name.substr(0, 25) + '...' : subrow.agency_name }}
							%td {{ subrow.probability }}%
							%td {{ (subrow.budget || 0) | currency: '$': 0 }}
							%td {{ subrow.in_period_amt | currency: '$': 0 }}
							%td {{ subrow.in_period_split_amt | currency: '$': 0 }}
							%td {{ subrow.in_period_split_weighted_amt | currency: '$': 0 }}
							%td {{ subrow.start_date | date: 'MM/dd/yyyy' }}
							%td{ 'ng-class': '{ "success": subrow.wday_in_stage_color == "green", "warning": subrow.wday_in_stage_color == "yellow", "danger": subrow.wday_in_stage_color == "red" }' } {{ subrow.wday_in_stage }}
							%td{ 'ng-class': '{ "success": subrow.wday_since_opened_color == "green", "warning": subrow.wday_since_opened_color == "yellow", "danger": subrow.wday_since_opened_color == "red" }' } {{ subrow.wday_since_opened }}