.block.detail-stats.publisher-stats
  .client-title
    %span.main-title
      {{currentPublisher.name}}
      %i.fa.fa-pencil.edit-deal{'ng-click': 'showEditModal(currentPublisher)'}
      %i.fa.fa-trash.delete-deal{'ng-click': 'delete(currentClient)'}
    .detail-info
      %a{target: "_blank", href: "{{currentPublisher.website}}"}
        {{currentPublisher.website}}
  .stats-body
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Est.Monthly Impressions
          .col-title
            {{currentPublisher.estimated_monthly_impressions}}

    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Actual Monthly Impressions
          .col-title
            {{currentPublisher.actual_monthly_impressions || 0}}
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Fill Rate
          .col-title
            45,2%
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Revenue LifeTime
          .col-title
            $2,450,421
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Revenue YTD
          .col-title
            $12,650,421
