.block
  %div.mb20
    %span.title Team & Split
  %table.table.table-striped
    %thead
      %tr
        %th Member
        %th Role
        %th.member-share
          %div.error-tooltip{'ng-show': 'membersShareInvalid'}
            Sum of the column should be equal 100%
          Share (%)
    %tbody
      %tr{ ng: { repeat: "member in publisherMembers | orderBy: 'name'"} }
