.block
  %div.mb20
    %span.title Team & Split
  %table.table.table-striped
    %thead
      %tr
        %th Member
        %th.left Owner
    %tbody
      %tr{ ng: { repeat: "member in publisherMembers | orderBy: 'name'"} }
        %td
          {{member.name}}
        %td.left
          {{member.owner ? "Yes" : "No"}}
