.block.detail-stats.publisher-stats
  .publisher-title
    %span.main-title
      {{currentPublisher.name}}
      %i.fa.fa-pencil.edit-deal{'ng-click': 'showEditModal(currentPublisher)'}
      %i.fa.fa-trash.delete-deal{'ng-click': 'deletePublisher(currentPublisher)'}
  .detail-info
    %a{target: "_blank", href: "{{currentPublisher.website}}"}
      {{currentPublisher.website}}
  .stats-body
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Est.Monthly Impressions
          .col-title
            {{currentPublisher.estimated_monthly_impressions | formatMoney : ''}}

    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Monthly Impressions (90-day Avg)
          .col-title
            {{currentPublisher.actual_monthly_impressions | formatMoney : ''}}
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Fill Rate (90-day Avg)
          .col-title
            {{currentPublisher.fill_rate}}%
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Revenue LifeTime
          .col-title
            {{ currentPublisher.revenue_lifetime ? (currentPublisher.revenue_lifetime | currency: '$' : '0') : '$0' }}
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Revenue YTD
          .col-title
            {{ currentPublisher.revenue_ytd ? (currentPublisher.revenue_ytd | currency: '$' : '0') : '$0' }}
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Current Stage
          .col-title
            .dropdown
              %button.btn.dropdown-toggle.z-dd-ar{'data-toggle': 'dropdown', type: 'button'}
                %span.title.editable
                  {{currentPublisher.publisher_stage.name || 'Select stage'}}
                  %span.no-wrap-line
                    {{currentPublisher.publisher_stage ? currentPublisher.publisher_stage.probability + '%' : ""}}
                    %span.caret
              %ul.dropdown-menu
                %li{'ng-repeat': 'stage in publisher_stages', 'ng-class': '{active: currentPublisher.publisher_stage.id == stage.id}'}
                  %a{'href': '', 'ng-click': ' currentPublisher.publisher_stage = stage; updatePublisher(currentPublisher)'}
                    %span.text {{stage.name}} {{stage.probability}}%

