.block.contact-info.campaign-details
  %div.mb20
    %span.title Info
    %i.fa.fa-pencil.edit-deal{'ng-click': 'showEditModal(currentPublisher)'}
  %div.custom-field-item
    %div.custom-field-item-label Publisher Type
    .dropdown
      %button.btn.dropdown-toggle.z-dd-ar{'data-toggle': 'dropdown', type: 'button'}
        %span.editable{'ng-class': '{"not-selected": !currentPublisher.type.name}'} {{currentPublisher.type.name || 'Select Type'}}
        %span.caret
      %ul.dropdown-menu
        %li{'ng-repeat': 'type in publisher_types', 'ng-class': '{active: currentPublisher.type.id == type.id}'}
          %a{'href': '', 'ng-click': ' currentPublisher.type = type; updatePublisher(currentPublisher)'}
            %span.text {{type.name}}

  %div.custom-field-item
    %div.custom-field-item-label Comscore
    %z-toggle{'ng-model': 'currentPublisher.comscore', 'ng-change': 'updatePublisher(currentPublisher)', 'ng-click': '$event.stopPropagation()'}

  %div{ng: {repeat: "cf in currentPublisher.publisher_custom_field"}}
    %div.custom-field-item
      %div.custom-field-item-label {{cf.field_label}}
      %span{'ng-if': 'cf.field_type == "datetime"'}
        {{cf.field_value  | date : 'shortDate'}}
      %span{'ng-if': 'cf.field_type != "datetime"'}
        {{cf.field_value}}


