.block.detail-stats.publisher-stats
  .publisher-title
    %span.main-title
      {{currentPublisher.name}}
      %i.fa.fa-pencil.edit-deal{'ng-click': 'showEditModal(currentPublisher)'}
      %i.fa.fa-trash.delete-deal{'ng-click': 'deletePublisher(currentPublisher)'}
    %span.stage-label{'ng-show': 'currentPublisher.publisher_stage'}
      {{currentPublisher.publisher_stage.name}}
  .detail-info
    %a{target: "_blank", href: "{{currentPublisher.website}}"}
      {{currentPublisher.website}}
  .stats-body
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Est.Monthly Impressions
          .col-title
            {{currentPublisher.estimated_monthly_impressions}}

    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Actual Monthly Impressions
          .col-title
            {{currentPublisher.actual_monthly_impressions || 0}}
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Fill Rate
          .col-title
            {{currentPublisher.fill_rate}}%
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Revenue LifeTime
          .col-title
            {{ currentPublisher.revenue_lifetime ? (currentPublisher.revenue_lifetime | currency: '$' : '0') : '$0' }}
    .stats-col
      .col-body-wrap
        .col-body
          .col-description
            Revenue YTD
          .col-title
            {{ currentPublisher.revenue_ytd ? (currentPublisher.revenue_ytd | currency: '$' : '0') : '$0' }}

