#reminders.block
	%div.mb20
		%span.title My Reminders
		-#%add-button
	%div{'ng-hide': 'reminders && reminders.length'}
		No Reminders
	%div{'ng-show': 'reminders && reminders.length'}
		%div.reminder-item{'ng-repeat': 'reminder in reminders'}
			%div.reminder-check
				%i.fa.fa-check-circle-o{'ng-click': 'reminder.completed = true; saveReminder(reminder)'}
			%div.reminder-body
				%p{class: '{{reminder.dateColorClass}}'} {{reminder.remind_on | date:'medium'}}
				%p {{reminder.name}}
				%p {{reminder.comment}}
				%p
					%b {{reminder.remindable_type}} - {{reminder.remindable.name}}

			%div.reminder-control
				%a{href: '', 'ng-click': 'showReminderEditModal(reminder)'}
					Edit
				%a.delete-team{href: '', 'ng-click': 'deleteCurReminder(reminder)'}
					Delete

	%div{'ng-hide': '!completedReminders || !completedReminders.length'}
		%div.reminders-completed-btn{'ng-click': 'showCompleted = !showCompleted'}
			{{showCompleted ? 'Hide' : 'View'}} completed
		%div.reminders-completed-item{'ng-show': 'showCompleted', 'ng-repeat': 'completedReminder in completedReminders'}
			%i.fa.fa-check-circle{'ng-click': 'completedReminder.completed = false; saveReminder(completedReminder)'}
			%span.name {{completedReminder.name}}
			%span.date {{completedReminder.remind_on | date: 'mediumDate'}}
