#stats.block{'ng-controller': 'DashboardStatsController'}
	%div{'ng-hide': 'stats'}
		%h4 Oops! No quota, no commissions.
	%div.stats-body{'ng-show': 'stats'}
		%div.mb40
			%span.title My Stats
			{{test}}
			.time-period
				%span Time period:
				%span{'ng-class': '{active: qtr == 0}', 'ng-click': 'setStats(0)'} This Qtr
				%span{'ng-class': '{active: qtr == 1}', 'ng-click': 'setStats(1)'} Next Qtr

		%div.stats-numbers
			%div.stats-col
				%svg#progress-circle
				.col-body-wrap
					.col-body
						#progress-number.title 0%
						.description Attainment

			%div.stats-col
				.col-body-wrap
					.col-body
						.title {{stats.quota | formatMoney}}
						.description Quota

			%div.stats-col
				.col-body-wrap
					.col-body
						.title {{stats.amount | formatMoney}}
						.description Forecast

			%div.stats-col
				.col-body-wrap
					.col-body
						.title {{stats.gap_to_quota | formatMoney}}
						.description Gap to Goal

			%div.stats-col
				.col-body-wrap
					.col-body
						.title {{stats.new_deals_needed || 0}}
						.description Deals Needed

		#forecast-chart-container
			%h4 Forecast
			%svg#forecast-chart
