#stats.block{'ng-controller': 'DashboardStatsController'}
	%div.custom-field-item-field{'ng-show': 'dashboardIsLoading'}
		%div.loading-pulse
	%div{'ng-show': '!dashboardIsLoading && !dashboard'}
		%span Oops! There was an error while fetching data.
	%div.stats-body{'ng-show': 'dashboard'}
		%div.mb20
			%span.title My Stats
			{{test}}
			.time-period
				%span Time period:
				%span{'ng-class': '{active: qtr == 0}', 'ng-click': 'setStats(0)'} {{ dashboard.forecast.time_period_name || "This Qtr" }}
				%span{'ng-class': '{active: qtr == 1}', 'ng-click': 'setStats(1)'} {{ dashboard.next_quarter_forecast.time_period_name || "Next Qtr" }}
				%span{'ng-class': '{active: qtr == 2}', 'ng-click': 'setStats(2)'} {{ dashboard.this_year_forecast.time_period_name || "Full Year" }}

		%div{'ng-hide': 'stats'}
			%span.title Oops! Time period not found.
		%div.stats-body{'ng-show': 'stats'}
			%div.stats-numbers
				%div.stats-col
					%svg#progress-circle
					.col-body-wrap
						.col-body
							#progress-number.title 0%
							.description Attainment

				%div.stats-col
					.col-body-wrap
						.col-body
							.title {{stats.quota | formatMoney}}
							.description Quota

				%div.stats-col
					.col-body-wrap
						.col-body
							.title {{stats.amount | formatMoney}}
							.description Forecast

				%div.stats-col
					.col-body-wrap
						.col-body
							.title{'ng-if': 'stats.gap_to_quota >= 0'}
								{{stats.gap_to_quota | formatMoney}}
							.title{'ng-if': 'stats.gap_to_quota < 0'}
								({{-(stats.gap_to_quota) | formatMoney}})
							.description Gap to Goal

				%div.stats-col
					.col-body-wrap
						.col-body
							.title {{stats.new_deals_needed || 0}}
							.description Deals Needed

			#forecast-chart-container
				%h4 Forecast
				%svg#forecast-chart
