#unassigned-contacts.block
	%div.mb20
		%span.title Unassigned Contacts

	%div.contact{'ng-repeat': 'contact in unassignedContacts'}
		%button.btn.btn-primary.btn-lg{ ng: { click: 'showEditModal(contact)' } }
			= inline_svg "icons/client-meeting.svg"
			Assign
		%i.fa.fa-trash.delete-item{'ng-click': 'deleteUnassignedContact(contact)'}
		%label Email:
		%p {{contact.address.email}}
		%label{ for: 'contact-name-{{ contact.id }}' } Name:
		%p {{ contact.name }}
		-# %input{id: 'contact-name-{{ contact.id }}', type: 'text', 'ng-model': 'contact.name', placeholder: 'Enter name', 'ng-blur': 'saveCurrentContact(contact)'}
		%p{'ng-if': 'contact.name==contact.address.email'}
			Name cannot match email address

	%div.undo{ 'ng-if': "contactActionLog.length > 0" }
		%div{ 'ng-repeat': "log in contactActionLog" }
			%strong {{log.previousContact.name}}
			{{log.message ? " assigned to " : "unassigned."}}
			%strong{ ng: { if: 'log.message' } } {{log.message}}.
			%a{ href:"javascript:void(0)", ng: { click: "undoAssignContact(log.previousContact)", if: 'log.message !== ""' } }
				Undo