.deals.block
    %div.mb20
        %span.title Deals
        %add-button{'ng-click': 'showNewDealModal()'} Add

    %table.table.table-striped
        %thead
            %tr
                %th.left Name
                %th.left Budget
                %th.left Stage
                %th.left Probability
                %th.left Start Date
                %th.left End Date
        %tbody
            %tr{ ng: { repeat: 'client_deal in currentClient.deals'} }
                %td
                    %a{'ng-href': '/deals/{{client_deal.id}}'} {{ client_deal.name }}
                %td
                    {{ client_deal.budget }}
                %td
                    {{ client_deal.stage.name }}
                %td
                    {{ client_deal.stage.probability }}
                %td
                    {{ client_deal.start_date }}
                %td
                    {{ client_deal.end_date }}