.contacts.block
    %div.mb20
        %span.title Agency Contacts
        %add-button{'ng-click': 'showNewAccountConnectionContactModal()'} Add

    %table.table.table-striped
        %thead
            %tr
                %th.left Name
                %th.left Agency
                %th.left Position
                %th.left Email
                %th.left Phone
                %th.left Status
        %tbody
            %tr{ ng: { repeat: 'connected_contact in connected_contacts'} }
                %td
                    %a{'ng-href': '/contacts/{{connected_contact.id}}'} {{ connected_contact.name }}
                    %i.fa.fa-trash.delete-deal{'ng-click': 'deleteAccountConnectionContact(connected_contact)'}
                %td
                    %a{'ng-href': '/accounts/{{connected_contact.client.id}}'}
                        {{ connected_contact.client.name }}
                %td
                    {{ connected_contact.position }}
                %td
                    {{ connected_contact.address.email }}
                %td
                    {{ connected_contact.address.phone }}
                %td.left
                    {{ connected_contact.status }}