.contacts.block
    %div.mb20
        %span.title {{ currentClient.client_type.option.name == 'Advertiser' ? 'Related Agency Contacts' : 'Agency Contacts & Related Advertisers' }}
        %add-button{ng: {if: 'currentClient.client_type.option.name == "Advertiser"', click: 'showNewAccountConnectionContactModal()'} } Add

    %table.table.table-striped
        %thead
            %tr.z-sortable-prime{'sort-name': 'connected_client_contacts', watch: '"connected_client_contacts"'}
                %th
                    .z-sortable{ by: 'contact.name' } Name
                %th
                    .z-sortable{ by: 'client.name' } {{ isAdvertiser ? 'Agency' : 'Advertiser' }}
                %th
                    .z-sortable{ by: 'contact.position' } Position
                %th
                    .z-sortable{ by: 'contact.address.email' } Email
                %th
                    .z-sortable{ by: 'contact.address.mobile' } Phone
                %th
                    .z-sortable{ by: 'is_active' } Status
        %tbody
            %tr{ ng: { repeat: 'client_contact in connected_client_contacts | orderBy : zSort.connected_client_contacts.by : zSort.connected_client_contacts.rev'} }
                %td
                    %a{'ng-href': '/contacts/{{client_contact.contact.id}}', target: '_blank'} {{ client_contact.contact.name }}
                    %i.fa.fa-trash.delete-deal{'ng-click': 'deleteAccountConnectionContact(client_contact)'}
                %td{ng: {if: 'isAdvertiser'}}
                    %a{'ng-href': '/accounts/{{client_contact.contact.primary_client.id}}', target: '_blank'}
                        {{ client_contact.contact.primary_client.name }}
                %td{ng: {if: 'isAgency'}}
                    %a{'ng-href': '/accounts/{{client_contact.client.id}}', target: '_blank'}
                        {{ client_contact.client.name }}
                %td
                    {{ client_contact.contact.position }}
                %td
                    {{ client_contact.contact.address.email }}
                %td
                    {{ client_contact.contact.address.mobile }}
                %td.left
                    .dropdown
                        %button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
                            %span.editable
                                {{client_contact.is_active ? 'Active' : 'Inactive'}}
                            %span.caret
                        %ul.dropdown-menu
                            %li{'ng-class': '{active: client_contact.is_active == true}'}
                                %a{'href': '', 'ng-click': 'updateClientContactStatus(client_contact, true)'}
                                    %span.text Active
                            %li{'ng-class': '{active: client_contact.is_active == false}'}
                                %a{'href': '', 'ng-click': 'updateClientContactStatus(client_contact, false)'}
                                    %span.text Inactive

    .custom-pagination{'bgf-pagination': 'bgf-pagination',
        'collection': 'connected_client_contacts',
        'per-page': '10',
        'link-group-size': "2",
        'client-limit': "100",
        'url': 'connectedClientContactUrl'}
