.deals.block
    %div.mb20
        %span.title Deals
        %add-button{'ng-click': 'showNewDealModal()'} Add

    %table.table.table-striped
        %thead
            %tr
                %th.left Name
                %th.right.budget-field Budget
                %th.left Stage
                %th.left Probability
                %th.left Start Date
                %th.left End Date
        %tbody
            %tr{ ng: { repeat: 'client_deal in deals'} }
                %td
                    %a{'ng-href': '/deals/{{client_deal.id}}'} {{ client_deal.name }}
                %td.right.budget-field
                    {{ client_deal.budget_loc | currency:client_deal.curr_symbol:0 }}
                %td
                    {{ client_deal.stage.name }}
                %td
                    {{ client_deal.stage.probability }}
                %td
                    {{ client_deal.start_date | date: 'MM/dd/yyyy' }}
                %td.left
                    {{ client_deal.end_date | date: 'MM/dd/yyyy' }}