.contacts.block
    %div.mb20
        %span.title Agency Contacts
        %add-button{'ng-click': 'showNewAccountConnectionModal()'} Add

    %table.table.table-striped
        %thead
            %tr
                %th.left Name
                %th.left Agency
                %th.left Position
                %th.left Email
                %th.left Phone
        %tbody
            %tr{ ng: { repeat: 'connected_contact in currentClient.connected_contacts'} }
                %td
                    %a{'ng-href': '/contacts/{{connected_contact.id}}'} {{ connected_contact.name }}
                    %i.fa.fa-pencil.edit-deal{'ng-click': 'showEditContactModal(connected_contact)'}
                %td
                    %a{'ng-href': '/accounts/{{connected_contact.client.id}}'}
                        {{ connected_contact.client.name }}
                %td
                    {{ connected_contact.position }}
                %td
                    {{ connected_contact.address.email }}
                %td
                    {{ connected_contact.address.phone }}