%div.z-filter
	.element-to-replace
	%div.z-filter-field
		%div.field-name
			%span.reset-filter{'ng-click': 'resetFilter()'} Reset
	%div.z-filter-field
		%button.add-btn{'ng-click': 'applyFilter()', 'ng-class': '{highlighted: !isFilterApplied}'}
			Run Report