%div.z-filter-field{'ng-switch': 'type'}
	%div.field-name
		.element-to-replace
	-#DEFAULT FIELD
	%div.field-value{'ng-switch-when': 'list'}
		%div{dropdown: true}
			%span.z-loading{'ng-hide': 'data.length || data.$resolved'}
			%div{'dropdown-toggle': true, 'ng-show': 'data.length || data.$resolved', 'ng-class': '{"empty": !selected.id}' }
				{{selected.name || (isAll ? 'All' : 'Select')}}
				%i.fa.fa-times.close-btn{'ng-show': 'selected.name', 'ng-click': 'removeFilter($event)'}
				%span.caret
			%div.dropdown-menu
				%div{'ng-if': 'isAll'}
					%span.item{'ng-click': 'setFilter(null)', 'ng-class': '{active: !selected.id}'}
						All
				%div{ng: {repeat: 'item in data | orderBy : (orderBy || "name") track by $index'}}
					%span.item{'ng-click': 'setFilter(item)', 'ng-class': '{active: item.id === selected.id}'}
						{{item.name}}
	-#MULTISELECT FIELD
	%div.field-value.multiselect-field{'ng-switch-when': 'multiselect'}
		%div{ dropdown: true }
			%span.z-loading{'ng-hide': 'data.length || data.$resolved'}
			%div{'dropdown-toggle': true, 'ng-show': 'data.length || data.$resolved', 'ng-class': '{"empty": selected.length == 0}' }
				%span{'ng-if': '!selected.length'}
					{{isAll ? 'All' : 'Select'}}
				%span{'ng-if': 'selected.length', 'ng-repeat': 'item in selected track by $index'}
					{{item.name}}
					%i.fa.fa-times.close-btn{'ng-click': 'removeFilter($event, item)'}
				%span.caret
			%div.dropdown-menu{'ng-hide': '!data || !data.length'}
				.multiselect multiselect
				%div{'ng-if': 'isAll'}
					%span.item{'ng-click': 'setFilter(null)', 'ng-class': '{active: !selected.length}'}
						All
				%div{ng: { repeat: 'item in data | orderBy : (orderBy || "name") track by $index'}}
					%span.item{ng: { click: 'setFilter(item)', class: '{active: isStageSelected(item.id)}'}}
						{{item.name}}
	-#STAGE FIELD
	%div.field-value.multiselect-field{'ng-switch-when': 'stage'}
		%div{ dropdown: true }
			%span.z-loading{'ng-hide': 'data.length || data.$resolved'}
			%div{'dropdown-toggle': true, 'ng-show': 'data.length || data.$resolved', 'ng-class': '{"empty": selected.length == 0}' }
				%span{'ng-if': '!selected.length'}
					{{isAll ? 'All' : 'Select'}}
				%span{'ng-if': 'selected.length', 'ng-repeat': 'stage in selected track by $index'}
					{{stage.name}} {{stage.probability + '%'}}
					%i.fa.fa-times.close-btn{'ng-click': 'removeFilter($event, stage)'}
				%span.caret
			%div.dropdown-menu{'ng-hide': '!data || !data.length'}
				.multiselect multiselect
				%div{'ng-if': 'isAll'}
					%span.item{'ng-click': 'setFilter(null)', 'ng-class': '{active: !selected.length}'}
						All
				%div{ng: { repeat: 'stage in data | orderBy: ["-open", "probability"] track by $index'}}
					%span.item{ng: { click: 'setFilter(stage)', class: '{active: isStageSelected(stage.id)}'}}
						{{stage.name}} {{isFinite(stage.probability) ? stage.probability + '%' : ''}}
	-#TEAM FIELD
	%div.field-value{'ng-switch-when': 'team'}
		%div{dropdown: true}
			%span.z-loading{'ng-hide': 'data.length || data.$resolved'}
			%div{'dropdown-toggle': true, 'ng-show': 'data.length || data.$resolved', 'ng-class': '{"empty": !selected.id}' }
				{{selected.name || (isAll ? 'All' : 'Select')}}
				%i.fa.fa-times.close-btn{'ng-show': 'selected.name', 'ng-click': 'removeFilter($event)'}
				%span.caret
			%div.dropdown-menu{'ng-hide': '!data || !data.length'}
				%div{'ng-if': 'isAll'}
					%span.item{'ng-click': 'setFilter(null)', 'ng-class': '{active: !selected.id}'}
						All
				%div{ng: {repeat: 'item in data track by $index| orderBy : "name"', include: '"modules/z_filter_field_row.html"'}}

	-#DATERANGE FIELD
	%div.field-value{'ng-switch-when': 'daterange'}
		.date-picker-wrap
			%div.date-picker{'date-range-picker': true,
							   'ng-model': 'selected.date',
							   :options => "{locale: {format: 'MMMM D, YYYY'},
											 eventHandlers: {'apply.daterangepicker': datePicker.apply}}"}
				%span.empty{'ng-hide': 'selected.dateString'}
					Time period
					%span.caret
				%span{'ng-show': 'selected.dateString'}
					{{selected.dateString}}
					%i.fa.fa-times.close-btn{'ng-click': 'removeFilter($event)'}
					%span.caret