#activities-feed.table-wrapper
  %table.table.table-striped.black-table
    %thead
      %tr
        %th.left.pad4 {{ feedName }}
    %tbody
      %tr.feed-repeat{ ng: { repeat: "object in activity_objects | orderBy: '-activity_updated_at'"} }
        %td
          %table.table.table-striped.black-table
            %thead
              %tr
                %th.left.pad4
                  .col-xs-10
                    %a{ href: '', ng: { href: '/deals/{{object.id}}', if: 'object.stage !== undefined' } }
                      {{ object.formatted_name }}
                    %a{ href: '', ng: { href: '/clients', if: 'object.stage == undefined' } }
                      {{ object.formatted_name }}
                  .col-xs-1.pad6
                    %a{ href: '', ng: { click: 'object.show = true' } }
                      +
                    %span.s1
                      &nbsp;&#47;&nbsp;
                    %a{ href: '', ng: { click: 'object.show = false' } }
                      \-
            %tbody{ ng: { show: 'object.show' } }
              %tr{ ng: { repeat: "activity in object.activities | orderBy: '-happened_at' | limitTo:object.currentLimit"} }
                %td
                  .col-xs-2.pad1
                    .row.act
                      {{ activity.happened_at | date: 'shortDate' }}
                  .col-xs-1.pad2
                    %img.s-img{:src => "{{ getType(activity.activity_type).icon }}"}/
                  .col-xs-9.pad3
                    .row.act
                      %span
                        {{ activity.creator.first_name }} {{ activity.creator.last_name }} 
                      {{ getType(activity.activity_type).action }}
                      %span
                        {{ activity.contact.name }}
                    .row
                      {{ activity.comment }}
              %tr
                %td
                  %button.btn{"ng-click" => "object.currentLimit=object.currentLimit+moreSize", "ng-disabled" => "object.currentLimit >= object.activities.length"}
                    More
