#activities-feed.table-wrapper
  %table.table.table-striped.black-table
    %thead
      %tr
        %th.left.pad4 {{ feedName }}
    %tbody
      %tr{ ng: { repeat: "activity in activities | orderBy: '-happened_at'"} }
        %td
          .col-xs-2.pad1
            .row.act
              {{ activity.happened_at | date: 'shortDate' }}
          .col-xs-1.pad2
            %img.s-img{:src => "{{ activity.activity_type.icon }}"}/
          .col-xs-8.pad3
            .row.act
              %span
                {{ activity.creator.first_name }} {{ activity.creator.last_name }} 
              {{ activity.activity_type.action }}
              %span{ 'ng-repeat': 'contact in activity.contacts' }
                {{ $first ? '' : $last ? '& ' : ''}}{{ contact.name }}{{ $last ? '' : ', ' }}
            .row
              {{ activity.comment }}
          .col-xs-1.pad4
            %a#edit-contact{ href: '', ng: { click: 'showActivityEditModal(activity)' } }
              = inline_svg 'icons/edit.svg'
            %br
            %a.delete-team{ href: '', ng: { click: 'deleteActivity(activity)' } }
              = inline_svg 'icons/trash.svg'