#advertisers-list
  .panel.item-advertisers{ng: { repeat: 'client in currentClient.relatedContacts' } }
    .panel-heading.hide-detail-wrap
      .show-people
        %label.trigger-click{"ng-click" => "editShow = !editShow", "ng-show" => "!editShow"}
          = inline_svg 'icons/hide-details.svg'
        %label.trigger-click{"ng-click" => "editShow = !editShow", "ng-show" => "editShow"}
          = inline_svg 'icons/show-details.svg'

      .text-wrap

        %span.company-name
          {{ client.name }}
        %span.city
          {{ client.formatted_name }}
        %br
        %span.count-of-people
          {{ client.contacts.length }} people

    .panel-body.details{ ng: {show: 'editShow'}}
      %div.data-section-wrapper
        %div.user-data{ng: { repeat: 'contact in client.contacts' } }
          %span.name
            {{ contact.name }}
          %span.city
            {{ contact.address.city }}
          %span.email
            {{ contact.address.email }}
          %span.phone-number
            {{ contact.address.phone }}