#activities-feed.table-wrapper
  %table.table.table-striped.black-table
    %thead
      %tr
        %th.left.pad4 {{ feedName }}
    %tbody
      %tr{ ng: { repeat: "activity in currentContact.activities | orderBy: '-happened_at'"} }
        %td
          .col-xs-2.pad1
            .row.act
              {{ activity.happened_at | date: 'shortDate' }}
          .col-xs-1.pad2
            %img.s-img{:src => "{{ getType(activity.activity_type_name).icon }}"}/
          .col-xs-9.pad3
            .row.act
              %span
                {{ activity.creator.first_name }} {{ activity.creator.last_name }} 
              {{ getType(activity.activity_type_name).action }}
              %span
                {{ activity.contact.name }}
            .row
              {{ activity.comment }}
