#activities
  %form{ name: 'activityForm', ng: { submit: 'submitForm()' } }
    #note
      %textarea.box.w1{:cols => "30", :name => "reply", :rows => '2', placeholder: 'Type your update here', ng: { model: 'currentClient.activity.comment' } }

    #nav.transparent
      %ul.nav.nav-tabs
        %li{ ng: { class: "{ active: currentClient.activity.activeTab }" } }
          %a.link{ href: '', ng: { click: 'currentClient.activity.activeTab = true' } }
            = inline_svg 'icons/message.svg'
        %li.pull-right
          %button.btn.btn-primary.btn-block{ type: 'submit' } Post Update

    #contain.tab{ ng: { show: 'currentClient.activity.activeTab' } }
      .row
        %a.close{ ng: { click: 'cancelActivity(currentClient)' } }
          %span{'aria-hidden' => 'true'}
            = inline_svg 'icons/close.svg'
      .row
        .col-xs-4
          .list-group.list-sm.stages
            %a.list-group-item.vertical-center.type-menu{ href: '', ng: { repeat: 'type in types', click: 'currentClient.activeType = type', class: '{ active: currentClient.activeType == type }' } }
              %img.s-img{:src => "{{ type.icon }}"}/
              %h5
                {{ type.name }}
        .col-xs-6
          #contain1{ ng: { repeat: 'type in types', show: 'currentClient.activeType == type' } }
            .row.type1
              %a#add-contact{ href: '', ng: { click: 'createNewContactModal()' } }
                = inline_svg 'icons/add.svg'
              {{ type.action }}*
              %br
              %input.box.w4{ placeholder: 'Type a name', ng: { model: 'currentClient.selected[type.name].contact' }, type: 'text', typeahead: 'item as item.name for item in searchContact($viewValue)' }
            .row.type2
              Date
              %br
              %span.bs-datepicker
                %input.box.w4{ name: 'date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'currentClient.selected[type.name].date', required: true, click: 'callDateOpened = true' }, 'is-open': 'callDateOpened' }
            .row.type2
              Time
              %timepicker-pop.input-group{"input-time" => "currentClient.selected[type.name].time", "show-meridian" => "showMeridian"}
