.table-wrapper
  %table.table.table-hover
    %thead
      %tr.z-sortable-prime{'z-fixed-header': true, watch: '"activities"'}
        %th.left{width: "120"}
          .z-sortable{by: '-happened_at', default: true}
            Date
        %th.left{width: "130"}
          .z-sortable{by: 'activity_type_name'}
            Type
        %th.left{width: "auto"}
          .z-sortable{by: 'comment'}
            Comments
        %th.left{width: "150"}
          .z-sortable{by: 'client.name'}
            Advertiser
        %th.left{width: "150"}
          .z-sortable{by: 'agency.name'}
            Agency
        %th.left{width: "150"}
          .z-sortable{by: 'contacts[0].name'}
            Contact
        %th.left{width: "150"}
          .z-sortable{by: 'deal.name'}
            Deal
        %th.left{width: "150"}
          .z-sortable{by: 'publisher.name'}
            Publisher
        %th.left{width: "150"}
          .z-sortable{by: 'creator.first_name'}
            Creator
        %th.left{width: "150"}
          .z-sortable{by: 'team_creator'}
            Team
        %th{ng: {repeat: 'cf in customFieldNames'}}
          {{ cf.field_label }}
    %tbody
      %tr{ ng: { if: 'activities.length > 0', repeat: 'activity in activities | orderBy : zSort.by : zSort.rev' } }
        %td.left.nowrap
          {{ activity.happened_at | date: 'MM-dd-yyyy' }}
          %i.fa.fa-pencil.z-icon.mr8{'ng-click': 'showActivityEditModal(activity)'}
        %td.left {{ activity.activity_type_name }}
        %td.left
          %div.long-comment{ng: {if: '!isTextHasTags(activity.comment) && activity.activity_type.name != "Email"', 'text-truncate': 'activity.comment', 'tt-chars-threshold': '250'}}
          %div.long-comment{'ng-if': 'isTextHasTags(activity.comment) || activity.activity_type.name == "Email"'}
            %p{'ng-if': 'activity.comment.length <= 250','ng-bind-html': 'getHtml(activity.comment)'}
            %button.btn.activity-email-btn{'ng-if': 'activity.comment.length > 250', 'ng-click': 'showEmailsModal(activity, $event)'}
              Show email
        %td.left
          %a{'ng-href': '/accounts/{{activity.client.id}}', target: '_blank'} {{ activity.client.name }}
        %td.left
          %a{'ng-href': '/accounts/{{activity.agency.id}}', target: '_blank'} {{ activity.agency.name }}
        %td.left
          %div{ ng: { repeat: 'contact in activity.contacts' } }
            %a{'ng-href': '/contacts/{{contact.id}}', target: '_blank'} {{ contact.name }}
        %td.left
          %a{'ng-href': '/deals/{{activity.deal.id}}', target: '_blank'} {{ activity.deal.name }}
        %td.left
          %a{'ng-href': '/publishers/{{activity.publisher.id}}', target: '_blank'} {{ activity.publisher.name }}
        %td.left {{ activity.creator.first_name + " " + activity.creator.last_name }}
        %td.left {{ activity.team_creator }}
        %td{ng: {repeat: 'cf in customFieldNames', init: "fieldName = cf.field_name"}}
          %div.custom-field-item-field{"ng-if": "cf.field_type == 'boolean'"}
            {{activity.custom_field[fieldName] ? 'Active' : 'Inactive' }}
          %div.custom-field-item-field{'ng-if': 'cf.field_type == "datetime"'}
            {{activity.custom_field[fieldName]  | date : 'shortDate'}}
          %div.custom-field-item-field{'ng-if': 'cf.field_type != "datetime" && cf.field_type != "boolean"'}
            {{activity.custom_field[fieldName]}}
      %tr{ ng: { if: 'activities.length == 0' }}
        %td.center.auto-colspan
          No Data for the Filters Selected
