#activities-feed.table-wrapper
  -#%div.pull-left
  %h4.pull-left
    {{ feedName }}
  %div{ class: "pull-right activity-filter" }
    %div{ ng: { repeat: 'filter in activityFilters', class: '{active: filter.name == activityFilter.name}', click: 'filterActivities(filter)' } }
      {{ filter.name }}

  %table.table.table-striped.black-table
    %tbody
      %tr{ ng: { repeat: "activity in activities | orderBy: '-happened_at'"} }
        %td
          .col-xs-2.pad1
            .row.act
              {{ activity.happened_at | date: 'shortDate' }}
          .col-xs-1.pad2
            %img.s-img{:src => "{{ getType(activity.activity_type_name).icon }}"}/
          .col-xs-8.pad3b
            .row.act
              %span
                {{ activity.creator.first_name }} {{ activity.creator.last_name }}
              {{ getType(activity.activity_type_name).action }}
              %span{ 'ng-repeat': 'contact in activity.contacts' }
                {{ $first ? '' : $last ? '& ' : ''}}{{ contact.name }}{{ $last ? '' : ', ' }}
            .row{ 'ng-if': "activity.client || activity.deal" }
              %span{ 'ng-if': "activity.client" }
                Client:
                %a{ href: '', ng: { href: '/clients/{{activity.client.id}}' } }
                  {{activity.client.name}}
              %span{ 'ng-if': "activity.deal" }
                Deal:
                %a{ href: '', ng: { href: '/clients/{{activity.deal.id}}' } }
                  {{activity.deal.name}}
            .row
              %div.long-text{ 'ng-bind-html': "getHtml(activity.comment)"}
            .row.attachments
              %div{'ng-repeat': "asset in activity.assets"}
                %a{href: "{{asset.presigned_url}}", target: "_blank"}
                  {{asset.original_file_name}}
          .col-xs-1
            %a#edit-contact{ href: '', ng: { click: 'showActivityEditModal(activity)' } }
              = inline_svg 'icons/edit.svg'
            %br
            %a.delete-team{ href: '', ng: { click: 'deleteActivity(activity)' } }
              = inline_svg 'icons/trash.svg'

%div.pull-right{'ng-if': "hasMoreActivities"}
  %a{ href: "javascript:void(0);", 'ng-click': "loadMoreActivities()" }
    {{loadMoreActivitiesText}}
%br
%br