%tr
  %td.left
    %i{ ng: { click: 'toggleRow(bp_estimate.id)', class: "{ 'fa fa-chevron-up toggle-icon': toggleId == bp_estimate.id, 'fa fa-chevron-down toggle-icon': toggleId != bp_estimate.id }" } }
    {{bp_estimate.client_name}}
  %td.left
    {{bp_estimate.user_name}}
    %a.unassign-bp-estimates.pull-right{ href: '', ng: { if: 'bp_estimate.user_id != null',click: 'unassignBpEstimate(bp_estimate)' } }
      = inline_svg 'icons/trash.svg'
  %td
    {{ bp_estimate.pipeline | currency:'$':0 }}
  %td
    {{ bp_estimate.revenue | currency:'$':0 }}
  %td
    %div{'click-to-edit':'click-to-edit', type: "number", prefix: '$', 'ng-model': "bp_estimate.estimate_seller", 'on-after-save': 'updateBpEstimateProduct(bp_estimate)'}
  %td
    %div{'click-to-edit':'click-to-edit', type: "number", prefix: '$', 'ng-model': "bp_estimate.estimate_mgr", 'on-after-save': 'updateBpEstimateProduct(bp_estimate)'}
  %td
    {{ bp_estimate.year_revenue | currency:'$':0 }}
  %td
    %span{'ng-if': 'bp_estimate.estimate_seller == null || bp_estimate.estimate_seller <= 0 || bp_estimate.year_revenue <= 0'}
      {{"-"}}
    %span.positive{'ng-if': 'bp_estimate.estimate_seller > 0 && bp_estimate.year_revenue > 0  && bp_estimate.estimate_seller > bp_estimate.year_revenue'}
      {{ bp_estimate.year_change | number:0 }}%
    %span.negative{'ng-if': 'bp_estimate.estimate_seller > 0 && bp_estimate.year_revenue > 0  && bp_estimate.estimate_seller < bp_estimate.year_revenue'}
      {{ bp_estimate.year_change | number:0 }}%
  %td
    {{ bp_estimate.prev_revenue | currency:'$':0 }}
  %td
    %span{'ng-if': 'bp_estimate.estimate_seller == null || bp_estimate.estimate_seller <= 0 || bp_estimate.prev_revenue <= 0'}
      {{"-"}}
    %span.positive{'ng-if': 'bp_estimate.estimate_seller > 0 && bp_estimate.prev_revenue > 0  && bp_estimate.estimate_seller >= bp_estimate.prev_revenue'}
      {{ bp_estimate.prev_year_change | number:0 }}%
    %span.negative{'ng-if': 'bp_estimate.estimate_seller > 0 && bp_estimate.prev_revenue > 0  && bp_estimate.estimate_seller < bp_estimate.prev_revenue'}
      {{ bp_estimate.prev_year_change | number:0 }}%

%tr.bp-estimate-detail{ ng: { if: 'toggleId == bp_estimate.id' } }
  %td.bp-estimate-wrapper.left{ colspan: '3' }
    .bp-estimate-attribute
      .attr-label
        Objectives
      .attr-value
        %textarea.text-focus-field{ rows: 4, placeholder: 'Enter Objectives', 'ng-model': 'bp_estimate.objectives', 'ng-blur': 'updateBpEstimate(bp_estimate)'}
    .bp-estimate-attribute
      .attr-label
        Assumptions
      .attr-value
        %textarea.text-focus-field{ rows: 4, placeholder: 'Enter Assumptions', 'ng-model': 'bp_estimate.assumptions', 'ng-blur': 'updateBpEstimate(bp_estimate)'}
  %td.bp-estimate-product-list.left{ colspan: "3"}
    %table.detail
      %tbody
        %tr
          %th.left{ width: "125" }
            Products
          %th{ width: "150" }
            {{selectedBP.time_period.name}} Estimate
          %th{ width: "168" }
            Mgr Estimate
        %tr{ ng: { repeat: 'bp_estimate_product in bp_estimate.bp_estimate_products' } }
          %td.left {{ bp_estimate_product.product.name }}
          %td
            %div{'click-to-edit':'click-to-edit', type: "number", prefix: '$', 'ng-model': "bp_estimate_product.estimate_seller", 'on-after-save': 'updateBpEstimateProduct(bp_estimate)'}
          %td
            %div{'click-to-edit':'click-to-edit', type: "number", prefix: '$', 'ng-model': "bp_estimate_product.estimate_mgr", 'on-after-save': 'updateBpEstimateProduct(bp_estimate)'}

  %td{ colspan: "4"}