%tr
  %td.left
    %i{ ng: { click: 'toggleRow(bp_estimate.id)', class: "{ 'fa fa-chevron-up toggle-icon': toggleId == bp_estimate.id, 'fa fa-chevron-down toggle-icon': toggleId != bp_estimate.id }" } }
    {{bp_estimate.client_name}}
  %td.left
    {{bp_estimate.user_name}}
  %td
    {{ bp_estimate.pipeline | currency:'$':0 }}
  %td
    {{ bp_estimate.revenue | currency:'$':0 }}
  %td
    $
    %input.money-field{type: 'number', placeholder: 0, 'ng-model': 'bp_estimate.estimate_seller', 'ng-blur': 'updateBpEstimate(bp_estimate)'}
  %td
    $
    %input.money-field{type: 'number', placeholder: 0, 'ng-model': 'bp_estimate.estimate_mgr', 'ng-blur': 'updateBpEstimate(bp_estimate)'}
  %td
    {{ bp_estimate.year_revenue | currency:'$':0 }}
  %td
    %span{'ng-if': 'bp_estimate.estimate_seller == null || bp_estimate.estimate_seller <= 0 || bp_estimate.year_revenue <= 0'}
      {{"-"}}
    %span.positive{'ng-if': 'bp_estimate.estimate_seller > 0 && bp_estimate.year_revenue > 0  && bp_estimate.estimate_seller > bp_estimate.year_revenue'}
      {{ (bp_estimate.estimate_seller / bp_estimate.year_revenue - 1) * 100 | number:2 }}%
    %span.negative{'ng-if': 'bp_estimate.estimate_seller > 0 && bp_estimate.year_revenue > 0  && bp_estimate.estimate_seller < bp_estimate.year_revenue'}
      {{ (bp_estimate.estimate_seller / bp_estimate.year_revenue - 1) * 100 | number:2 }}%
  %td
    {{ bp_estimate.prev_revenue | currency:'$':0 }}
  %td
    %span{'ng-if': 'bp_estimate.estimate_seller == null || bp_estimate.estimate_seller <= 0 || bp_estimate.prev_revenue <= 0'}
      {{"-"}}
    %span.positive{'ng-if': 'bp_estimate.estimate_seller > 0 && bp_estimate.prev_revenue > 0  && bp_estimate.estimate_seller >= bp_estimate.prev_revenue'}
      {{ (bp_estimate.estimate_seller / bp_estimate.prev_revenue - 1) * 100 | number:2 }}%
    %span.negative{'ng-if': 'bp_estimate.estimate_seller > 0 && bp_estimate.prev_revenue > 0  && bp_estimate.estimate_seller < bp_estimate.prev_revenue'}
      {{ (bp_estimate.estimate_seller / bp_estimate.prev_revenue - 1) * 100 | number:2 }}%

%tr.bp-estimate-detail{ ng: { if: 'toggleId == bp_estimate.id' } }
  %td.bp-estimate-wrapper.left
    .bp-estimate-attribute
      .attr-label
        Objectives
      .attr-value
        %input.text-focus-field{type: 'text', placeholder: 'Enter Objectives', 'ng-model': 'bp_estimate.objectives', 'ng-blur': 'updateBpEstimate(bp_estimate)'}
    .bp-estimate-attribute
      .attr-label
        Assumptions
      .attr-value
        %input.text-focus-field{type: 'text', placeholder: 'Enter Objectives', 'ng-model': 'bp_estimate.assumptions', 'ng-blur': 'updateBpEstimate(bp_estimate)'}
  %td.bp-estimate-product-list.left{ colspan: "3"}
    %table.detail
      %tbody
        %tr
          %th{ width: '180' }
            Products
          %th.center
            {{selectedBP.time_period.name}} Estimate
          %th.center
            Mgr Estimate
        %tr{ ng: { repeat: 'bp_estimate_product in bp_estimate.bp_estimate_products' } }
          %td {{ bp_estimate_product.product.name }}
          %td
            $
            %input.money-field{type: 'number', placeholder: 0, 'ng-model': 'bp_estimate_product.estimate_seller', 'ng-blur': 'updateBpEstimateProduct(bp_estimate)'}
          %td
            $
            %input.money-field{type: 'number', placeholder: 0, 'ng-model': 'bp_estimate_product.estimate_mgr', 'ng-blur': 'updateBpEstimateProduct(bp_estimate)'}
        %tr
          %td Total
          %td
            {{ totalSum(bp_estimate.bp_estimate_products, 'estimate_seller') | currency:'$':0 }}

          %td
            {{ totalSum(bp_estimate.bp_estimate_products, 'estimate_mgr') | currency:'$':0 }}

  %td{ colspan: "6"}