.row
  .col-xs-12
    %label.control-label{ for: 'api_json_key' } API json key
    %textarea.form-control{ ng: { model: 'api_configuration.api_json_key' }, name: 'api_json_key', required: true, rows: 4, placeholder: 'Please copy/paste your service account json key' }