%tr
  %td{ ng: { if: 'row.type == "member"' } }
    {{ row.name }}
  %td{ ng: { if: 'row.type == "team"' } }
    %a{ ng: { href: '/forecast/{{row.id}}?time_period_id={{currentTimePeriod.id}}' } }
      {{ row.name }}
  %td.right{ ng: { if: '!row.is_leader'} }
    {{ row.quota | currency: '$': 0 }}
  %td.right{ ng: { if: 'row.is_leader'} }
    \--
  %td.weighted-pipeline.right
    %a{ href: '', ng: { click: 'toggleWeightedPipelineDetail(row)' } }
      {{ row.weighted_pipeline | currency: '$': 0 }}
    .arrow-up{ ng: { show: 'row == weightedPipelineDetail' } }
  %td.right {{ row.revenue | currency: '$': 0 }}
  %td.right
    {{ row.amount | currency: '$': 0 }}
  %td.right{ ng: { if: '!row.is_leader'} }
    {{ row.percent_to_quota | number: 0 }}%
  %td.right{ ng: { if: '!row.is_leader'} }
    {{ row.gap_to_quota | currency: '$': 0 }}
  %td.right{ ng: { if: 'row.is_leader'} }
    \--
  %td.right{ ng: { if: 'row.is_leader'} }
    \--
  %td.right
    {{ row.wow_weighted_pipeline  | currency: '$': 0 }}
  %td.right
    {{ row.wow_revenue  | currency: '$': 0 }}
%tr.weighted-pipeline-detail{ ng: { if: 'row == weightedPipelineDetail' } }
  %td.weighted-pipeline-table-wrapper{ colspan: 9, ng: { if: 'weighted_pipeline.length == 0' } }
    %h5
      There are no deals for this {{ row.type }} in this time period.
    %a.close{ ng: { click: 'toggleWeightedPipelineDetail(row)' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'icons/close.svg'
  %td.weighted-pipeline-table-wrapper{ colspan: 9, ng: { if: 'weighted_pipeline.length > 0' } }
    %h3 Deal Summary
    %span
      |
    %h4
      %a{ href: '/deals' }
        Manage Pipeline
    %a.close{ ng: { click: 'toggleWeightedPipelineDetail(row)' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'icons/close.svg'
    %table.table.detail
      %thead
        %tr
          %th Deal name
          %th Client
          %th Probability
          %th Total Budget
          %th In-period Amount
          %th Start Date
      %tbody
        %tr{ ng: { repeat: 'subrow in weighted_pipeline | orderBy: "-budget"' } }
          %td {{ subrow.name }}
          %td {{ subrow.client_name }}
          %td.right {{ subrow.probability }}%
          %td.right {{ subrow.budget / 100 | currency: '$': 0 }}
          %td.right {{ subrow.in_period_amt | currency: '$': 0 }}
          %td {{ subrow.start_date | date: 'MMMM d, y' }}