%tr
  %td{ ng: { if: 'row.type == "member"' } }
    {{ row.name }}
  %td{ ng: { if: 'row.type == "team"' } }
    %a{ ng: { href: '/forecast/{{row.id}}?time_period_id={{currentTimePeriod.id}}&year={{year}}' } }
      {{ row.name }}
  %td{ ng: { if: 'row.is_leader && year' } }
    \--
  %td{ ng: { if: 'row.quarter' } }
    Q{{ row.quarter }}
  %td.right{ ng: { if: '!row.is_leader'} }
    {{ row.quota | currency: '$': 0 }}
  %td.right{ ng: { if: 'row.is_leader'} }
    \--
  %td.weighted-pipeline.right
    %a{ href: '', ng: { click: 'toggleWeightedPipelineDetail(row)' } }
      {{ row.weighted_pipeline | currency: '$': 0 }}
    .arrow-up{ ng: { show: 'row == weightedPipelineDetail' } }
  %td.weighted-pipeline.right
    %a{ href: '', ng: { click: 'toggleRevenueDetail(row)' } }
      {{ row.revenue | currency: '$': 0 }}
    .arrow-up{ ng: { show: 'row == revenueDetail' } }
  %td.right
    {{ row.amount | currency: '$': 0 }}
  %td.right{ ng: { if: '!row.is_leader'} }
    {{ row.percent_to_quota | number: 0 }}%
  %td.right{ ng: { if: '!row.is_leader'} }
    {{ row.gap_to_quota | currency: '$': 0 }}
  %td.right{ ng: { if: 'row.is_leader'} }
    \--
  %td.right{ ng: { if: 'row.is_leader'} }
    \--
  %td.right
    {{ row.wow_weighted_pipeline  | currency: '$': 0 }}
  %td.right
    {{ row.wow_revenue  | currency: '$': 0 }}
%tr.weighted-pipeline-detail{ ng: { if: 'row == weightedPipelineDetail' } }
  %td.weighted-pipeline-table-wrapper{ colspan: 9, ng: { if: 'weighted_pipeline.length == 0' } }
    %h5
      There are no deals for this {{ row.type }} in this time period.
    %a.close{ ng: { click: 'toggleWeightedPipelineDetail(row)' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'icons/close.svg'
  %td.weighted-pipeline-table-wrapper{ colspan: 9, ng: { if: 'weighted_pipeline.length > 0' } }
    %h3 Deal Summary
    %span
      |
    %h4
      %a{ href: '/deals' }
        Manage Pipeline
    %a.close{ ng: { click: 'toggleWeightedPipelineDetail(row)' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'icons/close.svg'
    %table.table.detail
      %thead
        %tr
          %th.left Deal name
          %th.left Client
          %th.right Probability
          %th.right Total Budget
          %th.right In-period Amount
          %th.right Start Date
          %th.right Days In Stage
          %th.right Days Since Opened
      %tbody
        %tr{ ng: { repeat: 'subrow in weighted_pipeline | orderBy: "-(budget+1)"' } }
          %td 
            %a{ href: '', ng: { href: '/deals/{{subrow.id}}' } }
              {{ subrow.name }}
          %td {{ subrow.client_name }}
          %td.right {{ subrow.probability }}%
          %td.right {{ subrow.budget / 100 | currency: '$': 0 }}
          %td.right {{ subrow.in_period_amt | currency: '$': 0 }}
          %td.right {{ subrow.start_date | date: 'M/dd/yyyy' }}
          %td.right {{ subrow.wday_in_stage }}
          %td.right {{ subrow.wday_since_opened }}
%tr.weighted-pipeline-detail{ ng: { if: 'row == revenueDetail' } }
  %td.weighted-pipeline-table-wrapper{ colspan: 9, ng: { if: 'revenues.length == 0' } }
    %h5
      There are no revenues for this {{ row.type }} in this time period.
    %a.close{ ng: { click: 'toggleRevenueDetail(row)' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'icons/close.svg'
  %td.weighted-pipeline-table-wrapper{ colspan: 9, ng: { if: 'revenues.length > 0' } }
    %h3 Revenue Summary
    %a.close{ ng: { click: 'toggleRevenueDetail(row)' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'icons/close.svg'
    %table.table.detail
      %thead
        %tr
          %th.left Client
          %th.right Total Budget
          %th.right InPeriod Amt
          %th.right Split Budget
          %th.right Split InPeriod Amt
      %tbody
        %tr{ ng: { repeat: 'subrow in revenues | orderBy: "-(budget+1)"' } }
          %td.left {{ subrow.client_name }}
          %td.right {{ subrow.sum_budget | currency: '$': 0 }}
          %td.right {{ subrow.sum_period_budget | currency: '$': 0 }}
          %td.right{ ng: { if: 'row.type == "member"' } }
            {{ getSplitAmount(subrow.client.client_members, row.id, subrow.sum_budget) | currency: '$': 0 }}
          %td.right{ ng: { if: 'row.type == "team"' } }
            {{ getTeamSplitAmount(subrow.client.client_members, row.all_teammembers, subrow.sum_budget) | currency: '$': 0 }}
          %td.right{ ng: { if: 'row.type == "member"' } }
            {{ getSplitAmount(subrow.client.client_members, row.id, subrow.sum_period_budget) | currency: '$': 0 }}
          %td.right{ ng: { if: 'row.type == "team"' } }
            {{ getTeamSplitAmount(subrow.client.client_members, row.all_teammembers, subrow.sum_period_budget) | currency: '$': 0 }}
