.search
  %form
    .input-group
      .input-group-addon
        %i.glyphicon.glyphicon-search
      %input.form-control{ ng: { model: 'query', change: 'search(query)' }, placeholder: "Search" }
.list-group.list-lg{ 'infinite-scroll': 'loadMore()' }
  %a.list-group-item.vertical-center{href: '', ng: { click: 'select(item)', repeat: 'item in items', class: '{ active: item.id == selected.id }' } }
    %ng-include{ 'src': 'template' }
