#reminders-list.panel-group{ng: { controller: 'RemindersDashController as rsdc'}}

  .panel.panel-default.item-reminders{ng: { repeat: 'reminder in reminders' } }

    .panel-heading.hide-detailse-wrap
      .checkbox-wrapper
        %input{ type: 'checkbox', ng: { model: 'reminder.completed', click: 'save(reminder)' } }
      .text-wrap{"ng-show" => "!reminder.isCollapsed"}
        %br{ ng: {show: 'collapsed'} }
        %p {{ reminder.remindable_type }}
        %p.name{ ng: {hide: 'collapsed'} } {{ reminder.name }}
        %p{ ng: {hide: 'collapsed', class: 'reminder.dateColorClass'} } {{ reminder.remind_on | date:'medium' }}

      .text-wrap.show-detailse-wrap{"ng-show" => "reminder.isCollapsed"}
        %p.name{ ng: {hide: 'collapsed'} } {{ reminder.name }}

      .btn-wrap
        %label.trigger-click{"ng-click" => "reminder.isCollapsed = !reminder.isCollapsed", "ng-show" => "!reminder.isCollapsed"}
          = inline_svg 'icons/show-details.svg'
        %label.trigger-click{"ng-click" => "reminder.isCollapsed = !reminder.isCollapsed", "ng-show" => "reminder.isCollapsed"}
          = inline_svg 'icons/hide-details.svg'

    .show-details-wrap.panel-collapse.collapse.in
      .panel-body.details{"ng-show" => "reminder.isCollapsed"}
        %div
          %p.due
            due:
          %p.date{ ng: { class: 'reminder.dateColorClass' } }
            {{ reminder.remind_on | date:'medium' }}
        %div
          %p.person
            Name:
          %p.name
            {{ reminder.name }}
        %div
          %p.note
            Note:
          %p.description
            {{ reminder.comment }}
        %div.edit-delete-wrap
          %a.btn.edit-reminder{ng: { click: 'editShow=true' } } edit
          %a.btn.delete-reminder{ng: { click: 'delete(reminder)' } } delete

      .edit-details-wrap.panel-body.details.details-edit{ ng: {show: 'editShow'}}
        %div
          %div
            %p.due
              Due:
            %p.bs-datepicker.date-edit
              %input.edit{ name: 'date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'reminder._date', required: true, click: 'callDateOpened = true' }, 'is-open': 'callDateOpened' }
          %div
            %p.due
              Time:
            %timepicker-pop.edit{"input-time" => "reminder._time", "show-meridian" => "showMeridian"}
          %div
            %p.person
              Name:
            %input.name{type:'text', name:'edit-name', ng: { model: 'reminder.name' } }

          %div.edit-description-wrap
            %p.note
              note:
            %textarea.description{ name:'edit-description', ng: { model: 'reminder.comment' } }
          %div.action-wrap
            %a.btn.cancel-edited-reminder{ng: { click: 'editShow=false' } } cancel
            %a.btn.save-edited-reminder{ng: { click: 'save(reminder)' } } save

  %div.completed-reminders{ng: { click: 'showCompleted=!showCompleted' } }
    %span
      View Completed

    .completed-reminders.completed-reminders{ng: { show: 'showCompleted', repeat: 'completedReminder in completedReminders' } }
      %div.main-wrap
        %div.completed-reminder
          %label
            %input{ type: 'checkbox', ng: { model: 'completedReminder.completed', click: 'save(completedReminder)' } }
          %span.completed-name.left
            {{ completedReminder.name }}
          %span.completed-date
            -# обрати внимание, дата в коротком виде
            {{ completedReminder.remind_on | date:'medium' }}
