#reminders-list.panel-group{"aria-multiselectable" => "true", :role => "tablist", ng: { controller: 'RemindersDashController as rsdc'}}

  -# размножать .item-reminders , обрати внимание - collapseOne они должны быть уникальны
  .panel.panel-default.item-reminders{ng: { repeat: 'reminder in reminders' } }
    .panel-heading{:role => "tab"}
      .checkbox-wrapper
        %input{ type: 'checkbox'}
      .text-wrap
        %p {{ reminder.remindable_type }}
        %p.name {{ reminder.name }}
        %p.yellow {{ reminder.remind_on | date:'medium' }}
      -# в зависимости от даты, нужно красить в разный цвет - сегодня .red  - завтра .yellow - после завтра и дальше - .silver

      -#на раскрытие деталей напоминалки нужно изменить верхний блок на этот
      .text-wrap
        %p.name.show-details Call Sem

      -# на редактирование
      .text-wrap.edit
        %input.name.short-description{type:'text', name:'edit-short-description', value:'Call Sem '}

      .btn-wrap
        %a.collapsed.show-reminders-details
          = inline_svg 'icons/show-details.svg'
    -# скрыть детали иконка  = inline_svg 'icons/hide-details.svg'

    .panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body.details{ ng: {hide: 'collapsed'} }
        %div
          %p.due
            due:
          %p.date.yellow
            {{ reminder.remind_on | date:'medium' }}
        -# в зависимости от даты, нужно красить в разный цвет - сегодня .red  - завтра .yellow - после завтра и дальше - .silver
        %div
          %p.person
            Name:
          %p.name
            {{ reminder.name }}
        %div
          %p.note
            Note:
          %p.description
            {{ reminder.comment }}
        %div.edit-delete-wrap
          %a.btn.edit-reminder edit
          -# тут на клик нужно будет скрыть блок .panel-body.details, а показать блок - .panel-body.details.details-edit
          %a.btn.delete-reminder delete
      .panel-body.details.details-edit{ ng: {show: 'reminder.editMode'}}
        %div
          %div
            %p.due
              Due:
            %p.bs-datepicker.date-edit
              %input.edit{ name: 'date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'reminder.remind_on', required: true, click: 'callDateOpened = true' }, 'is-open': 'callDateOpened' }
          %div
            %p.due
              Time:
            %timepicker-pop.edit{"input-time" => "reminder.remind_on", "show-meridian" => "showMeridian"}
          %div
            %p.person
              Name:
            %input.name{type:'text', name:'edit-name', ng: { model: 'reminder.name' } }

          %div.edit-description-wrap
            %p.note
              note:
            %textarea.description{ name:'edit-description', ng: { model: 'reminder.comment' } }
          %div.action-wrap
            %a.btn.cancel-edited-reminder cancel
            %a.btn.save-edited-reminder save


  -#.panel.panel-default.item-reminders
  -#  #headingTwo.panel-heading{:role => "tab"}
  -#    .checkbox-wrapper
  -#      %label{ for: 'this.id'}
  -#        %input{ type: 'checkbox', id: 'this.id' }
  -#    .text-wrap
  -#      %p Zazmic inc
  -#      %p.name Call Max
  -#      %p.silver After tomorrow, Sun, August, 11 at 4:00 PM
  -#    .btn-wrap
  -#      %a.collapsed.show-reminders-details{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-parent" => "#reminders-list", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
  -#        = inline_svg 'icons/show-details.svg'
  -#  -# скрыть детали иконка  = inline_svg 'icons/hide-details.svg'
  -#
  -#  #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
  -#    .panel-body.details
  -#      %div
  -#        %p.due
  -#          due:
  -#        %p.date.red
  -#          Today, Sun, Julu, 24 at 09:00 AM
  -#      %div
  -#        %p.person
  -#          person:
  -#        %p.name
  -#          Tigger
  -#      %div
  -#        %p.note
  -#          note:
  -#        %p.description
  -#          Научить тигера играть в футбол, читать на китайском, и пить настой расторопши
  -#      %div.edit-delete-wrap
  -#        %a.btn.edit-reminder edit
  -#        %a.btn.delete-reminder delete
  -#
  -#.panel.panel-default.item-reminders
  -#  #headingThree.panel-heading{:role => "tab"}
  -#    %h4.panel-title
  -#      .checkbox-wrapper
  -#        %label{ for: 'this.id'}
  -#          %input{ type: 'checkbox', id: 'this.id' }
  -#    .text-wrap
  -#      %p Zazmic inc
  -#      %p.name Call Sem
  -#      %p.yellow Tomorrow, Sun, Julu, 24 at 09:00 AM
  -#    .btn-wrap
  -#      %a.collapsed.show-reminders-details{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#reminders-list", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
  -#        = inline_svg 'icons/show-details.svg'
  -#  -# скрыть детали иконка  = inline_svg 'icons/hide-details.svg'
  -#
  -#  #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
  -#    .panel-body.details
  -#      %div
  -#        %p.due
  -#          due:
  -#        %p.date.red
  -#          Today, Sun, Julu, 24 at 09:00 AM
  -#      %div
  -#        %p.person
  -#          person:
  -#        %p.name
  -#          Wild White Tiger
  -#      %div
  -#        %p.note
  -#          note:
  -#        %p.description
  -#          Научить тигера играть в баскетбол, читать на английском, и пить водку
  -#      %div.edit-delete-wrap
  -#        %a.btn.edit-reminder edit
  -#        %a.btn.delete-reminder delete

  %div.completed-reminders
    %span
      View Completed
    -# %span  Hide Completed  на клик нужно будет показать то что ниже, сменив текст в спане (скрыв спан что выше)

    .completed-reminders.hide-completed-reminders
      -# в таблице собственно выполненые таски, в цикле создаются .main-wrap
      %div.main-wrap
        %div.completed-reminder
          %label
            %input{ type: 'checkbox', checked: 'checked' }
          %span.completed-name.left
            Samuel Colt
          %span.completed-date
            -# обрати внимание, дата в коротком виде
            Fri, March 25
      %div.main-wrap
        %div.completed-reminder
          %label
            %input{ type: 'checkbox', checked: 'checked' }
          %span.completed-name.left
            Anton Colt
          %span.completed-date
            -# обрати внимание, дата в коротком виде
            Fri, July 30
