#reminders-list.panel-group

  -# размножать .item-reminders , обрати внимание - collapseOne они должны быть уникальны
  .panel.panel-default.item-reminders{ng: { repeat: 'reminder in reminders' } }

    .panel-heading
      .checkbox-wrapper
        %input{ type: 'checkbox', ng: { model: 'reminder.completed', click: 'saveCurReminder(reminder)' } }
      .text-wrap
        %br{ ng: {show: 'collapsed'} }
        %p {{ reminder.remindable_type }}
        %p.name{ ng: {hide: 'collapsed'} } {{ reminder.name }}
        %p{ ng: {hide: 'collapsed', class: 'reminder.dateColorClass'} } {{ reminder.remind_on | date:'medium' }}
      -# в зависимости от даты, нужно красить в разный цвет - сегодня .red  - завтра .yellow - после завтра и дальше - .silver

      -#на раскрытие деталей напоминалки нужно изменить верхний блок на этот
      .text-wrap
        %p.name.show-details Call Sem

      -# на редактирование
      .text-wrap.edit
        %input.name.short-description{type:'text', name:'edit-short-description', value:'Call Sem '}

      .btn-wrap
        %input.show-reminder{ type: 'checkbox', ng: { model: 'editShow', class: '{open:editShow}' } }
    -# скрыть детали иконка  = inline_svg 'icons/hide-details.svg'

    .panel-collapse.collapse.in
      -#.panel-body.details{ ng: {show: 'collapsed'} }
      -#  %div
      -#    %p.due
      -#      due:
      -#    %p.date{ ng: { class: 'reminder.dateColorClass' } }
      -#      {{ reminder.remind_on | date:'medium' }}
      -#  -# в зависимости от даты, нужно красить в разный цвет - сегодня .red  - завтра .yellow - после завтра и дальше - .silver
      -#  %div
      -#    %p.person
      -#      Name:
      -#    %p.name
      -#      {{ reminder.name }}
      -#  %div
      -#    %p.note
      -#      Note:
      -#    %p.description
      -#      {{ reminder.comment }}
      -#  %div.edit-delete-wrap
      -#    %a.btn.edit-reminder{ng: { click: 'editShow=true' } } edit
      -#    -# тут на клик нужно будет скрыть блок .panel-body.details, а показать блок - .panel-body.details.details-edit
      -#    %a.btn.delete-reminder{ng: { click: 'deleteCurReminder(reminder)' } } delete
      .panel-body.details.details-edit{ ng: {show: 'editShow'}}
        %div
          %div
            %p.due
              Due:
            %p.bs-datepicker.date-edit
              %input.edit{ name: 'date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'reminder._date', required: true, click: 'callDateOpened = true' }, 'is-open': 'callDateOpened' }
          %div
            %p.due
              Time:
            %timepicker-pop.edit{"input-time" => "reminder._time", "show-meridian" => "showMeridian"}
          %div
            %p.person
              Name:
            %input.name{type:'text', name:'edit-name', ng: { model: 'reminder.name' } }

          %div.edit-description-wrap
            %p.note
              note:
            %textarea.description{ name:'edit-description', ng: { model: 'reminder.comment' } }
          %div.action-wrap
            -#%a.btn.cancel-edited-reminder{ng: { click: 'editShow=false' } } cancel
            %a.btn.cancel-edited-reminder{ng: { click: 'deleteCurReminder(reminder)' } } delete
            %a.btn.save-edited-reminder{ng: { click: 'saveCurReminder(reminder)' } } save

  %div.completed-reminders{ng: { click: 'showCompleted=!showCompleted' } }
    %span
      View Completed
    -# %span  Hide Completed  на клик нужно будет показать то что ниже, сменив текст в спане (скрыв спан что выше)

    .completed-reminders.completed-reminders{ng: { show: 'showCompleted', repeat: 'completedReminder in completedReminders' } }
      -# в таблице собственно выполненые таски, в цикле создаются .main-wrap
      %div.main-wrap
        %div.completed-reminder
          %label
            %input{ type: 'checkbox', ng: { model: 'completedReminder.completed', click: 'saveCurReminder(completedReminder)' } }
          %span.completed-name.left
            {{ completedReminder.name }}
          %span.completed-date
            -# обрати внимание, дата в коротком виде
            {{ completedReminder.remind_on | date:'medium' }}
