%tr{'ng-repeat': 'row in revenue | orderBy : zSort.by : zSort.rev | filter:searchText', 'ng-click': 'showAssignAdvertiserModal(row)'}
  %td.left {{ row.ssp_deal_id }}
  %td.left 
    %a{ href: '', ng: { if: "row.deal", href: '/deals/{{row.deal.id}}' } }
      {{ row.deal.name }}
  %td.left {{ row.advertiser }}
  %td.right {{ row.impressions | number:0 }} 
  %td.right {{ row.revenue_loc | currency:row.currency.curr_symbol:2 }}
  %td.right
    %i.fa.fa-angle-right
