%tr{'ng-repeat': 'displayLineItem in revenue | orderBy : zSort.by : zSort.rev | filter:searchText'}
  %td.left
    {{ displayLineItem.io.name }}
  %td.left
    {{ displayLineItem.io.external_io_number }}
  %td.left
    %a{'href': '', 'ng-href': '/accounts/{{displayLineItem.io.advertiser.id}}'} {{ displayLineItem.io.advertiser.name }}
  %td.left
    %a{'href': '', 'ng-href': '/accounts/{{displayLineItem.io.agency.id}}'} {{ displayLineItem.io.agency.name }}
  %td.right
    {{ displayLineItem.daily_run_rate | currency:displayLineItem.io.currency.curr_symbol:0 }}
  %td.right
    {{ displayLineItem.num_days_til_out_of_budget }}
  %td.right
    {{ displayLineItem.balance | currency:displayLineItem.io.currency.curr_symbol:0 }}
  %td.left
    {{ displayLineItem.line_number }}
  %td.left
    {{ displayLineItem.ad_server }}
  %td.left
    {{ displayLineItem.start_date | date: 'M/d/yyyy' }}
  %td.left
    {{ displayLineItem.end_date | date: 'M/d/yyyy' }}
  %td.left
    {{ displayLineItem.product.level0.name }}
  %td.left{'ng-if': 'company.product_options_enabled && company.product_option1_enabled'}
    {{ displayLineItem.product.level1.name }}
  %td.left{'ng-if': 'company.product_options_enabled && company.product_option2_enabled'}
    {{ displayLineItem.product.level2.name }}
  %td.right
    {{ displayLineItem.quantity }}
  %td.right
    {{ displayLineItem.price | currency:displayLineItem.io.currency.curr_symbol:0 }}
  %td.left
    {{ displayLineItem.pricing_type }}
  %td.right
    {{ displayLineItem.budget_loc | currency:displayLineItem.io.currency.curr_symbol:0 }}
  %td.right
    {{ displayLineItem.budget_delivered_loc | currency:displayLineItem.io.currency.curr_symbol:0 }}
  %td.right
    {{ displayLineItem.budget_remaining_loc | currency:displayLineItem.io.currency.curr_symbol:0 }}
  %td.right
    {{ displayLineItem.quantity_delivered }}
  %td.right
    {{ displayLineItem.quantity_remaining }}
  %td.right
    {{ displayLineItem.quantity_delivered_3p }}
  %td.right
    {{ displayLineItem.quantity_remaining_3p }}
  %td.right
    {{ displayLineItem.budget_delivered_3p_loc | currency:displayLineItem.io.currency.curr_symbol:0 }}
  %td.right
    {{ displayLineItem.budget_remaining_3p_loc | currency:displayLineItem.io.currency.curr_symbol:0 }}