%tr{ ng: { repeat: 'row in revenue | orderBy : sorting.key : sorting.reverse | filter:searchText', click: "showAssignIOModal(row)" } }
  %td.left {{row.external_io_number}}
  %td.left {{row.name}}
  %td.left {{row.advertiser}}
  %td.left {{row.agency}}
  %td.right {{row.budget_loc | currency:row.currency.curr_symbol:0}}
  %td.left {{row.start_date | date: 'M/d/yyyy'}}
  %td.left {{row.end_date | date: 'M/d/yyyy'}}
  %td.right
    %i.fa.fa-angle-right