%tr{'ng-repeat': 'row in revenue | orderBy : zSort.by : zSort.rev | filter:searchText'}
  %td.left {{row.io_number}}
  %td.left {{row.external_io_number}}
  %td.left
    %a{ href: '', 'ng-href': '/revenue/ios/{{row.id}}' }
      {{ row.name }}
  %td.left
    %a{'href': '', 'ng-href': '/accounts/{{row.advertiser.id}}'} {{row.advertiser.name}}
  %td.left
    %a{'href': '', 'ng-href': '/accounts/{{row.agency.id}}'} {{row.agency.name}}
  %td.right {{row.budget_loc | currency:row.currency.curr_symbol:0 }}
  %td.left {{row.start_date | date: 'M/d/yyyy'}}
  %td.left {{row.end_date | date: 'M/d/yyyy'}}
  %td.left
    %a{ href: '', ng: { if: "row.deal", href: '/deals/{{row.deal.id}}' } }
      {{ row.deal.name }}
  %td.action-td
    %i.fa.fa-pencil.z-icon{ ng: { click: 'showIOEditModal(row, $event)' } }
    %i.fa.fa-trash.z-icon{ ng: { click: 'deleteIo(row, $event)' } }
  -#%td.right
    %i.fa.fa-angle-right