%tr{'ng-repeat': 'row in revenue | orderBy : zSort.by : zSort.rev | filter:searchText'}
  %td.left
    %a{ href: '', 'ng-href': '/revenue/pmp/{{row.id}}' }
      {{ row.name }}
  %td.left
    %a{'href': '', 'ng-href': '/accounts/{{row.advertiser.id}}'} {{row.advertiser.name}}
  %td.left
    %a{'href': '', 'ng-href': '/accounts/{{row.agency.id}}'} {{row.agency.name}}
  %td.right {{row.budget_delivered | currency:row.currency.curr_symbol:0 }}
  %td.left {{row.start_date | date: 'M/d/yyyy'}}
  -#%td.right
    %i.fa.fa-angle-right