#stats.well
  .row{ 'ng-hide': 'forecast' }
    .col-xs-12
      %h4
        Oops! No quota, no commissions.
  .row{ 'ng-show': 'forecast' }
    .col-xs-2.col-xs-fifth.attainment
      %canvas{ 'tc-chartjs': true, 'chart-type': 'doughnut', 'chart-data':'chartData', 'chart-options':'chartOptions' }
      .center-text
        %h2
          {{ forecast.percent_to_quota | number: 0 }}%
        %h5
          Attainment
    .col-xs-2.col-xs-fifth.quota
      %h2
        {{ forecast.quota | humanReadableMoney }}
      %h5
        Quota
    .col-xs-2.col-xs-fifth.forecast
      %h2
        {{ forecast.amount | humanReadableMoney }}
      %h5
        Forecast
    .col-xs-2.col-xs-fifth.gap-to-goal
      %h2
        {{ forecast.gap_to_quota | humanReadableMoney }}
      %h5
        Gap to Goal
    .col-xs-2.col-xs-fifth.new-deals-needed
      %h2
        {{ forecast.new_deals_needed || 0 }}
      %h5
        New Deals Needed
