.block.contract-info.campaign-details
    -#%div.pull-right
        %span.star
            *
            %span{style: 'font-size: 12px'} is required
    %div.mb20
        %span.title Info
        -#%i.fa.fa-pencil.edit-deal{'ng-click': 'showEditModal(currentContact)'}
    %div.custom-field-item
        %div.custom-field-item-label
            %label Start Date
        %div.custom-field-item-field
            .datetime-field.bs-datepicker>
                %span.editable{ datepicker: { popup: 'MMMM d, y'}, ng: { class: '{"not-selected": !contract.start_date}', model: 'contract.start_date', click: 'startDateOpened = !startDateOpened', change: 'updateContract()' }, 'is-open': 'startDateOpened' }
                    {{(contract.start_date | date) || 'Select date'}}
    %div.custom-field-item
        %div.custom-field-item-label
            %label End Date
        %div.custom-field-item-field
            .datetime-field.bs-datepicker>
                %span.editable{ datepicker: { popup: 'MMMM d, y'}, ng: { class: '{"not-selected": !contract.end_date}', model: 'contract.end_date', click: 'endDateOpened = !endDateOpened', change: 'updateContract()' }, 'is-open': 'endDateOpened' }
                    {{(contract.end_date | date) || 'Select date'}}
    %div.custom-field-item
        %div.custom-field-item-label
            %label Currency
        %div.custom-field-item-field
            .dropdown
                %button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
                    %span.editable{'ng-class': '{"not-selected": !contract.currency.curr_cd}'}
                        {{contract.currency.curr_cd || 'Select currency'}}
                    %span.caret
                %ul.dropdown-menu
                    %li{'ng-repeat': 'currency in currencies', 'ng-class': '{active: contract.currency.curr_cd == currency.curr_cd}'}
                        %a{'href': '', 'ng-click': 'contract.currency.curr_cd = currency.curr_cd; updateContract()'}
                            %span.text {{currency.curr_cd}}
    %div.custom-field-item
        %div.custom-field-item-label
            %label Amount
        %div.custom-field-item-field
            .currency-field
                %div{'click-to-edit':'click-to-edit', type: "number", decimal: '2', 'ng-model': "contract.amount", 'on-after-save': 'updateContract()'}
    .mb20
