.members.block
	%div.mb20
		%span.title Special Terms
		%add-button{'ng-click': 'showSpecialTermModal(contract)'} Add
	%table.table.table-striped
		%thead
			%tr
				%th Term Name
				%th Term Type
				%th.left Comments

		%tbody
			%tr{ ng: { repeat: "term in contract.special_terms | orderBy: 'name'"} }
				%td
					{{term.name.name}}
					-#%i.fa.fa-trash.delete-deal{'ng-click': 'deleteTerm(term)'}
				%td
					{{term.type.name}}
				%td.left
					{{term.comment}}