.contracts.block
	%div.mb20
		%span.title Contacts
		%add-button{'ng-click': 'addContact(contract)'} Add

	%table.table.table-striped
		%thead
			%tr
				%th.left Name
				%th.left Position
				%th.left Email
				%th.left Account Name
				%th.left Role
		%tbody
			%tr{ ng: { repeat: 'deal_contact in currentDeal.deal_contacts'} }
				%td
					%a{'href': '', 'ng-href': '/contacts/{{deal_contact.contact.id}}'} {{ deal_contact.contact.name }}
					%i.fa.fa-pencil.edit-deal{'ng-click': 'showContactEditModal(deal_contact)'}
					%i.fa.fa-trash.delete-deal{'ng-click': 'deleteContact(deal_contact)'}
				%td
					{{ deal_contact.contact.position }}
				%td
					{{ deal_contact.contact.address.email }}
				%td
					{{ deal_contact.contact.primary_client_json.name }}
				%td{ ng: { class: '{error: deal_contact.errors.role}' } }
					%div.contact-role-dropdown
						%span.error-tooltip{id: 'contact-role-error-{{deal_contact.id}}', 'ng-show': 'deal_contact.errors.role'}
							{{ deal_contact.errors.role }}
						.dropdown
							%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
								%span.editable{'ng-class': '{"not-selected": !deal_contact.role}'} {{deal_contact.role || 'Select role'}}
								%span.caret
							%ul.dropdown-menu
								%li
									%a{'href': '', 'ng-click': 'submitDealContact(deal_contact, undefined)'}
										%span.text No role
								%li{'ng-repeat': 'option in currentDeal.contact_roles.options', 'ng-class': '{active: deal_contact.role == option.name}'}
									%a{'href': '', 'ng-click': 'submitDealContact(deal_contact, option.name)'}
										%span.text {{option.name}}
