.contracts.block
	%div.mb20
		%span.title Contacts
		%add-button{'ng-click': 'addContact(contract)'} Add

	%table.table.table-striped
		%thead
			%tr
				%th.left Name
				%th.left Position
				%th.left Email
				%th.left Account Name
				%th.left Role
		%tbody
			%tr{ ng: { repeat: 'contact in contract.contract_contacts'} }
				%td
					%a{'href': '', 'ng-href': '/contacts/{{contact.contact.id}}'} {{ contact.contact_name }}
					%i.fa.fa-pencil.edit-deal{'ng-click': 'showContactEditModal(contact)'}
					%i.fa.fa-trash.delete-deal{'ng-click': 'deleteContact(contact)'}
				%td
					{{contact.contact_position}}
				%td
					{{contact.contact_email}}
				%td
					{{contact.contact_client_name}}
				%td{ ng: { class: '{error: contact.errors.role}' } }
					%div.contact-role-dropdown
						%span.error-tooltip{id: 'contact-role-error-{{contact.id}}', 'ng-show': 'contact.errors.role'}
							{{ contact.errors.role }}
						.dropdown
							%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
								%span.editable{'ng-class': '{"not-selected": !contact.role}'} {{contact.role || 'Select role'}}
								%span.caret
							%ul.dropdown-menu
								%li
									%a{'href': '', 'ng-click': 'submitDealContact(contact, undefined)'}
										%span.text No role
								%li{'ng-repeat': 'option in currentDeal.contact_roles.options', 'ng-class': '{active: contact.role == option.name}'}
									%a{'href': '', 'ng-click': 'submitDealContact(contact, option.name)'}
										%span.text {{option.name}}
