.block.contract-info.campaign-details
    %div.pull-right
        %span.star
            *
            %span{style: 'font-size: 12px'} is required
    %div.mb20
        %span.title Info
        %i.fa.fa-pencil.edit-deal{'ng-click': 'showEditModal(currentContact)'}
    %div.custom-field-item
        %div.custom-field-item-label Address
        %div.custom-field-item-field.address-field
            %div {{currentContact.address.street1}}
            %div {{currentContact.address.street2}}
            %div {{ concatAddress(currentContact.address) }}
    %div.custom-field-item{'ng-if': 'currentContact.primary_client_json.name'}
        %div.custom-field-item-label Works At
        %div.custom-field-item-field
            %a{'href': '', 'ng-href': '/accounts/{{currentContact.primary_client_json.id}}'} {{currentContact.primary_client_json.name}}
    %div.custom-field-item{'ng-if': 'currentContact.address.email'}
        %div.custom-field-item-label Email
        %div.custom-field-item-field {{currentContact.address.email}}
    %div.custom-field-item{'ng-if': 'currentContact.address.mobile'}
        %div.custom-field-item-label Mobile
        %div.custom-field-item-field {{currentContact.address.mobile}}
    %div.custom-field-item{'ng-if': 'currentContact.address.phone'}
        %div.custom-field-item-label Phone
        %div.custom-field-item-field {{currentContact.address.phone}}
    %div.custom-field-item
        %div.custom-field-item-label Job Level
        %div.custom-field-item-field
            .dropdown
                %button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
                    %span.editable{'ng-class': '{"not-selected": !currentContact.job_level}'}
                        {{currentContact.job_level.name || currentContact.job_level || 'Select value'}}
                    %span.caret
                %ul.dropdown-menu
                    %li{'ng-repeat': 'jobLevel in currentContact.job_levels', 'ng-class': '{active: currentContact.job_level == jobLevel.name}'}
                        %a{'href': '', 'ng-click': 'currentContact.job_level = jobLevel; updateContact()'}
                            %span.text {{jobLevel.name}}
    %div.custom-field-item
        %div.custom-field-item-label Position
        %div.custom-field-item-field
            .text-field
                %input.editable{ 'ng-model': "currentContact.position", name: "position", placeholder: 'Enter position', 'ng-blur': 'updateContact()' }
    %div.custom-field-item
        %div.custom-field-item-label Notes
        %div.custom-field-item-field
            .text-area
                %textarea.editable{ 'msd-elastic': '', rows: 1, 'ng-model': "currentContact.note", name: "note", placeholder: 'Enter note', 'ng-blur': 'updateContact()' }
    .mb20
