@import url(//fonts.googleapis.com/css?family=Montserrat:700,400);
@import "gotham_fonts";
@import "avenir_next_fonts";
@import "variables";
@import "boostr_icons";

.main-page-container {
    overflow-x: auto;
    & > div {
        min-width: $content-min-width;
        min-height: calc(100vh - #{$header-height});
    }
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}