%div{style: 'max-width: 600px; background: white; border-radius: 5px; box-shadow: 0 5px 35px #bfbfbf; font: 14px Arial, Helvetica, sans-serif; overflow: hidden; padding-bottom: 20px;'}

  = render 'details'

  = render 'actions'
