%div{style: 'max-width: 600px; background: white; border-radius: 5px; box-shadow: 0 5px 35px #bfbfbf; font: 14px Arial, Helvetica, sans-serif; overflow: hidden; padding-bottom: 20px;'}

  = render 'details'

  %div{:style => "padding: 8px 16px; background: #f4f4f4; font-size: 16px; font-weight: bold; color: #d03c2b;"}
    Since the lead was not accepted or rejected within 48 hours, it has been reassigned to the next available seller
