= javascript_include_tag 'bootstrap-sprockets'

.container.theme-showcase{:role => "main"}

  .page-header
    %h1 Colors
  .row.cd-colors
    %ul
      %li.col-xs-4.text-center.cd-box
        .cd-color-swatch
        %b #ff7e30
      %li.col-xs-4.text-center.cd-box
        .cd-color-swatch
        %b #7b7b7b
      %li.col-xs-4.text-center.cd-box
        .cd-color-swatch
        %b #232b31

  .page-header
    %h1 Typography
  .cd-typography
    .cd-box
      %h1
        h1 with
        %small small text
        and a
        %a{:href => "#"} link
      %h2
        h2 with
        %small small text
        and a
        %a{:href => "#"} link
      %h3
        h3 with
        %small small text
        and a
        %a{:href => "#"} link
      %h4
        h4 with
        %small small text
        and a
        %a{:href => "#"} link
      %h5
        h5 with
        %small small text
        and a
        %a{:href => "#"} link
      %h6
        h6 with
        %small small text
        and a
        %a{:href => "#"} link
      %br
      %p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
      %br
      %blockquote
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        %footer
          Someone famous in
          %cite{:title => "Source Title"} Source Title
      %br
      %ul
        %li
          item 1
        %li
          item 2

  .page-header
    %h1 Buttons
  %p
    %button.btn.btn-lg.btn-default{:type => "button"} Default
    %button.btn.btn-lg.btn-primary{:type => "button"} Primary
    %button.btn.btn-lg.btn-success{:type => "button"} Success
    %button.btn.btn-lg.btn-info{:type => "button"} Info
    %button.btn.btn-lg.btn-warning{:type => "button"} Warning
    %button.btn.btn-lg.btn-danger{:type => "button"} Danger
    %button.btn.btn-lg.btn-link{:type => "button"} Link
  %p
    %button.btn.btn-default{:type => "button"} Default
    %button.btn.btn-primary{:type => "button"} Primary
    %button.btn.btn-success{:type => "button"} Success
    %button.btn.btn-info{:type => "button"} Info
    %button.btn.btn-warning{:type => "button"} Warning
    %button.btn.btn-danger{:type => "button"} Danger
    %button.btn.btn-link{:type => "button"} Link
  %p
    %button.btn.btn-sm.btn-default{:type => "button"} Default
    %button.btn.btn-sm.btn-primary{:type => "button"} Primary
    %button.btn.btn-sm.btn-success{:type => "button"} Success
    %button.btn.btn-sm.btn-info{:type => "button"} Info
    %button.btn.btn-sm.btn-warning{:type => "button"} Warning
    %button.btn.btn-sm.btn-danger{:type => "button"} Danger
    %button.btn.btn-sm.btn-link{:type => "button"} Link
  %p
    %button.btn.btn-xs.btn-default{:type => "button"} Default
    %button.btn.btn-xs.btn-primary{:type => "button"} Primary
    %button.btn.btn-xs.btn-success{:type => "button"} Success
    %button.btn.btn-xs.btn-info{:type => "button"} Info
    %button.btn.btn-xs.btn-warning{:type => "button"} Warning
    %button.btn.btn-xs.btn-danger{:type => "button"} Danger
    %button.btn.btn-xs.btn-link{:type => "button"} Link
  .page-header
    %h1 Tables
  .row
    .col-md-12
      .table-wrapper
        %table.table.table-hover
          %thead
            %tr
              %th OPPORTUNITY
              %th ADVERTISER
              %th STAGE
              %th SPEND
              %th START DATE
          %tbody
            %tr
              %td
                %strong
                  Apple Watch
              %td Apple, Inc.
              %td Prospect
              %td $25,000
              %td 6/8/2015
            %tr
              %td
                %strong
                  Shampoo
              %td P&G
              %td Prospect
              %td $10,000
              %td 6/8/2015
            %tr
              %td
                %strong
                  Goldleaf Shoe
              %td Nike
              %td Needs Proposal
              %td $100,000
              %td 6/8/2015
            %tr
              %td
                %strong
                  Surface 3
              %td Microsoft
              %td Needs Proposal
              %td $300,000
              %td 6/8/2015
  .page-header
    %h1 Thumbnails
  %img.img-thumbnail{src: '//placehold.it/200x200', alt: "A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera" }/
  .page-header
    %h1 Labels
  %h1
    %span.label.label-default Default
    %span.label.label-primary Primary
    %span.label.label-success Success
    %span.label.label-info Info
    %span.label.label-warning Warning
    %span.label.label-danger Danger
  %h2
    %span.label.label-default Default
    %span.label.label-primary Primary
    %span.label.label-success Success
    %span.label.label-info Info
    %span.label.label-warning Warning
    %span.label.label-danger Danger
  %h3
    %span.label.label-default Default
    %span.label.label-primary Primary
    %span.label.label-success Success
    %span.label.label-info Info
    %span.label.label-warning Warning
    %span.label.label-danger Danger
  %h4
    %span.label.label-default Default
    %span.label.label-primary Primary
    %span.label.label-success Success
    %span.label.label-info Info
    %span.label.label-warning Warning
    %span.label.label-danger Danger
  %h5
    %span.label.label-default Default
    %span.label.label-primary Primary
    %span.label.label-success Success
    %span.label.label-info Info
    %span.label.label-warning Warning
    %span.label.label-danger Danger
  %h6
    %span.label.label-default Default
    %span.label.label-primary Primary
    %span.label.label-success Success
    %span.label.label-info Info
    %span.label.label-warning Warning
    %span.label.label-danger Danger
  %p
    %span.label.label-default Default
    %span.label.label-primary Primary
    %span.label.label-success Success
    %span.label.label-info Info
    %span.label.label-warning Warning
    %span.label.label-danger Danger
  .page-header
    %h1 Badges
  %p
    %a{:href => "#"}
      Inbox
      %span.badge 42
  %ul.nav.nav-pills{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{:href => "#"}
        Home
        %span.badge 42
    %li{:role => "presentation"}
      %a{:href => "#"} Profile
    %li{:role => "presentation"}
      %a{:href => "#"}
        Messages
        %span.badge 3
  .page-header
    %h1 Dropdown menus
  .dropdown.theme-dropdown.clearfix
    %a#dropdownMenu1.sr-only.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      Dropdown
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      %li.active
        %a{:href => "#"} Action
      %li
        %a{:href => "#"} Another action
      %li
        %a{:href => "#"} Something else here
      %li.divider{:role => "separator"}
      %li
        %a{:href => "#"} Separated link
  .page-header
    %h1 Navs
  #nav
    %ul.nav.nav-tabs{role: "tablist"}
      %li.dropdown{role: "presentation"}
        %a.dropdown-toggle{ href: "", role: "button", aria: { haspopup: true, expanded: "false" }, data: { toggle: "dropdown" } }
          Dropdown
          #span.glyphicon.glyphicon-chevron-down
        %ul.dropdown-menu
          %li
            %a{ href: '' } First item
          %li
            %a{ href: '' } Second item
      %li{:role => "presentation"}
        %a{:href => "#"} Home
      %li.pull-right.last{:role => "presentation"}
        %a{:href => "#"} Profile
      %li.pull-right{:role => "presentation"}
        %a{:href => "#"} Messages
  .page-header
    %h1 Navbars
  %nav.navbar.navbar-default
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Boostr
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#contact"} Contact
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Dropdown
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider{:role => "separator"}
              %li.dropdown-header Nav header
              %li
                %a{:href => "#"} Separated link
              %li
                %a{:href => "#"} One more separated link
      / /.nav-collapse

  .page-header
    %h1 Alerts
  .alert.alert-success{:role => "alert"}
    %strong Well done!
    You successfully read this important alert message.
  .alert.alert-info{:role => "alert"}
    %strong Heads up!
    This alert needs your attention, but it's not super important.
  .alert.alert-warning{:role => "alert"}
    %strong Warning!
    Best check yo self, you're not looking too good.
  .alert.alert-danger{:role => "alert"}
    %strong Oh snap!
    Change a few things up and try submitting again.
  .page-header
    %h1 Progress bars
  .progress
    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
      %span.sr-only 60% Complete
  .progress
    .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
      %span.sr-only 40% Complete (success)
  .progress
    .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%"}
      %span.sr-only 20% Complete
  .progress
    .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%"}
      %span.sr-only 60% Complete (warning)
  .progress
    .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
      %span.sr-only 80% Complete (danger)
  .progress
    .progress-bar.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%"}
      %span.sr-only 60% Complete
  .progress
    .progress-bar.progress-bar-success{:style => "width: 35%"}
      %span.sr-only 35% Complete (success)
    .progress-bar.progress-bar-warning{:style => "width: 20%"}
      %span.sr-only 20% Complete (warning)
    .progress-bar.progress-bar-danger{:style => "width: 10%"}
      %span.sr-only 10% Complete (danger)
  .page-header
    %h1 List groups
  .row
    .col-sm-4
      .list-group.list-sm
        %a.list-group-item.vertical-center{:href => "#"}
          .col-xs-5
          .col-xs-7
            .row
              %h5
                All Open (13)
            .row
              $500,000
        %a.list-group-item.vertical-center.active{:href => "#"}
          .col-xs-5
          .col-xs-7
            .row
              %h5
                Prospects (10)
            .row
              $100,000
        %a.list-group-item.vertical-center{:href => "#"}
          .col-xs-5
          .col-xs-7
            .row
              %h5
                Need Proposal (3)
            .row
              $100,000
        %a.list-group-item.vertical-center{:href => "#"}
          .col-xs-5
          .col-xs-7
            .row
              %h5
                In Negotiations (2)
            .row
              $100,000
        %a.list-group-item.vertical-center{:href => "#"}
          .col-xs-5
          .col-xs-7
            .row
              %h5
                Verbal Committment (5)
            .row
              $100,000
    / /.col-sm-4
    .col-sm-8
      .list-group.list-lg
        %a.list-group-item.vertical-center{:href => "#"}
          .col-xs-5
          .col-xs-7
            .row
              %h4
                Digitas LA
            .row
              13 people   3 deals
        %a.list-group-item.vertical-center.active{:href => "#"}
          .col-xs-5
          .col-xs-7
            .row
              %h4
                Digitas NYC
            .row
              13 people   3 deals
        %a.list-group-item.vertical-center{:href => "#"}
          .col-xs-5
          .col-xs-7
            .row
              %h4
                Digitas Boston
            .row
              13 people   3 deals
    / /.col-sm-4
  .page-header
    %h1 Panels
  .row
    .col-sm-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Panel title
        .panel-body
          Panel content
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Panel title
        .panel-body
          Panel content
    / /.col-sm-4
    .col-sm-4
      .panel.panel-success
        .panel-heading
          %h3.panel-title Panel title
        .panel-body
          Panel content
      .panel.panel-info
        .panel-heading
          %h3.panel-title Panel title
        .panel-body
          Panel content
    / /.col-sm-4
    .col-sm-4
      .panel.panel-warning
        .panel-heading
          %h3.panel-title Panel title
        .panel-body
          Panel content
      .panel.panel-danger
        .panel-heading
          %h3.panel-title Panel title
        .panel-body
          Panel content
    / /.col-sm-4
  .page-header
    %h1 Wells
  .well
    .row
      .col-xs-10
        .row
          .col-xs-1
            %strong
              Mobile
          .col-xs-11.detail
            (208) 867-5309
        .row
          .col-xs-1
            %strong
              Office
          .col-xs-11.detail
            (212) 721-4455
        .row
          .col-xs-1
            %strong
              Email
          .col-xs-11.detail
            info@digitasla.com
        .row
          .col-xs-1
            %strong
              Address
          .col-xs-11.detail
            1 Infinite Loop Drive
            %br
            Cupertino, CA  91788
      .col-xs-2
        = inline_svg 'right-caret.svg', class: 'pull-right'
  .page-header
    %h1 Form
  .cd-form
    .cd-box
      %form.form-horizontal
        .form-group
          %label.col-sm-2.control-label{:for => "email1"} Email
          .col-sm-10
            %input#email1.form-control{:placeholder => "Email", :type => "email"}
        .form-group
          %label.col-sm-2.control-label{:for => "password1"} Password
          .col-sm-10
            %input#password1.form-control{:placeholder => "Password", :type => "password"}
        .form-group
          %label.col-sm-2.control-label{:for => "inputFile1"} File Input
          .col-sm-10
            %input#inputFile1{:type => "file"}
              %p.help-block Example block-level help text here.
        %select.form-control
          %option 1
          %option 2
          %option 3
          %option 4
          %option 5
        .checkbox
          %label
            %input{:type => "checkbox"}
              Check me out
        %button.btn.btn-default{:type => "submit"} Submit
  .page-header
    %h1 Modals
  %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
    Launch demo modal

  #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg{:role => "document"}
      .modal-content
        .modal-header.text-center
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"}
              = inline_svg 'close.svg'
          %h2#myModalLabel.modal-title
            %strong Modal Title
        .modal-body
          %form.form-horizontal
            .form-group
              %label.col-sm-2.control-label{:for => "email"} Email
              .col-sm-10
                %input#email.form-control{:placeholder => "Email", :type => "email"}
            .form-group
              %label.col-sm-2.control-label{:for => "password"} Password
              .col-sm-10
                %input#password.form-control{:placeholder => "Password", :type => "password"}
            .form-group
              %label.col-sm-2.control-label{:for => "inputFile"} File Input
              .col-sm-10
                %input#inputFile{:type => "file"}
                  %p.help-block Example block-level help text here.
            %select.form-control
              %option 1
              %option 2
              %option 3
              %option 4
              %option 5
            .checkbox
              %label
                %input{:type => "checkbox"}
                  Check me out
        .modal-footer
          %button.btn.btn-primary.btn-lg{:type => "submit"} Save changes
          %button.btn.btn-default.btn-lg{"data-dismiss" => "modal", :type => "button"} Cancel

