#activities {
  .row {
    margin-left: 0px;
    margin-right: 1px;
  }

  #nav {
    border-bottom: 0px;
    margin-top: 5px;

    .nav-tabs {
      .active {
        a {
          background-color: transparent;
          color: $brand-primary;
          svg {
            fill: $brand-primary;
          }
          &:after {
            border-bottom: 0px;
          }
        }
      }
      li {
        margin-right: 0px;
        margin-top: 9px;
        margin-bottom: 10px;
        a {
          font-size: 13px;
          font-family: $table-headings-font-family;
          text-transform: uppercase;
          color: $grayish-blue-1;
          border-bottom-width: 0px;
          padding-bottom: 0px;
          padding-top: 0px;
          &:hover,
          &:focus {
            color: $brand-primary;
            svg {
              fill: $brand-primary;
            }
          }
          svg {
            fill: $grayish-blue-1;
            height: 40px;
          }
        }
      }
    }
  }

  .pull-right{
    padding-top: 4px;
  }

  .box {
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: none;
    color: $text-color;
    padding: 6px;
    border-color: $input-border;
    background-color: transparent;
    height: 44px;
    &:focus,
    &:hover {
      outline:none;
      background-color: $white;
    }
  }

  .box1 {
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: none;
    color: $text-color;
    padding: 6px;
    border-color: $input-border;
    background-color: transparent;
    height: 44px;
    width: 100%;
    &:focus,
    &:hover {
      outline:none;
      background-color: $white;
    }
  }

  .box2 {
    padding: 6px;
    box-shadow: none;
    background-color: transparent;
    outline:none;
    height: 44px;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: $input-border;
    color: $text-color;
    &:focus,
    &:hover {
      outline:none;
      background-color: $white;
    }
  }

  .w1 {
    width: 100%;
    background-color: $white;
    height: 66px;
    resize: none;
  }

  .w2 {
    width: 560px;
    margin-left: 10px;
  }

  .w3 {
    width: 395px;
  }
  
  .w4 {
    width: 100%;
  }

  .add-remainder-form-wrap {
    padding-right: 0;
  }

  .add-remainder-form-wrap > #contain1 .type1 {
    margin-bottom: 0;
  }

  .input-group.reminder-on-time,
  .wrap-select-time {
    width:100%;
  }

  .checkbox-wrapper {
    float: left;
    height: 70px;
    line-height: 70px;
  }

  .form-control.reminder-note {
    resize: none;
  }

  .type {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .type1 {
    margin-top: 10px;
    vertical-align: bottom;
    margin-bottom: 30px;
  }

  .type2 {
    margin-top: 10px;
  }

  a.list-group-item {
    padding-top: 16px;
    padding-bottom: 10px;
    min-height: auto;
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;

      h5 {
        width: 105px;
      }
    }
  }
  
  .add {
    border-radius: 0px;
    padding: 0px 0px 0px;
    margin: 0px 0;
    position: relative;
    a {
      svg {
        height: 23px;
        margin-top: 5px;
        margin-right: -30px;
        margin-bottom: 5px;
      }
    }
  }

  #input-group-btn {
    box-shadow: none;
    &:focus,
    &:hover {
      box-shadow: none;
    }
  }

  #form-control {
    box-shadow: none;
    &:focus,
    &:hover {
      box-shadow: none;
    }
  }

  .input-group-btn {
    box-shadow: none;
    &:focus,
    &:hover {
      box-shadow: none;
    }
  }

  input.form-control {
    box-shadow: none;
    &:focus,
    &:hover {
      box-shadow: none;
    }
  }

  #note {
    padding-bottom: 20px;
    border-bottom: 1px solid $gray-darker1;
  }

  #add-contact {
    position: absolute;
    right: -40px;
    top: 40px;
  } 
  
  .tab {
    margin-top: -12px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-top: 1px solid $gray-darker1;
    border-right: 1px solid $gray-darker1;
    border-left: 1px solid $gray-darker1;
    border-bottom: 1px solid $gray-darker1;
    background-color: $modal-bg;
  }

  .btn-primary1 {
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: $grayish-blue-1;
    &:focus,
    &:hover {
      color: $brand-primary-lighten;
      background-color: transparent;
    }
  }

  .btn.active, .btn:active {
    color: $brand-primary-lighten;
    background-color: transparent;
    box-shadow:none;
  }

  .close {
    margin-right: 10px;
    margin-top: -7px;
  }
  
  .search {
    margin-right: 12px;
  }

  .type-menu {
    padding-right: 5px;
    padding-left: 30px;
    img.s-img {
      height: 30px;
      float: left;
      margin-top: -3px;
      margin-right: 5px;
      margin-left: -20px;
    }
  }

  #activities-content.row {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    .row {
      margin-left: 0px;
      margin-right: 1px;
    }
  }
}

#activities.row {
  margin-top: 36px;
  margin-left: 0px;
  margin-right: 1px;
}

.pad {
  padding-left: 0px;
  padding-right: 0px;
}

.pad1 {
  padding-left: 4px;
  padding-right: 2px;
  padding-top: 12px;
  width: 60px;
}

.pad2 {
  margin-left: 18px;
  padding-left: 2px;
  padding-right: 2px;
  width: 30px;
}

.pad3 {
  padding-left: 2px;
  padding-right: 2px;
  width: 490px;
}

.pad3a {
  padding-left: 2px;
  padding-right: 2px;
  width: 390px;
}
.pad3b {
  padding-left: 2px;
  padding-right: 2px;
  width: 450px;
}

.pad4 {
  padding-left: 13px;
  a {
    font-size: 13px;
  }
}

.pad5 {
  padding-right: 30px;
}

.pad5a {
  padding-left: 0px;
  padding-right: 30px;
}

.pad7 {
  padding-left: 10px;
  padding-right: 10px;
}

#activities-feed {
  img.s-img {
    height: 30px;
    float: right;
    margin-top: 12px;
    margin-right:10px;
    margin-left: 0px;
  }
  th:first-child {
    padding-left: 14px;
  }
  td:first-child {
    padding-left: 10px;
  }
  .act {
    color: $dark-grayish-blue-1;
  }
  span {
    color: $dark-grayish-blue-4;
  }
  a {
    &:link,
    &:visited,
    &:active {
      color: inherit;
    }
  }
  .btn{
    border: none;
    background: none;
    &:link,
    &:disabled,
    &:enabled,
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      outline: none; 
      color: inherit;
    }
  }
  .feed-repeat {
    background-color: transparent;
  }
  .s1 {
    color: $dark-grayish-blue-1;
  }
  .pad6 {
    padding-left: 37px;
    a {
      font-size: 17px;
    }
  }

  .row {
    margin-left: 0px;
    margin-right: 1px;
  }

  .long-text {
    height: 100px;
    overflow: auto;
  }

  .attachments {
    padding-top:10px;
    a {
      color: #FF7E30;
    }
  }
}

.btn-primary {
  &:focus,
  &:after,
  &:active {
    outline: none;
    outline-shadow: none;
  }
}

/*styled */

.show-hide-remainder-form {
  clear: both;
  height: 31px;
  line-height: 26px;
  margin: 10px 10px 6px 0px;
  width: 100%;
}

.title-remainder {
  display: block;
  float: left;
}

.show-hide-remainder-form {

  .switch-remainder-form {
    float: left;
    margin-left: 10px;
    width: 46px;
  }

  .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  .cmn-toggle-round-flat + label {
    border: 1px solid #818e98;
    background-color: #818e98;
    transition: background 0.4s;
    border-radius: 12px;
    margin-bottom: 0;
  }

  .cmn-toggle-round-flat + label span {
    display: block;
  }

  .cmn-toggle-round-flat:checked + label {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
  }

  .cmn-toggle-round-flat:checked + label span{
      margin: 1px 1px 1px 23px;
  }

  .cmn-toggle-round-flat + label span {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    display: block;
    height: 20px;
    margin: 1px;
    width: 20px;
  }

}

.tools.pull-right > a#edit-contact svg {
  margin-bottom: -3px;
}
