.btn-default {
  &:hover {
    color: darken($placeholder-text, 12%)
  }
}

.btn-primary {
  &:hover {
    background-color: $brand-primary-lighten;
    border-color: $brand-primary;
  }
}

.btn-lg {
  font-size: 15px;
  padding: 10px 48px;
  line-height: 15px;
}