.btn-default {
  &:hover {
    color: darken($placeholder-text, 12%)
  }
}

.btn-primary {
  &:hover {
    background-color: $brand-primary-lighten;
    border-color: $brand-primary;
  }
}

.btn-lg {
  font-size: 15px;
  padding: 10px 48px;
  line-height: 15px;
}

.add-btn, .download-btn {
  outline: none;
  font-weight: bold;
  background-color: transparent;
  color: $main-color;
  border: 2px solid $main-color;
  border-radius: 100px;
  padding: 4px 14px 4px 12px;
  position: relative;
  top: -3px;
  transition: background-color 300ms, color 300ms;
  i.fa {
    vertical-align: middle;
  }
  svg {
    width: 14px;
    path {
      transition: fill 300ms;
      fill: $main-color;
    }
  }
  svg, span {
    vertical-align: middle;
  }
  &:hover {
    background-color: $main-color;
    color: white;
    svg {
      path {
        fill: white;
      }
    }
  }
  &.disabled {
    background-color: $main-color;
    color: white;
  }
}

.btn-main {
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 22px;
  border: none;
  color: $main-font-color;
  background-color: white;
  box-shadow: 0 1px 1px gray;
  .fa {
    margin-right: 5px;
    color: $secondary-font-color;
  }
  &:hover {
    background-color: darken(white, 5%)
  }
  &:focus {
    outline: none;
  }
  &.submit {
    color: white;
    background: linear-gradient(to right, $main-color, lighten($main-color, 20%));
    &:hover {
      background: linear-gradient(to right, darken($main-color, 10%), darken(lighten($main-color, 20%), 10%));
    }
  }
}
.activity-email-btn {
  background-color: #DDDDDD;
  &:focus {
    color: $main-font-color;
    outline: none;
    &:active {
      outline: none;
    }
  }
  &:hover {
    color: white;
    background-color: darken(#DDDDDD, 10%);
    &:active {
      outline: none;
    }
  }
}