.dropdown-menu {
  padding: 10px 10px;
  font-size: 13px;

  li {
    svg {
      margin-right: 8px;
      margin-top: -1px;
      float: left;
    }

    a {
      padding: 10px;

      &:hover, &:focus {
        background-color: transparent;
        color: $brand-primary;
      }
    }

    table {
      tr {

        border: none !important;

        th {
          font-size: 13px !important;
          padding: 0 0 0 0 !important;
        }
        th:first-child {
          padding-left: 0px !important;

        }

        td {
          padding: 0 0 0 0 !important;
          font-size: 13px !important;
        }

        td:first-child {
          padding-left: 0px !important;
          padding-top: 0px !important;
        }
      }
    }
  }
}

.member-list.blue-theme {
  height: 47px;
  width: 300px;
  max-width: 100%;

  font-weight: normal;

  .select {
    line-height: 47px;
    height: 47px;
    border: 1px solid #d9e2ec;
    padding: 0 10px;
    color: #58656f;
  }
  .select:hover {
    color: #3996db;
  }
  .select::after {
    content: " ";
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-top: 5px solid \9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: 10px;
    top: 22px;
  }



  .members {
    width: 100%;
    li {
      a {
        font-weight: normal;
        color: #58656f;
        background-color: #ffffff;
      }
      a:hover {
        font-weight: normal;
        color: #7ab9e9;
        background-color: #ffffff;
      }
    }

    li.active {
      a {
        background: #7ab9e9;
        color: #FFFFFF;
      }
    }


  }
}