.form-control {
  -webkit-box-shadow: 1px 1px 1px 1px $gray-light !important;
  -moz-box-shadow: 1px 1px 1px 1px $gray-light !important;
  box-shadow: 1px 1px 1px $gray-light !important;
  border-width: 0px;
  font-size: 16px;
  font-weight: bold;
  &:-moz-placeholder {
    color: $gray-lighter;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $gray-lighter;
  }
  ::-webkit-input-placeholder {
    color: $gray-lighter;
  }
  ::-moz-placeholder {
    color: $gray-lighter;
    opacity: 1;
  }
}

.form-group {
  .control-label {
    line-height: 42px;
  }
}