.form-control {
  box-shadow: none;
  &:focus,
  &:hover {
    background-color: $white;
    box-shadow: none;
  }

  &:disabled {
    &:focus,
    &:hover {
      background-color: $input-bg-disabled;
      box-shadow: none;
    }
  }
}

.form-group {
  .control-label {
    font-size: 12px;
    font-weight: normal;
  }

  .fat {
    padding: 0;
  }
}

.bs-datepicker {
  .text-muted {
    color: $placeholder-text;
  }

  .btn-default {
    color: $brand-secondary;
    &.active {
      background: $btn-primary-bg;
      border: $btn-primary-border;
      color: $btn-primary-color;
      .text-info {
        color: $btn-primary-color;
      }
    }
  }

  .edit {
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 4px;

    &:first-child {
      margin-left: -9px;
      margin-right: 3px;
    }

    &:hover {
      border-color: $brand-primary-lighten;
    }

    &.editing {
      border-color: $brand-primary;
      border-width: 2px;
    }
  }

  table {
    &:focus {
      outline: none;
    }
  }
}

.small-datepicker {
  .text-muted {
    color: $placeholder-text;
  }

  .btn-default {
    color: $brand-secondary;
    &.active {
      background: $btn-primary-bg;
      border: $btn-primary-border;
      color: $btn-primary-color;
      .text-info {
        color: $btn-primary-color;
      }
    }
  }

  .edit {
    border: 1px solid transparent;
    padding: 3px 3px;
    border-radius: 4px;

    &:first-child {
      margin-left: 0px;
      margin-right: 0px;
    }

    &:hover {
      border-color: $brand-primary-lighten;
    }

    &.editing {
      border-color: $brand-primary;
      border-width: 2px;
    }
  }

  table {
    &:focus {
      outline: none;
    }
  }
}

.ui-select-multiple.ui-select-bootstrap {
  padding: none;

  input.ui-select-search {
    padding: 6px 12px;
    height: 2.666666em;
  }
}

.ui-select-match {
  &:focus,
  &:hover {
    outline: none;
  }

  .btn-default {
    background: $modal-bg;
    color: $placeholder-text;
    padding-top: 13px;
    border-color: $input-border;
  }

  .ui-select-placeholder {
    color: $placeholder-text;
  }

  .ui-select-match-text {
    color: $input-color;

  }
}

.bs-datepicker {
  .text-muted {
    color: $placeholder-text;
  }

  .btn-default {
    color: $brand-secondary;
    &.active {
      background: $btn-primary-bg;
      border: $btn-primary-border;
      color: $btn-primary-color;
      .text-info {
        color: $btn-primary-color;
      }
    }
  }

  table {
    &:focus {
      outline: none;
    }
  }
}

.ui-select-bootstrap {
  &:focus,
  &:hover {
    outline: none;
  }

  .ui-select-choices {
    box-shadow: none;
  }

  .ui-select-choices-row {
    a {
      color: $placeholder-text;
    }

    &.active {
      a {
        background-color: $brand-primary;
      }
    }
  }

  .ui-select-toggle {
    .caret {
      right: 15px;
    }
  }
}

.dropdown-menu {
  .ui-select-toggle {
    .caret {
      display: none;
    }
  }
}

.btn-default-focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.btn-group {
  margin-top: 7px;
  margin-bottom: 7px;
}

.search {
  margin-bottom: 20px;

  input {
    background: $white;
    border-left: 0;
  }

  .input-group-addon {
    background: $white;
    border-right: 0;
  }
}

.ui-sortable-placeholder {
  border: 4px dotted $gray-light; visibility: visible !important;
}

.input-group-addon.create-new-modal-icon {
  background-color: transparent;
  border: 0;
}

.center {
  text-align: center;
}

.text-focus-field {
  text-align: left;
  width: 100%;
  padding: 7px 0 6px 6px;
  background-color: #F6F8FA;
  background-image: none;
  border: 1px solid #DEE6EE;
  border-radius: 3px;
//  margin-left: 6px;
//  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.pos-r {
  position: relative;
}

.duplicate-list-wrapper  {
  .loader-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .75);
    z-index: 200;
    border: 1px solid rgba(150, 162, 172, .1);
  }

  .loading-pulse {
    position: absolute;
    left: 50%;
    top: calc(50% - 8px);
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .duplicate-list {
      position: absolute;
      top: calc(100% - 5px);
      left: 5px;
      width: calc(100% - 10px);
      z-index: 100;
      min-height: 60px;

    ul {
      border: 1px solid rgba(150, 162, 172, .1);
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .15);
      padding: 0 0 5px 0;
      margin: 0;

      li.list-group-item {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid rgba(150,162,172,0.1);
        padding: 11px 10px;
        color: #2B3C49;
        background-color: #fff;
        opacity: 1;
        margin-bottom: 0;

        &:hover {
          color: #2B3C49;
          background-color: #F8F9F9;
        }

        &:first-child {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          font-size: 700;
          color: #818689;
          text-transform: uppercase;

          &:hover {
            background-color: #ffffff;
          }
        }
      }

      li.list-group-item.create-account {
        background-color: #F8F9F9;
        font-size: 700;
        color: #818689;
        text-transform: uppercase;
        cursor: pointer;
        transition-duration: .3s;
        position: relative;
        top: 0;

        &:hover {
          box-shadow: 0 10px 15px 0 rgba(0,0,0,0.15);
          top: -5px;
        }
      }

      a {
        color: #3498DB;
      }
      .duplicate-string {
        display: block;
        text-transform: none;
        color: #2B3C49;
      }
    }
  }
}
