.list-group {
  .active {
    border-right-color: $brand-primary;
    &:hover, &:focus {
      border-right-color: $brand-primary;
    }
  }
  .list-group-item {
    border-style: none solid solid none;
    border-width: 2px;
    opacity: 0.75;
    color: $text-color;
    &:hover, &:focus {
      opacity: 1;
      color: $text-color;
    }
  }
}

.list-sm {
  .list-group-item {
    h5 {
      margin: 5px 0px;
    }
    font-size: 11px;
    min-height: 76px;
  }
  .active {
    border-right-width: 3px;
    border-bottom-style: none;
    opacity: 1;
  }
}

.list-lg {
  .list-group-item {
    h4 {
      margin: 5px 0px;
    }
    font-size: 15px;
    min-height: 136px;
  }
  .active {
    -webkit-box-shadow: 6px 0px 0px 0px $brand-primary !important;
    -moz-box-shadow: 6px 0px 0px 0px $brand-primary !important;
    box-shadow: 6px 0px 0px $brand-primary !important;
    border-radius: 2px;
    border-right-color: $brand-primary;
    border-bottom-style: none;
    opacity: 1;
  }
}
