.list-group {
  .active {
    border-right-color: $brand-primary;
    &:hover,
    &:focus {
      border-right-color: $brand-primary;
    }
  }

  .list-group-item {
    border-width: 1px;
    opacity: 0.30;
    color: $text-color;
    padding: 30px;
    &:hover,
    &:focus {
      opacity: 1;
      color: $text-color;
    }
  }
}

.list-sm {
  .list-group-item {
    h5 {
      margin: 5px 0;
    }

    font-size: 11px;
    min-height: 76px;
  }

  .active {
    border-right-width: 3px;
    border-bottom-style: none;
    opacity: 1;
  }
}

.list-lg {
  .list-group-item {
    h4 {
      margin: 5px 0;
    }
    font-size: 15px;
    min-height: 110px;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .active {
    -webkit-box-shadow: 6px 0 0 0 $brand-primary !important;
    -moz-box-shadow: 6px 0 0 0 $brand-primary !important;
    box-shadow: 6px 0 0 $brand-primary !important;
    border-radius: 2px;
    border-right-color: $brand-primary;
    border-bottom-style: none;
    opacity: 1;
  }
}
