#loading-bar .bar {
  background: $brand-primary;
}

#loading-bar .peg {
  -moz-box-shadow: $brand-primary 1px 0 6px 1px;
  -ms-box-shadow: $brand-primary 1px 0 6px 1px;
  -webkit-box-shadow: $brand-primary 1px 0 6px 1px;
  box-shadow: $brand-primary 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  $brand-primary;
  border-left-color: $brand-primary;
}
#loading-bar-spinner {
  left: 4px;
  top: 6px;
}