.modal-content {
  box-shadow: none;
}
.modal-xl {
  min-width: $content-min-width;
  width: 90%;
}

.modal-email {
  min-width: 600px;
  width: 868px;
}

.modal-dialog {
  .modal-header {
    min-height: 70px;
  }

  .modal-body {
    .error-text {
      display: none;
      color: $error-color;
      float: right;
      margin-bottom: 5px;
    }
    .error {
      .error-text {
        display: inline;
      }
      input, textarea, .ui-select-container, .ui-select-toggle, button.dropdown-toggle {
        border-color: $error-color;
      }
    }
  }

  .modal-footer {
    border-top-width: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .uploader {
    li {
      min-height: 56px;
    }
  }
}

#contact_assign_modal, #agreement_assign_modal {
  .modal-body {
    padding: 20px 50px;
    .client-list {

      overflow: auto;
      height: 400px;

      .client-info {
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        height: 40px;
        .name {
          float: left;
          line-height: 20px;
          font-weight: bold;
          font-size: 16px;
        }
        .type {
          padding-left: 15px;
          float: left;
          line-height: 20px;
          font-size: 12px;
          color: #c4c9cf;
        }
        .action {
          float: right;
          height: 20px;
          line-height: 20px;
          padding-right: 20px;
          font-size: 12px;
          display: none;
        }
      }
      .client-info:hover {
        .action {
          cursor: pointer;
          display: block;
        }
      }
    }
  }
}


.contacts-modal {
  .add-btn.plus-btn {
    height: 35px;
    width: 35px;
    position: relative;
    border-radius: 50%;
    margin-left: 15px;
    vertical-align: middle;
    &:hover {
      &:before, &:after {
        background-color: white;
      }
    }
    &:before, &:after {
      transition: background-color 300ms;
      content: '';
      position: absolute;
      display: block;
      background-color: $main-color;
      height: 15px;
      width: 15px;
      top: 8px;
      left: 8px;
    }
    &:before {
      left: 14px;
      width: 3px;
    }
    &:after {
      top: 14px;
      height: 3px;
    }
  }
  .with-add-btn {
    input.form-control, .ui-select-container  {
      display: inline-block;
      width: calc(100% - 55px);
    }
    .error-text {
      margin-right: 55px;
    }
  }
}

.popup-modal {
  font-family: "Avenir Next", Arial, serif;
  padding: 30px;
  color: $main-font-color;
  span.title {
    font-size: 18px;
    display: block;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 6px;
    margin-top: 30px;
  }
  input, textarea {
    &::-webkit-input-placeholder {
      font-weight: normal;
    }
    &::-moz-placeholder {
      font-weight: normal;
    }
    &:-ms-input-placeholder {
      font-weight: normal;
    }
  }
  .form-control-time {
    input {
      display: block;
      width: 100%;
      height: 47px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #232B31;
      background-color: white;
      border: 1px solid #DEE6EE;
      border-radius: 5px;
    }
  }
  .form-group {
    margin-bottom: 15px;
    input, select, textarea {
      background-color: white;
      font-weight: bold;
    }
    label {
      color: $secondary-font-color;
    }
    textarea {
      padding: 13px 12px 12px;
      resize: none;
      max-height: 300px;
      overflow: auto;
    }
  }
  .related {
    border: 2px solid $separate-line-color;
    padding: 5px 10px;
    margin-bottom: 2px;
    display: inline-block;
    border-radius: 5px;
    &.active {
      border: none;
      background-color: $main-color;
      color: white;
    }
  }
  .advertiser-agency {
    .advertiser-field, .agency-field {
      vertical-align: middle;
      display: inline-block;
      width: calc(50% - 30px);
      .form-control {
        position: relative;
        padding-right: 30px;
        .ui-select-match-text {
          width: 100%;
          overflow: hidden;
        }
        .clear-icon {
          position: absolute;
          color: lighten(red, 20%);
          background: white;
          padding: 4px 6px;
          right: 11px;
          top: 10px;
          z-index: 1;
          &:hover {
            color: red;
          }
        }

      }
    }

    .advertiser-field-fluid, .agency-field-fluid {
      vertical-align: middle;
      display: inline-block;
      width: calc(100% - 60px);
    }
    .advertiser-field {
      padding-right: 10px;
    }
    .agency-field {
      padding-left: 10px;
    }
    .add-btn.plus-btn {
      vertical-align: bottom;
      margin-bottom: 18px;
    }
  }
  .with-add-btn {
    input.form-control, .ui-select-container  {
      display: inline-block;
      width: calc(100% - 55px);
    }
    .error-text {
      margin-right: 55px;
    }
  }
  .date, .left-column {
    padding-left: 0;
    padding-right: 15px;
  }
  .time, .right-column {
    padding-left: 15px;
    padding-right: 0;
  }
  .date, .calendar-addon {
    .bs-datepicker {
      .dropdown-menu {
        left: 0 !important;
      }
    }
    .input-group-addon {
      background-color: white;
      .fa {
        color: #BCC6D2;
      }
    }
    .form-control {
      border-left: none;
      border-radius: 0 5px 5px 0;
      padding-left: 0;
    }
    .error {
      .input-group-addon {
        border-color: $error-color;
      }
    }
  }
  .star {
    color: $error-color;
  }
  .popup-modal-header {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $separate-line-color;
    position: relative;
    .close-btn {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: -10px;
      transform: rotate(45deg);
      cursor: pointer;
      &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        background-color: $secondary-font-color;
        height: 16px;
        width: 16px;
        top: 5px;
        left: 5px;
      }
      &:before {
        left: 12px;
        width: 2px;
      }
      &:after {
        top: 12px;
        height: 2px;
      }
      &:hover {
        background-color: $secondary-font-color;
        &:before, &:after {
          background-color: white;
        }
      }
    }
  }
  .popup-modal-subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .popup-modal-separate-line {
    width: 100%;
    border-bottom: 1px solid $separate-line-color;
    margin: 25px 0;
  }
  .popup-modal-body {
    margin-bottom: 20px;
    .reminder-form {
      padding-top: 10px;
    }
  }
  .popup-modal-footer {
    text-align: right;
    margin-top: 20px;
    .btn {
      border-radius: 20px;
      font-size: 16px;
      padding: 8px 24px;
      &:focus {
        outline: none;
      }
    }
    .btn[type="submit"] {
      background: linear-gradient(to right, $main-color, lighten($main-color, 20%));
      border: none;
      &:hover {
        background: linear-gradient(to right, darken($main-color, 10%), darken(lighten($main-color, 20%), 10%));

      }
    }
    .btn:not([type="submit"]) {
      border: none;
      margin-right: 20px;
      color: $secondary-font-color;
      background-color: #ebebeb;
      &:hover {
        background-color: darken(#ebebeb, 10%);
      }
    }
    .form-group {
      margin-bottom: 0;
      margin-top: 7px;
    }
    .form-control {
      height: auto;
      width: auto;
      display: inline-block;
      margin-left: 3px;
      transform: translateY(2px);
    }
    label {
      user-select: none;
    }
  }
  .add-btn.plus-btn {
    height: 35px;
    width: 35px;
    position: relative;
    border-radius: 50%;
    margin-left: 15px;
    vertical-align: middle;
    &:hover {
      &:before, &:after {
        background-color: white;
      }
    }
    &:before, &:after {
      transition: background-color 300ms;
      content: '';
      position: absolute;
      display: block;
      background-color: $main-color;
      height: 15px;
      width: 15px;
      top: 8px;
      left: 8px;
    }
    &:before {
      left: 14px;
      width: 3px;
    }
    &:after {
      top: 14px;
      height: 3px;
    }
  }
  .dropdown {
    .fa.activity-icon {
      position: absolute;
    }
    .text {
      //margin-left: 36px;
      margin-left: 32px;
      font-weight: bold;
    }
    button {
      position: relative;
      .fa.activity-icon {
        top: 11px;
        left: 12px;
      }
    }
    li {
      position: relative;
      .fa.activity-icon {
        top: 6px;
        left: 7px;
      }
    }
    button.dropdown-toggle {
      background-color: white;
      width: 100%;
      height: 47px;
      text-align: left;
      color: $main-font-color;
      border-color: $light-grayish-blue-1;
      &:focus {
        background-color: inherit;
        border-color: $light-grayish-blue-1;
        color: $main-font-color;
      }
      &:hover {
        background-color: #f4f4f4;
      }
      &:active {
        background-color: #ebebeb;
        outline: none;
        box-shadow: none;
      }
      .caret {
        position: absolute;
        top: 21px;
        right: 13px;
        color: $secondary-font-color;
      }
    }
    &.open {
      button {
        &:hover {
          background-color: #f4f4f4;
        }
        &:active {
          background-color: #ebebeb;
        }
      }
    }
  }
  .warning-text {
    color: $error-color;
  }
  .error-text {
    display: none;
    color: $error-color;
    float: right;
    margin-bottom: 5px;
  }
  .error {
    .error-text {
      display: inline;
    }
    input, textarea, .ui-select-container, .ui-select-toggle, button.dropdown-toggle {
      border-color: $error-color;
    }
  }
  .show-hide-remainder-form {
    .title-remainder {
      float: none;
      display: inline-block;
    }
    .switch-remainder-form {
      float: none;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .ui-select-container {
    background-color: white;
    .ui-select-match {
      &.btn-default-focus {
        background-color: white;
      }
      .ui-select-toggle {
        &:focus {
          border-color: $light-grayish-blue-1;
        }
        .ui-select-match-text {
          font-weight: bold;
        }
        //border-radius: 5px;
        background-color: white;
      }
    }
    .ui-select-search {
      &::-webkit-input-placeholder {
        color: #BCC6D2;
      }
      &::-moz-placeholder {
        color: #BCC6D2;
      }
      &:-ms-input-placeholder {
        color: #BCC6D2;
      }
    }
    .ui-select-choices {
      width: auto;
    }
    //.ui-select-match-item {
    //  background-color: $main-color;
    //  color: white;
    //  font-size: 14px;
    //  border-radius: 5px;
    //  padding: 6px 6px 5px;
    //  border-color: $main-color;
    //  &:hover {
    //    //border: none;
    //    background-color: darken($main-color, 10%);
    //    border-radius: 5px;
    //    border-color: $main-color;
    //  }
    //  .ui-select-match-close {
    //    padding-top: 2px;
    //    font-size: 1.5em;
    //    color: white;
    //    text-shadow: none;
    //    opacity: 1;
    //    &:hover {
    //      color: $secondary-font-color;
    //    }
    //  }
    //}
  }
  .ui-select-container .ui-select-match-item {
    background-color: $main-color;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 6px 6px 5px;
    border-color: $main-color;
    &:hover {
      //border: none;
      background-color: darken($main-color, 10%);
      border-radius: 5px;
      border-color: $main-color;
    }
    .ui-select-match-close {
      padding-top: 2px;
      font-size: 1.5em;
      color: white;
      text-shadow: none;
      opacity: 1;
      &:hover {
        color: $secondary-font-color;
      }
    }
  }
  .activity-contact {
    font-weight: bold;
    color: $secondary-font-color;
    margin-bottom: 15px;
    span {
      color: $main-font-color;
    }
  }
  .radio-switch {
    label {
      color: white;
    }
  }
  .product-budget {
    .total-budget-wrap {
      position: relative;
    }
    input {
      padding-right: 55px;
    }
    .total-percent {
      color: $secondary-font-color;
      font-weight: bold;
      top: 14px;
      right: 15px;
      position: absolute;
      &.has-error {
        color: $error-color;
        right: 65px;
      }
    }
    .reset-budget {
      font-size: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
      display: none;
      cursor: pointer;
      &.has-error {
        color: $error-color;
        display: inline-block;
      }
    }
  }
}
.modal-backdrop.in {
  height: 100%;
}

#csv_import_modal {
  svg {
    height: 36px;
    fill: $brand-primary;
  }

  .modal-header {
    border: none;
  }

  .modal-body {
    padding: 20px;
    color: $dark-text-color;

    ol.grid-block {
      margin-left: 25px;
      margin-bottom: 25px;
      font-size: 13px;

      li {
        padding: 10px 20px 10px 0;
        width: 33.33333333%;
        float: left;
      }
    }
  }
}
#activity_type_modal {
  .dropdown {
    a {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      color: $secondary-color;
      padding-bottom: 5px;
    }
    .dropdown-menu {
      padding: 5px;
      .activity-icons-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        span {
          width: calc(10% - 6px);
          text-align: center;
          display: inline-block;
          padding: 5px;
          margin: 3px;
          border: 1px solid #ebe8e3;
          border-radius: 4px;
          &:hover {
            background-color: $main-color;
            cursor: pointer;
            .fa.activity-icon {
              color: white;
            }
          }
          .fa.activity-icon {
            position: static;
          }
        }
      }
    }
  }
  .z-toggle {
    vertical-align: middle;
  }
}
#deal_modal {
  .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
  }
}
#activity-form-modal {
  word-wrap: break-word;
  .dropdown-menu[typeahead-popup] {
    max-height: 250px;
    overflow-y: auto;
  }
}
#user-modal {
  .star {
    color: $error-color;
  }
}
