.modal-content {
  box-shadow: none;
}

.modal-dialog {
  .modal-header {
    min-height: 70px;
  }

  .modal-footer {
    border-top-width: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}