#logo {
  width: 123px;
  height: 34px;
  background-image: image-url("branding/boostr_logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-nav {
  li {
    font-size: 15px;
    margin-right: 53px;

    a {
      padding: 20px 0;
    }
  }
}

.navbar-default {
  padding-bottom: 3px;
  padding-top: 5px;
  .active {
    a {
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        bottom: 15px;
        border-bottom: 2px solid $brand-primary;
      }
    }
  }

  a {
    color: $brand-secondary;
  }

  .navbar-brand {
    padding: 22px 15px;
  }

  .navbar-text {
    margin-top: 22px;
    margin-bottom: 20px;
    a {
      color: $dark-grayish-blue-4;
    }

    &.navbar-right {
      margin-right: 0;
    }
  }
}

#nav {
  background: $brand-primary;

  .nav-tabs {
    background: $brand-primary;
    color: $white;

    li {
      margin-right: 30px;

      svg {
        padding-right: 5px;
        fill: $white;
        float: left;
      }

      &.last {
        margin-right: 0;
      }

      a {
        line-height: 26px;
        color: $white;
        &:hover,
        &:focus {
          color: $gray-lighter;
          svg {
            fill: $gray-lighter;
          }
        }
      }

      &.dropdown {
        .dropdown-menu {
          li {
            a {
              color: $link-color;
            }
          }
        }
      }
    }
  }
  &.transparent {
    background: $body-bg;
    border-bottom: 1px solid $gray-lighter;
    .nav-tabs {
      background: $body-bg;
      li {
        a {
          color: $link-color;

          &:hover,
          &:focus {
            color: $link-hover-color;
            background: transparent;
            outline: none;

            svg {
              fill: $link-hover-color;
            }
          }

          svg {
            fill: $link-color;
          }
        }
      }
    }
  }
}
