#logo {
  width: 123px;
  height: 34px;
  background-image: image-url("branding/boostr_logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-nav {
  li {
    font-size: 18px;
    margin-right: 60px;
    a {
      padding: 25px 0;
    }
  }
}

.navbar-default {
  padding-bottom: 5px;
  padding-top: 5px;
  .active {
    a {
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        bottom: 15px;
        border-bottom: 3px solid $brand-primary;
      }
    }
  }
  a {
    color: $brand-secondary;
  }
}

#nav {
  background: $brand-primary;
  .nav-tabs {
    background: $brand-primary;
    color: $white;
    li {
      margin-right: 30px;
      &.last {
        margin-right: 0;
      }
      a {
        color: $white;
        &:hover {
          color: $gray-lighter;
        }
      }
      &.dropdown {
        .dropdown-menu {
          li {
            a {
              color: $brand-primary;
            }
          }
        }
      }
    }
  }
}