#stats {
  margin-bottom: 48px;
  padding: 16px 48px;

  .col-xs-fifth {
    border-right: 2px solid $gray-light;
    margin-top: 46px;
    padding: 0 36px;
    width: 20%;

    &:first-child {
      border-right: 0;
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
      padding-right: 0;
    }

    h2 {
      margin-bottom: 0;
      text-align: center;
    }

    h5 {
      text-transform: uppercase;
      margin-top: 0;
      color: $dark-grayish-blue-1;
      font-family: $font-family-light;
      text-align: center;
    }
  }

  .attainment {
    height: 180px;
    margin-top: 0px;
    position: relative;

    canvas {
      height: 180px;
      position: absolute;
      top: 0;
      left: 0;
      width: 180px;
    }

    .center-text {
      display: table-cell;
      height: 180px;
      position: relative;
      text-align: center;
      top: -5px;
      width: 180px;
      vertical-align: middle;
    }
  }

  ul {
    list-style: none;
    position: relative;
    left: 50%;

    li {
      margin-top: 30px;
      float:left;
      position:relative;
      border-right: 2px solid $gray-light;
      padding-left: 36px;
      padding-right: 36px;

      &:first-child, &:last-child {
        border: none;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border-right: 0;
      }

    }

  }
}
