.starting-wrapper {
    display: flex;
    align-items: baseline;

    &_nav {
      starting-page {
        float: left;
        padding: 11px 0;

        .set-starting {
          margin-left: 0;
        }
      }
    }
}

starting-page {
  display: block;
  color: #FF7E30;
  cursor: pointer;

  .glyphicon{
    float: right;
    font-size: 17px;
  }

  .set-starting {
    margin-left: 0;
  }

  .tooltip{
    font-size: 13px;
    .tooltip-inner {
      background-color: transparent;
      color: $brand-primary;
    }
    .tooltip-arrow {
      display: none;
    }
    &.left {
      margin-left: 2px;
    }
  }
}

.set-starting {
    @extend .btn;
    @extend .btn-link;
    margin-left: 20px;

    &__description {
        transition: opacity 200ms;
        opacity: 0;
    }

    &:hover &__description {
        opacity: 1;
    }
}