starting-page {
  display: block;
  color: #FF7E30;
  cursor: pointer;
  margin-top: 3px;

  .glyphicon{
    float: right;
    font-size: 17px;
  }

  .set-starting {
    margin-left: 0;
  }

  .tooltip{
    font-size: 13px;
    .tooltip-inner {
      background-color: transparent;
      color: $brand-primary;
    }
    .tooltip-arrow {
      display: none;
    }
    &.left {
      margin-left: 2px;
    }
  }

  .extension-icon {
    margin-right: 10px;

    img {
      width: 16px;
      vertical-align: top;
    }
    .resource-icon {
      line-height: 18px;
      font-size: 18px;
      font-weight: bolder;
      font-family: 'Arial';
    }
  }
}
