.wells-group {
  .detail {
    font-size: 16px;
    padding-left: 33px;
  }

  .well {
    margin-bottom: 1px;
    padding: 33px;
    color: $text-color;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    strong {
      font-family: $headings-font-family;
      font-size: 15px;
      color: $headings-color;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-color: transparent;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}

.well {
  border: none;
  box-shadow: none;
  margin-bottom: 10px;

  &.transparent {
    background: transparent;
    border: 1px solid $placeholder-text;
  }

  &.dark {
    background: $light-grayish-blue-7;
  }

  &.primary {
    background: $brand-primary;
    color: $white;
    text-transform: uppercase;

    .pull-right {
      margin-top: -3px;

      svg {
        fill: $white;
        vertical-align: bottom;
      }

      a {
        color: $white;
        font-size: 12px;
      }
    }
  }

  .title {
    color: $gray-base;
    font-family: $font-family-medium;
    padding-right: 15px;
  }

  .total {
    padding-left: 15px;
  }
}
