.wells-group
{
    .well
    {
        margin: 0;
        padding: 33px;

        color: $text-color;
        border: none;
        border-bottom-color: $table-border-color;
        border-radius: 0;
        strong
        {
            font-family: $headings-font-family;
            font-size: 15px;

            color: $headings-color;
        }

        &:first-child
        {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child
        {
            border-bottom-color: transparent;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }



    .detail
    {
        font-size: 16px;

        padding-left: 33px;
    }
}
