.d3-horizontal-bar-chart {
    height: auto;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;

    .axisY line,
    .axisY path {
        fill: none;
        stroke: #d9dde0;
    }

    .axisY text {
        font-size: 11px;
        fill: #2b3c49;
    }

    .axisX text {
        font-size: 12px;
        fill: #2b3c49;
    }

    .title {
        font-size: 12px;
        fill: #2b3c49;        
    }

    .axisY line {
      fill: none;
    }

    .axisX line {
      fill: none;
      stroke: #e0e0e0;
      shape-rendering: crispEdges;
    }

    .axis path {
      display: none;
    }

    .brush .extent {
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }

    .resize {
      display: inline !important; /* show when empty */
      fill: #7A7A7A;
      fill-opacity: 1;
      stroke: #7A7A7A;
      stroke-width: 2px;
    }
}


.d3-horizontal-bar-chart-tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 10px 20px 10px 20px;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    box-shadow: -1px 9px 36px -6px rgba(163,162,180,0.65);

    p {
        margin: 0;
        padding: 0;
    }

    span {
      display: inline-block;
      width: auto;
      text-align: center;
    }

    p:first-child {
      color: #FF7E30;
      font-size: 14px;
    }

    p:nth-child(2) {
      width: auto;
      color: #2B3C49;
      font-size: 16px;
      font-weight: bold;
      margin: 3px 0;
    }

    p:nth-child(3) {
      width: auto;
      color: #A3ACB4;
      font-size: 12px;
    }   
}