.editable {
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 4px;
  line-height: normal;

  &:hover {
    border-color: $brand-primary-lighten;
  }
}

/*.editable-input,*/ .editable-input:focus {
  padding: 4px 10px;
  border:1px solid $brand-primary;
  border-radius: 4px;
  height: auto;
  width: 110% !important;
}

.editable-hide {
  display: none!important;
}

h3 {
  &.editable {
    margin-left: -10px;
  }
}

.panel-body.details.details-edit span {
  display: inline-block;
}

.editable-control,
.editable-field {
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 4px;
  line-height: normal;

  &:focus {
    border-color: $brand-primary-lighten;
    border-width: 1px;
    outline: none;
  }
  &:hover {
    border-color: $brand-primary-lighten;
    border-width: 1px;
  }
  &::before {
    content: '$';
  }
}
