@import "nav";
@import "modal";
@import "form";
@import "well";
@import "list_group";
@import "table";
@import "buttons";
@import "close";
@import "dropdowns";
@import "progress-bars";
@import "svg";
@import "editable";
@import "loading_bar";
@import "activities";
@import "tree-dropdown";
@import "nv.d3.min";
@import "reminder";
@import "select";
@import "starting-page";
@import "file-uploader";
@import "daterangepicker";
@import "rzslider";
@import "activity_feed";
@import "filters_block";
@import "custom_fields";
@import "reports_header";
@import "json_formatter";
@import "talkus";
@import "z_styles/*";
@import "boostr_server_errors";
@import "loading_pulse";
@import 'text_truncate';
@import "d3_horizontal_bar_chart";

.vertical-center {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.text--bold {
  font-weight: bold!important;
}