@import "nav";
@import "modal";
@import "form";
@import "well";
@import "list_group";
@import "table";
@import "buttons";

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}