#csv_import_modal
  .modal-header.text-center
    %a.close{ ng: { click: 'cancel()' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'icons/close.svg'
    = inline_svg 'icons/csv.svg'
    %h3.modal-title
      %strong
        Import Asset Mapping File
      %br
      %small
        You can map your attachments to Deals and Activities

  .modal-body
    .well.transparent
      %h6.text-center
        Please use these column names to map your files correctly:

      %ol.row.center-block.grid-block
        %li File Name*
        %li
          Object Type*
          %br
          %span Deal or Activity or Contract
        %li
          Object Id*
          %br
          %span Id of the parent item
        %li Created At
        %li Uploader Email

    .well.transparent{ng: { show: 'metadata && metadata.length > 0' }}
      %h6.text-center
        You have some unmapped files:

      %ul.row.center-block.grid-block
        %li{ng: { repeat: 'unmapped_file in metadata' }}
          {{unmapped_file.original_file_name}}

      .custom-pagination{'bgf-pagination': 'bgf-pagination',
          'collection': 'metadata',
          'per-page': '50',
          'link-group-size': "2",
          'client-limit': "100",
          'url': 'metadata_url'}

    .well.well-lg.dark
      .row
        .col-xs-9
          .progress
            .progress-bar.progress-bar-striped{ aria: { valuemax: "100", valuemin: "0", valuenow: "{{ progressPercentage }}" }, role: "progressbar", style: "width: {{ progressPercentage }}%" }
              %span.sr-only {{ progressPercentage }}% Complete
              .text{ ng: { show: 'progressPercentage > 0' } }
                {{ progressPercentage }}%
            .text{ ng: { hide: 'progressPercentage > 0' } }
              CSV File
        .col-xs-3
          #browse.btn.btn-info.btn-block{ ngf: { select: true }, ng: { model: 'files', disabled: "is_uploading" } }
            Browse

    .alert.alert-danger{ role: 'alert', ng: { repeat: 'error in errors' } }
      {{ error.message.join(', ') }}

    .alert.alert-info{ ng: { show: 'messages' } }
      {{ messages.message }}

    .modal-footer.text-center{ ng: { hide: 'progressPercentage < 100 || is_uploading == true' } }
      %button.btn.btn-primary.btn-lg{ ng: { click: 'cancel()' } } Done
