#deal_modal
  %form{ ng: { submit: 'submitForm()' } }
    .modal-header.text-center
      %a.close{ ng: { click: 'cancel()' } }
        %span{'aria-hidden' => 'true'}
          = inline_svg 'icons/close.svg'
      %h3.modal-title
        %strong
          {{ formType }} Bottoms Up
    .modal-body
      .alerts{ 'ng-repeat': '(field, fieldErrors) in errors' }
        .alert.alert-danger{ 'ng-repeat': 'error in fieldErrors' }
          %i.fa.fa-warning
          <strong style="text-transform: capitalize">{{field}}</strong>
          {{error}}
      .form-group
        %label.control-label{ for: 'name' } Name*
        %input.form-control{ placeholder: 'Name', ng: { model: 'bp.name', required: true }, name: 'name' }

      .form-group
        .row
          .col-md-6
            %label.control-label{ for: 'time_period' } Time Period*
            %ui-select{ name: 'time_period', ng: { model: 'bp.time_period_id', disabled: true, required: true } }
              %ui-select-match{ placeholder: 'Time Period' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'timePeriod.id as timePeriod in timePeriods | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'timePeriod.name' } } }
          .col-md-6.bs-datepicker
            %label.control-label{ for: 'due-date' } Due Date*
            %input.form-control{ name: 'due-date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'bp.due_date', required: true, click: 'dueOpened = true' }, 'is-open': 'dueOpened' }
    .modal-footer.text-center
      %button.btn.btn-primary.btn-lg{ type: 'submit', ng: { disabled: 'buttonDisabled' } } {{ submitText }}
      %a.btn.btn-default.btn-lg{ ng: { click: 'cancel()' } } Cancel
