#client_modal
  %form{ ng: { submit: 'submitForm()' } }
    .modal-header.text-center
      %a.close{ ng: { click: 'cancel()' } }
        %span{'aria-hidden' => 'true'}
          = inline_svg 'icons/close.svg'
      %h3.modal-title
        %strong
          {{ formType }} Client
    .modal-body
      .form-group
        .row
          .col-xs-6
            %label.control-label{ for: 'client-type' } Client Type*
            %ui-select{ name: 'client-type', ng: { model: 'client.client_type.option_id', disabled: true } }
              %ui-select-match{ placeholder: 'Client Type' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'option.id as option in client.client_type.options | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'option.name' } } }
      .form-group
        %label.control-label{ for: 'name' } Name*
        %input.form-control{ placeholder: 'Name', ng: { model: 'client.name' }, name: 'name' }
      .form-group
        .row
          .col-xs-6
            %label.control-label{ for: 'parent-client' }
              {{ client.client_type.option_id === Agency ? 'Holding Company' : 'Global Parent' }}
            %ui-select{ parent_client: 'parent-client', ng: { model: 'client.parent_client_id', disabled: 'client.client_type.option_id === undefined', keyup: 'searchClients($select.search)'} }
              %ui-select-match{ placeholder: 'Parent Object', "allow-clear": 'true' }
                {{ $select.selected.name || client.parent_client.name }}
              %ui-select-choices{ repeat: 'parent.id as parent in clients | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'parent.name' } } }
      .form-group{ ng: {if: 'client.client_type.option_id === Advertiser'} }
        .row
          .col-xs-6
            %label.control-label{ for: 'client-category' } Advertiser Category
            %ui-select{ category: 'client-category', ng: { model: 'client.client_category_id', disabled: true, change: 'updateCategory($select.selected)' } }
              %ui-select-match{ placeholder: 'Advertiser Category' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'category.id as category in client.fields[0].options | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'category.name' } } }
          .col-xs-6
            %label.control-label{ for: 'client-subcategory' } Advertiser Subcategory
            %ui-select{ subcategory: 'client-subcategory', ng: { model: 'client.client_subcategory_id', disabled: true } }
              %ui-select-match{ placeholder: 'Advertiser Subcategory' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'subcategory.id as subcategory in current_category.suboptions | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'subcategory.name' } } }
      .form-group
        %label.control-label{ for: 'street1' } Address
        %input.form-control{ placeholder: 'Address', ng: { model: 'client.address.street1' }, name: 'street1' }
      .form-group
        .row
          .col-xs-5
            %label.control-label{ for: 'city' } City
            %input.form-control{ placeholder: 'City', ng: { model: 'client.address.city' }, name: 'city'  }
          .col-xs-4
            %label.control-label{ for: 'state' } State
            %ui-select.bo-state-select{ name: 'state', ng: { model: 'client.address.state', disabled: true } }
              %ui-select-match{ placeholder: 'State' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'state.abbreviation as state in states | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'state.name' } } }
          .col-xs-3
            %label.control-label{ for: 'zip' } Zip
            %input.form-control{ name: 'zip', placeholder: 'Zip', ng: { model: 'client.address.zip' }  }
      .form-group
        %label.control-label{ for: 'office' } Phone
        %input.form-control{ placeholder: 'Office Number', ng: { model: 'client.address.phone' }, name: 'office' }
      .form-group
        %label.control-label{ for: 'website' } Website
        %input.form-control{ placeholder: 'Website', ng: { model: 'client.website' }, name: 'website' }

    .modal-footer.text-center
      %button.btn.btn-primary.btn-lg{ type: 'submit', ng: { disabled: 'buttonDisabled' } } {{ submitText }}
      %a.btn.btn-default.btn-lg{ ng: { click: 'cancel()' } } Cancel
