#contact_assign_modal.popup-modal
    %form.form-horizontal
        .popup-modal-header
            Assign Contact to {{subjectType}}
            %span.close-btn{'ng-click': 'cancel()'}
        .popup-modal-body.modal-body{style: 'padding: 15px'}
            .alerts{ 'ng-repeat': '(field, fieldErrors) in responseErrors' }
                .alert.alert-danger{ 'ng-repeat': 'error in fieldErrors' }
                    %i.fa.fa-warning
                    {{error}}
            .form-group
                %input.form-control{ name: 'contact', placeholder: 'Select', ng: { model: 'searchText', change: 'searchContacts(searchText)' } }
            .form-group
                .row
                    .col-xs-12
                        .client-list
                            .client-info{ 'ng-repeat': 'contact in contacts | filter: { name: searchText }' }
                                .name{ ng: { bind: { html: 'contact.name' } } }
                                .action
                                    %a{ href: "javascript:void(0)", 'ng-click': "assignContact(contact)" }
                                        Assign
        .popup-modal-footer
            %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Cancel
