#contact_assign_modal.popup-modal
  %form.form-horizontal
    .popup-modal-header
      Assign to an Account
      %span.close-btn{'ng-click': 'cancel()'}
    .popup-modal-body.modal-body{style: 'padding: 15px'}
      .form-group.with-add-btn
        %input.form-control{ name: 'client', placeholder: 'Select', ng: { model: 'searchText', change: 'searchObj(searchText)', 'model-options': '{debounce: 500}' } }
        %button.add-btn.plus-btn{type: 'button', 'ng-click': 'openAccountModal()'}
      .form-group
        .row
          .col-xs-12
            .client-list
              .client-info{ 'ng-repeat': 'client in clients | filter: { name: searchText }' }
                .name{ ng: { bind: { html: 'client.name' } } }
                .type
                  {{client.client_type_id == Advertiser ? 'Advertiser' : (client.client_type_id == Agency ? 'Agency' : '' )}}
                .action
                  %a{ href: "javascript:void(0)", 'ng-click': "assignClient(client)" }
                    Assign

    .popup-modal-footer
      %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Cancel
