#contact_assign_modal.contacts-modal.popup-modal
  %form.form-horizontal
    .popup-modal-header
      Add Contact
      %span.close-btn{'ng-click': 'cancel()'} +
    .popup-modal-body.modal-body{style: 'padding: 15px'}
      .alerts{ 'ng-repeat': '(field, fieldErrors) in errors' }
        .alert.alert-danger{ 'ng-repeat': 'error in fieldErrors' }
          %i.fa.fa-warning
          <strong style="text-transform: capitalize">{{field}}</strong>
          {{error}}

      .form-group.with-add-btn
        %input.form-control{ name: 'client', placeholder: 'Select', ng: { model: 'searchText', change: 'searchObj(searchText)' } }
        %button.add-btn.plus-btn{type: 'button', 'ng-click': 'createContact()'}
      .form-group
        .row
          .col-xs-12
            .client-list
              .client-info{ 'ng-repeat': 'contact in contacts | filter: { name: searchText }' }
                .name{ ng: { bind: { html: 'contact.name' } } }
                .action
                  %a{ href: "javascript:void(0)", 'ng-click': "addContact(contact)", 'ng-hide': "checkContact(contact)" }
                    Add

    .popup-modal-footer
      %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Close