#activity-form-modal.popup-modal
    %form#product-form{ ng: { submit: 'addProduct()' } }
        .popup-modal-header
            New Product
            %span.close-btn{'ng-click': 'cancel()'}
        .popup-modal-body
            .row
                .col-xs-6{ 'ng-if': '!productOptionsEnabled' }
                    .form-group{ 'ng-class': '{error: errors.product_id}' }
                        %span.error-text {{errors.product_id}}
                        %label 
                            Product
                            %span.star *
                        %ui-select{ name: 'product', ng: { model: 'deal_product.product_id', disabled: true, required: true } }
                            %ui-select-match{ placeholder: 'Product' }
                                {{ $select.selected.name }}
                            %ui-select-choices{ repeat: 'product.id as product in productsByLevel(0) | orderBy: "name" | filter: { name: $select.search }' }
                                %div{ ng: { bind: { html: 'product.name' } } }
                .col-xs-6{ 'ng-if': 'productOptionsEnabled' }
                    .form-group{ 'ng-class': '{error: errors.product_id}' }
                        %span.error-text {{errors.product_id}}
                        %label 
                            Product
                            %span.star *
                        %ui-select{ name: 'product_level_0', ng: { model: 'deal_product.product0', required: true }, 'on-select': 'onChangeProduct($item, $model)' }
                            %ui-select-match{ placeholder: 'Product' }
                                {{ $select.selected.name }}
                            %ui-select-choices{ repeat: 'product.id as product in productsByLevel(0) | orderBy: "name" | filter: { name: $select.search }' }
                                %div{ ng: { bind: { html: 'product.name' } } }
                .col-xs-6{ 'ng-if': 'productOptionsEnabled && productOption1Enabled' }
                    .form-group{ 'ng-class': '{error: errors.product1}' }
                        %span.error-text {{errors.product1}}
                        %label 
                            {{ option1Field }}
                            %span.star{'ng-if': 'hasSubProduct(1) || selectedProduct().level >= 1'} *
                        %ui-select{ name: 'product_level_1', ng: { model: 'deal_product.product1', disabled: '!deal_product.product0 || productsByLevel(1).length == 0', required: true }, 'on-select': 'onChangeProduct($item, $model)' }
                            %ui-select-match{ placeholder: '{{ option1Field }}', 'allow-clear': 'true' }
                                {{ $select.selected.name }}
                            %ui-select-choices{ repeat: 'product.id as product in productsByLevel(1) | orderBy: "name" | filter: { name: $select.search }' }
                                %div{ ng: { bind: { html: 'product.name' } } }
                .col-xs-6{ 'ng-if': 'productOptionsEnabled && productOption2Enabled' }
                    .form-group{ 'ng-class': '{error: errors.product2}' }
                        %span.error-text {{errors.product2}}
                        %label 
                            {{ option2Field }}
                            %span.star{'ng-if': 'hasSubProduct(2) || selectedProduct().level == 2'} *
                        %ui-select{ name: 'product_level_2', ng: { model: 'deal_product.product2', disabled: '!deal_product.product1 || productsByLevel(2).length == 0', required: true }, 'on-select': 'onChangeProduct($item, $model)' }
                            %ui-select-match{ placeholder: '{{ option2Field }}', 'allow-clear': 'true' }
                                {{ $select.selected.name }}
                            %ui-select-choices{ repeat: 'product.id as product in productsByLevel(2) | orderBy: "name" | filter: { name: $select.search }' }
                                %div{ ng: { bind: { html: 'product.name' } } }
                .col-xs-6
                    .form-group.product-budget{'ng-class': "{'with-add-btn': deal_product.isIncorrectTotalBudgetPercent}"}
                        %label Total Budget
                        %div.total-budget-wrap
                            %input.form-control.total-budget{'numbers-only': '', 'ng-model': 'deal_product.budget_loc', 'ng-change': 'changeTotalBudget()'}
                            %span.total-percent{'ng-class': "{'has-error': deal_product.isIncorrectTotalBudgetPercent}"}
                                {{(deal_product.budget_percent || 0 )+ '%'}}
                            %span.reset-budget.glyphicon.glyphicon-remove-circle{'ng-class': "{'has-error': deal_product.isIncorrectTotalBudgetPercent}", 'ng-click': 'resetAddProduct()'}

            .row
                .col-xs-12
                    .row.months.new-product-form
                        .col-xs-2{ ng: { repeat: 'month in deal_product.deal_product_budgets' } }
                            .form-group
                                %label {{deal_product.months[$index]}}
                                %input.form-control.offset-bottom{style: 'margin-bottom: 5px', 'ng-model': 'month.budget_loc',
                                    'ng-disabled': '!deal_product.budget_loc',
                                    'ng-change': 'changeMonthValue(month.budget_loc, $index)',
                                    'ng-focus': 'cutCurrencySymbol(month.budget_loc, $index)',
                                    'ng-blur': 'setCurrencySymbol(month.budget_loc, $index)',
                                    'numbers-only':''}
                                %input.form-control{ 'ng-model': 'month.percent_value',
                                    'ng-disabled': '!deal_product.budget_loc',
                                    'ng-change': 'changeMonthPercent(month.percent_value, $index)',
                                    'ng-focus': 'cutPercent(month.percent_value, $index)',
                                    'ng-blur': 'setPercent(month.percent_value, $index)',
                                    'numbers-only':''}
        .popup-modal-footer
            %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Close
            %button.btn.btn-warning{'type': 'submit', ng: { disabled: 'disableSubmitButton' }} Add Product