#revenue_upload_modal
  .modal-header.text-center
    %a.close{ ng: { click: 'cancel()' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'icons/close.svg'
    = inline_svg 'icons/csv.svg'
    %h3.modal-title
      %strong
        Import Deal Product Monthly Budget
      %br
      %small
        Please import your deal product monthly budgets from your current system into a CSV file.

  .modal-body
    .well.transparent
      %p.text-center
        Make sure your CSV file includes these EXACT headers and columns:

      %ol.row.center-block
        %li.col-xs-4 Deal ID
        %li.col-xs-4 Deal Name*
        %li.col-xs-4 Deal Product*
        %li.col-xs-4{'ng-if': 'company.product_options_enabled && company.product_option1_enabled'} Product Level1
        %li.col-xs-4{'ng-if': 'company.product_options_enabled && company.product_option2_enabled'} Product Level2
        %li.col-xs-4 Budget*
        %li.col-xs-4
          Start Date*
          %br
          (MM/DD/YYYY)
        %li.col-xs-4
          End Date*
          %br
          (MM/DD/YYYY)

    .well.well-lg.dark
      .row
        .col-xs-9
          .progress
            .progress-bar.progress-bar-striped{ aria: { valuemax: "100", valuemin: "0", valuenow: "{{ progressPercentage }}" }, role: "progressbar", style: "width: {{ progressPercentage }}%" }
              %span.sr-only {{ progressPercentage }}% Complete
              .text{ ng: { show: 'progressPercentage > 0' } }
                {{ progressPercentage }}%
            .text{ ng: { hide: 'progressPercentage > 0' } }
              CSV File
        .col-xs-3
          #browse.btn.btn-info.btn-block{ ngf: { select: true }, ng: { model: 'files', disabled: "is_uploading" } }
            Browse

    .alert.alert-danger{ role: 'alert', ng: { repeat: 'error in errors' } }
      {{ error.message.join(', ') }}

    .alert.alert-info{ ng: { show: 'messages' } }
      {{ messages.message }}

    .modal-footer.text-center{ ng: { hide: 'progressPercentage < 100 || is_uploading == true' } }
      %button.btn.btn-primary.btn-lg{ ng: { click: 'cancel()' } } Done