#csv_import_modal
  .modal-header.text-center
    %a.close{ ng: { click: 'cancel()' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'icons/close.svg'
    = inline_svg 'icons/csv.svg'
    %h3.modal-title
      %strong
        Import Deals
      %br
      %small
        Please import your deals from your current system into a CSV file.

  .modal-body
    .well.transparent
      %h6.text-center
        Make sure your CSV file includes these EXACT headers and columns:

      %ol.row.center-block.grid-block
        %li Deal ID
        %li Name*
        %li Advertiser*
        %li Agency
        %li ISO Currency Code *
        %li Type
        %li Source
        %li
          Start Date
          %br
          (MM/DD/YYYY)
        %li
          End Date
          %br
          (MM/DD/YYYY)
        %li Stage
        %li Replace Team (Y/N)
        %li
          Team
          %br
          (email1/%;email2/%)
        %li
          Created Date
          %br
          (MM/DD/YYYY)
        %li
          Closed Date
          %br
          (MM/DD/YYYY)
        %li
          Close Reason
          %br
          %br
        %li
          Contacts
          %br
          (email1;email2)
        %li
          Loss Comments
        %li
          Next Steps
          %br
          %br
        %li
          Created By
          %br
          (email)
        %li
          Legacy ID

      .custom_fields{ng: { show: 'custom_fields && custom_fields.length > 0' }}
        %h6.text-center
          Optional Deal Custom Fields. Please use these EXACT headers to allow system to recognize Custom Fields:

        %ol.row.center-block.grid-block
          %li{ng: { repeat: 'custom_field in custom_fields' }}
            {{custom_field.field_label}}

    .well.well-lg.dark
      .row
        .col-xs-9
          .progress
            .progress-bar.progress-bar-striped{ aria: { valuemax: "100", valuemin: "0", valuenow: "{{ progressPercentage }}" }, role: "progressbar", style: "width: {{ progressPercentage }}%" }
              %span.sr-only {{ progressPercentage }}% Complete
              .text{ ng: { show: 'progressPercentage > 0' } }
                {{ progressPercentage }}%
            .text{ ng: { hide: 'progressPercentage > 0' } }
              CSV File
        .col-xs-3
          #browse.btn.btn-info.btn-block{ ngf: { select: true }, ng: { model: 'files', disabled: "is_uploading" } }
            Browse

    .alert.alert-danger{ role: 'alert', ng: { repeat: 'error in errors' } }
      {{ error.message.join(', ') }}

    .alert.alert-info{ ng: { show: 'messages' } }
      {{ messages.message }}

    .modal-footer.text-center{ ng: { hide: 'progressPercentage < 100 || is_uploading == true' } }
      %button.btn.btn-primary.btn-lg{ ng: { click: 'cancel()' } } Done