#custom-fields-modal
  %form.form-horizontal{ ng: { submit: 'submitForm()' } }
    .modal-header.text-center
      %a.close{ ng: { click: 'cancel()' } }
        %span{'aria-hidden' => 'true'}
          = inline_svg 'icons/close.svg'
      %h3.modal-title
        %strong
          {{ formType }} Custom Field
    .modal-body
      .alerts{ 'ng-repeat': '(field, fieldErrors) in responseErrors' }
        .alert.alert-danger{ 'ng-repeat': 'error in fieldErrors' }
          %i.fa.fa-warning
          <strong style="text-transform: capitalize">{{field}}</strong>
          {{error}}
      .form-group{ ng: { if: 'formType == "New"' } }
        .row
          .col-xs-12
            -#%span.error-text {{errors.field_type}}
            %label.control-label{ for: 'field_object' }
              Custom Field Object
              %span.star *
            %ui-select{ name: 'field_object', ng: { model: 'customFieldName.field_object', disabled: true } }
              %ui-select-match{ placeholder: 'Select an Object' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'customFieldObjectType.value as customFieldObjectType in customFieldObjectTypes | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'customFieldObjectType.name' } } }
      .form-group{ ng: { if: 'formType == "New"', class:'{error: errors.field_type}' } }
        .row
          .col-xs-12
            %span.error-text {{errors.field_type[0]}}
            %label.control-label{ for: 'field_type' }
              Field Type
              %span.star *
            %ui-select{ name: 'field_type', ng: { model: 'customFieldName.field_type', disabled: true } }
              %ui-select-match{ placeholder: 'Select A Field Type' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'fieldType.value as fieldType in getfieldTypes(customFieldName.field_object) | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'fieldType.name' } } }
      .form-group{ ng: { if: 'customFieldName.field_type == "dropdown"', class:'{error: errors.field_type}' } }
        .row
          .col-xs-12
            %label.control-label{ for: 'field_type' }
              Dropdown Options
              %span.star *
            .dropdown-options
              .dropdown-option{ ng: { repeat: 'customFieldOption in customFieldOptions track by $index', init: "customFieldOptionIndex = $index" } }
                %input.form-control.option-field{ placeholder: "{{'Value ' + (customFieldOptionIndex + 1)}}", ng: { model: 'customFieldOptions[customFieldOptionIndex]["value"]' } }
                %i.fa.fa-plus{ "aria-hidden": "true", "ng-click": "addCustomFieldOption()", "ng-if": "customFieldOptions.length == customFieldOptionIndex + 1" }
                %i.fa.fa-times{ "aria-hidden": "true", "ng-click": "removeCustomFieldOption(customFieldOptionIndex)", "ng-if": "customFieldOptions.length > customFieldOptionIndex + 1" }
      .form-group{ ng: { class:'{error: errors.field_label}'} }
        .row
          .col-xs-12
            %span.error-text {{errors.field_label[0]}}
            %label.control-label{ for: 'field_label' }
              Field Label
              %span.star *
            %input.form-control{ name: 'field_label', placeholder: 'Enter Field Label', ng: { model: 'customFieldName.field_label' } }
      .form-group{ ng: { class:'{error: errors.position}'} }
        .row
          .col-xs-12
            %span.error-text {{errors.position[0]}}
            %label.control-label{ for: 'position' }
              Position
              %span.star *
            %input.form-control{ name: 'position', placeholder: 'Enter Position', ng: { model: 'customFieldName.position' } }
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'is_required' } Required
            .show-hide-remainder-form
              .switch-remainder-form
                %input#rem-act-modal-toggle.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'customFieldName.is_required'}
                %label{:for => "rem-act-modal-toggle"}
                  %span
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'is_required' } Show on Modal
            .show-hide-remainder-form
              .switch-remainder-form
                %input#rem-act-modal-toggle1.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'customFieldName.show_on_modal'}
                %label{:for => "rem-act-modal-toggle1"}
                  %span
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'disabled' } Disabled
            .show-hide-remainder-form
              .switch-remainder-form
                %input#rem-act-modal-toggle2.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'customFieldName.disabled'}
                %label{:for => "rem-act-modal-toggle2"}
                  %span

    .modal-footer
      %button.btn.btn-primary.btn-lg{ type: 'submit', ng: { disabled: 'buttonDisabled' } } {{ submitText }}
      %a.btn.btn-default.btn-lg{ ng: { click: 'cancel()' } } Cancel
