#activity-form-modal.popup-modal
    %form#product-form{ ng: { submit: 'addProduct()' } }
        .popup-modal-header
            New Product
            %span.close-btn{'ng-click': 'cancel()'}
        .popup-modal-body
            .row
                .col-xs-6{ 'ng-if': '!productOptionsEnabled' }
                    .form-group
                        %label Product
                        %ui-select{ name: 'product', ng: { model: 'deal_product.product_id', disabled: true, required: true } }
                            %ui-select-match{ placeholder: 'Product' }
                                {{ $select.selected.name }}
                            %ui-select-choices{ repeat: 'product.id as product in products | orderBy: "name" | filter: { name: $select.search }' }
                                %div{ ng: { bind: { html: 'product.name' } } }
                .col-xs-4{ 'ng-if': 'productOptionsEnabled' }
                    .form-group
                        %label Product
                        %ui-select{ name: 'product_name', ng: { model: 'deal_product.product_name', required: true }, 'on-select': 'onChangeProductName($item, $model)' }
                            %ui-select-match{ placeholder: 'Product' }
                                {{ $select.selected }}
                            %ui-select-choices{ repeat: 'product in productsByName() | orderBy | filter: $select.search' }
                                %div{ ng: { bind: { html: 'product' } } }
                .col-xs-4{ 'ng-if': 'productOptionsEnabled' }
                    .form-group
                        %label {{ option1Field }}
                        %ui-select{ name: 'product_option1', ng: { model: 'deal_product.product_option1_id', disabled: '!deal_product.product_name || rootOptions().length == 0', required: true }, 'on-select': 'onChangeOption1($item, $model)' }
                            %ui-select-match{ placeholder: '{{ option1Field }}' }
                                {{ $select.selected.name }}
                            %ui-select-choices{ repeat: 'option.id as option in rootOptions() | orderBy: "name" | filter: { name: $select.search }' }
                                %div{ ng: { bind: { html: 'option.name' } } }
                .col-xs-4{ 'ng-if': 'productOptionsEnabled' }
                    .form-group
                        %label {{ option2Field }}
                        %ui-select{ name: 'product_option2', ng: { model: 'deal_product.product_option2_id', disabled: '!deal_product.product_option1_id || subOptions().length == 0', required: true }, 'on-select': 'onChangeOption2($item, $model)' }
                            %ui-select-match{ placeholder: '{{ option1Field }}' }
                                {{ $select.selected.name }}
                            %ui-select-choices{ repeat: 'option.id as option in subOptions() | orderBy: "name" | filter: { name: $select.search }' }
                                %div{ ng: { bind: { html: 'option.name' } } }
                .col-xs-6
                    .form-group.product-budget{'ng-class': "{'with-add-btn': deal_product.isIncorrectTotalBudgetPercent}"}
                        %label Total Budget
                        %div.total-budget-wrap
                            %input.form-control.total-budget{'numbers-only': '', 'ng-model': 'deal_product.budget_loc', 'ng-change': 'changeTotalBudget()'}
                            %span.total-percent{'ng-class': "{'has-error': deal_product.isIncorrectTotalBudgetPercent}"}
                                {{(deal_product.budget_percent || 0 )+ '%'}}
                            %span.reset-budget.glyphicon.glyphicon-remove-circle{'ng-class': "{'has-error': deal_product.isIncorrectTotalBudgetPercent}", 'ng-click': 'resetAddProduct()'}

            .row
                .col-xs-12
                    .row.months.new-product-form
                        .col-xs-2{ ng: { repeat: 'month in deal_product.deal_product_budgets' } }
                            .form-group
                                %label {{deal_product.months[$index]}}
                                %input.form-control.offset-bottom{style: 'margin-bottom: 5px', 'ng-model': 'month.budget_loc',
                                    'ng-disabled': '!deal_product.budget_loc',
                                    'ng-change': 'changeMonthValue(month.budget_loc, $index)',
                                    'ng-focus': 'cutCurrencySymbol(month.budget_loc, $index)',
                                    'ng-blur': 'setCurrencySymbol(month.budget_loc, $index)',
                                    'numbers-only':''}
                                %input.form-control{ 'ng-model': 'month.percent_value',
                                    'ng-disabled': '!deal_product.budget_loc',
                                    'ng-change': 'changeMonthPercent(month.percent_value, $index)',
                                    'ng-focus': 'cutPercent(month.percent_value, $index)',
                                    'ng-blur': 'setPercent(month.percent_value, $index)',
                                    'numbers-only':''}
        .popup-modal-footer
            %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Close
            %button.btn.btn-warning{'type': 'submit', 'ng-disabled': 'deal_product.isIncorrectTotalBudgetPercent || !deal_product.product_id'} Add Product