#deal_modal.popup-modal
  %form{ ng: { submit: 'submitForm()' } }
    .popup-modal-header
      {{ formType }}
      %span.close-btn{'ng-click': 'cancel()'} +
    .popup-modal-body
      .form-group{'ng-class':'{error: errors.reason}'}
        %span.error-text {{errors.reason}}
        %label{ for: 'close-reason' } Reason
        %ui-select{ name: 'close-reason', ng: { model: 'currentDeal.close_reason.option_id', disabled: true } }
          %ui-select-match{ placeholder: 'Reason' }
            {{ $select.selected.name }}
          %ui-select-choices{ repeat: 'option.id as option in currentDeal.close_reason.options | filter: { name: $select.search }' }
            %div{ ng: { bind: { html: 'option.name' } } }

    .popup-modal-footer.text-center
      %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Cancel
      %button.btn.btn-primary{ type: 'submit', ng: { disabled: 'buttonDisabled' } } {{ submitText }}
