#deal-warning-modal.popup-modal
    .popup-modal-header.info-text
        %i.fa.fa-exclamation-triangle
        Warning
        %span.close-btn{'ng-click': 'cancel()'}
    .popup-modal-body
        %h5 {{message}}

    .popup-modal-footer.clearfix
        .row
            .col-sm-9{ ng: { if: 'id' } }
                .form-group.text-left
                    %label{ for: 'show-warnings' }
                        Do not display this message again for this deal
                    %input.form-control{id: 'show-warnings', type: 'checkbox', ng: { model: 'dontShowWarnings',  change: 'onChange()' } }
            .col-sm-3{ ng: { if: 'id' } }
                %button.btn.btn-default{ 'type': 'button', ng: { click: 'cancel()' } } Ok
            
            %button.btn.btn-default{ 'type': 'button', ng: { click: 'cancel()', if: '!id' } } Ok