#dfp-info-modal.popup-modal
  .popup-modal-header.info-text
    .status_ok
      %i.fa.fa-check-circle-o
      Info
    %span.close-btn{'ng-click': 'cancel()'}
  .popup-modal-body
    %h5 {{resp.message}}

  .popup-modal-footer
    %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Ok
