#deal_modal.popup-modal
  .popup-modal-header.left
    Egnyte
    %span.close-btn{'ng-click': 'cancel()'}
  .popup-modal-body
    %iframe{width: "715px", height: "700px", "ng-src": "{{embeddedEgnyte}}" }