#deal_modal
  %form{ ng: { submit: 'submitForm()' } }
    .modal-header.text-center
      %a.close{ ng: { click: 'cancel()' } }
        %span{'aria-hidden' => 'true'}
          = inline_svg 'icons/close.svg'
      %h3.modal-title
        %strong
          {{ formType }} IO
    .modal-body
      .form-group
        %label.control-label{ for: 'name' } Name*
        %input.form-control{ placeholder: 'Name', ng: { model: 'io.name', required: true }, name: 'name' }

      .form-group{ ng: {if: "formType == 'New'"}}
        .row
          .col-xs-6
            %label.control-label{ for: 'budget' } Budget*
            %input.form-control{ placeholder: 'Budget', ng: { model: 'io.budget', required: true }, name: 'budget' }
          .col-xs-6
            %label.control-label{ for: 'external_io_number' } External IO #
            %input.form-control{ placeholder: 'External IO #', ng: { model: 'io.external_io_number', required: true }, name: 'external_io_number' }

      .form-group{ ng: {if: "formType == 'New'"}}
        %label.control-label{ for: 'deal' } Deal*
        %ui-select{ name: 'deal', ng: { model: 'io.deal_id', disabled: true, keyup: 'searchDeals($select.search)' }, 'on-select': "dealSelected($model)" }
          %ui-select-match{ placeholder: 'Deal' }
            {{ $select.selected.name }}
          %ui-select-choices{ repeat: 'deal.id as deal in deals' }
            %div{ ng: { bind: { html: 'deal.name' } } }
      .form-group
        .row
          .col-xs-6
            %label.control-label{ for: 'advertiser' } Advertiser*
            .input-group
              %ui-select{ name: 'advertiser', ng: { model: 'io.advertiser_id', disabled: true, keyup: 'searchClients($select.search, Advertiser)' }, 'on-select': "advertiserSelected($model)" }
                %ui-select-match{ placeholder: 'Advertiser' }
                  {{ $select.selected.name }}
                %ui-select-choices{ repeat: 'advertiser.id as advertiser in advertisers' }
                  %div{ ng: { bind: { html: 'advertiser.name' } } }
              .input-group-addon.create-new-modal-icon
                %a{ ng: { click: 'createNewClientModal("Advertiser", "advertiser_id")' } }
                  = inline_svg 'icons/add.svg'
          .col-xs-6
            %label.control-label{ for: 'agency' } Agency
            .input-group
              %ui-select{ name: 'agency', ng: { model: 'io.agency_id', disabled: true, keyup: 'searchClients($select.search, Agency)' }, 'on-select': 'agencySelected($model)' }
                %ui-select-match{ placeholder: 'Agency' }
                  {{ $select.selected.name }}
                %ui-select-choices{ repeat: 'agency.id as agency in agencies' }
                  %div{ ng: { bind: { html: 'agency.name' } } }
              .input-group-addon.create-new-modal-icon
                %a{ ng: { click: 'createNewClientModal("Agency", "agency_id")' } }
                  = inline_svg 'icons/add.svg'
      .form-group{ ng: {if: "formType == 'New'"}}
        .row
          .col-md-6.bs-datepicker
            %label.control-label{ for: 'start-date' } Start Date*
            %input.form-control{ name: 'start-date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'io.start_date', required: true, click: 'startOpened = true' }, 'is-open': 'startOpened' }

          .col-md-6.bs-datepicker
            %label.control-label{ for: 'end-date' } End Date*
            %input.form-control{ name: 'end-date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'io.end_date', required: true, click: 'endOpened = true' }, 'is-open': 'endOpened' }
      .form-group{ ng: {if: "formType == 'New'"}}
        .row
          .col-xs-6
            %label.control-label{ for: 'member' } IO Member*
            %ui-select{ name: 'member', ng: { model: 'ioMember.user_id', disabled: true, required: true } }
              %ui-select-match{ placeholder: 'IO Member' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'user.id as user in users | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'user.name' } } }
          .col-xs-6
            %label.control-label{ for: 'share' } Share*
            %input.form-control{ placeholder: 'Share', ng: { model: 'ioMember.share', required: true }, name: 'share' }
      .form-group{ ng: {if: "formType == 'New'"}}
        .row
          .col-md-6.bs-datepicker
            %label.control-label{ for: 'from-date' } From Date*
            %input.form-control{ name: 'from-date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'ioMember.from_date', required: true, click: 'fromOpened = true' }, 'is-open': 'fromOpened' }

          .col-md-6.bs-datepicker
            %label.control-label{ for: 'to-date' } To Date*
            %input.form-control{ name: 'to-date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'ioMember.to_date', required: true, click: 'toOpened = true' }, 'is-open': 'toOpened' }

    .modal-footer.text-center
      %button.btn.btn-primary.btn-lg{ type: 'submit', ng: { disabled: 'buttonDisabled' } } {{ submitText }}
      %a.btn.btn-default.btn-lg{ ng: { click: 'cancel()' } } Cancel
