#activity-form-modal.popup-modal
    %form#product-form{ ng: { submit: 'addContentFee()' } }
        .popup-modal-header
            New Content Fee
            %span.close-btn{'ng-click': 'cancel()'}
        .popup-modal-body
            .row
                .col-xs-6
                    .form-group
                        %label Product
                        %ui-select{ name: 'product', ng: { model: 'content_fee.product_id', disabled: true, required: true } }
                            %ui-select-match{ placeholder: 'Product' }
                                {{ $select.selected.name }}
                            %ui-select-choices{ repeat: 'product.id as product in products | filter: { name: $select.search }' }
                                %div{ ng: { bind: { html: 'product.name' } } }
                .col-xs-6
                    .form-group.product-budget{'ng-class': "{'with-add-btn': content_fee.isIncorrectTotalBudgetPercent}"}
                        %label Total Budget
                        %div.total-budget-wrap
                            %input.form-control.total-budget{'numbers-only': '', 'ng-model': 'content_fee.budget_loc', 'ng-change': 'changeTotalBudget()'}
                            %span.total-percent{'ng-class': "{'has-error': content_fee.isIncorrectTotalBudgetPercent}"}
                                {{(content_fee.budget_percent || 0 )+ '%'}}
                            %span.reset-budget.glyphicon.glyphicon-remove-circle{'ng-class': "{'has-error': content_fee.isIncorrectTotalBudgetPercent}", 'ng-click': 'resetAddProduct()'}
                .col-xs-12
                    .row.months.new-product-form
                        .col-xs-2{ ng: { repeat: 'month in content_fee.content_fee_product_budgets' } }
                            .form-group
                                %label {{content_fee.months[$index]}}
                                %input.form-control.offset-bottom{style: 'margin-bottom: 5px', 'ng-model': 'month.budget_loc',
                                    'ng-disabled': '!content_fee.budget_loc',
                                    'ng-change': 'changeMonthValue(month.budget_loc, $index)',
                                    'ng-focus': 'cutCurrencySymbol(month.budget_loc, $index)',
                                    'ng-blur': 'setCurrencySymbol(month.budget_loc, $index)',
                                    'numbers-only':''}
                                %input.form-control{ 'ng-model': 'month.percent_value',
                                    'ng-disabled': '!content_fee.budget_loc',
                                    'ng-change': 'changeMonthPercent(month.percent_value, $index)',
                                    'ng-focus': 'cutPercent(month.percent_value, $index)',
                                    'ng-blur': 'setPercent(month.percent_value, $index)',
                                    'numbers-only':''}
        .popup-modal-footer
            %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Close
            %button.btn.btn-warning{'type': 'submit', 'ng-disabled': 'content_fee.isIncorrectTotalBudgetPercent || !content_fee.product_id'} Add Content Fee