#activity-form-modal.popup-modal
    .popup-modal-header
        Response Body
        %span.close-btn{'ng-click': 'cancel()'}
    .popup-modal-body
        .table-wrapper
            %ul#body-list
                %json-formatter{open: '2', json: 'xmlObject'}

    .popup-modal-footer
        %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Close