#notification-modal
  %form{ ng: { submit: 'submitForm()' } }
    .modal-header.text-center
      %a.close{ ng: { click: 'cancel()' } }
        %span{'aria-hidden' => 'true'}
          = inline_svg 'icons/close.svg'
      %h3.modal-title
        %strong
          {{ notification.name }} Notification
    .modal-body
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'recipients' } Subscribers
            %input.form-control{ placeholder: 'Eg. admin@example.com,joe@example.com', ng: { model: 'notification.recipients' }, name: 'recipients', type: 'text'  }
    .modal-footer.text-center
      %button.btn.btn-primary.btn-lg{ type: 'submit', ng: { disabled: 'buttonDisabled' } } {{ submitText }}
      %a.btn.btn-default.btn-lg{ ng: { click: 'cancel()' } } Cancel
