#notification-modal
  %form{ name: 'api_configuration_form', ng: { submit: 'submitForm()' } }
    .modal-header.text-center
      %a.close{ ng: { click: 'cancel()' } }
        %span{'aria-hidden' => 'true'}
          = inline_svg 'icons/close.svg'
      %h3.modal-title
        %strong
          {{ formType }} Operative Api Integration
    .modal-body
      .form-group
        .row
          .col-xs-12
            %label.control-label{for: 'switched_on'} Switch on/off integration
            %input{ ng: { model: 'api_configuration.switched_on' }, type: 'checkbox' }
        .row
          .col-xs-12
            %label.control-label{for: 'recurring'} Recurring after the threshold
            %input{ ng: { model: 'api_configuration.recurring' }, type: 'checkbox' }
        .row
          .col-xs-12
            %label.control-label{ for: 'integration_provider' } Integration type
            %input.form-control{ ng: { model: 'api_configuration.integration_provider' }, disabled: 'true' }
        .row
          .col-xs-12
            %label.control-label{ for: 'trigger_on_deal_percentage' } Probability Threshold
            %input.form-control{ placeholder: 'Eg. 100', ng: { model: 'api_configuration.trigger_on_deal_percentage' }, name: 'trigger_on_deal_percentage', type: 'number', required: true }
        .row
          .col-xs-12
            %label.control-label{ for: 'base_link' } Base link
            %input.form-control{ placeholder: 'https://integrations.com/api', ng: { model: 'api_configuration.base_link' }, name: 'base_link', required: true }
        .row
          .col-xs-12
            %label.control-label{ for: 'api_email' } API username
            %input.form-control{ placeholder: 'example@email.com', ng: { model: 'api_configuration.api_email' }, name: 'api_email', required: true  }

        .row{ ng: { if: 'formType == \'Edit\'' } }
          .col-xs-12
            %label.control-label{ for: 'need_change_password' } Need to change password?
            %input{ ng: { model: 'need_change_password', click: 'set_need_set_password(need_change_password)' }, type: 'checkbox', name: 'need_change_password' }

        .row{ ng: { if: 'need_change_password' } }
          .col-xs-12
            %label.control-label{ for: 'password' } Api password
            %input.form-control{ placeholder: 'Please enter new password', ng: { model: 'api_configuration.password' }, name: 'password', type: 'password' }
    .modal-footer.text-center
      %button.btn.btn-primary.btn-lg{ type: 'submit' } {{ submitText }}
      %a.btn.btn-default.btn-lg{ ng: { click: 'cancel()' } } Cancel
