#notification-modal.api-config-modal
  %form{ name: 'api_configuration_form', ng: { submit: 'submitForm()' } }
    .modal-header.text-center
      %a.close{ ng: { click: 'cancel()' } }
        %span{'aria-hidden' => 'true'}
          = inline_svg 'icons/close.svg'
      %h3.modal-title
        %strong
          {{ formType }} Operative Datafeed Integration
    .modal-body
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'switched_on' } Integration Enabled
            .show-hide-remainder-form.toggle-on-modal
              .switch-remainder-form
                %input#switched-on-toggle.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'api_configuration.switched_on'}
                %label{:for => "switched-on-toggle"}
                  %span
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'integration_provider' } Integration type
            %input.form-control{ ng: { model: 'api_configuration.integration_provider' }, disabled: 'true' }
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'base_link' } Base link
            %input.form-control{ placeholder: 'https://integrations.com/api', ng: { model: 'api_configuration.base_link' }, name: 'base_link', required: true }
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'api_email' } API username
            %input.form-control{ placeholder: 'example@email.com', ng: { model: 'api_configuration.api_email' }, name: 'api_email', required: true  }
      .form-group
        .row{ ng: { if: 'formType == "Edit"' } }
          .col-xs-12
            %label.control-label{ for: 'need_change_password' } Need to change password?
            %input{ ng: { model: 'need_change_password', click: 'set_need_set_password(need_change_password)' }, type: 'checkbox', name: 'need_change_password' }

      .form-group
        .row{ ng: { if: 'need_change_password' } }
          .col-xs-12
            %label.control-label{ for: 'password' } Api password
            %input.form-control{ placeholder: 'Please enter new password', ng: { model: 'api_configuration.password' }, name: 'password', type: 'password' }
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'company_name' } Company Name at Datafeed
            %input.form-control{ placeholder: 'example@email.com', ng: { model: 'api_configuration.datafeed_configuration_details.company_name' }, name: 'company_name', required: true  }
      .form-group
        .row
          .col-xs-6
            %label.control-label{ for: 'auto_close_deals' } Auto-Close Deals on IO Import
            %br
            %z-toggle{'ng-model': 'api_configuration.datafeed_configuration_details.auto_close_deals'}
          .col-xs-6
            %label.control-label{ for: 'exclude_child_line_items' } Only New & Changes
            %br
            %z-toggle{'ng-model': 'api_configuration.datafeed_configuration_details.skip_not_changed'}

      .form-group{'ng-class':'{error: errors.revenue_calculation_pattern}'}
        %span.error-text {{errors.revenue_calculation_pattern}}
        %label.control-label{ for: 'revenue_calculation_patterns' } Revenue Calculation Pattern
        %span.star
          *
        %ui-select{ name: 'revenue_calculation_patterns', ng: { model: 'api_configuration.datafeed_configuration_details.revenue_calculation_pattern', disabled: true } }
          %ui-select-match{ placeholder: 'Calculation Pattern', ng: { required: true } }
            {{ $select.selected.name }}
          %ui-select-choices{ repeat: 'pattern.id as pattern in revenue_calculation_patterns' }
            %div{ ng: { bind: { html: 'pattern.name' } } }

      .form-group{'ng-class':'{error: errors.product_mapping}'}
        %span.error-text {{errors.product_mapping}}
        %label.control-label{ for: 'product_mapping' } Product Mapping
        %span.star
          *
        %ui-select{ name: 'product_mapping', ng: { model: 'api_configuration.datafeed_configuration_details.product_mapping', disabled: true } }
          %ui-select-match{ placeholder: 'Product Mapping', ng: { required: true } }
            {{ $select.selected.name }}
          %ui-select-choices{ repeat: 'pattern.id as pattern in product_mapping' }
            %div{ ng: { bind: { html: 'pattern.name' } } }
      .form-group
        .row
          .col-xs-4
            %label.control-label{ for: 'exclude_child_line_items' } Exclude Child Line Items
            %br
            %z-toggle{'ng-model': 'api_configuration.datafeed_configuration_details.exclude_child_line_items'}
          .col-xs-4
            %label.control-label{ for: 'exclude_child_line_items' } Run Intraday?
            %br
            %z-toggle{'ng-model': 'api_configuration.datafeed_configuration_details.run_intraday'}
          .col-xs-4
            %label.control-label{ for: 'exclude_child_line_items' } Run Fullday?
            %br
            %z-toggle{'ng-model': 'api_configuration.datafeed_configuration_details.run_fullday'}

    .modal-footer.text-center
      %button.btn.btn-primary.btn-lg{ type: 'submit' } {{ submitText }}
      %a.btn.btn-default.btn-lg{ ng: { click: 'cancel()' } } Cancel
