#product-modal.popup-modal
  %form{ ng: { submit: 'submitForm()' } }
    .popup-modal-header.text-center
      {{ formType }} Product
      %span.close-btn{'ng-click': 'cancel()'}
    .popup-modal-body
      .form-group
        %label{ for: 'name' } Name
        %span.star *
        %input.form-control{ placeholder: 'Name', ng: { model: 'product.name' }, name: 'name' }

      .form-group
        %label{ for: 'product-line' } Product Line
        %ui-select{ name: 'product-line', ng: { model: 'product.product_line.option_id', disabled: true } }
          %ui-select-match{ placeholder: 'Product Line' }
            {{ $select.selected.name }}
          %ui-select-choices{ repeat: 'option.id as option in product.product_line.options | filter: { name: $select.search }' }
            %div{ ng: { bind: { html: 'option.name' } } }

      .form-group
        %label{ for: 'family' } Family
        %ui-select{ name: 'family', ng: { model: 'product.product_family.option_id', disabled: true } }
          %ui-select-match{ placeholder: 'Family' }
            {{ $select.selected.name }}
          %ui-select-choices{ repeat: 'option.id as option in product.product_family.options | filter: { name: $select.search }' }
            %div{ ng: { bind: { html: 'option.name' } } }

      .form-group
        %label{ for: 'pricing-type' } Pricing Type
        %ui-select{ name: 'pricing-type', ng: { model: 'product.pricing_type.option_id', disabled: true } }
          %ui-select-match{ placeholder: 'Family' }
            {{ $select.selected.name }}
          %ui-select-choices{ repeat: 'option.id as option in product.pricing_type.options | filter: { name: $select.search }' }
            %div{ ng: { bind: { html: 'option.name' } } }

      .form-group
        %label{ for: 'revenue-type' } Revenue Type
        %ui-select{ name: 'revenue-type', ng: { model: 'product.revenue_type', disabled: true } }
          %ui-select-match{ placeholder: 'Revenue Type' }
            {{ $select.selected }}
          %ui-select-choices{ repeat: 'revenue_type in revenue_types' }
            %div{ ng: { bind: { html: 'revenue_type' } } }

    .popup-modal-footer.text-center
      %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Cancel
      %button.btn.btn-primary{ type: 'submit', ng: { disabled: 'buttonDisabled' } } {{ submitText }}
