#request_modal.popup-modal
  %form.form-horizontal
    .popup-modal-header
      Revenue Request
      %span.close-btn{'ng-click': 'cancel()'}
    .popup-modal-body.modal-body
      .alerts{ 'ng-repeat': '(field, fieldErrors) in errors' }
        .alert.alert-danger{ 'ng-repeat': 'error in fieldErrors' }
          %i.fa.fa-warning
          <strong style="text-transform: capitalize">{{field}}</strong>
          {{error}}

      .form-group
        %label.control-label{ for: 'description' } Reminder note
        %textarea.form-control{ placeholder: 'Explain your change', ng: { model: 'request.description' }, name: 'description' }

      .form-group
        %label.control-label{ for: 'status' } Status
        %ui-select{ name: 'status', ng: { model: 'request.status', required: true } }
          %ui-select-match
            {{ $select.selected }}
          %ui-select-choices{ repeat: 'status in statuses' }
            %div{ ng: { bind: { html: 'status' } } }

    .popup-modal-footer
      %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Cancel
      %button.btn.btn-warning{ type: 'submit', ng: { click: "saveRequest()" } } Save
