#request_modal.popup-modal
  %form.form-horizontal
    .popup-modal-header
      Revenue Request
      %span.close-btn{'ng-click': 'cancel()'}
    .popup-modal-body.modal-body
      .form-group
        %label.control-label{ for: 'description' } Change Description
        %textarea.form-control{ placeholder: 'Explain your change', ng: { model: 'request.description' }, name: 'description' }

      .form-group{ng: {if: 'formType == "Edit"'}}
        %label.control-label{ for: 'resolution' } Action Description
        %textarea.form-control{ placeholder: 'Explain your action', ng: { model: 'request.resolution' }, name: 'resolution' }

      .form-group
        %label.control-label{ for: 'status' } Status
        %ui-select{ name: 'status', ng: { model: 'request.status', required: true } }
          %ui-select-match
            {{ $select.selected }}
          %ui-select-choices{ repeat: 'status in statuses' }
            %div{ ng: { bind: { html: 'status' } } }

    .popup-modal-footer
      %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Cancel
      %button.btn.btn-warning{ type: 'submit', ng: { click: "saveRequest()" } } Save
