#revenue_upload_modal
  .modal-header.text-center
    %a.close{ ng: { click: 'cancel()' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'close.svg'
    = inline_svg 'csv.svg'
    %h3.modal-title
      %strong
        Import Revenue
      %br
      %small
        Please export your bookings from your current system into a CSV file.

  .modal-body
    .well.transparent
      %p.text-center
        Make sure your CSV file includes these EXACT headers and columns:

      %ol.row.center-block
        %li.col-xs-3.col-xs-offset-2 Order #
        %li.col-xs-3 Line #
        %li.col-xs-3 Ad Server
        %li.col-xs-3.col-xs-offset-2 Quantity
        %li.col-xs-3 Price
        %li.col-xs-3 Price Type
        %li.col-xs-3.col-xs-offset-2 Delivered
        %li.col-xs-3 Remaining
        %li.col-xs-3 Budget
        %li.col-xs-3.col-xs-offset-2 Budget Remaining
        %li.col-xs-3 Start Date
        %li.col-xs-3 End Date
        %li.col-xs-3.col-xs-offset-2 Client
        %li.col-xs-3 Client ID
        %li.col-xs-3 Sales Rep
        %li.col-xs-3.col-xs-offset-2 Product ID

    .well.well-lg.dark
      .row
        .col-xs-9
          .progress
            .progress-bar.progress-bar-striped{ aria: { valuemax: "100", valuemin: "0", valuenow: "{{ progressPercentage }}" }, role: "progressbar", style: "width: {{ progressPercentage }}%" }
              %span.sr-only {{ progressPercentage }}% Complete
              .text{ ng: { show: 'progressPercentage > 0' } }
                {{ progressPercentage }}%
            .text{ ng: { hide: 'progressPercentage > 0' } }
              CSV File
        .col-xs-3
          #browse.btn.btn-info.btn-block{ ngf: { select: true }, ng: { model: 'files' } }
            Browse

    .alert.alert-danger{ role: 'alert', ng: { repeat: 'error in errors' } }
      %strong
        Row {{ error.row }}
      contains errors: {{ error.message.join(', ') }}

    .modal-footer.text-center{ ng: { hide: 'progressPercentage < 100' } }
      %button.btn.btn-primary.btn-lg{ ng: { click: 'cancel()' } } Done
