#revenue_upload_modal
  .modal-header.text-center
    %a.close{ ng: { click: 'cancel()' } }
      %span{'aria-hidden' => 'true'}
        = inline_svg 'icons/close.svg'
    = inline_svg 'icons/csv.svg'
    %h3.modal-title
      %strong
        Import Sales Orders
      %br
      %small
        Please import your Sales Orders from a CSV file into your current system.

  .modal-body.uploader
    .well.transparent
      %p.text-center
        CSV file must have these exact headers but column order can be anything:

      %ol.row.center-block
        %li
          Sales_order_id
        %li
          Sales_order_name
        %li
          Order_start_date
        %li
          Order_end_date
        %li
          Advertiser_name
        %li
          Agency_name
        %li
          Total_order_value
        %li
          Total_order_value
        %li
          Order_currency_id

    .well.well-lg.dark
      .row
        .col-xs-9
          .progress
            .progress-bar.progress-bar-striped{ aria: { valuemax: "100", valuemin: "0", valuenow: "{{ progressPercentage }}" }, role: "progressbar", style: "width: {{ progressPercentage }}%" }
              %span.sr-only {{ progressPercentage }}% Complete
              .text{ ng: { show: 'progressPercentage > 0' } }
                {{ progressPercentage }}%
            .text{ ng: { hide: 'progressPercentage > 0' } }
              CSV File
        .col-xs-3
          #browse.btn.btn-info.btn-block{ ngf: { select: true }, ng: { model: 'files', disabled: "uploading" } }
            Browse

    .alert.alert-danger{ role: 'alert', ng: { repeat: 'error in errors' } }
      %strong
        Row {{ error.row }}
      contains errors: {{ error.message.join(', ') }}

    .modal-footer.text-center{ ng: { hide: 'progressPercentage < 100' } }
      %button.btn.btn-primary.btn-lg{ ng: { click: 'cancel()' } } Done