#sales-process-modal.popup-modal
  %form{ name: 'sales_process_form', ng: { submit: 'submitForm()' }, novalidate: true }
    .popup-modal-header
      {{ formType }} Sales Process
      %span.close-btn{'ng-click': 'cancel()'}
    .popup-modal-body
      .form-group{'ng-class':'{error: errors.name}'}
        %span.error-text {{errors.name}}
        %label{ for: 'name' } Name
        %span.star *
        %input.form-control{ placeholder: 'Name', ng: { model: 'sales_process.name' }, name: 'name', required: true, server: true }

      .form-group
        %label{ for: 'active' } Active/Archived
        %div
          .btn-group.radio-switch
            %label.btn.btn-primary{ ng: { model: 'sales_process.active' }, btn: { radio: 'true' } }
              Active
            %label.btn.btn-primary{ ng: { model: 'sales_process.active' }, btn: { radio: 'false' } }
              Archived

    .popup-modal-footer
      %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Cancel
      %button.btn.btn-warning{'type': 'submit'} {{ submitText }}
