#stage-modal.popup-modal
  %form{ name: 'stage_form', ng: { submit: 'submitForm(stage_form)' }, novalidate: true }
    .popup-modal-header
      {{ formType }} Stage
      %span.close-btn{'ng-click': 'cancel()'}
    .popup-modal-body
      .form-group{'ng-class':'{error: errors.name}'}
        %span.error-text {{errors.name}}
        %label{ for: 'name' } Name
        %span.star *
        %input.form-control{ placeholder: 'Name', ng: { model: 'stage.name' }, name: 'name', required: true, server: true }

      .form-group{'ng-class':'{error: errors.sales_process_id}'}
        .row
          .col-xs-9
            %span.error-text {{errors.sales_process_id}}
            %label{ for: 'sales-process' } Sales Process
            %span.star *
            %ui-select{ name: 'sales-process', ng: { model: 'stage.sales_process_id', disabled: true } }
              %ui-select-match{ placeholder: 'Sales Process' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'salesProcess.id as salesProcess in salesProcesses | filter: {name: $select.search}' }
                %div{ ng: { bind: { html: 'salesProcess.name' } } } 
          .col-xs-3.hide-input-arrows{'ng-class':'{error: errors.probability}'}
            %label{ for: 'probability' } Probability
            %span.star *
            %input.form-control{ style: 'width: 60px', placeholder: '85', ng: { model: 'stage.probability' }, name: 'probability', required: true, type: 'number' }
            %span.error-text {{errors.probability}}  

      .form-group
        .row
          .col-xs-12
            .inline-block.mr20
              %label{ for: 'open' } Open/Closed
              %div
                .btn-group.radio-switch
                  %label.open-button.btn.btn-primary{ ng: { model: 'stage.open' }, btn: { radio: 'true' } }
                    Open
                  %label.close-button.btn.btn-primary{ ng: { model: 'stage.open' }, btn: { radio: 'false' } }
                    Closed
            .inline-block
              %label{ for: 'active' } Active/Archived
              %div
                .btn-group.radio-switch
                  %label.btn.btn-primary{ ng: { model: 'stage.active' }, btn: { radio: 'true' } }
                    Active
                  %label.btn.btn-primary{ ng: { model: 'stage.active' }, btn: { radio: 'false' } }
                    Archived


    .popup-modal-footer
      %button.btn.btn-default{'type': 'button', 'ng-click': 'cancel()'} Cancel
      %button.btn.btn-warning{'type': 'submit'} {{ submitText }}
