#team-modal
  %form{ ng: { submit: 'submitForm()' } }
    .modal-header.text-center
      %a.close{ ng: { click: 'cancel()' } }
        %span{'aria-hidden' => 'true'}
          = inline_svg 'icons/close.svg'
      %h3.modal-title
        %strong
          {{ formType }} Team
    .modal-body
      .form-group
        .row
          .col-xs-6
            %label.control-label{ for: 'name' } Team Name
            %input.form-control{ placeholder: 'Eg. East Coast Sales', ng: { model: 'team.name' }, name: 'name'  }
          .col-xs-6
            %label.control-label{ for: 'leader' } Team Leader
            %ui-select{ name: 'leader', ng: { model: 'team.leader_id', disabled: true, change: 'afterLeaderChange(team.leader_id)' } }
              %ui-select-match{ placeholder: 'Eg. John Sellers', "allow-clear": 'true' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'user.id as user in availableLeaders | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'user.name' }, click: 'beforeLeaderChange(team.leader_id)' } }
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'parent' } Team Parent
            %ui-select{ name: 'parent', ng: { model: 'team.parent_id', disabled: true } }
              %ui-select-match{ placeholder: 'Select A Team', "allow-clear": 'true' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'team.id as team in teams | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'team.name' } } }
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'members' } Team Members
            %ui-select{ multiple: true, name: 'members', ng: { model: 'team.members', disabled: true, change: 'memberChanged()' } }
              %ui-select-match{ placeholder: "Type Name" }
                {{ $item.first_name }} {{ $item.last_name }}
              %ui-select-choices{ repeat: 'user.id as user in availableUsers | filter: { name: $select.search, "is_leader": false }' }
                %div{ ng: { bind: { html: 'user.name' } } }
      .form-group
        .row
          .col-xs-12
            %label.control-label{ for: 'sales_process' } Sales Process
            %ui-select{ name: 'sales_process', ng: { model: 'team.sales_process_id', disabled: true } }
              %ui-select-match{ placeholder: 'Select a sales process', "allow-clear": 'true' }
                {{ $select.selected.name }}
              %ui-select-choices{ repeat: 'salesProcess.id as salesProcess in salesProcesses | filter: { name: $select.search }' }
                %div{ ng: { bind: { html: 'salesProcess.name' } } }
    .modal-footer.text-center
      %button.btn.btn-primary.btn-lg{ type: 'submit', ng: { disabled: 'buttonDisabled' } } {{ submitText }}
      %a.btn.btn-default.btn-lg{ ng: { click: 'cancel()' } } Cancel
