---
http_interactions:
- request:
    method: put
    uri: https://config.operativeone.com/operativeone/api/accounts/170
    body:
      encoding: UTF-8
      string: accountType=agency&addressline1=75364+Nadia+Camp&addressline2=Suite+982&city=Starkville&country=Lithuania&externalID=boostr_757_Fritsch%2C+Witting+and+Medhurst_account&name=Pollich%2C+Bechtelar+and+Williamson&phone=132213114944680&state=TX&zip=29449-5204
    headers:
      Companyid:
      - '495'
      Apiprovider:
      - operative
      Authorization:
      - Basic YXBpX3VzZXJAa2luZ3NhbmRib3guY29tOktpbmcyMDE3IQ==
      Dealid:
      - '240'
      Resourcename:
      - account
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: <account><accountId>170</accountId><name>Pollich, Bechtelar and Williamson</name><phone>132213114944680</phone><status>active</status><addressline1>75364
        Nadia Camp</addressline1><addressline2>Suite 982</addressline2><city>Starkville</city><state>TX</state><zip>29449-5204</zip><country>Lithuania</country><accountType
        id="2" name="agency"/><propertyValueList/><createdTime>2017-03-01 20:22:08.0</createdTime><createdUser>api_user@kingsandbox.com</createdUser><updatedTime>2017-03-01
        20:36:17.808</updatedTime><updatedUser>api_user@kingsandbox.com</updatedUser><externalID>boostr_757_Fritsch,
        Witting and Medhurst_account</externalID><psAdvertiserId>0</psAdvertiserId><psCustomerId>0</psCustomerId><deleted>false</deleted></account>
  recorded_at: Wed, 01 Mar 2017 20:36:17 GMT
- request:
    method: put
    uri: https://config.operativeone.com/operativeone/api/accounts/171
    body:
      encoding: UTF-8
      string: accountType=advertiser&addressline1=9901+Toy+Ville&addressline2=Apt.+896&city=New+Janellestad&country=Northern+Mariana+Islands&externalID=boostr_756_Fritsch%2C+Witting+and+Medhurst_account&name=Heathcote%2C+Abbott+and+Legros&phone=66650994318732&state=NM&zip=31526-4502
    headers:
      Companyid:
      - '495'
      Apiprovider:
      - operative
      Authorization:
      - Basic YXBpX3VzZXJAa2luZ3NhbmRib3guY29tOktpbmcyMDE3IQ==
      Dealid:
      - '240'
      Resourcename:
      - account
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: <account><accountId>171</accountId><name>Heathcote, Abbott and Legros</name><phone>66650994318732</phone><status>active</status><addressline1>9901
        Toy Ville</addressline1><addressline2>Apt. 896</addressline2><city>New Janellestad</city><state>NM</state><zip>31526-4502</zip><country>Northern
        Mariana Islands</country><accountType id="1" name="advertiser"/><propertyValueList/><createdTime>2017-03-01
        20:22:10.0</createdTime><createdUser>api_user@kingsandbox.com</createdUser><updatedTime>2017-03-01
        20:36:19.79</updatedTime><updatedUser>api_user@kingsandbox.com</updatedUser><externalID>boostr_756_Fritsch,
        Witting and Medhurst_account</externalID><psAdvertiserId>0</psAdvertiserId><psCustomerId>0</psCustomerId><deleted>false</deleted></account>
  recorded_at: Wed, 01 Mar 2017 20:36:19 GMT
- request:
    method: put
    uri: https://config.operativeone.com/operativeone/api/contacts/83
    body:
      encoding: UTF-8
      string: account=Heathcote%2C+Abbott+and+Legros&addressline1=2902+Romaguera+Hills&addressline2=Suite+378&city=Franciscofort&country=Afghanistan&email=michelle%40sipes.name&externalID=boostr_31_Fritsch%2C+Witting+and+Medhurst_contact&firstname=Alessandro&lastname=Jaskolski&mobile=2070073232&phone=353097890350731&state=OH&type=Billing&zip=26691-6329
    headers:
      Companyid:
      - '495'
      Apiprovider:
      - operative
      Authorization:
      - Basic YXBpX3VzZXJAa2luZ3NhbmRib3guY29tOktpbmcyMDE3IQ==
      Dealid:
      - '240'
      Resourcename:
      - contact
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: <contact><contactId>83</contactId><account id="171" name="Heathcote,
        Abbott and Legros"/><firstname>Alessandro</firstname><lastname>Jaskolski</lastname><email>michelle@sipes.name</email><phone>353097890350731</phone><mobile>2070073232</mobile><status>active</status><addressline1>2902
        Romaguera Hills</addressline1><addressline2>Suite 378</addressline2><city>Franciscofort</city><state>OH</state><zip>26691-6329</zip><country>Afghanistan</country><contactTypes><label
        id="2" name="billing"/></contactTypes><createdTime>2017-03-01 20:22:12.0</createdTime><createdUser>api_user@kingsandbox.com</createdUser><updatedTime>2017-03-01
        20:36:21.82</updatedTime><updatedUser>api_user@kingsandbox.com</updatedUser><externalID>boostr_31_Fritsch,
        Witting and Medhurst_contact</externalID><deleted>false</deleted></contact>
  recorded_at: Wed, 01 Mar 2017 20:36:21 GMT
- request:
    method: put
    uri: https://config.operativeone.com/operativeone/restapi/salesorders/324
    body:
      encoding: UTF-8
      string: |-
        <Collection xmlns="http://www.operative.com/api" xmlns:v1="htt0p://www.operative.com/api/v1" xmlns:v2="http://www.operative.com/api/v2">
          <salesOrder xsi:type="v2:SalesOrderV2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <salesOrderType>
              <name>Agency Buy</name>
            </salesOrderType>
            <alternateId>boostr_240_Fritsch, Witting and Medhurst_order</alternateId>
            <nextSteps>Call Somebody</nextSteps>
            <description>Budget: $20,000.00, start date: Wednesday, 29 Jul 2015, end_date: Saturday, 29 Aug 2015</description>
            <name>Deal updated_240</name>
            <accounts>
              <v2:account>
                <externalId>boostr_757_Fritsch, Witting and Medhurst_account</externalId>
                <id>170</id>
                <name>Pollich, Bechtelar and Williamson</name>
                <roles>
                  <role>
                    <internalName>buying_agency</internalName>
                  </role>
                </roles>
              </v2:account>
              <v2:account>
                <externalId>boostr_756_Fritsch, Witting and Medhurst_account</externalId>
                <id>171</id>
                <name>Heathcote, Abbott and Legros</name>
                <roles>
                  <role>
                    <internalName>primary_advertiser</internalName>
                  </role>
                </roles>
                <contacts>
                  <contact>
                    <roles>
                      <role>
                        <internalName>billing_contact</internalName>
                      </role>
                    </roles>
                    <id>83</id>
                    <externalId>boostr_31_Fritsch, Witting and Medhurst_contact</externalId>
                  </contact>
                </contacts>
              </v2:account>
            </accounts>
            <primarySalesperson>jason.parmer@kingsandbox.com</primarySalesperson>
            <owner>jason.parmer@kingsandbox.com</owner>
          </salesOrder>
        </Collection>
    headers:
      Companyid:
      - '495'
      Content-Type:
      - application/xml
      Version:
      - v2
      Apiprovider:
      - operative
      Authorization:
      - Basic YXBpX3VzZXJAa2luZ3NhbmRib3guY29tOktpbmcyMDE3IQ==
      Dealid:
      - '240'
      Resourcename:
      - deal
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><Collection
        xmlns="http://www.operative.com/api" xmlns:v1="http://www.operative.com/api/v1"
        xmlns:v2="http://www.operative.com/api/v2"><salesOrder xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="v2:SalesOrderV2"><id>324</id><v2:name>Deal updated_240</v2:name><v2:description>Budget:
        $20,000.00, start date: Wednesday, 29 Jul 2015, end_date: Saturday, 29 Aug
        2015</v2:description><v2:currency>USD</v2:currency><v2:status>Proposal Creation</v2:status><v2:eCPM>0.0000</v2:eCPM><v2:lineitemCount>0</v2:lineitemCount><v2:alternateId>boostr_240_Fritsch,
        Witting and Medhurst_order</v2:alternateId><v2:defaultMediaPlanName>Default
        Media Plan</v2:defaultMediaPlanName><v2:nextSteps>Call Somebody</v2:nextSteps><v2:lineitemDefaultStartDate>2017-04-01</v2:lineitemDefaultStartDate><v2:lineitemDefaultEndDate>2017-04-30</v2:lineitemDefaultEndDate><v2:createdDate>2017-03-01T15:22:14</v2:createdDate><v2:lastModifiedBy>API
        User</v2:lastModifiedBy><v2:lastModifiedDate>2017-03-01T15:36:24</v2:lastModifiedDate><v2:primaryAdvertiser>Heathcote,
        Abbott and Legros</v2:primaryAdvertiser><v2:primarySalesperson>jason.parmer@kingsandbox.com</v2:primarySalesperson><v2:owner>jason.parmer@kingsandbox.com</v2:owner><v2:timeZone><objectName>timeZone</objectName><id>288</id><name>Europe/London
        - Greenwich Mean Time - (GMT+0.00)</name></v2:timeZone><v2:rateCard>USD UIS
        Rate Card</v2:rateCard><v2:unreviewedNotes>false</v2:unreviewedNotes><v2:defaultInvoicingOrganization><objectName>invoicingOrganization</objectName><id>3</id><name>Midasplayer
        Advertising Ltd</name></v2:defaultInvoicingOrganization><v2:billingPeriodScheme><objectName>billingPeriodScheme</objectName><id>1</id><name>Calendar
        Year</name></v2:billingPeriodScheme><v2:endOfFlight>false</v2:endOfFlight><v2:salesStage><v2:id>1</v2:id><v2:name>10%
        - Sales lead</v2:name><v2:percentage>10</v2:percentage></v2:salesStage><v2:salesTeam><objectName>salesTeam</objectName><id>8</id><name>EMEA</name></v2:salesTeam><v2:salesOrderType><objectName>salesOrderType</objectName><id>1</id><name>Agency
        Buy</name></v2:salesOrderType><v2:accounts><v2:account><id>170</id><name>Pollich,
        Bechtelar and Williamson</name><phone>132213114944680</phone><type>agency</type><addressline1>75364
        Nadia Camp</addressline1><addressline2>Suite 982</addressline2><city>Starkville</city><state>TX</state><zip>29449-5204</zip><country>Lithuania</country><status>active</status><externalId>boostr_757_Fritsch,
        Witting and Medhurst_account</externalId><roles><role><name>Buying Agency</name><internalName>buying_agency</internalName></role></roles><contacts/></v2:account><v2:account><id>171</id><name>Heathcote,
        Abbott and Legros</name><phone>66650994318732</phone><type>advertiser</type><addressline1>9901
        Toy Ville</addressline1><addressline2>Apt. 896</addressline2><city>New Janellestad</city><state>NM</state><zip>31526-4502</zip><country>Northern
        Mariana Islands</country><status>active</status><externalId>boostr_756_Fritsch,
        Witting and Medhurst_account</externalId><roles><role><name>Primary Advertiser</name><internalName>primary_advertiser</internalName></role></roles><contacts><contact><id>83</id><firstName>Alessandro</firstName><lastName>Jaskolski</lastName><email>michelle@sipes.name</email><phone>353097890350731</phone><mobile>2070073232</mobile><addressline1>2902
        Romaguera Hills</addressline1><addressline2>Suite 378</addressline2><city>Franciscofort</city><state>OH</state><zip>26691-6329</zip><country>Afghanistan</country><status>active</status><externalId>boostr_31_Fritsch,
        Witting and Medhurst_contact</externalId><roles><role><name>Billing contact</name><internalName>billing_contact</internalName></role></roles></contact></contacts></v2:account></v2:accounts><v2:users><v2:user><id>219</id><userLogin>jason.parmer@kingsandbox.com</userLogin><firstName>Jason</firstName><lastName>Parmar</lastName><email>jason.parmar@king.com</email><status>active</status><roles><role><name>Primary
        Salesperson</name><internalName>primary_salesperson</internalName></role><role><name>Owner</name><internalName>owner</internalName></role></roles><orderCommissionSplit>1.0000</orderCommissionSplit></v2:user></v2:users><v2:customFields><customField><fieldId>22</fieldId><name>Cancelled</name><apiName>Cancelled</apiName><value>false</value></customField><customField><fieldId>25</fieldId><name>Custom
        Ts &amp; Cs Attached?</name><apiName>Custom_Ts_Cs_Attached</apiName><value>false</value></customField><customField><fieldId>24</fieldId><name>IO
        Attached?</name><apiName>IO_Attached</apiName><value>false</value></customField><customField><fieldId>19</fieldId><name>Reason
        for Loss</name><apiName>Reason_for_Loss</apiName><options/></customField><customField><fieldId>34</fieldId><name>USA
        Targeting Only?</name><apiName>US_Only</apiName><options/></customField></v2:customFields><v2:discountProfile><objectName>discountProfile</objectName><id>1</id><name>Default
        Discount Profile</name></v2:discountProfile><v2:lineitemDefaultDiscounts><v2:discount><id>1</id><name>Added
        Value</name><value>0.000000</value></v2:discount><v2:discount><id>2</id><name>Other
        Discount</name><value>0.000000</value></v2:discount><v2:discount><id>3</id><name>Agency</name><value>0.000000</value></v2:discount></v2:lineitemDefaultDiscounts><v2:mediaPlans><v2:mediaPlan><v2:id>227</v2:id><v2:name>Default
        Media Plan</v2:name><v2:default>true</v2:default><v2:namedSections><v2:namedSection><v2:id>228</v2:id><v2:name>Default
        Section</v2:name><v2:salesOrderLineitems/></v2:namedSection></v2:namedSections></v2:mediaPlan></v2:mediaPlans></salesOrder></Collection>'
  recorded_at: Wed, 01 Mar 2017 20:36:23 GMT
recorded_with: VCR 3.0.3
