%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title boostr
    %link{:href =>  @domain + "/assets/application-23b6112c7106c5494d58ecce16d3bf7d.css", :media => "all", :rel => "stylesheet"}/
    %script{:src => @domain + "/assets/application-14420b4f9b182c014b66ed0c5f1adc0f.js"}
    = csrf_meta_tags
    %base{ href: "/" }

  %body{ ng: { app: "Boostr" } }
    :javascript
      transloaditTemplates = #{TRANSLOADIT_TEMPLATES.to_json}
    :javascript
      userType = parseInt('#{current_user.user_type }')
    - if current_user.leader?
      :javascript
        currentUserIsLeader = true
    - else
      :javascript
        currentUserIsLeader = false
    :javascript
      currentUserRoles = #{current_user.roles}
    %div{'ng-view': true}