@import "base/style";
@import "bootstrap-sprockets";
@import "bootstrap";
.center-element {
  float: none;
}

.header {
  font-size: 23px;
  font-family: $font-family-light;
  line-height: 37.88px;
  margin-bottom: 32px;
}

input[type=button], input[type=submit] {
  text-transform: uppercase;
}

.logo {
  height: 52px;
  width: 178px;
  margin-bottom: 20px;
  padding-top: 7px;
  padding-left: 18px;
}

#devise-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(24, 30, 34, .9);
  padding-top: 71px;
  padding-bottom: 71px;
  border-radius: 10px;

  input {
    height: 51px;
    margin-bottom: 21px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  .btn-info {
    text-align: left;
    border-color: $dark-grayish-blue-3;
    color: $light-grayish-blue-8;
    font-size: 15px;
    &:focus,
    &:hover {
      border-color: $grayish-blue-2;
      outline: none;
    }
  }

  .field {
    label {
      vertical-align: 18px;
    }
  }

  ::-webkit-input-placeholder { text-transform: uppercase; }
  ::-moz-placeholder { text-transform: uppercase; } /* firefox 19+ */
  :-ms-input-placeholder { text-transform: uppercase; } /* ie */
  input:-moz-placeholder { text-transform: uppercase; }
}

body {
  background-image: image-url("skyline.png");
  background-size: cover;
  color: $white;
}
