%li
  .block{"ng-click" => "activeFolder($event, b)"}
    .folder-title
      %span.click-trigger.triangle-down
      %i.fa.fa-folder-open.folder-icon
      .folder-info
        .content-info
          %div
            %p
              {{ b.title }}
          %div
            %p.additional-info{"ng-if" => "b.root"}
              value=Deal
            %p.additional-info{"ng-if" => "!b.root"}
              {{b.nodes ? b.nodes.length : 0}} Files
      .folder-actions
        %i.fa.fa-pencil.folder-edit-icon{"ng-if" => "!b.root", 'ng-click': 'editFolder($event, b)'}
        %i.fa.fa-trash.folder-delete-icon{"ng-if" => "!b.root", 'ng-click': 'deleteFolder($event, b)'}