%span.glyphicon.glyphicon-star-empty{"ng-if" => "!userInfo.isUserStartingPage", "ng-click" => "setStartPage()"}
%span.glyphicon.glyphicon-star{"ng-if" => "userInfo.isUserStartingPage", "ng-click" => "setStartPage()"}
%span.glyphicon.extension-icon
  %a{'ng-href': '{{extensionUrl("gmail")}}', 'ng-if': 'isExtensionEnabled("gmail")', target: '_blank'}
    = image_tag('icons/icon-gmail.png', alt: 'Gmail extension')
%span.glyphicon.extension-icon
  %a{'ng-href': '{{extensionUrl("gcalendar")}}', 'ng-if': 'isExtensionEnabled("gcalendar")', target: '_blank'}
    = image_tag('icons/icon-gcalendar.png', alt: 'GCalendar extension')
%span.glyphicon.extension-icon
  %a{'ng-href': '{{resourceLink()}}', 'ng-if': 'isResourceLinkEnabled()', target: '_blank'}
    .resource-icon
      R