---
http_interactions:
- request:
    method: post
    uri: https://config.operativeone.com/operativeone/api/accounts/
    body:
      encoding: UTF-8
      string: accountType=agency&addressline1=03517+Tina+Spur&addressline2=Apt.+380&city=North+Tyriqueport&country=Maldives&externalID=boostr_747_Hammes%2C+Block+and+Kilback_account&name=Wolf%2C+Hintz+and+Auer&phone=3491635169&state=MO&zip=90053-9793
    headers:
      Companyid:
      - '485'
      Apiprovider:
      - operative
      Authorization:
      - Basic YXBpX3VzZXJAa2luZ3NhbmRib3guY29tOktpbmcyMDE3IQ==
      Dealid:
      - '235'
      Resourcename:
      - account
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <account><accountId>170</accountId><name>Wolf, Hintz and Auer</name><phone>3491635169</phone><status>active</status><addressline1>03517
        Tina Spur</addressline1><addressline2>Apt. 380</addressline2><city>North Tyriqueport</city><state>MO</state><zip>90053-9793</zip><country>Maldives</country><accountType
        id="2" name="agency"/><propertyValueList/><createdTime>2017-03-01 20:22:08.343</createdTime><createdUser>api_user@kingsandbox.com</createdUser><updatedTime>2017-03-01
        20:22:08.343</updatedTime><updatedUser>api_user@kingsandbox.com</updatedUser><externalID>boostr_747_Hammes,
        Block and Kilback_account</externalID><psAdvertiserId>0</psAdvertiserId><psCustomerId>0</psCustomerId><deleted>false</deleted></account>
  recorded_at: Wed, 01 Mar 2017 20:22:08 GMT
[...]
- request:
    method: post
    uri: https://config.operativeone.com/operativeone/api/contacts/
    body:
      encoding: UTF-8
      string: account=Metz+Group&addressline1=63136+Zulauf+Unions&addressline2=Suite+879&city=Angelochester&country=Isle+of+Man&email=zora%40luettgen.biz&externalID=boostr_26_Hammes%2C+Block+and+Kilback_contact&firstname=Randal&lastname=Hodkiewicz&mobile=5110937110&phone=30859248148931&state=AR&type=Billing&zip=18688-9287
    headers:
      Companyid:
      - '485'
      Apiprovider:
      - operative
      Authorization:
      - Basic YXBpX3VzZXJAa2luZ3NhbmRib3guY29tOktpbmcyMDE3IQ==
      Dealid:
      - '235'
      Resourcename:
      - contact
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <contact><contactId>83</contactId><account id="171" name="Metz Group"/><firstname>Randal</firstname><lastname>Hodkiewicz</lastname><email>zora@luettgen.biz</email><phone>30859248148931</phone><mobile>5110937110</mobile><status>active</status><addressline1>63136
        Zulauf Unions</addressline1><addressline2>Suite 879</addressline2><city>Angelochester</city><state>AR</state><zip>18688-9287</zip><country>Isle
        of Man</country><contactTypes><label id="2" name="billing"/></contactTypes><createdTime>2017-03-01
        20:22:12.114</createdTime><createdUser>api_user@kingsandbox.com</createdUser><updatedTime>2017-03-01
        20:22:12.114</updatedTime><updatedUser>api_user@kingsandbox.com</updatedUser><externalID>boostr_26_Hammes,
        Block and Kilback_contact</externalID><deleted>false</deleted></contact>
  recorded_at: Wed, 01 Mar 2017 20:22:12 GMT
- request:
    method: post
    uri: https://config.operativeone.com/operativeone/restapi/salesorders/
    body:
      encoding: UTF-8
      string: |-
        <Collection xmlns="http://www.operative.com/api" xmlns:v1="htt0p://www.operative.com/api/v1" xmlns:v2="http://www.operative.com/api/v2">
          <salesOrder xsi:type="v2:SalesOrderV2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <salesOrderType>
              <name>Agency Buy</name>
            </salesOrderType>
            <alternateId>boostr_235_Hammes, Block and Kilback_order</alternateId>
            <nextSteps>Call Somebody</nextSteps>
            <description>Budget: $20,000.00, start date: Wednesday, 29 Jul 2015, end_date: Saturday, 29 Aug 2015</description>
            <name>Deal 1_235</name>
            <accounts>
              <v2:account>
                <externalId>boostr_747_Hammes, Block and Kilback_account</externalId>
                <name>Wolf, Hintz and Auer</name>
                <roles>
                  <role>
                    <internalName>buying_agency</internalName>
                  </role>
                </roles>
              </v2:account>
              <v2:account>
                <externalId>boostr_746_Hammes, Block and Kilback_account</externalId>
                <name>Metz Group</name>
                <roles>
                  <role>
                    <internalName>primary_advertiser</internalName>
                  </role>
                </roles>
                <contacts>
                  <contact>
                    <roles>
                      <role>
                        <internalName>billing_contact</internalName>
                      </role>
                    </roles>
                    <externalId>boostr_26_Hammes, Block and Kilback_contact</externalId>
                  </contact>
                </contacts>
              </v2:account>
            </accounts>
            <v2:salesStage>
              <v2:name>10% - Sales lead</v2:name>
            </v2:salesStage>
            <primarySalesperson>jason.parmer@kingsandbox.com</primarySalesperson>
            <owner>jason.parmer@kingsandbox.com</owner>
          </salesOrder>
        </Collection>
    headers:
      Companyid:
      - '485'
      Content-Type:
      - application/xml
      Version:
      - v2
      Apiprovider:
      - operative
      Authorization:
      - Basic YXBpX3VzZXJAa2luZ3NhbmRib3guY29tOktpbmcyMDE3IQ==
      Dealid:
      - '235'
      Resourcename:
      - deal
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><Collection
        xmlns="http://www.operative.com/api" xmlns:v1="http://www.operative.com/api/v1"
        xmlns:v2="http://www.operative.com/api/v2"><salesOrder xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="v2:SalesOrderV2"><id>324</id><v2:name>Deal 1_235</v2:name><v2:description>Budget:
        $20,000.00, start date: Wednesday, 29 Jul 2015, end_date: Saturday, 29 Aug
        2015</v2:description><v2:currency>USD</v2:currency><v2:status>Proposal Creation</v2:status><v2:eCPM>0.0</v2:eCPM><v2:lineitemCount>0</v2:lineitemCount><v2:alternateId>boostr_235_Hammes,
        Block and Kilback_order</v2:alternateId><v2:defaultMediaPlanName>Default Media
        Plan</v2:defaultMediaPlanName><v2:nextSteps>Call Somebody</v2:nextSteps><v2:lineitemDefaultStartDate>2017-04-01</v2:lineitemDefaultStartDate><v2:lineitemDefaultEndDate>2017-04-30</v2:lineitemDefaultEndDate><v2:createdDate>2017-03-01T15:22:14</v2:createdDate><v2:lastModifiedBy>API
        User</v2:lastModifiedBy><v2:lastModifiedDate>2017-03-01T15:22:14</v2:lastModifiedDate><v2:primaryAdvertiser>Metz
        Group</v2:primaryAdvertiser><v2:primarySalesperson>jason.parmer@kingsandbox.com</v2:primarySalesperson><v2:owner>jason.parmer@kingsandbox.com</v2:owner><v2:timeZone><objectName>timeZone</objectName><id>288</id><name>Europe/London
        - Greenwich Mean Time - (GMT+0.00)</name></v2:timeZone><v2:rateCard>USD UIS
        Rate Card</v2:rateCard><v2:defaultInvoicingOrganization><objectName>invoicingOrganization</objectName><id>3</id><name>Midasplayer
        Advertising Ltd</name></v2:defaultInvoicingOrganization><v2:billingPeriodScheme><objectName>billingPeriodScheme</objectName><id>1</id><name>Calendar
        Year</name></v2:billingPeriodScheme><v2:endOfFlight>false</v2:endOfFlight><v2:salesStage><v2:id>1</v2:id><v2:name>10%
        - Sales lead</v2:name><v2:percentage>10</v2:percentage></v2:salesStage><v2:salesTeam><objectName>salesTeam</objectName><id>8</id><name>EMEA</name></v2:salesTeam><v2:salesOrderType><objectName>salesOrderType</objectName><id>1</id><name>Agency
        Buy</name></v2:salesOrderType><v2:accounts><v2:account><id>170</id><name>Wolf,
        Hintz and Auer</name><phone>3491635169</phone><type>agency</type><addressline1>03517
        Tina Spur</addressline1><addressline2>Apt. 380</addressline2><city>North Tyriqueport</city><state>MO</state><zip>90053-9793</zip><country>Maldives</country><status>active</status><externalId>boostr_747_Hammes,
        Block and Kilback_account</externalId><roles><role><name>Buying Agency</name><internalName>buying_agency</internalName></role></roles><contacts/></v2:account><v2:account><id>171</id><name>Metz
        Group</name><phone>2202569793476</phone><type>advertiser</type><addressline1>331
        Federico Bridge</addressline1><addressline2>Suite 589</addressline2><city>North
        Auroreton</city><state>WY</state><zip>75083-0594</zip><country>Montenegro</country><status>active</status><externalId>boostr_746_Hammes,
        Block and Kilback_account</externalId><roles><role><name>Primary Advertiser</name><internalName>primary_advertiser</internalName></role></roles><contacts><contact><id>83</id><firstName>Randal</firstName><lastName>Hodkiewicz</lastName><email>zora@luettgen.biz</email><phone>30859248148931</phone><mobile>5110937110</mobile><addressline1>63136
        Zulauf Unions</addressline1><addressline2>Suite 879</addressline2><city>Angelochester</city><state>AR</state><zip>18688-9287</zip><country>Isle
        of Man</country><status>active</status><externalId>boostr_26_Hammes, Block
        and Kilback_contact</externalId><roles><role><name>Billing contact</name><internalName>billing_contact</internalName></role></roles></contact></contacts></v2:account></v2:accounts><v2:users><v2:user><id>219</id><userLogin>jason.parmer@kingsandbox.com</userLogin><firstName>Jason</firstName><lastName>Parmar</lastName><email>jason.parmar@king.com</email><status>active</status><roles><role><name>Owner</name><internalName>owner</internalName></role><role><name>Primary
        Salesperson</name><internalName>primary_salesperson</internalName></role></roles><orderCommissionSplit>1</orderCommissionSplit></v2:user></v2:users><v2:customFields><customField><fieldId>22</fieldId><name>Cancelled</name><apiName>Cancelled</apiName><value>false</value></customField><customField><fieldId>25</fieldId><name>Custom
        Ts &amp; Cs Attached?</name><apiName>Custom_Ts_Cs_Attached</apiName><value>false</value></customField><customField><fieldId>24</fieldId><name>IO
        Attached?</name><apiName>IO_Attached</apiName><value>false</value></customField><customField><fieldId>19</fieldId><name>Reason
        for Loss</name><apiName>Reason_for_Loss</apiName><options/></customField><customField><fieldId>34</fieldId><name>USA
        Targeting Only?</name><apiName>US_Only</apiName><options/></customField></v2:customFields><v2:discountProfile><objectName>discountProfile</objectName><id>1</id><name>Default
        Discount Profile</name></v2:discountProfile><v2:lineitemDefaultDiscounts><v2:discount><id>1</id><name>Added
        Value</name><value>0</value></v2:discount><v2:discount><id>2</id><name>Other
        Discount</name><value>0</value></v2:discount><v2:discount><id>3</id><name>Agency</name><value>0</value></v2:discount></v2:lineitemDefaultDiscounts><v2:mediaPlans><v2:mediaPlan><v2:id>227</v2:id><v2:name>Default
        Media Plan</v2:name><v2:default>true</v2:default><v2:namedSections><v2:namedSection><v2:id>228</v2:id><v2:name>Default
        Section</v2:name><v2:salesOrderLineitems/></v2:namedSection></v2:namedSections></v2:mediaPlan></v2:mediaPlans></salesOrder></Collection>'
  recorded_at: Wed, 01 Mar 2017 20:22:15 GMT
recorded_with: VCR 3.0.3
