#publishers.z-styles
  .container-fluid.publisher-inner
    .row.publisher-header.mb30
      .header-item
        .main-title Publishers
      .header-item
        %add-button{'ng-click': 'showNewPublisherModal()'}
          Add Publisher
      .header-item.switch-row
        %span{'ng-repeat': 'type in publisherTypes', 'ng-class': '{active: type.name == teamFilter.name}', 'ng-click': 'filterPublishers(type)'}
          {{type.name}}
      .header-item.publisher-search
        %i.fa.fa-search
        %input.form-control{ ng: { model: 'searchText', change: 'getPublishers()', 'model-options': '{debounce: 500}' }, placeholder: "Search by Name" }
      .header-item
        %button.btn-main
          %i.fa.fa-filter
          Add filter
    .row
      .col-xs-12
        .block
          %table.table.table-hover
            %thead
              %tr.z-sortable-prime{watch: '"publishers"'}
                %th
                  .z-sortable{by: 'name', default: true}
                    Name
                %th
                  .z-sortable{by: 'comscore'}
                    Comscore 250
                %th
                  .z-sortable{by: 'publisher_stage.name'}
                    Stage
                %th
                  .z-sortable{by: 'type.name'}
                    Publisher Type
            %tbody
              %tr{ ng: { repeat: 'publisher in publishers | orderBy : zSort.by : zSort.rev'} }
                %td
                  %input.editable{ 'ng-model': "publisher.name", name: "name", 'ng-blur': 'updatePublisher(publisher)'}
                %td
                  %z-toggle{'ng-model': 'publisher.comscore', 'ng-change': 'updatePublisher(publisher)', 'ng-click': '$event.stopPropagation()'}
                %td {{publisher.publisher_stage.name}}
                %td {{publisher.type.name}}
