#publishers.z-styles
  .container-fluid
    .row
      .col-xs-12.publishers-menu
        %span.title Publishers
        %add-button{'ng-click': ''} Add Publisher
        .publisher-types
          %span{'ng-repeat': 'type in publisherTypes', 'ng-class': '{active: type.name == teamFilter.name}', 'ng-click': 'filterPublishers(type)'}
            {{type.name}}
        .search
          %form
            .input-group
              .input-group-addon
                %i.glyphicon.glyphicon-search
              %input.form-control{ ng: { model: 'searchText', change: 'getPublishers()', 'model-options': '{debounce: 500}' }, placeholder: "Search by Name" }
        %button.btn-main.pull-right{'ng-click': 'filter.open($event)'}
          %i.fa.fa-filter
          Add filter
    .row
      .col-xs-12
        .block
          %table.table.table-hover
            %thead
              %tr
                %th Name
                %th Comscore 250
                %th Stage
                %th Publisher Type
            %tbody
              %tr{ ng: { repeat: 'publisher in publishers'} }
                %td {{publisher.name}}
                %td {{publisher.comscore}}
                %td {{publisher.stage}}
                %td {{publisher.type}}
