#publishers.z-detail-page.z-styles
  .container-fluid
    .row
      .col-xs-9
        %div{ng: { include: '"partials/publisher/publisher_main_info.html"'}}
      .col-xs-9
        %div{ng: { include: '"partials/publisher/publisher_contacts.html"'}}