#publisher.z-detail-page.z-styles
  .container-fluid
    .row
      .col-xs-9
        %div{ng: { include: '"partials/publisher/publisher_main_info.html"'}}
        %div{ng: { include: '"partials/publisher/daily_revenue_chart.html"'}}
        %div{ng: { include: '"partials/publisher/publisher_fill_rate_chart.html"'}}
        %div{ng: { include: '"partials/publisher/publisher_contacts.html"'}}
        %related-contracts{type: 'publisher'}
        .row
          .col-xs-6
            %div{ng: { include: '"partials/publisher/publisher_team_and_split.html"'}}
          .col-xs-6
            %upload-file{'deal-files': 'dealFiles', type: 'publisher'}
      .col-xs-3
        %div{ng: { include: '"partials/publisher/publisher_detail.html"'}}
        %activity-feed{object: 'currentPublisher', type: 'publisher'}
