#publishers.z-styles
  .container-fluid.publisher-inner
    .row.publisher-header.mb30
      .header-item
        .main-title Publishers
      .header-item
        %add-button{'ng-click': 'showNewPublisherModal()'}
          Add Publisher
      .header-item.switch-row
        %span{'ng-repeat': 'type in publisherTypes', 'ng-class': '{active: type.name == teamFilter.name}', 'ng-click': 'filterPublishers(type)'}
          {{type.name}}
      .header-item.publisher-search
        %i.fa.fa-search
        %input.form-control{ ng: { model: 'searchText', change: 'getPublishers()', 'model-options': '{debounce: 500}' }, placeholder: "Search by Name" }
      .header-item
        %button.btn-main
          %i.fa.fa-filter
          Add filter
    .row
      .col-xs-12
        .block
          %table.table.table-hover
            %thead
              %tr
                %th Name
                %th Comscore 250
                %th Stage
                %th Publisher Type
            %tbody
              %tr{ ng: { repeat: 'publisher in publishers'} }
                %td {{publisher.name}}
                %td {{publisher.comscore}}
                %td {{publisher.publisher_stage.name}}
                %td {{publisher.type.name}}
