#publishers.z-styles
  .z-sliding-filter{'ng-class': '{open: filter.isOpen}'}
    .header
      Filter
      %span.pull-right{'ng-click': 'filter.close($event)'} Close
    .body
      .filter-row
        .filter-name
          %div
            Comscore
        .filter-dropdown
          %i.fa.fa-close{'ng-show': 'filter.selected.comscore', 'ng-click': 'filter.reset("comscore")'}
          %span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
            .dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.comscore}'}
              {{filter.selected.comscore.name || 'Select a comscore'}}
              %span.caret
            .dropdown-menu{'dropdown-menu': '', role: 'menu'}
              .dropdown-option{'ng-repeat': 'comscore in filter.comscores | filter: filter.searching | limitTo: 10', role: 'menuitem'}
                %a{href: '', 'ng-click': 'filter.select("comscore", comscore)'} {{comscore.name}}
      .filter-row
        .filter-name
          %div
            Stage
        .filter-dropdown
          %i.fa.fa-close{'ng-show': 'filter.selected.stage', 'ng-click': 'filter.reset("stage")'}
          %span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
            .dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.stage}'}
              {{filter.selected.stage ? filter.selected.stage.probability + '% - ' + filter.selected.stage.name : 'Select a stage'}}
              %span.caret
            .dropdown-menu{'dropdown-menu': '', role: 'menu'}
              .form-group.dropdown-search{'ng-click': '$event.stopPropagation()'}
                %i.fa.fa-search
                %input.form-control{'placeholder': 'Search', 'ng-model': 'filter.search'}
              %span.dropdown-title Select from list
              .dropdown-option{'ng-repeat': 'stage in filter.stages | filter: filter.searching | limitTo: 10', role: 'menuitem'}
                %a{href: '', 'ng-click': 'filter.select("stage", stage)'} {{stage.name}} {{stage.probability}}%
      .filter-row
        .filter-name
          %div
            Type
        .filter-dropdown
          %i.fa.fa-close{'ng-show': 'filter.selected.type', 'ng-click': 'filter.reset("type")'}
          %span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
            .dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.type}'}
              {{filter.selected.type.name || 'Select a type'}}
              %span.caret
            .dropdown-menu{'dropdown-menu': '', role: 'menu'}
              .form-group.dropdown-search{'ng-click': '$event.stopPropagation()'}
                %i.fa.fa-search
                %input.form-control{'placeholder': 'Search', 'ng-model': 'filter.search'}
              %span.dropdown-title Select from list
              .dropdown-option{'ng-repeat': 'type in filter.types | filter: filter.searching | limitTo: 10', role: 'menuitem'}
                %a{href: '', 'ng-click': 'filter.select("type", type)'} {{type.name}}

    .footer
      %span.reset{'ng-click': 'filter.resetAll()'} Reset
      %button.btn-main.submit{'ng-click': 'filter.apply()'} Apply filters

  .container-fluid.publisher-inner
    .row.publisher-header.mb30
      .header-item
        .main-title Publishers
      .header-item
        %add-button{'ng-click': 'showNewPublisherModal()'}
          Add Publisher
      .header-item.switch-row
        %span{'ng-repeat': 'type in publisherTypes', 'ng-class': '{active: type.name == teamFilter.name}', 'ng-click': 'filterPublishers(type)'}
          {{type.name}}
      .header-item.publisher-search
        %i.fa.fa-search
        %input.form-control{ ng: { model: 'searchText', change: 'getPublishers()', 'model-options': '{debounce: 500}' }, placeholder: "Search by Name" }
      .header-item.view-toggle
        %div.view-toggle-inner
          %div{'ng-click': 'changeView("list")', 'ng-class': '{active: view == "list"}'}
            %i.fa.fa-list
            List
          %div{'ng-click': 'changeView("columns")', 'ng-class': '{active: view == "columns"}'}
            %i.fa.fa-columns
            Columns

      .header-item
        %button.btn-main{'ng-click': 'filter.open($event)'}
          %i.fa.fa-filter
          Add filter

    .row{'ng-if': 'view == "list"'}
      .block
        %table.table.table-hover
          %thead
            %tr.z-sortable-prime{watch: '"publishers"'}
              %th
                .z-sortable{by: 'name', default: true}
                  Name
              %th
                .z-sortable{by: 'comscore'}
                  Comscore 250
              %th
                .z-sortable{by: 'publisher_stage.name'}
                  Stage
              %th
                .z-sortable{by: 'type.name'}
                  Publisher Type
          %tbody{infinite: {scroll: 'loadMorePublishers()', 'scroll-disabled': 'isPublishersLoading || allPublishersLoaded', 'scroll-distance': '0.5'}}
            %tr{ ng: { repeat: 'publisher in publishers | orderBy : zSort.by : zSort.rev'} }
              %td
                %a{'ng-href': '/publishers/{{publisher.id}}'} {{publisher.name}}
              %td
                %z-toggle{'ng-model': 'publisher.comscore', 'ng-change': 'updatePublisher(publisher)', 'ng-click': '$event.stopPropagation()'}
              %td
                .dropdown
                  %button.btn.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
                    %span.editable{'ng-class': '{"not-selected": !publisher.publisher_stage}'}
                      {{publisher.publisher_stage ? publisher.publisher_stage.probability + '% - ' + publisher.publisher_stage.name : 'Select Stage'}}
                    %span.caret
                  %ul.dropdown-menu
                    %li{'ng-repeat': 'stage in publisher_stages', 'ng-class': '{active: publisher.publisher_stage.id == stage.id}'}
                      %a{'href': '', 'ng-click': ' publisher.publisher_stage = stage; updatePublisher(publisher)'}
                        %span.text {{stage.name}} {{stage.probability}}%

              %td
                .dropdown
                  %button.btn.dropdown-toggle.z-dd-ar{'data-toggle': 'dropdown', type: 'button'}
                    %span.editable{'ng-class': '{"not-selected": !publisher.type.name}'} {{publisher.type.name || 'Select Type'}}
                    %span.caret
                  %ul.dropdown-menu
                    %li{'ng-repeat': 'type in publisher_types', 'ng-class': '{active: publisher.type.id == type.id}'}
                      %a{'href': '', 'ng-click': ' publisher.type = type; updatePublisher(publisher)'}
                        %span.text {{type.name}}

    .row.publishers-container{'ng-if': 'view == "columns"'}
      .publishers-table{infinite: {scroll: 'loadMorePublishers()', 'scroll-disabled': 'isPublishersLoading || allPublishersLoaded', 'scroll-distance': '0.5'}}
        .publisher-column{'ng-repeat': 'stage in publishersPipeline'}
          .column-header{'z-coloring-stage': '{color: baseColor, stage: stage}'}
            %span
              {{stage.probability}}%
              %br
              {{stage.name}}
              %i ({{stage.publishers_count || 0}})
            %span
              Estimated Impressions {{stage.estimated_monthly_impressions_sum || 0}}
            %svg{width: '17', height: '72'}
              %polygon{points: '-2,-7 15, 36, -2, 79'}
          .column-body{'dnd-list': 'stage.publishers',
                                   'dnd-drop': 'onDrop(item, stage)',
                                   'dnd-inserted': 'onInserted(item, index, columnIndex)'}
            .publisher-block{'ng-repeat': 'publisher in stage.publishers',
                                      id: 'publisher-{{publisher.id}}',
                                      'dnd-draggable': 'publisher',
                                      'dnd-moved': 'onMoved(publisher, $index, columnIndex)',
                                      'dnd-effect-allowed': 'move',
                                      'dnd-dragstart': 'onDragStart()',
                                      'dnd-dragend': 'onDragEnd()'}
              .date.pull-right{'ng-class': '{expired: publisher.isExpired && publisher.stage.open}'} {{publisher.created_at | date: 'mediumDate'}}
              %span
                %a{'ng-href': '{{"/publishers/" + publisher.id}}'} {{publisher.name}}
              %span Estimated Impressions {{publisher.estimated_monthly_impressions || 0}}
              %span {{publisher.users.length ? publisher.users.join(', ') : '-'}}
              %div.block-menu
                %div{'dropdown': '', 'keyboard-nav': ''}
                  %i.fa.fa-ellipsis-h{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.advertiser}'}
                  .dropdown-menu{'dropdown-menu': '', role: 'menu'}
                    .dropdown-option
                      %a{href: '', 'ng-click': 'showDealEditModal(publisher)'} Edit
                    .dropdown-option
                      %a{href: '', 'ng-click': 'deleteDeal(publisher)'} Delete
