.block#line-content-fees
  %div.mb20
    %span.title PMP Actuals

  .table-wrapper
    %table.table.table-hover
      %thead
        %tr
          %th.left Date
          %th.left Deal-ID
          %th.left Ad Unit/Product
          %th.left Bids
          %th.left Impressions
          %th.left Win Rate
          %th.left eCPM
          %th.left Revenue
      %tbody{infinite: {scroll: 'loadMoreData()', 'scroll-disabled': 'isLoading || allDataLoaded', 'scroll-distance': '0.5'}}
        %tr{ ng: { repeat: "pmpItemDailyActual in pmpItemDailyActuals"} }
          %td
            {{ pmpItemDailyActual.date | date: 'M/d/yyyy' }}
          %td
            {{ pmpItemDailyActual.ssp_deal_id }}
          %td
            %strong
              {{ pmpItemDailyActual.ad_unit }}
          %td
            {{ pmpItemDailyActual.bids | currency:currency_symbol:0 }}
          %td
            {{ pmpItemDailyActual.impressions }}
          %td
            {{ pmpItemDailyActual.win_rate | percentage:0 }}
          %td
            {{ pmpItemDailyActual.price | currency:currency_symbol:0 }}
          %td.left
            {{ pmpItemDailyActual.revenue_loc | currency:currency_symbol:0 }}
        %tr{ ng: { if: '!pmpItemDailyActuals || pmpItemDailyActuals.length == 0' } }
          %td.center{ 'colspan': '8' }
            No data available. Please import data in 
            %a{'href': '', 'ng-href': '/settings/data_import'} Settings/Data Import