.block#line-content-fees
  %div.mb20
    %span.title PMP Items
    %add-button{ 'ng-click': 'showNewPmpItemModal()' } Add
    
  .table-wrapper
    %table.table.table-hover
      %thead
        %tr
          %th.left Deal ID
          %th.left SSP
          %th.left Budget
          %th.left Delivered
          %th.left Remaining
          %th.left 7 Day Run Rate
          %th.left 30 Day Run Rate
      %tbody
        %tr{ ng: { repeat: "pmpItem in currentPMP.pmp_items | orderBy: 'deal_id'"} }
          %td.left
            {{ pmpItem.ssp_deal_id }}
          %td.left
            %strong
              {{ pmpItem.ssp.name }}
          %td.left
            {{ pmpItem.budget_loc | currency:currency_symbol:0 }}
          %td.left
            {{ pmpItem.budget_delivered_loc | currency:currency_symbol:0 }}
          %td.left
            {{ pmpItem.budget_remaining_loc | currency:currency_symbol:0 }}
          %td.left
            {{ pmpItem.run_rate_7_days || 'N/A' }}
          %td.left
            {{ pmpItem.run_rate_30_days || 'N/A' }}
        %tr{ ng: { if: '!currentPMP.pmp_items || currentPMP.pmp_items.length == 0' } }
          %td.center{ 'colspan': '7' }
            No data available