#activity-account.z-styles
	.container-fluid
		.row.mb20
			.reports-header
				.header-cell.main-title
					Activity by Account
				.header-cell.filters-block
					%table
						%tr.filter-title
							%td Type
							%td Time period
							%td
								%span.reset-filter{'ng-click': 'resetFilter()'}
									Reset
						%tr
							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.type.id}' }
											{{filter.type.name}}
											%span.caret
										%ul.dropdown-menu
											%li{ ng: { repeat: 'type in types', class: '{active: type.id === filter.type.id}' } }
												%a{ href: '', ng: { click: 'setFilter("type", type)' } }
													{{type.name}}

							%td
								.date-picker-wrap
									%div.date-picker#advertiser-date-picker{'date-range-picker': true,
														   'ng-model': 'filter.date',
														   :options => "{locale: {format: 'MMMM D, YYYY'},
																		 eventHandlers: {'apply.daterangepicker': datePicker.apply}}"}
										%span.empty{'ng-hide': 'datePicker.toString()'}
											Time period
											%span.caret
										%span{'ng-show': 'datePicker.toString()'}
											{{datePicker.toString()}}
											%span.caret

				.header-cell
					.pull-right
						%download-button{'ng-click': 'export()'}
							Export

		.row
			.col-xs-12
				.block
					%div.table-wrapper
						%table.table.table-hover
							%thead
								%tr
									%th{ 'ng-click': 'changeSortType("username")'}
										Account Name
									%th{ ng: { repeat: 'activityType in activityTypes track by $index' }, 'ng-click': 'changeSortType(activityType.name)' }
										{{ activityType.name }}
									%th{ 'ng-click': 'changeSortType("total")'}
										Total
							%tbody
								%tr{'ng-repeat': 'account in accounts'}
									%td {{account.name}}
									%td{'ng-repeat': 'type in activityTypes'} {{account[type.name]}}
									%td {{account.total}}
								%tr
									%td Total
									%td{'ng-repeat': 'type in activityTypes'} {{getTotalActivities(type.name)}}
									%td {{getTotalActivities('total')}}