#reports.z-styles.z-report
  .container-fluid
    .row.mb20
      .reports-header
        .header-cell.main-title
          Activity Detail
        .header-cell.filter-cell
          %z-filter{'on-apply': 'onFilterApply'}
            %z-filter-field{data: 'teams', type: 'team', 'save-as': '{team_id: "id"}', 'on-change': 'updateSellers'} Team
            %z-filter-field{data: 'sellers', 'save-as': '{member_id: "id"}'} Creator
            %z-filter-field{data: 'activityTypes', 'save-as': '{activity_type_id: "id"}'} Type
            %z-filter-field{type: 'daterange', 'save-as': '{start_date: "startDate", end_date: "endDate"}'} Time period

        .header-cell
          .pull-right
            .header-cell-right
              %download-button{'ng-click': 'exportReports()'}
                Export

    .row
      .col-md-12
        .block
          %ng-include{src: '"partials/activity_detail_table.html"' }
