#kpi-analytics
	.container#advertisers-chart
		.row
			.col-xs-12
				%h3.title Where to Pitch More vs. Less

		.row.legend.well.kpi-block
			.col-xs-12
				%span.advertiser-subtitle Advertiser Direct
				%span Filter by
				.date-picker-wrap
					%input.form-control.date-picker#advert-date-picker{readonly: true,
													size: 10,
													placeholder: 'Time period',
													'date-range-picker': true,
													'ng-model': 'datePicker',
													:options => "{locale: {format: 'MMMM D, YYYY'}, eventHandlers: {'apply.daterangepicker': datePickerApply, 'hide.daterangepicker': datePickerApply}}"}
					%span.caret
				%ul.kpi-block__filter
					%li{ dropdown: true }
						%a{ href: '', dropdown: { toggle: true } }
							Team
							%span.caret
						%ul.dropdown-menu
							%li{ ng: { repeat: 'product in productsList', class: '{active: product.name === productFilter.name}' } }
								%a{ href: '', ng: { click: 'filterByProduct(product)' } }
									{{ product.name }}
				%ul.kpi-block__filter
					%li{ dropdown: true }
						%a{ href: '', dropdown: { toggle: true } }
							Seller
							%span.caret
						%ul.dropdown-menu
							%li{ ng: { repeat: 'seller in sellers', class: '{active: seller.id == sellerId}' } }
								%a{ href: '', ng: { click: 'filterBySeller(seller.id)' } }
									{{ seller.first_name +' '+seller.last_name}}
				%ul.kpi-block__filter
					%li{ dropdown: true }
						%a{ href: '', dropdown: { toggle: true } }
							Product
							%span.caret
						%ul.dropdown-menu
							%li{ ng: { repeat: 'product in productsList', class: '{active: product.name === productFilter.name}' } }
								%a{ href: '', ng: { click: 'filterByProduct(product)' } }
									{{ product.name }}
				%ul.kpi-block__filter
					%li{ dropdown: true }
						%a{ href: '', dropdown: { toggle: true } }
							Category
							%span.caret
						%ul.dropdown-menu

				%ul.kpi-block__filter
					%li{ dropdown: true }
						%a{ href: '', dropdown: { toggle: true } }
							Sub-Category
							%span.caret
						%ul.dropdown-menu
				.horizontal-line
					.advertiser-chart-wrap.col-xs-offset-1.col-xs-10
						.advertiser-block.col-xs-6{style: 'background-color: #E74C3C'}
							%div.title SOMETHING'S NOT WORKING
							%div.body
								%span
									Ford (15.10%)
								%span
									Chevy (12.15%)
						.advertiser-block.col-xs-6{style: 'background-color: #16A085'}
							%div.title KEEP IT UP
							%div.body
								%span
									P&G (25.70%)
								%span
									Unilever (19.65%)
								%span
									Amex (18.55%)
						.advertiser-block.col-xs-6{style: 'background-color: #F1C40F'}
							%div.title WARNING!
							%div.body
								%span
									Netflix (5.16%)
								%span
									Nulu (3.15%)
						.advertiser-block.col-xs-6{style: 'background-color: #91CE7B'}
							%div.title PITCH MORE
							%div.body
								%span
									BestBuy (6.55%)
								%span
									Amazon (8.53%)