#agency360.z-styles
  .container-fluid.inner-agency360
    .row.mb20
      .reports-header
        .header-cell.main-title
          Agency 360
        .header-cell.filter-cell
          %z-filter{'on-apply': 'onFilterApply', 'on-reset': 'onResetFilter'}
            %z-filter-field{data: 'holdingCompanies', 'save-as': '{holding_company_id: "id"}', 'on-change': 'updateAgency'} Holding Company
            %z-filter-field{type: 'multiselect', data: 'agencies', 'save-as': '{"account_ids[]": "id"}'} Agency
            %z-filter-field{type: 'daterange', 'save-as': '{start_date: "startDate", end_date: "endDate"}', id: "date-range"} Date Range

  .container-fluid.inner-agency360{'ng-show': 'showDashboard'}
    .row
      .block
        %div.mb20
          %span.title Spend by Product
        %div#spend-product-chart-container.mb20
          %svg#spend-product-chart.agency360-chart
          %div.legend-container
        .table-wrapper
          %table.table.table-hover
            %thead
              %tr
                %th
                  %b Product
                %th{'ng-repeat': 'month in months'}
                  {{month.label}}
                %th Total
            %tbody
              %tr{'ng-repeat': 'product in spendByProducts', 'ng-class': '{total: $last}'}
                %td {{product.name}}
                %td{'ng-repeat': 'val in product.values track by $index'}
                  {{val ? (val | currency: '$' : '0') : '-'}}
                %td.total
                  {{product.total | currency: '$' : '0'}}

    .row
      .block
        %div.mb20
          %span.title Spend by Advertiser
        %div#spend-advertiser-chart-container.mb20
          %svg#spend-advertiser-chart.agency360-chart
          %div.legend-container
        .table-wrapper
          %table.table.table-hover
            %thead
              %tr
                %th
                  %b Advertiser
                %th{'ng-repeat': 'month in months'}
                  {{month.label}}
                %th Total
            %tbody
              %tr{'ng-repeat': 'advertiser in spendByAdvertisers', 'ng-class': '{total: $last}'}
                %td{'ng-if': '$last'} {{advertiser.name}}
                %td{'ng-if': '!$last'}
                  %a{href: '', 'ng-href': '#'} {{advertiser.name}}
                %td{'ng-repeat': 'val in advertiser.values track by $index'}
                  {{val ? (val | currency: '$' : '0') : '-'}}
                %td.total
                  {{advertiser.total | currency: '$' : '0'}}

    .row
      .col-xs-8.pl0
        .block
          %div.mb20
            %span.title Advertisers Without Spend at {{(holdingCompany.id && holdingCompany.name) || (filter.agency.id && filter.agency.name) || '-'}}
          .table-wrapper
            %table.table.table-hover
              %thead
                %tr
                  %th Advertiser
                  %th Open Pipeline
                  %th Seller
              %tbody
                %tr{'ng-repeat': 'advertiser in relatedAdvertisers'}
                  %td
                    %a{href: '', 'ng-href': '/accounts/{{advertiser.id}}'} {{advertiser.advertiser_name}}
                  %td {{advertiser.sum | currency : '$' : 0}}
                  %td {{advertiser.seller_name}}
        .block
          %div.mb20
            %span.title Contacts & Related Advertisers
          .table-wrapper
            %table.table.table-hover
              %thead
                %tr
                  %th Name
                  %th Advertiser
                  %th Email
                  %th Phone
                  %th Last Touch
              %tbody
                %tr{'ng-repeat': 'contact in relatedContacts'}
                  %td
                    %a{href: '', 'ng-href': '/contacts/{{contact.id}}'} {{contact.name}}
                  %td
                    %a{href: '', 'ng-href': '/accounts/{{contact.advertiser.id}}'} {{contact.advertiser.name}}
                  %td {{contact.email}}
                  %td {{contact.phone}}
                  %td {{contact.last_touch | date}}

        .block
          %div.mb20
            %span.title Activity History
          .table-wrapper
            %table.table.table-hover
              %thead
                %tr
                  %th Date
                  %th Type
                  %th Agency
                  %th Comments
                  %th Contacts
              %tbody
                %tr{'ng-repeat': 'activity in activities'}
                  %td {{activity.date | date : 'MM/dd/yy'}}
                  %td
                    .activity-type
                      %span{'class': 'mr8 icon-activity-{{getIconName(activity.type)}}'}
                      %b {{activity.type}}
                  %td
                    %a{href: '', 'ng-href': '/accounts/{{activity.advertiser.id}}'} {{activity.advertiser.name}}
                  %td
                    %div{ng: {'text-truncate': 'activity.comments', 'tt-chars-threshold': '250'}}
                  %td
                    %div{'ng-repeat': 'contact in activity.contacts'}
                      %a{href: '', 'ng-href': '/contacts/{{contact.id}}'} {{contact.name}}
      .col-xs-4.pr0
        .block
          %div.mb20
            %span.title Spend by Category
          %div#spend-category-chart-container
            %svg#spend-category-chart.agency360-chart>
            %div.legend-container

        .block
          %div.mb20
            %span.title Win Rate by Category
          %div#win-rate-category-chart-container
            %svg#win-rate-category-chart.agency360-chart
