#agency360.z-styles
  .container-fluid.inner-agency360
    .row.mb20
      .reports-header
        .header-cell.main-title
          Agency 360
        .header-cell.filter-cell
          %z-filter{'on-apply': 'onFilterApply', 'on-reset': 'onResetFilter'}
            %z-filter-field{data: 'holdingCompanies', 'save-as': '{holding_company_id: "id"}', 'on-change': 'updateAgency'} Holding Company
            %z-filter-field{type: 'multiselect', data: 'agencies', 'save-as': '{"account_ids[]": "id"}'} Agency
            #agency-date-range
              %z-filter-field{data: 'timeDimensions', 'is-all': 'false', 'save-as': '{start_date: "start_date"}', 'order-by': '["-start_date"]'} Start Date
              %z-filter-field{data: 'timeDimensions', 'is-all': 'false', 'save-as': '{end_date: "end_date"}', 'order-by': '["-end_date"]'} End Date

  .container-fluid.inner-agency360{'ng-show': 'showDashboard'}
    .row
      .block
        %div.mb20
          %span.title Spend by Product
        %div#spend-product-chart-container.mb20
          %svg#spend-product-chart.agency360-chart
          %div.legend-container
        .table-wrapper
          %table.table.table-hover
            %thead
              %tr
                %th
                  %b Product
                %th{'ng-repeat': 'month in months'}
                  {{month.label}}
                %th Total
            %tbody
              %tr{'ng-repeat': 'product in spendByProducts', 'ng-class': '{total: $last}'}
                %td {{product.name}}
                %td{'ng-repeat': 'val in product.values track by $index'}
                  {{val ? (val | currency: '$' : '0') : '-'}}
                %td.total
                  {{product.total | currency: '$' : '0'}}

    .row
      .block
        %div.mb20
          %span.title Spend by Advertiser
        %div#spend-advertiser-chart-container.mb20
          %svg#spend-advertiser-chart.agency360-chart
          %div.legend-container
        .table-wrapper
          %table.table.table-hover
            %thead
              %tr
                %th
                  %b Advertiser
                %th{'ng-repeat': 'month in months'}
                  {{month.label}}
                %th Total
            %tbody
              %tr{'ng-repeat': 'advertiser in spendByAdvertisers', 'ng-class': '{total: $last}'}
                %td{'ng-if': '$last'} {{advertiser.name}}
                %td{'ng-if': '!$last'}
                  %a{href: '', 'ng-href': '/accounts/{{ advertiser.id }}', target: '_blank'} {{advertiser.name}}
                %td{'ng-repeat': 'val in advertiser.values track by $index'}
                  {{val ? (val | currency: '$' : '0') : '-'}}
                %td.total
                  {{advertiser.total | currency: '$' : '0'}}

    .row
      .col-xs-8.pl0
        .block
          %div.mb20
            %span.title Advertisers Without Spend at {{(holdingCompany.id && holdingCompany.name) || (filter.agency.id && filter.agency.name) || '-'}}
          .table-wrapper
            %table.table.table-hover
              %thead
                %tr
                  %th Advertiser
                  %th Open Pipeline
                  %th Seller
              %tbody
                %tr{'ng-repeat': 'advertiser in relatedAdvertisers'}
                  %td
                    %a{href: '', 'ng-href': '/accounts/{{advertiser.id}}', target: '_blank'} {{advertiser.advertiser_name}}
                  %td {{advertiser.sum | currency : '$' : 0}}
                  %td {{advertiser.seller_name}}
      .col-xs-4.pr0
        .block
          %div.mb20
            %span.title Spend by Category
          %div#spend-category-chart-container
            %svg#spend-category-chart.agency360-chart>
            %div.legend-container

        .block
          %div.mb20
            %span.title Win Rate by Category
          %div#win-rate-category-chart-container
            %svg#win-rate-category-chart.agency360-chart
