#billing
	.billing-inner.container-fluid
		.row
			.main-title.mb20 Billing Summary
		.row.mb40
			.filter-text.mb10
				Select a Month to View Billing Details
			%form.form-inline.filter-form
				%div.form-group
					%label
						Year
						%span.star *
					.dropdown.form-control
						.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
							%span {{selectedYear || 'Select'}}
							%span.caret
						%ul.dropdown-menu
							%li{'ng-repeat': 'year in years', 'ng-class': '{active: selectedYear == year}'}
								%a{'href': '', 'ng-click': 'selectYear(year)'}
									%span {{year}}

				%div.form-group
					%label
						Month
						%span.star *
					.dropdown.form-control
						.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
							%span {{selectedMonth || 'Select'}}
							%span.caret
						%ul.dropdown-menu
							%li{'ng-repeat': 'month in months', 'ng-class': '{active: selectedMonth == month}'}
								%a{'href': '', 'ng-click': 'selectMonth(month)'}
									%span {{month}}
		%div{'ng-show': 'selectedMonth && selectedYear'}
			.row.block.mb20
				%div.mb20
					%span.title IO's for Approval
				%div{'ng-hide': 'iosForApproval.length'}
					%h3 No Data Available
				%table.table.table-hover{'ng-show': 'iosForApproval.length'}
					%thead
						%tr
							%th IO #
							%th Line #
							%th Name
							%th Advertiser
							%th Agency
							%th Currency
							%th Billing Contact
							%th Product
							%th Ad Server Product
							%th Revenue Type
							%th Amount
							%th Billing Status
							%th VAT
					%tbody
						%tr{'ng-repeat': 'item in iosForApproval'}
							%td
								%b {{item.io_id}}
							%td
								%b {{item.line}}
							%td {{item.io_name}}
							%td {{item.advertiser_name}}
							%td {{item.agency_name}}
							%td {{item.currency}}
							%td {{item.billing_contact_name}}
							%td {{item.product_name}}
							%td {{item.ad_server}}
							%td {{item.revenue_type}}
							%td {{item.amount | currency:'$':0 }}
							%td{'ng-class': '{"pending-status": item.billing_status == "Pending"}'} {{item.billing_status}}
							%td {{item.vat | currency:'$':0 }}

			.row.block.mb20
				%div.mb20
					%span.title IO's Missing Display Line Items
				%div{'ng-hide': 'iosMissingDisplayLineItems.length'}
					%h3 No Data Available
				%table.table.table-hover{'ng-show': 'iosMissingDisplayLineItems.length'}
					%thead
						%tr
							%th IO #
							%th Name
							%th Advertiser
							%th Agency
							%th Currency
							%th Billing Contact
							%th Product
							%th Details
					%tbody
						%tr{'ng-repeat': 'item in iosMissingDisplayLineItems'}
							%td
								%b {{item.id}}
							%td {{item.name}}
							%td {{item.advertiser_name}}
							%td {{item.agency_name}}
							%td {{item.currency}}
							%td {{item.billing_contact_name}}
							%td ---
							%td {{item.details}}

			.row.block.mb20
				%div.mb20
					%span.title IO's Missing Monthly Actuals
				%div{'ng-hide': 'iosMissingMonthlyActual.length'}
					%h3 No Data Available
				%table.table.table-hover{'ng-show': 'iosMissingMonthlyActual.length'}
					%thead
						%tr
							%th IO #
							%th Line #
							%th Name
							%th Advertiser
							%th Agency
							%th Currency
							%th Billing Contact
							%th Product
							%th Ad Server Product
					%tbody
						%tr{'ng-repeat': 'item in iosMissingMonthlyActual'}
							%td
								%b {{item.io_id}}
							%td
								%b {{item.line_number}}
							%td {{item.io_name}}
							%td {{item.advertiser_name}}
							%td {{item.agency_name}}
							%td {{item.currency}}
							%td {{item.billing_contact_name}}
							%td {{item.product_name}}
							%td {{item.ad_server}}
