#billing
	.billing-inner.container-fluid
		.row
			.main-title.mb20 Billing Summary
		.row.mb40
			.filter-text.mb10
				Select a Month to View Billing Details
			%form.form-inline.filter-form
				%div.form-group
					%label
						Year
						%span.star *
					.dropdown.form-control
						.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
							%span {{selectedYear || 'Select'}}
							%span.caret
						%ul.dropdown-menu
							%li{'ng-repeat': 'year in years', 'ng-class': '{active: selectedYear == year}'}
								%a{'href': '', 'ng-click': 'selectYear(year)'}
									%span {{year}}

				%div.form-group
					%label
						Month
						%span.star *
					.dropdown.form-control
						.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
							%span {{selectedMonth || 'Select'}}
							%span.caret
						%ul.dropdown-menu
							%li{'ng-repeat': 'month in months', 'ng-class': '{active: selectedMonth == month}'}
								%a{'href': '', 'ng-click': 'selectMonth(month)'}
									%span {{month}}

		%div{'ng-if': 'selectedMonth && selectedYear'}
			.row.block.mb20
				%div.mb20
					%span.title IO's for Approval
				%div{'ng-show': '!iosForApproval.length && !dataIsLoading'}
					%h4 No Data Available
				%div.table-wrap{'ng-hide': '!iosForApproval.length && !dataIsLoading'}
					%table.table.table-hover
						%thead
							%tr
								%th IO #
								%th Line #
								%th Name
								%th Advertiser
								%th Agency
								%th Currency
								%th Billing Contact
								%th Product
								%th Ad Server Product
								%th Ad Server Budget
								%th Ad Server Quantity
								%th Budget
								%th Quantity
								%th Billing Status
								%th VAT
						%tbody
							%tr{'ng-repeat': 'item in iosForApproval'}
								%td
									%b {{item.io_id}}
								%td
									%b {{item.line}}
								%td {{item.io_name}}
								%td {{item.advertiser_name}}
								%td {{item.agency_name}}
								%td {{item.currency}}
								%td {{item.billing_contact_name}}
								%td {{item.product_name}}
								%td {{item.ad_server}}
								%td {{item.ad_server_budget | currency:'$':0}}
								%td {{item.ad_server_quantity}}
								%td
									%div.editable
										{{item.amount | currency:'$':0}}
								%td
									%div.editable
										{{item.quantity || 'Enter quantity'}}
								%td{class: '{{item.billing_status.toLowerCase() + "-status"}}'}
									.dropdown
										%div.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
											%span.text
												{{item.billing_status || 'Select status'}}
											%span.caret
										%ul.dropdown-menu
											%li{'ng-repeat': 'status in billingStatuses'}
												%a{'href': '', 'ng-click': 'updateBillingStatus(item, status)'}
													%span.text {{status}}
								%td {{item.vat | currency:'$':0}}

			.row.block.mb20
				%div.mb20
					%span.title IO's Missing Display Line Items
				%div{'ng-show': '!iosMissingDisplayLineItems.length && !dataIsLoading'}
					%h4 No Data Available
				%div.table-wrap{'ng-hide': '!iosMissingDisplayLineItems.length && !dataIsLoading'}
					%table.table.table-hover
						%thead
							%tr
								%th IO #
								%th Name
								%th Advertiser
								%th Agency
								%th Currency
								%th Billing Contact
								%th Details
						%tbody
							%tr{'ng-repeat': 'item in iosMissingDisplayLineItems'}
								%td
									%b {{item.id}}
								%td {{item.name}}
								%td {{item.advertiser_name}}
								%td {{item.agency_name}}
								%td {{item.currency}}
								%td {{item.billing_contact_name}}
								%td {{item.details}}

			.row.block.mb20
				%div.mb20
					%span.title IO's Missing Monthly Actuals
				%div{'ng-show': '!iosMissingMonthlyActual.length && !dataIsLoading'}
					%h4 No Data Available
				%div.table-wrap{'ng-hide': '!iosMissingMonthlyActual.length && !dataIsLoading'}
					%table.table.table-hover
						%thead
							%tr
								%th IO #
								%th Line #
								%th Name
								%th Advertiser
								%th Agency
								%th Currency
								%th Billing Contact
								%th Product
								%th Ad Server Product
						%tbody
							%tr{'ng-repeat': 'item in iosMissingMonthlyActual'}
								%td
									%b {{item.io_id}}
								%td
									%b {{item.line_number}}
								%td {{item.io_name}}
								%td {{item.advertiser_name}}
								%td {{item.agency_name}}
								%td {{item.currency}}
								%td {{item.billing_contact_name}}
								%td {{item.product_name}}
								%td {{item.ad_server}}
