#reports.monthly-forecasts
  .container-fluid.table-report
    .row
      .col-xs-12
        .filter-title
          %h3.title.pull-left Business Plan

          %ul.kpi-block__filter.pull-left
            %li{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                %span{ 'ng-if': 'selectedBP.id > 0' }
                  {{ selectedBP.name }}
                %span{ 'ng-if': 'selectedBP.id == 0' }
                  Select Business Plan
                %span.caret
              %ul.dropdown-menu
                %li{ ng: { repeat: 'bp in bps', class: '{active: bp.id == selectedBP.id}' } }
                  %a{ href: '', ng: { click: 'selectBP(bp)' } }
                    {{ bp.name }}

          %ul.kpi-block__filter.pull-left
            %li{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                %span
                  {{ selectedFilter.name }}
                %span.caret
              %ul.dropdown-menu
                %li{ ng: { repeat: 'filter in bpEstimateFilters', class: '{active: filter.value == selectedFilter.value}' } }
                  %a{ href: '', ng: { click: 'selectFilter(filter)' } }
                    {{ filter.name }}
      .bp-info.col-xs-12{ ng: { if: 'selectedBP.id > 0' } }
        .info
          Name:
          %span.info-value
            {{ selectedBP.name }}
        .info
          Time Period:
          %span.info-value
            {{ selectedBP.time_period.name }}
        .info
          Date Created:
          %span.info-value
            {{selectedBP.created_at | date: 'shortDate'}}
        .info
          Due Date:
          %span.info-value
            {{selectedBP.due_date | date: 'shortDate'}}
        .info
          Status:
          %span.info-value
            {{selectedBP.status}} / {{selectedBP.client_count}}
        .info
          Total Seller Estimate:
          %span.info-value
            {{ totalEstimate(bpEstimates, 'estimate_seller') | currency:'$':0 }}
        .info
          Total Manager Estimate:
          %span.info-value
            {{ totalEstimate(bpEstimates, 'estimate_mgr') | currency:'$':0 }}

    .row{ ng: { if: 'selectedBP.id > 0' } }
      .col-md-12.text-center.bp-table-wrapper
        .alerts{ 'ng-if': 'notification' }
          .alert.alert-success
            %i.fa.fa-check-circle
            <strong style="text-transform: capitalize"></strong>
            {{notification}}
        %table.table.gray-table
          %thead
            %tr
              %th.left{ width: "200" }
                %a.sort{ href: '', ng: { click: 'sort.toggle("client_name")' } }
                  Account
                  %i{ ng: { class: "{ 'fa': sort.column == 'client_name', 'fa-sort-asc': sort.column == 'client_name' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'client_name' && sort.direction == 'desc' }" } }
              %th.left{ width: "150" }
                %a.sort{ href: '', ng: { click: 'sort.toggle("user_name")' } }
                  Seller
                  %i{ ng: { class: "{ 'fa': sort.column == 'user_name', 'fa-sort-asc': sort.column == 'user_name' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'user_name' && sort.direction == 'desc' }" } }
              %th{ width: "130" }
                {{selectedBP.time_period.name}} Pipeline
              %th{ width: "130" }
                {{selectedBP.time_period.name}} Revenue
              %th{ width: "150" }
                {{selectedBP.time_period.name}} Estimate
              %th{ width: "150" }
                Mgr Estimate
              %th{ width: "130" }
                {{yearQuarter}} Revenue
              %th{ width: "130" }
                {{'% Change - YoY'}}
              %th{ width: "130" }
                {{prevQuarter}} Revenue
              %th{ width: "130" }
                {{'% Change - QoQ'}}
          %tbody{ ng: { if: 'bpEstimates.length > 0', repeat: 'bp_estimate in bpEstimates', include: "'partials/bp_rows.html'" } }
          %tbody{ ng: { if: 'bpEstimates.length == 0' } }
            %tr
              %td.center{ colspan: '10' }
                No data available