#clients
  #nav
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a{ href: '', ng: { click: 'showModal()' } }
                New Client

  .container
    .row
      .col-xs-6
        .search
      .col-xs-6

    .row
      #client-list.col-xs-5
        .list-group.list-lg
          %a.list-group-item.vertical-center{href: '/#clients/{{ client.id }}', ng: { repeat: 'client in clients | orderBy: "name"', class: '{ active: client.id == currentClient.id }' } }
            .col-xs-8.col-xs-offset-4
              .row
                %h4
                  {{ client.name }}
              .row
                13 people   3 deals
      #client-detail.col-xs-7
        .tools.pull-right
          %a#delete-client{ href: '', ng: { click: 'delete()' } }
            = inline_svg 'trash.svg'
          %a#edit-client{ href: '', ng: { click: 'showEditModal()' } }
            = inline_svg 'edit.svg'
        %h2.client-name
          {{ currentClient.name }}
          %br
          .location
            {{ currentClient.address.city }}, {{ currentClient.address.state}}
        #details
          .well
            .row
              .col-xs-2
                %strong
                  Office
              .col-xs-10.detail
                {{ currentClient.address.phone | tel }}
            .row
              .col-xs-2
                %strong
                  Email
              .col-xs-10.detail
                {{ currentClient.address.email }}
          .well
            .row
              .col-xs-2
                %strong
                  Address
              .col-xs-10.detail
                {{ currentClient.address.street1 }}
                %br
                {{ currentClient.address.city }}, {{ currentClient.address.state }}  {{ currentClient.address.zip }}
          .well
            .row
              .col-xs-2
                %strong
                  Website
              .col-xs-10.detail
                %a{ ng: { href: 'http://{{ currentClient.website }}' }, target: '_blank' }
                  {{ currentClient.website }}

        #people
          %h2
            people

          .well{ ng: { repeat: 'contact in currentClient.contacts', click: 'go("/people/" + contact.id)' } }
            .row
              .col-xs-10
                .row
                  .col-xs-12
                    %strong
                      {{ contact.name }}, {{ contact.position }}
                .row
                  .col-xs-12
                    {{ contact.address.email }} {{ contact.address.mobile }}
              .col-xs-2
                = inline_svg 'right-caret.svg', class: 'pull-right'

