#contacts
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a.upload{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'icons/add.svg'
                New Person


  -##
  -# Main content
  -##
  .container
    .row


      -##
      -# List and search
      -##
      #contact-list.col-xs-4
        %script{ type: 'text/ng-template', id: 'partials/contact_list_item.html' }
          %h4
            {{ item.name }}
          .subtitle{ 'ng-show': 'item.client && item.position' }
            {{ item.client.name }}, {{ item.position }}
          .subtitle{ 'ng-show': 'item.client && !item.position' }
            {{ item.client.name }}
          .subtitle{ 'ng-show': '!item.client && item.position' }
            {{ item.position }}
        %div{ 'object-list': true, items: 'contacts', query: 'query', 'on-search': 'searchContacts', 'on-select': 'showContact', 'on-load-more': 'loadMoreContacts', selected: 'currentContact', template: 'partials/contact_list_item.html' }


      -##
      -# Detail view
      -##
      #contact-detail.col-xs-8
        .tools.pull-right
          %a#delete-contact{ href: '', ng: { click: 'delete()' } }
            = inline_svg 'icons/trash.svg'
          %a#edit-contact{ href: '', ng: { click: 'showEditModal()' } }
            = inline_svg 'icons/edit.svg'
        %h2.contact-name
          {{ currentContact.name }}
          %br
          .position
            {{ currentContact.position }}, {{ currentContact.client.name}}
        #details
        .wells-group
          .well
            .row
              .col-xs-2
                %strong
                  Mobile
              .col-xs-10.detail
                {{ currentContact.address.mobile | tel }}
            .row
              .col-xs-2
                %strong
                  Office
              .col-xs-10.detail
                {{ currentContact.address.phone | tel }}
            .row
              .col-xs-2
                %strong
                  Email
              .col-xs-10.detail
                {{ currentContact.address.email }}
          .well
            .row
              .col-xs-2
                %strong
                  Address
              .col-xs-10.detail
                {{ currentContact.address.street1 }}
                %br
                {{ currentContact.address.city }}, {{ currentContact.address.state }}  {{ currentContact.address.zip }}
          .well
            .row
              .col-xs-2
                %strong
                  Notes
              .col-xs-10.detail
                None

        #activities.section
          %h2
            activities
          %div{ ng: { include: "'partials/activities_contact.html'" } }
        #activities-feed.section          
          %div{ ng: { include: "'partials/activities_feed_contact.html'" } }
