#contacts.z-styles
	.z-sliding-filter{'ng-class': '{open: filter.isOpen}'}
		.header
			Filter
			%span.pull-right{'ng-click': 'filter.close($event)'} Close
		.body
			.filter-row
				.filter-name
					%div
						Works At
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.workPlace', 'ng-click': 'filter.reset("workPlace")'}
					%span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.workPlace}'}
							{{filter.selected.workPlace || 'Select a place'}}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.form-group.dropdown-search{'ng-click': '$event.stopPropagation()'}
								%i.fa.fa-search
								%input.form-control{'placeholder': 'Search', 'ng-model': 'filter.search'}
							%span.dropdown-title Select from list
							.dropdown-option{'ng-repeat': 'workPlace in filter.workPlaces | filter: filter.searching | limitTo: 10', role: 'menuitem'}
								%a{href: '', 'ng-click': 'filter.select("workPlace", workPlace)'} {{workPlace}}
			.filter-row
				.filter-name
					%div
						Job Level
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.jobLevel', 'ng-click': 'filter.reset("jobLevel")'}
					%span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.jobLevel}'}
							{{filter.selected.jobLevel || 'Select a job level'}}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.form-group.dropdown-search{'ng-click': '$event.stopPropagation()'}
								%i.fa.fa-search
								%input.form-control{'placeholder': 'Search', 'ng-model': 'filter.search'}
							%span.dropdown-title Select from list
							.dropdown-option{'ng-repeat': 'jobLevel in filter.jobLevels | filter: filter.searching | limitTo: 10', role: 'menuitem'}
								%a{href: '', 'ng-click': 'filter.select("jobLevel", jobLevel)'} {{jobLevel}}
			.filter-row
				.filter-name
					%div
						City
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.city', 'ng-click': 'filter.reset("city")'}
					%span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.city}'}
							{{filter.selected.city || 'Select a city'}}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.form-group.dropdown-search{'ng-click': '$event.stopPropagation()'}
								%i.fa.fa-search
								%input.form-control{'placeholder': 'Search', 'ng-model': 'filter.search'}
							%span.dropdown-title Select from list
							.dropdown-option{'ng-repeat': 'city in filter.cities | filter: filter.searching | limitTo: 10', role: 'menuitem'}
								%a{href: '', 'ng-click': 'filter.select("city", city)'} {{city}}
			.filter-row
				.filter-name
					%div
						Country
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.country', 'ng-click': 'filter.reset("country")'}
					%span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.country}'}
							{{filter.selected.country || 'Select a country'}}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.form-group.dropdown-search{'ng-click': '$event.stopPropagation()'}
								%i.fa.fa-search
								%input.form-control{'placeholder': 'Search', 'ng-model': 'filter.search'}
							%span.dropdown-title Select from list
							.dropdown-option{'ng-repeat': 'country in filter.countries | filter: filter.searching | limitTo: 10', role: 'menuitem'}
								%a{href: '', 'ng-click': 'filter.select("country", country)'} {{country}}
			.filter-row
				.filter-name
					%div
						Last Touch
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.date.startDate && filter.selected.date.endDate', 'ng-click': 'filter.reset("date")'}
					%span.bs-datepicker
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.date.startDate && filter.selected.date.endDate}'}
							%div.date-picker{'date-range-picker': true,
													   'ng-model': 'filter.datePicker.date',
													   options: '{eventHandlers: {"apply.daterangepicker": filter.datePicker.apply}}'}
								%span.filter-date {{filter.getDateValue()}}
							%span.caret
		.footer
			%span.reset{'ng-click': 'filter.resetAll()'} Reset
			%button.btn-main.submit{'ng-click': 'filter.apply()'} Apply filters
	.container-fluid.contacts-inner

		.row.contacts-header.mb30
			.header-item
				.main-title Contacts
			.header-item
				%add-button{'ng-click': 'showModal()'}
					Add Contact
			.header-item.switch-row
				%span{ng: {repeat: 'switch in switches', class: '{active: switch.name == teamFilter().name}', click: 'switchContacts(switch)'}}
					{{switch.name}}
			.header-item.contact-search
				%i.fa.fa-search
				%input.form-control{placeholder: 'Search', ng: {model: 'query', 'model-options': '{debounce: 500}' }}
			.header-item
				%download-button.mr8{'ng-click': 'export()'}
					Export
				%button.btn-main{'ng-click': 'filter.open($event)'}
					%i.fa.fa-filter
					Add filter

		.row.block{'ng-if': '!contacts.length'}
			.title No Data Available
		.row.block{'ng-if': 'contacts.length'}
			.table-wrapper
				%table.table.table-hover
					%thead
						%tr.z-sortable-prime
							%th.z-sortable{by: 'name', default: true} Name
							%th.z-sortable{by: 'position'} Position
							%th.z-sortable{by: 'job_level'} Job Level
							%th.z-sortable{by: 'primary_client_json.name'} Works At
							%th.z-sortable{by: 'non_primary_client_contacts'} Related Accounts
							%th.z-sortable{by: 'address.email'} Email
							%th.z-sortable{by: 'address.mobile'} Mobile
							%th.z-sortable{by: 'last_touched'} Last Touch
					%tbody{infinite: {scroll: 'loadMoreContacts()', 'scroll-disabled': 'isLoading || allContactsLoaded'}}
						%tr{'ng-repeat': 'contact in contacts | orderBy : zSort.by : zSort.rev'}
							%td
								%a{href: '', 'ng-href': '/contacts/{{contact.id}}'} {{contact.name}}
							%td {{contact.position}}
							%td {{contact.job_level}}
							%td {{contact.primary_client_json.name}}
							%td
								%div{'ng-repeat': 'clientContact in contact.non_primary_client_contacts'} {{clientContact.client.name}}
							%td {{contact.address.email}}
							%td {{contact.address.mobile}}
							%td {{contact.last_touched | date}}
