#contacts.z-styles
	.container-fluid.contacts-inner
		.row.contacts-header.mb30
			.header-item
				.main-title Contacts
			.header-item
				%add-button{'ng-click': 'showModal()'}
					Add Contact
			.header-item.switch-row
				%span{ng: {repeat: 'filter in contactFilters', class: '{active: filter.name == contactFilter.name}', click: 'filterContacts(filter)'}}
					{{filter.name}}
			.header-item.contact-search
				%i.fa.fa-search
				%input.form-control{placeholder: 'Search', ng: {model: 'query', 'model-options': '{debounce: 500}' }}
			.header-item
				%button.btn-main{'ng-click': 'filter.open($event)'}
					%i.fa.fa-filter
					Add filter
		.row.block
			.table-wrapper
				%table.table.table-hover
					%thead
						%tr
							%th Name
							%th Position
							%th Job Level
							%th Related Accounts
							%th Email
							%th Phone
							%th Last Touch
					%tbody
						%tr{'ng-repeat': 'contact in contacts'}
							%td
								%a{href: '', 'ng-href': '#'} {{contact.name}}
							%td {{contact.position}}
							%td Job Level
							%td Related Accounts
							%td {{contact.address.email}}
							%td {{contact.address.phone}}
							%td {{contact.activity_updated_at | date}}
