#contacts
  #nav
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a.upload{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'add.svg'
                New Person
  .container
    .row
      .col-xs-6
        .search
      .col-xs-6

    .row
      #contact-list.col-xs-5
        .list-group.list-lg
          %a.list-group-item{href: '/#people/{{ contact.id }}', ng: { repeat: 'contact in contacts | orderBy: "name"', class: '{ active: contact.id == currentContact.id }' } }
            .row
              .col-xs-4
              .col-xs-8
                .row
                  %h4
                    {{ contact.name }}
                .row
                  {{ contact.client.name }}, {{ contact.position }}
      #contact-detail.col-xs-7
        .tools.pull-right
          %a#delete-contact{ href: '', ng: { click: 'delete()' } }
            = inline_svg 'trash.svg'
          %a#edit-contact{ href: '', ng: { click: 'showEditModal()' } }
            = inline_svg 'edit.svg'
        %h2.contact-name
          {{ currentContact.name }}
          %br
          .position
            {{ currentContact.position }}, {{ currentContact.client.name}}
        #details
        .wells-group
          .well
            .row
              .col-xs-2
                %strong
                  Mobile
              .col-xs-10.detail
                {{ currentContact.address.mobile | tel }}
            .row
              .col-xs-2
                %strong
                  Office
              .col-xs-10.detail
                {{ currentContact.address.phone | tel }}
            .row
              .col-xs-2
                %strong
                  Email
              .col-xs-10.detail
                {{ currentContact.address.email }}
          .well
            .row
              .col-xs-2
                %strong
                  Address
              .col-xs-10.detail
                {{ currentContact.address.street1 }}
                %br
                {{ currentContact.address.city }}, {{ currentContact.address.state }}  {{ currentContact.address.zip }}
          .well
            .row
              .col-xs-2
                %strong
                  Notes
              .col-xs-10.detail
                None
