#contacts
  #nav
    .container
      .row
        .xs-col-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a{ href: '', ng: { click: 'showModal()' } }
                New Contact
