#contact.z-detail-page.z-styles
	.container-fluid
		.row
			.col-xs-9
				.block.detail-stats.contact-stats
					%div.contact-title
						%span.main-title
							{{currentContact.name}}
							%i.fa.fa-pencil.edit-deal{'ng-click': 'showEditModal(currentContact)'}
							%i.fa.fa-trash.delete-deal{'ng-click': 'deleteContact(currentContact)'}
						.detail-info
							Last Touched: {{currentContact.last_touched | date}}

					%div.stats-body
						%div.stats-col
							.col-body-wrap
								.col-body
									.description Won Deals
									.title {{currentContact.won_deals}}

						%div.stats-col
							.col-body-wrap
								.col-body
									.description Closed Deals
									.title {{currentContact.lost_deals}}

						%div.stats-col
							.col-body-wrap
								.col-body
									.description Open Deals
									.title {{currentContact.open_deals}}

						%div.stats-col
							.col-body-wrap
								.col-body
									.description Interactions
									.title {{currentContact.interactions}}

				.block
					%div.mb20
						%span.title{'ng-if': 'currentContact.primary_client_type == "Agency"'} Related Advertisers
						%span.title{'ng-if': 'currentContact.primary_client_type == "Advertiser"'} Related Brands/Child Accounts
						%add-button{'ng-click': 'showAssignModal(currentContact)'} Add
					%table.table.table-hover
						%thead
							%tr
								%th Name
								%th Status
								%th City
						%tbody
							%tr{'ng-repeat': 'account in relatedAccounts'}
								%td
									%a.mr8{'href': '', 'ng-href': '/accounts/{{account.client.id}}', target: '_blank'} {{account.client.name}}
									%i.fa.fa-trash.z-icon{'ng-click': 'unassignClient(account.client)'}
								%td
									.dropdown
										%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
											%span.editable
												{{account.is_active ? 'Active' : 'Inactive'}}
											%span.caret
										%ul.dropdown-menu
											%li{'ng-class': '{active: account.is_active == true}'}
												%a{'href': '', 'ng-click': 'updateClientContactStatus(account, true)'}
													%span.text Active
											%li{'ng-class': '{active: account.is_active == false}'}
												%a{'href': '', 'ng-click': 'updateClientContactStatus(account, false)'}
													%span.text Inactive
								%td {{account.client.address.city}}

			.col-xs-3
				.block.contact-info.campaign-details
					%div.pull-right{'ng-include': '"partials/reminder_form.html"'}
					%div.pull-right
						%span.star
							*
							%span{style: 'font-size: 12px'} is required
					%div.mb20
						%span.title Info
						%i.fa.fa-pencil.edit-deal{'ng-click': 'showEditModal(currentContact)'}
					%div.custom-field-item
						%div.custom-field-item-label Address
						%div.custom-field-item-field.address-field
							%div {{currentContact.address.street1}}
							%div {{currentContact.address.street2}}
							%div {{ concatAddress(currentContact.address) }}
					%div.custom-field-item{'ng-if': 'currentContact.primary_client_json.name'}
						%div.custom-field-item-label Works At
						%div.custom-field-item-field
							%a{'href': '', 'ng-href': '/accounts/{{currentContact.primary_client_json.id}}', target: '_blank'} {{currentContact.primary_client_json.name}}
					%div.custom-field-item{'ng-if': 'currentContact.address.email'}
						%div.custom-field-item-label Email
						%div.custom-field-item-field {{currentContact.address.email}}
					%div.custom-field-item{'ng-if': 'currentContact.address.mobile'}
						%div.custom-field-item-label Mobile
						%div.custom-field-item-field {{currentContact.address.mobile}}
					%div.custom-field-item{'ng-if': 'currentContact.address.phone'}
						%div.custom-field-item-label Phone
						%div.custom-field-item-field {{currentContact.address.phone}}
					%div.custom-field-item
						%div.custom-field-item-label Job Level
						%div.custom-field-item-field
							.dropdown
								%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
									%span.editable{'ng-class': '{"not-selected": !currentContact.job_level}'}
										{{currentContact.job_level.name || currentContact.job_level || 'Select value'}}
									%span.caret
								%ul.dropdown-menu
									%li{'ng-repeat': 'jobLevel in currentContact.job_levels', 'ng-class': '{active: currentContact.job_level == jobLevel.name}'}
										%a{'href': '', 'ng-click': 'currentContact.job_level = jobLevel; updateContact()'}
											%span.text {{jobLevel.name}}
					%div.custom-field-item
						%div.custom-field-item-label Position
						%div.custom-field-item-field
							.text-field
								%input.editable{ 'ng-model': "currentContact.position", name: "position", placeholder: 'Enter position', 'ng-blur': 'updateContact()' }
					%div.custom-field-item
						%div.custom-field-item-label Notes
						%div.custom-field-item-field
							.text-area
								%textarea.editable{ 'msd-elastic': '', rows: 1, 'ng-model': "currentContact.note", name: "note", placeholder: 'Enter note', 'ng-blur': 'updateContact()' }
					.mb20

					%div.custom-field-item{ng:{repeat: 'contactCfName in contactCfNames | orderBy: "position"', if: "!contactCfName.disabled", class: '{"required-field": contactCfName.is_required}', init: "fieldName = contactCfName.field_type + contactCfName.field_index"}}
						%div.custom-field-item-label
							%label{ for: '{{fieldName}}' }
								{{contactCfName.field_label}}
								%span.star *
						%div.custom-field-item-field{'ng-switch': 'contactCfName.field_type', 'ng-class': '{"has-error": !currentContact.contact_cf[fieldName]}'}
							.text-field{ ng: { 'switch-when': 'text' } }
								%input.editable{ 'ng-model': "currentContact.contact_cf[fieldName]", name: "{{fieldName}}", placeholder: 'Enter {{contactCfName.field_label}}', 'ng-blur': 'updateContact()' }
							.text-area{ ng: { 'switch-when': 'note' } }
								%textarea.editable{ 'msd-elastic': '', rows: 1, 'ng-model': "currentContact.contact_cf[fieldName]", name: "{{fieldName}}", placeholder: 'Enter {{contactCfName.field_label}}', 'ng-blur': 'updateContact()' }
							.currency-field{ ng: { 'switch-when': 'number' } }
								%div{'click-to-edit':'click-to-edit', type: "number", decimal: '2', 'ng-model': "currentContact.contact_cf[fieldName]", 'on-after-save': 'updateContact()'}
							.currency-field{ ng: { 'switch-when': 'number_4_dec' } }
								%div{'click-to-edit':'click-to-edit', type: "number", decimal: '4', 'ng-model': "currentContact.contact_cf[fieldName]", 'on-after-save': 'updateContact()'}
							.currency-field{ ng: { 'switch-when': 'integer' } }
								%div{'click-to-edit':'click-to-edit', type: "number", decimal: '0', 'ng-model': "currentContact.contact_cf[fieldName]", 'on-after-save': 'updateContact()'}
							.currency-field{ ng: { 'switch-when': 'currency' } }
								%div{'click-to-edit':'click-to-edit', type: "number", decimal: '2', prefix: '{{currency_symbol}}', 'ng-model': "currentContact.contact_cf[fieldName]", 'on-after-save': 'updateContact()'}
							.percentage-field{ ng: { 'switch-when': 'percentage' } }
								%div{'click-to-edit':'click-to-edit', type: "number", decimal: '2', postfix: '%', 'ng-model': "currentContact.contact_cf[fieldName]", 'on-after-save': 'updateContact()'}
							.datetime-field.bs-datepicker{ ng: { 'switch-when': 'datetime' } }
								%span.editable{ datepicker: { popup: 'MMMM d, y'}, ng: { class: '{"not-selected": !currentContact.contact_cf[fieldName]}', model: 'currentContact.contact_cf[fieldName]', click: 'dateOpened[fieldName] = !dateOpened[fieldName]', change: 'updateContact()' }, 'is-open': 'dateOpened[fieldName]' }
									{{(currentContact.contact_cf[fieldName] | date) || 'Select date'}}
									%span.caret
							.boolean-field.show-hide-remainder-form{ ng: { 'switch-when': 'boolean' } }
								.switch-remainder-form
									%input.cmn-toggle.cmn-toggle-round-flat{id: '{{fieldName}}', type: 'checkbox', 'ng-model': 'currentContact.contact_cf[fieldName]', 'ng-change': "updateContact()"}
									%label{:for => "{{fieldName}}"}
										%span
							.dropdown{ ng: { 'switch-when': 'dropdown' } }
								%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
									%span.editable{'ng-class': '{"not-selected": !currentContact.contact_cf[fieldName]}'}
										{{currentContact.contact_cf[fieldName] || 'Select value'}}
									%span.caret
								%ul.dropdown-menu
									%li{'ng-repeat': 'customFieldOption in contactCfName.contact_cf_options', 'ng-class': '{active: currentContact.contact_cf[fieldName] == customFieldOption.value}'}
										%a{'href': '', 'ng-click': 'currentContact.contact_cf[fieldName] = customFieldOption.value; updateContact()'}
											%span.text {{customFieldOption.value}}
							.currency-field{ ng: { 'switch-when': 'sum' } }
								{{ (currentContact.contact_cf[fieldName] || 0) | number : 0 }}

				%div{'ng-include': '"partials/dashboard/activity.html"'}
