#dashboard
  .container
    .row
      .col-xs-12
        %h3
          My Stats
    .row
      .col-xs-12
        %div{ ng: { include: "'partials/stats.html'" } }

    .row
      .col-xs-7
        #deals.section
          %h3
            My Open Deals

          .well.no-deals{ ng: { hide: 'dashboard.deals.length > 0' } }
            .row
              .col-xs-12
                There are no deals yet.
                %a{ href: '', ng: { click: 'showNewDealModal()' } }
                  Add deal.

          .table-wrapper{ ng: { show: 'dashboard.deals.length > 0' } }
            %table.table.table-hover.table-striped
              %thead
                %tr
                  %th.left Deal
                  %th.left Stage
                  %th.right Start Date
              %tbody
                %tr{ ng: { repeat: 'row in dashboard.deals'} }
                  %td.left
                    %a{ href: '', ng: { href: '/deals/{{row.id}}' } }
                      {{ row.name }}
                  %td.left {{ row.stage.name }}
                  %td.right {{ row.start_date | date: 'shortDate' }}

      .col-xs-5
        #alerts.section
          %h3
            My I/O Alerts

          .well.no-alerts{ ng: { hide: 'dashboard.current_user.pos_balance > 0 || dashboard.current_user.neg_balance > 0' } }
            .row
              .col-xs-12
                There are no alerts.

          .table-wrapper{ ng: { show: 'dashboard.current_user.pos_balance > 0 || dashboard.current_user.neg_balance > 0' } }
            %table.table.table-hover.table-striped
              %thead
                %tr
                  %th.left Alert
              %tbody
                %tr{ ng: { show: 'dashboard.current_user.pos_balance > 0' }}
                  %td.left
                    %a{ href: '', ng: { href: '/revenue?filter=upside' } }
                      Revenue upside total: {{ dashboard.current_user.pos_balance }}
                %tr{ ng: { show: 'dashboard.current_user.neg_balance > 0' }}
                  %td.left
                    %a{ href: '', ng: { href: '/revenue?filter=risk' } }
                      Revenue at risk total: {{ dashboard.current_user.neg_balance }}
