#dashboard.container-fluid
	.row
		.col-xs-6
			%div{'ng-include': '"partials/dashboard/stats.html"', 'onload': 'onStatsLoad()'}
			%div{'ng-include': '"partials/dashboard/open_deals.html"'}
			%div{'ng-include': '"partials/dashboard/pacing_alerts.html"'}

		.col-xs-3
			%div{'ng-include': '"partials/dashboard/activity.html"'}

		.col-xs-3
			%div{'ng-include': '"partials/dashboard/reminders.html"'}
			%div{'ng-include': '"partials/dashboard/unassigned_contacts.html"'}