#reports
  .container-fluid.table-report
    .row
      .col-xs-12
        %h3.title
          Pipeline by User
        %a.export.pull-right{ href: '', ng: { click: 'exportReports()' } }
          = inline_svg 'icons/export.svg'
          Export
        .filters-block
          %table
            %tr.filter-title
              %td Team
              %td Status
              %td Type
              %td Source
              %td Team Member
              %td Time period
              %td
                %span.reset-filter{'ng-click': 'resetFilter()'}
                  Reset
            %tr
              %td
                %tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected: 'selectedTeam', 'ng-class': '{"empty": selectedTeam.name === "All"}'}
              %td
                %ul.filter-item
                  %li{ dropdown: true }
                    %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.status.name === "All"}' }
                      {{filter.status.name}}
                      %span.caret
                    %ul.dropdown-menu
                      %li{ ng: { repeat: 'status in statuses', class: '{active: status.name === filter.status.name}' } }
                        %a{ href: '', ng: { click: 'setFilter("status", status)' } }
                          {{ status.name }}
              %td
                %ul.filter-item
                  %li{ dropdown: true }
                    %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.type.name === "All"}' }
                      {{filter.type.name}}
                      %span.caret
                    %ul.dropdown-menu
                      %li{ ng: { repeat: 'type in types', class: '{active: type.id === filter.type.id}' } }
                        %a{ href: '', ng: { click: 'setFilter("type", type)' } }
                          {{ type.name }}
              %td
                %ul.filter-item
                  %li{ dropdown: true }
                    %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.source.name === "All"}' }
                      {{filter.source.name}}
                      %span.caret
                    %ul.dropdown-menu
                      %li{ ng: { repeat: 'source in sources', class: '{active: source.id === filter.source.id}' } }
                        %a{ href: '', ng: { click: 'setFilter("source", source)' } }
                          {{ source.name }}
              %td
                %ul.filter-item
                  %li{ dropdown: true }
                    %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.seller.name === "All"}' }
                      {{(filter.seller.first_name && filter.seller.first_name + ' ' + filter.seller.last_name) || 'All'}}
                      %span.caret
                    %ul.dropdown-menu
                      %li{ ng: { repeat: 'seller in sellers', class: '{active: seller.id === filter.seller.id}' } }
                        %a{ href: '', ng: { click: 'setFilter("seller", seller)' } }
                          {{ seller.first_name + ' ' + seller.last_name}}

              %td
                %ul.filter-item
                  %li{ dropdown: true }
                    %a{href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.timePeriod.name === "All"}' }
                      {{filter.timePeriod.name || 'All'}}
                      %span.caret
                    %ul.dropdown-menu
                      %li{ ng: { repeat: 'timePeriod in timePeriods', class: '{active: timePeriod.id === filter.timePeriod.id}' } }
                        %a{ href: '', ng: { click: 'setFilter("timePeriod", timePeriod)' } }
                          {{timePeriod.id !== 'all' ? timePeriod.name : 'All'}}

    .row
      .col-md-12
        .table-wrapper
          %table.table
            %thead
              %tr
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("users[0].first_name")'}
                    Team Member
                %th.left{ width: "150" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("advertiser.name")'}
                    Advertiser
                %th.left{ width: "250" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("name")'}
                    Name
                %th.left{ width: "150" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("agency.name")'}
                    Agency
                %th.left{ width: "150" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("stage.name")'}
                    Stage
                %th.right{ width: "50" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("stage.probability")'} %
                %th.right{ width: "100" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("budget")'}
                    Budget
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("next_steps")'}
                    Next Steps
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("latest_activity")'}
                    Latest Activity
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("type")'}
                    Deal Type
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("source")'}
                    Deal Source
                %th.left{ width: "100" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("start_date")'}
                    Start Date
                %th.left{ width: "100" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("end_date")'}
                    End Date
                %th.right{ width: "80", ng: { repeat: 'productTime in productRange track by $index' } }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("products["+$index+"]")'}
                    {{ productTime | date: 'MMM-yy' }}
            %tbody
              %tr{ ng: { repeat: 'deal in deals | orderBy:sortType:sortReverse' } }
                %td.left
                  %div{ ng: { repeat: 'user in deal.users' } }
                    {{ user.first_name + " " + user.last_name + " (" + user.share + "%)"}}
                %td.left {{ deal.advertiser.name }}
                %td.left
                  %a{ href: '', ng: { click: 'go("/deals/" + deal.id)'  } }
                    {{ deal.name }}
                %td.left {{ deal.agency.name }}
                %td.left {{ deal.stage.name }}
                %td.right {{ deal.stage.probability }}%
                %td.right ${{ (deal.budget || 0) | number : 0}}
                %td.left {{ deal.next_steps.substr(0, 30) }}
                %td.left{ 'ng-bind-html': "getHtml(deal.latest_activity)"}
                %td.left {{ deal.type }}
                %td.left {{ deal.source }}
                %td.left {{ deal.start_date | date: 'MM-dd-yyyy' }}
                %td.left {{ deal.end_date | date: 'MM-dd-yyyy' }}
                %td.right{ ng: { repeat: 'productTime in productRange track by $index' } }
                  ${{ deal.products[$index] | number : 0 }}