#deal.z-styles.z-detail-page
  .container-fluid.pad
    .col-xs-9
      %div{'ng-include': '"partials/deal/deal_stats.html"'}
      %div{'ng-include': '"partials/deal/deal_products.html"'}
      %div{'ng-if': 'egnyte_authenticated && egnyteHealthy', 'ng-include': '"partials/deal/deal_egnyte.html"'}
      %div{'ng-include': '"partials/deal/deal_io_details.html"', 'ng-if': '!isPmpDeal'}
      %div{'ng-include': '"partials/deal/deal_pmp_details.html"', 'ng-if': 'isPmpDeal'}
      %div{'ng-include': '"partials/deal/deal_contacts.html"'}
      %related-contracts{type: 'deal'}
      .row
        .col-xs-6
          %div{'ng-include': '"partials/deal/deal_members.html"'}
        .col-xs-6{'ng-if': '!egnyteHealthy || !egnyte_authenticated'}
          .attachments.block
            %upload-file{type: 'deal'}
    .col-xs-3
      %div{'ng-include': '"partials/deal/deal_next_steps.html"'}
      %div{'ng-include': '"partials/deal/deal_insights.html"'}
      %div{'ng-include': '"partials/deal/deal_campaign_details.html"'}
      %activity-feed{object: 'currentDeal', type: 'deal'}
