#deal.z-styles
	.container-fluid
		.deal-stats.block
			%div.stats-body
				%div.deal-title.col-xs-8
					%span.main-title
						{{currentDeal.name}}
						%i.fa.fa-pencil.edit-deal{'ng-click': 'showDealEditModal(currentDeal)'}
						%i.fa.fa-trash.delete-deal{'ng-click': 'deleteDeal(currentDeal)'}
					.deal-info
						{{currentDeal.advertiser.name || ''}}
						{{currentDeal.advertiser.name && currentDeal.agency.name && '|'}}
						{{currentDeal.agency.name || ''}}
					.deal-info
						Created by {{ currentDeal.creator.first_name }} {{ currentDeal.creator.last_name }} on {{ currentDeal.created_at | date: 'shortDate' }} @ {{ currentDeal.created_at | date: 'shortTime'}}
					.deal-info{ 'ng-if': "currentDeal.stage.open == false" }
						Closed at {{ currentDeal.closed_at | date: 'shortDate' }}
					.deal-info{ 'ng-if': "currentDeal.stage.open == false" }
						Closed Reason:
						.dropdown
							%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
								%span.edit {{currentDeal.close_reason.option.name}}
								%span.caret
							%ul.dropdown-menu
								%li{'ng-repeat': 'option in currentDeal.close_reason.options', 'ng-class': '{active: currentDeal.close_reason.option.name == option.name}'}
									%a{'href': '', 'ng-click': 'currentDeal.close_reason.option_id = option.id; updateDeal()'}
										%span.text {{option.name}}
				%div.next-steps.col-xs-4
					.row
						.col-xs-12.right
							%h4.field-label Next Steps
					.row
						.col-xs-12.right
							%textarea.editable-control{ rows: 3, 'ng-model': "currentDeal.next_steps", name: "next_steps", placeholder: 'Enter Next Steps', 'ng-blur': 'updateDeal()' }
				.clearfix
				%div.stats-numbers
					%div.stats-col
						.col-body-wrap
							.col-body
								.description Campaign Period
								.title.bs-datepicker
									%span.edit{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { model: 'currentDeal.start_date', click: 'startOpened = !startOpened', change: 'updateDeal()' }, 'is-open': 'startOpened' }
										{{currentDeal.start_date | date}}
									{{'-'}}
									%span.edit{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { model: 'currentDeal.end_date', click: 'endOpened = !endOpened', change: 'updateDeal()' }, 'is-open': 'endOpened' }
										{{currentDeal.end_date | date}}
									%span.caret

					%div.stats-col
						.col-body-wrap
							.col-body
								.description Total Amount
								.title {{currentDeal.budget_loc | currency: currency_symbol : 0}}

					%div.stats-col
						.col-body-wrap
							.col-body
								.description Forecast Amount
								.title {{currentDeal.budget_loc * currentDeal.stage.probability / 100 | currency: currency_symbol : 0}}

					%div.stats-col
						.col-body-wrap
							.col-body
								.description Current Stage
								.dropdown
									%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
										%span.title.edit {{currentDeal.stage.probability + '% - ' + currentDeal.stage.name}}
										%span.caret
									%ul.dropdown-menu
										%li{'ng-repeat': 'stage in stages', 'ng-class': '{active: currentDeal.stage.name == stage.name}'}
											%a{'href': '', 'ng-click': 'updateDealStage(currentDeal, stage.id)'}
												%span.text {{stage.name}}
					%div.stats-col
						.col-body-wrap
							.col-body
								.description Deal Currency
								.dropdown
									%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
										%span.title.edit {{currentDeal.curr_cd}}
										%span.caret
									%ul.dropdown-menu
										%li{'ng-repeat': 'currency in currencies', 'ng-class': '{active: currentDeal.curr_cd == currency.curr_cd}'}
											%a{'href': '', 'ng-click': 'updateDealCurrency(currentDeal, currency.curr_cd)'}
												%span.text {{currency.name}}

		.deal-products.block
			%div.mb40
				%span.title Products
				%add-button{'ng-click': 'showNewProductModal()'} Add
			.products
				%table.table.table-hover
					%thead
						%tr
							%th Product
							%th Total Budget
							%th{ ng: { repeat: 'month in currentDeal.months' } }
								{{ month | boDate }}
					%tbody
						%tr{ ng: { repeat: 'deal_product in currentDeal.deal_products' } }
							%td
								{{ deal_product.name }}
								%i.fa.fa-trash.delete-product{'ng-click': 'deleteDealProduct(deal_product)'}
							%td
								%div
									%div {{deal_product.budget_loc | currency: currency_symbol : 0}}
									%span{ 'ng-class': "{'has-error':deal_product.isIncorrectTotalBudgetPercent}"}
										{{deal_product.total_budget_percent + '%'}}
							%td{ ng: { repeat: 'deal_product_budget in deal_product.deal_product_budgets' } }
								%span
									{{ deal_product_budget.budget_loc | currency: currency_symbol : 0 }}
								%div
									%span
										{{ deal_product_budget.budget_percent+ '%'}}

		.block.col-xs-6
			%div.mb40
				%span.title Team & Split
				%add-button{'ng-click': 'showLinkExistingUser()'} Add
			%table.table.table-striped
				%thead
					%tr
						%th Member
						%th Role
						%th Share (%)
						%th.action-column
				%tbody
					%tr{ ng: { repeat: "member in currentDeal.members | orderBy: 'name'"} }
						%td
							{{ member.name }}
						%td
							%span{ 'e-name': 'role', editable: { select: 'member.role.option_id' }, 'e-ng-options': 'option.id as option.name for option in member.role.options', onaftersave: 'updateDealMember(member)' }
								{{ member.role.option.name }}
						%td
							%div{'click-to-edit':'click-to-edit', type: "inputText", postfix: '%', 'ng-model': "member.share", 'on-after-save': 'updateDealMember(member)'}
						%td.action-td
							%a.delete-member{ href: '', ng: { click: 'deleteMember(member)' } }
								= inline_svg 'icons/trash.svg'

		.col-xs-3
			%div{'ng-include': '"partials/dashboard/activity.html"'}

		.block.col-xs-3
			%div.mb40
				%span.title Campaign Details