#deal.z-styles
	.container-fluid
		.deal-stats.block
			%div.stats-body
				%div.next-steps.pull-right
					.show-create-remainders-popup
						%label{ 'for': 'deal-reminders'}
							%i.fa.fa-bell-o.reminder-icon
						%input.show-form-create-reminders#deal-reminders{ type: 'checkbox', ng: { model: 'showReminder' } }

						%div.wrap-form{ ng: { show: 'showReminder' } }
							#reminder_modal.popup-modal
								.popup-modal-header
									%label{ 'for': 'deal-reminders'}
										%span.close-btn{'ng-click': 'cancel()'} +
								%form{ name: 'dealReminderForm', ng: { submit: 'submitReminderForm()' } }
									.popup-modal-body
										.form-group{'ng-class':'{error: reminderOptions.errors.Name}'}
											%span.error-text {{errors.reminderName}}
											%label
												Reminder name
												%span.star *
											%input.form-control{'ng-model': 'reminder.name'}
										.col-xs-6.date
											.form-group{'ng-class':'{error: reminderOptions.errors.Date}'}
												%span.error-text {{errors.reminderDate}}
												%label Date
												%span.star *
												.input-group
													%span.input-group-addon
														%i.fa.fa-calendar
													%span.bs-datepicker
														%input.form-control.box.w4{readonly: true, placeholder: 'Pick date', name: 'reminderDate', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'reminder._date', required: true, click: 'reminderDateOpened = true' }, 'is-open': 'reminderDateOpened' }
										.col-xs-6.time
											.form-group{ ng: { class: '{error: reminderOptions.errors.Time}' } }
												%label Time
												%timepicker-pop.wrap-select-time.form-control-time{'input-time': 'reminder._time', 'show-meridian': 'reminderOptions.showMeridian'}
										.form-group{'ng-class':'{error: errors.reminderComment}'}
											%span.error-text {{errors.reminderComment}}
											%label
												Reminder note
											%textarea.form-control{rows: '1', 'msd-elastic': '', 'ng-model': 'reminder.comment'}

									.popup-modal-footer
										%button.btn.btn-warning{ type: 'submit', ng: { disabled: 'reminderOptions.buttonDisabled' } }  Set Reminder
					.title Next Steps
					%textarea.editable{ 'msd-elastic': '', rows: 1, 'ng-model': "currentDeal.next_steps", name: "next_steps", placeholder: 'Enter Next Steps', 'ng-blur': 'updateDeal()' }
				%div.deal-title
					%span.main-title
						{{currentDeal.name}}
						%i.fa.fa-pencil.edit-deal{'ng-click': 'showDealEditModal(currentDeal)'}
						%i.fa.fa-trash.delete-deal{'ng-click': 'deleteDeal(currentDeal)'}
					.deal-info
						{{currentDeal.advertiser.name || ''}}
						{{currentDeal.advertiser.name && currentDeal.agency.name && '|'}}
						{{currentDeal.agency.name || ''}}

				.clearfix
				%div.stats-numbers
					%div.stats-col
						.col-body-wrap
							.col-body
								.description Campaign Period
								.title.bs-datepicker
									%span.editable{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { model: 'currentDeal.start_date', click: 'startOpened = !startOpened', change: 'updateDeal()' }, 'is-open': 'startOpened' }
										{{currentDeal.start_date | date}}
									{{'-'}}
									%span.editable{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { model: 'currentDeal.end_date', click: 'endOpened = !endOpened', change: 'updateDeal()' }, 'is-open': 'endOpened' }
										{{currentDeal.end_date | date}}
									%span.caret

					%div.stats-col
						.col-body-wrap
							.col-body
								.description Total Amount
								.title {{currentDeal.budget_loc | currency: currency_symbol : 0}}

					%div.stats-col
						.col-body-wrap
							.col-body
								.description Forecast Amount
								.title {{currentDeal.budget_loc * currentDeal.stage.probability / 100 | currency: currency_symbol : 0}}

					%div.stats-col
						.col-body-wrap
							.col-body
								%span.error-tooltip{'ng-show': 'errors.stage'} {{ errors.stage }}
								.description Current Stage
								.dropdown
									%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
										%span.title.editable {{currentDeal.stage.probability + '% - ' + currentDeal.stage.name}}
										%span.caret
									%ul.dropdown-menu
										%li{'ng-repeat': 'stage in stages', 'ng-class': '{active: currentDeal.stage.name == stage.name}'}
											%a{'href': '', 'ng-click': 'updateDealStage(currentDeal, stage.id)'}
												%span.text {{stage.name}}
					%div.stats-col
						.col-body-wrap
							.col-body
								%span.error-tooltip{'ng-show': 'errors.curr_cd'} {{ errors.curr_cd }}
								.description Deal Currency
								.dropdown
									%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
										%span.title.editable {{currentDeal.curr_cd}}
										%span.caret
									%ul.dropdown-menu
										%li{'ng-repeat': 'currency in currencies', 'ng-class': '{active: currentDeal.curr_cd == currency.curr_cd}'}
											%a{'href': '', 'ng-click': 'updateDealCurrency(currentDeal, currency.curr_cd)'}
												%span.text {{currency.name}}

		.deal-products.block
			%div.mb40
				%span.title Products
				%add-button{'ng-if': 'currentDeal.stage.open', 'ng-click': 'showNewProductModal(currentDeal)'} Add
			.products
				%table.table.table-hover
					%thead
						%tr
							%th Product
							%th Total Budget
							%th{ ng: { repeat: 'month in currentDeal.months' } }
								{{ month | boDate }}
					%tbody{'ng-if': 'currentDeal.stage.open'}
						%tr{ ng: { repeat: 'deal_product in currentDeal.deal_products' } }
							%td
								{{ deal_product.name }}
								%i.fa.fa-trash.delete-product{'ng-click': 'deleteDealProduct(deal_product)'}
							%td.product-budget
								%div
									%div.total-budget-wrap
										%div.budget-value.total-budget{'click-to-edit':'click-to-edit', type: "number", 'ng-attr-prefix': "{{currency_symbol}}", 'ng-model': "deal_product.budget_loc", 'on-after-save': 'updateDealProduct(deal_product)'}
									%div.error-tooltip{'ng-show': 'deal_product.isIncorrectTotalBudgetPercent'}
										Total budget percentage should be equal 100%
									%span.budget-percent{ 'ng-class': "{'has-error':deal_product.isIncorrectTotalBudgetPercent}"}
										{{deal_product.total_budget_percent + '%'}}
							%td.product-budget{ ng: { repeat: 'deal_product_budget in deal_product.deal_product_budgets' } }
								%div{'ng-if': '!deal_product_budget.editMode'}
									%span.editable.budget-value{ 'ng-click': 'initProductEditMode(deal_product, deal_product_budget, "moneyOnFocus", "saveCopyProduct")' }
										{{ deal_product_budget.budget_loc | currency: currency_symbol : 0 }}
									%div
										%span.editable.budget-percent{'ng-click': 'initProductEditMode(deal_product, deal_product_budget, "percentOnFocus", "saveCopyProduct")'}
											{{ deal_product_budget.budget_percent+ '%'}}
								%div.editable-wrap{'ng-if': 'deal_product_budget.editMode'}
									%div.budget-value
										%span.symbol.currency {{currency_symbol}}
										%input.editable{ 'ng-model': 'deal_product_budget.budget_loc',
											'ng-change': 'changeMonthBudget(deal_product, deal_product_budget, $index, $event, "moneyOnFocus")',
											'ng-keypress': 'changeMonthBudget(deal_product, deal_product_budget, $index, $event, "moneyOnFocus")',
											'ng-click': 'initProductEditMode(deal_product, deal_product_budget, "moneyOnFocus")',
											id:'{{"deal_product_budget-" + deal_product_budget.id}}',
											'ng-blur':'disableProductsEditMode(deal_product, deal_product.deal_product_budgets, deal_product_budget)',
											'numbers-only': ''}
									%span.glyphicon.glyphicon-link
									%div.budget-percent
										%input.editable.month-budget__percent{ 'ng-model': 'deal_product_budget.budget_percent',
											'ng-change': 'changeMonthBudget(deal_product, deal_product_budget, $index, $event, "percentOnFocus")',
											'ng-keypress': 'changeMonthBudget(deal_product, deal_product_budget, $index, $event, "percentOnFocus")',
											'ng-click': 'initProductEditMode(deal_product, deal_product_budget, "percentOnFocus")',
											id:'{{"deal_product_budget-percent-" + deal_product_budget.id}}',
											'ng-blur':'disableProductsEditMode(deal_product, deal_product.deal_product_budgets, deal_product_budget)',
											'numbers-only': '' }>
										%span.symbol.percent %

					%tbody{'ng-if': '!currentDeal.stage.open'}
						%tr{ ng: { repeat: 'deal_product in currentDeal.deal_products' } }
							%td{style: 'padding-right: 30px'}
								{{ deal_product.name }}
							%td.product-budget
								%div
									%div.budget-value.total-budget {{deal_product.budget_loc | currency: currency_symbol : 0}}
									%span.budget-percent
										{{deal_product.total_budget_percent + '%'}}
							%td.text-center.month-budget{ ng: { repeat: 'deal_product_budget in deal_product.deal_product_budgets' } }
								%span.budget-value
									{{ deal_product_budget.budget_loc | currency: currency_symbol : 0 }}
								%div.budget-percent
									{{ deal_product_budget.budget_percent+ '%'}}

		.col-xs-3
			%div{'ng-include': '"partials/deal_campaign_details.html"'}

			%upload-file{'deal-files': 'dealFiles'}

		.col-xs-3
			%div{'ng-include': '"partials/dashboard/activity.html"'}

		.col-xs-6
			.members.block
				%div.mb40
					%span.title Team & Split
					%span{ dropdown: true, 'dropdown-append-to-body': true, 'auto-close': 'outsideClick'  }
						%add-button{ dropdown: { toggle: true }, ng: { click: 'showLinkExistingUser()' } } Add
						%ul.dropdown-menu.new-member-options
							%li.existing-user-options
								%ui-select{ name: 'user-list', ng: { model: 'userToLink', disabled: true }, 'append-to-body': 'true', 'on-select': 'linkExistingUser($item)' }
									%ui-select-match{ placeholder: 'start typing their name here' }
										{{ $select.selected.name }}
									%ui-select-choices{ repeat: 'user in users | filter: { name: $select.search }' }
										%div{ ng: { bind: { html: 'user.name' } } }
				%table.table.table-striped
					%thead
						%tr
							%th Member
							%th Role
							%th.member-share
								%div.error-tooltip{'ng-show': 'membersShareInvalid'}
									Sum of the column should be equal 100%
								Share (%)
					%tbody
						%tr{ ng: { repeat: "member in currentDeal.members | orderBy: 'name'"} }
							%td
								{{ member.name }}
								%i.fa.fa-trash.delete-deal{'ng-click': 'deleteMember(member)'}
							%td
								.dropdown
									%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
										%span.editable{'ng-class': '{"not-selected": !member.role.option.name}'} {{member.role.option.name || 'Select role'}}
										%span.caret
									%ul.dropdown-menu
										%li{'ng-repeat': 'option in member.role.options', 'ng-class': '{active: member.role.option_id == option.id}'}
											%a{'href': '', 'ng-click': 'member.role.option_id = option.id; updateDealMember(member)'}
												%span.text {{option.name}}
							%td
								%div{'click-to-edit':'click-to-edit', type: "inputText", postfix: '%', 'ng-model': "member.share", 'on-after-save': 'updateDealMember(member)'}

			.contacts.block
				%div.mb40
					%span.title Contacts
					%add-button{'ng-click': 'addContact()'} Add

				%table.table.table-striped
					%thead
						%tr
							%th.left Name
							%th.left Position
							%th.left Email
							%th.left Account Name
							%th.left Role
					%tbody
						%tr{ ng: { repeat: 'deal_contact in currentDeal.deal_contacts'} }
							%td
								{{ deal_contact.contact.name }}
								%i.fa.fa-pencil.edit-deal{'ng-click': 'showContactEditModal(deal_contact)'}
								%i.fa.fa-trash.delete-deal{'ng-click': 'deleteContact(deal_contact)'}
							%td
								{{ deal_contact.contact.position }}
							%td
								{{ deal_contact.contact.address.email }}
							%td
								{{ deal_contact.contact.primary_client_json.name }}
							%td{ ng: { class: '{error: deal_contact.errors.role}' } }
								%div.contact-role-dropdown
									%span.error-tooltip{id: 'contact-role-error-{{deal_contact.id}}', 'ng-show': 'deal_contact.errors.role'}
										{{ deal_contact.errors.role }}
									.dropdown
										%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
											%span.editable{'ng-class': '{"not-selected": !deal_contact.role}'} {{deal_contact.role || 'Select role'}}
											%span.caret
										%ul.dropdown-menu
											%li
												%a{'href': '', 'ng-click': 'deal_contact.role = undefined; submitDealContact(deal_contact)'}
													%span.text No role
											%li{'ng-repeat': 'option in currentDeal.contact_roles.options', 'ng-class': '{active: deal_contact.role == option.name}'}
												%a{'href': '', 'ng-click': 'deal_contact.role = option.name; submitDealContact(deal_contact)'}
													%span.text {{option.name}}
