#deals
	.z-sliding-filter{'ng-class': '{open: filter.isOpen}'}
		.header
			Filter
			%span.pull-right{'ng-click': 'filter.close($event)'} Close
		.body
			.filter-row
				.filter-name
					%div
						Member
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.member', 'ng-click': 'filter.reset("member")'}
					%span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.member}'}
							{{filter.selected.member.name || 'Select a member'}}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.form-group.dropdown-search{'ng-click': '$event.stopPropagation()'}
								%i.fa.fa-search
								%input.form-control{'placeholder': 'Search', 'ng-model': 'filter.search'}
							%span.dropdown-title Select from list
							.dropdown-block
								.dropdown-option{'ng-repeat': "member in filter.members | filter: filtering  | orderBy: 'name'", role: 'menuitem'}
									%a{href: '', 'ng-click': 'filter.select("member", member)'} {{member.name}}
			.filter-row
				.filter-name
					%div
						Team
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.team', 'ng-click': 'filter.reset("team")'}
					%span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.team}'}
							{{filter.selected.team.name || 'Select a team'}}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.form-group.dropdown-search{'ng-click': '$event.stopPropagation()'}
								%i.fa.fa-search
								%input.form-control{'placeholder': 'Search', 'ng-model': 'filter.search'}
							%span.dropdown-title Select from list
							.dropdown-block
								.dropdown-option{'ng-repeat': "team in filter.teams | filter: filtering  | orderBy: 'name'", role: 'menuitem'}
									%a{href: '', 'ng-click': 'filter.select("team", team)'} {{team.name}}


			.filter-row
				.filter-name
					%div
						Advertiser
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.advertiser', 'ng-click': 'filter.reset("advertiser")'}
					%span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.advertiser}'}
							{{filter.selected.advertiser.name || 'Select an advertiser'}}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.form-group.dropdown-search{'ng-click': '$event.stopPropagation()'}
								%i.fa.fa-search
								%input.form-control{'placeholder': 'Search', 'ng-model': 'filter.search'}
							%span.dropdown-title Select from list
							.dropdown-option{'ng-repeat': 'advertiser in filter.advertisers | filter: filtering | limitTo: 10', role: 'menuitem'}
								%a{href: '', 'ng-click': 'filter.select("advertiser", advertiser)'} {{advertiser.name}}
			.filter-row
				.filter-name
					%div
						Agency
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.agency', 'ng-click': 'filter.reset("agency")'}
					%span{'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()'}
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.agency}'}
							{{filter.selected.agency.name || 'Select an agency'}}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.form-group.dropdown-search{'ng-click': '$event.stopPropagation()'}
								%i.fa.fa-search
								%input.form-control{'placeholder': 'Search', 'ng-model': 'filter.search'}
							%span.dropdown-title Select from list
							.dropdown-option{'ng-repeat': 'agency in filter.agencies | filter: filtering | limitTo: 10', role: 'menuitem'}
								%a{href: '', 'ng-click': 'filter.select("agency", agency)'} {{agency.name}}
			.filter-row
				.filter-name
					%div
						Budget
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.budget.min || filter.selected.budget.max', 'ng-click': 'filter.reset("budget")'}
					%span{'dropdown': '', 'on-toggle': 'filter.slider.refresh()'}
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.budget.min || filter.selected.budget.max}'}
							{{filter.getBudgetValue()}}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.dropdown-budget{'ng-click': '$event.stopPropagation()'}
								.budget-range-input
									From
									%input.form-control{'ng-model': 'filter.minBudget', 'ng-change': 'filter.slider.onChangeNumber("min")'}
									to
									%input.form-control{'ng-model': 'filter.maxBudget', 'ng-change': 'filter.slider.onChangeNumber("max")'}
								%rzslider{'rz-slider-model': 'filter.slider.minValue',
										  'rz-slider-high': 'filter.slider.maxValue',
										  'rz-slider-options': 'filter.slider.options'}
			.filter-row
				.filter-name
					%div
						Currency
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.currency', 'ng-click': 'filter.reset("currency")'}
					%span{ 'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()' }
						.dropdown-button{ 'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.currency}' }
							{{ filter.selected.currency.name || 'Select a currency' }}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.dropdown-option{'ng-repeat': 'currency in filter.currencies | filter: filtering', role: 'menuitem'}
								%a{href: '', 'ng-click': 'filter.select("currency", currency)'} {{currency.name}}

			.filter-row
				.filter-name
					%div
						Time Period
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.timePeriod', 'ng-click': 'filter.reset("timePeriod")'}
					%span{ 'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()' }
						.dropdown-button{ 'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.timePeriod}' }
							{{ filter.selected.timePeriod.name || 'Select a time period' }}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.dropdown-option{'ng-repeat': 'timePeriod in filter.timePeriods | orderBy : ["period_type", "start_date"]', role: 'menuitem'}
								%a{href: '', 'ng-click': 'filter.select("timePeriod", timePeriod)'} {{timePeriod.name}}
			
			.filter-row
				.filter-name
					%div
						Start Date
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.startDate.startDate && filter.selected.startDate.endDate', 'ng-click': 'filter.reset("startDate")'}
					%span.bs-datepicker
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.startDate.startDate && filter.selected.startDate.endDate}'}
							%div.date-picker{'date-range-picker': true,
			                                           'ng-model': 'filter.datePicker.startDate',
			                                           options: '{eventHandlers: {"apply.daterangepicker": filter.datePicker.applyStartDate}}'}
								%span.filter-date {{filter.getDateValue('startDate')}}
							%span.caret
			.filter-row
				.filter-name
					%div
						Created Date
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.createdDate.startDate && filter.selected.createdDate.endDate', 'ng-click': 'filter.reset("createdDate")'}
					%span.bs-datepicker
						.dropdown-button{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.createdDate.startDate && filter.selected.createdDate.endDate}'}
							%div.date-picker{'date-range-picker': true,
			                                           'ng-model': 'filter.datePicker.createdDate',
			                                           options: '{eventHandlers: {"apply.daterangepicker": filter.datePicker.applyCreatedDate}}'}
								%span.filter-date {{filter.getDateValue('createdDate')}}
							%span.caret
			.filter-row
				.filter-name
					%div
						Year Closed
				.filter-dropdown
					%i.fa.fa-close{'ng-show': 'filter.selected.yearClosed', 'ng-click': 'filter.reset("yearClosed")'}
					%span{ 'dropdown': '', 'keyboard-nav': '', 'on-toggle': 'filter.onDropdownToggle()' }
						.dropdown-button{ 'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.yearClosed}' }
							{{ filter.selected.yearClosed || 'Select a year' }}
							%span.caret
						.dropdown-menu{'dropdown-menu': '', role: 'menu'}
							.dropdown-option{'ng-repeat': 'year in filter.dealYears | filter: filtering | limitTo: 10', role: 'menuitem'}
								%a{href: '', 'ng-click': 'filter.select("yearClosed", year)'} {{year}}
		.footer
			%span.reset{'ng-click': 'filter.resetAll()'} Reset
			%button.btn-main.submit{'ng-click': 'filter.apply()'} Apply filters

	.container-fluid
		.row
			.col-xs-12.deals-menu
				%span.title Deals
				%add-button{'ng-click': 'showNewDealModal()'} Add Deal
				.deals-types
					%span{'ng-repeat': 'type in dealTypes', 'ng-class': '{active: type.name == teamFilter().name}', 'ng-click': 'filterDeals(type)'}
						{{type.name}}
				%button.btn-main.pull-right{'ng-click': 'filter.open($event)'}
					%i.fa.fa-filter
					Add filter
		.row.deals-container{infinite: {scroll: 'loadMoreDeals()', 'scroll-disabled': 'isLoading || allDealsLoaded', 'scroll-distance': '0.5'}}
			.deals-table
				.deal-column{'ng-repeat': 'stage in stages', 'ng-init': 'columnIndex = stage.index; $last && coloringColumns()'}
					.column-header
						%span
							{{stage.probability}}%
							%br
							{{stage.name}}
							%i ({{dealsInfo[stage.id].count || 0}})
						%span
							{{dealsInfo[stage.id].weighted | convertCurrency: appliedExchangeRate.rate | formatMoney: appliedExchangeRate.currency.curr_symbol }} (W) / {{dealsInfo[stage.id].unweighted | convertCurrency: appliedExchangeRate.rate | formatMoney: appliedExchangeRate.currency.curr_symbol }} (UW)
						%svg{width: '17', height: '72'}
							%polygon{points: '-2,-7 15, 36, -2, 79'}
					.column-body{'dnd-list': 'columns[columnIndex]',
								 'dnd-drop': 'onDrop(item, stage)',
								 'dnd-inserted': 'onInserted(item, index, columnIndex)'}
						.deal-block{'ng-repeat': 'deal in columns[columnIndex]',
									id: 'deal-{{deal.id}}',
									'dnd-draggable': 'deal',
									'dnd-moved': 'onMoved(deal, $index, columnIndex)',
									'dnd-effect-allowed': 'move',
									'dnd-dragstart': 'onDragStart()',
									'dnd-dragend': 'onDragEnd()'}
							.date.pull-right{'ng-class': '{expired: deal.isExpired && deal.stage.open}'} {{deal.start_date | date: 'mediumDate'}}
							%span
								%a{'ng-href': '{{"/deals/" + deal.id}}'} {{deal.name}}
							%span {{(deal.advertiser && deal.advertiser.name || '') + ((deal.advertiser && deal.agency) ? ' | ' : '') + (deal.agency && deal.agency.name || '')}}
							%span
								{{deal.budget_loc || deal.budget | formatMoney: deal.curr_symbol || deal.curr_cd}}
								%i &#183;
								{{dealMemberToString(deal.deal_members)}}
							%div.block-menu
								%div{'dropdown': '', 'keyboard-nav': ''}
									%i.fa.fa-ellipsis-h{'dropdown-toggle': '', 'ng-class': '{selected: filter.selected.advertiser}'}
									.dropdown-menu{'dropdown-menu': '', role: 'menu'}
										.dropdown-option
											%a{href: '', 'ng-click': 'showDealEditModal(deal)'} Edit
										.dropdown-option
											%a{href: '', 'ng-click': 'deleteDeal(deal)'} Delete
