#deals
	.container-fluid
		.row
			.col-xs-12.deals-menu
				.title Deals
		.row.deals-container
			.deal-column{'ng-repeat': '(id, stage) in stagesById', 'ng-init': 'columnIndex = stage.index'}
				.column-header
					%span
						{{stage.name}}
						%i ({{columns[columnIndex].length}})
					%span
						{{calcWeighted(columns[columnIndex]) | formatMoney}} (W) / {{calcUnweighted(columns[columnIndex], stage) | formatMoney}} (UW)
				.column-body{'dnd-list': 'columns[columnIndex]',
							 'dnd-drop': 'onDrop(item, stage)'}
					.deal-block{'ng-repeat': 'deal in columns[columnIndex]',
								'dnd-draggable': 'deal',
								'dnd-moved': 'columns[columnIndex].splice($index, 1)',
								'dnd-effect-allowed': 'move'}
						.date.pull-right {{deal.start_date | date: 'mediumDate'}}
						%span
							%a{href: ''}
								{{deal.name}}
						%span {{deal.company}}
						%span {{'$' + deal.revenue + 'M' + ' | ' + deal.seller}}




