#deals
	.container-fluid
		.row
			.col-xs-12.deals-menu
				%span.title Deals
				%add-button{'ng-click': 'showNewDealModal()'} Add Deal
		.row.deals-container
			.deal-column{'ng-repeat': '(id, stage) in stagesById', 'ng-init': 'columnIndex = stage.index; $last && updateColumnsHeight()'}
				.column-header
					%span
						{{stage.name}}
						%i ({{columns[columnIndex].length}})
					%span
						{{calcWeighted(columns[columnIndex]) | formatMoney}} (W) / {{calcUnweighted(columns[columnIndex], stage) | formatMoney}} (UW)
				.column-body{'dnd-list': 'columns[columnIndex]',
							 'dnd-drop': 'onDrop(item, stage)'}
					.deal-block{'ng-repeat': 'deal in columns[columnIndex]',
								'dnd-draggable': 'deal',
								'dnd-moved': 'columns[columnIndex].splice($index, 1)',
								'dnd-effect-allowed': 'move'}
						.date.pull-right {{deal.start_date | date: 'mediumDate'}}
						%span
							%a{href: '/deals/{{deal.id}}'} {{deal.name}}
						%span {{deal.advertiser ?deal.advertiser.name : '-'}} | {{deal.agency ? deal.agency.name : '-'}}
						%span {{deal.budget | formatMoney}} | {{deal.members ? deal.members.join(', ') : '-'}}




