#deals
	.container
		.row
			.col-xs-12.deals-menu
		.row
			.col-xs-3.deal-column{'ng-repeat': 'name in columnNames', 'ng-init': 'columnIndex = $index'}
				.column-header
					%span
						{{name}}
						%i ({{columns[columnIndex].length}})
					%span
						$10M (W) / $20M (UW)
				.column-body{'dnd-list': 'columns[columnIndex]'}
					.deal-block{'ng-repeat': 'deal in columns[columnIndex]',
								'dnd-draggable': 'deal',
								'dnd-moved': 'columns[columnIndex].splice($index, 1)',
								'dnd-effect-allowed': 'move'}
						%span {{deal.name}}
						%span {{deal.company}}
						%span {{'$' + deal.revenue + 'M' + ' | ' + deal.seller}}




