#reports
  #nav.transparent
    .container
      .row.filter-section
        .col-xs-4
          %tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected:"selectedTeam"}
        .col-xs-4
          %div.member-list.blue-theme{ dropdown: true }
            %a{ href: '', dropdown: { toggle: true } }
              %p{ class: "select" }
                {{ selectedStatus.name ? selectedStatus.name : "Select Status" }}
            %ul.dropdown-menu.members
              %li{ ng: { repeat: 'filter in statusFilter', class: '{active: selectedStatus == filter.value}' } }
                %a{ href: '', ng: { click: 'changeStatus(filter)' } }
                  {{ filter.name }}
            %span
              &nbsp;
        .col-xs-4
          %ul.nav.nav-tabs
            %li.pull-right
              %a.export{ href: '', ng: { click: 'exportReports()' } }
                = inline_svg 'icons/export.svg'
                Export
  .container-fluid.table-report
    .row
      .col-xs-12
        %h3
          Pipeline by User

    .row
      .col-md-12
        .table-wrapper
          %table.table
            %thead
              %tr
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("users[0].first_name")'}
                    Team Member
                %th.left{ width: "150" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("advertiser.name")'}
                    Advertiser
                %th.left{ width: "250" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("name")'}
                    Name
                %th.left{ width: "150" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("agency.name")'}
                    Agency
                %th.left{ width: "150" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("stage.name")'}
                    Stage
                %th.right{ width: "50" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("stage.probability")'} %
                %th.right{ width: "100" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("budget")'}
                    Budget
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("next_steps")'}
                    Next Steps
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("latest_activity")'}
                    Latest Activity
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("type")'}
                    Deal Type
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("source")'}
                    Deal Source
                %th.left{ width: "100" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("start_date")'}
                    Start Date
                %th.left{ width: "100" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("end_date")'}
                    End Date
                %th.right{ width: "80", ng: { repeat: 'productTime in productRange track by $index' } }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("products["+$index+"]")'}
                    {{ productTime | date: 'MMM-yy' }}
            %tbody
              %tr{ ng: { repeat: 'deal in deals | orderBy:sortType:sortReverse' } }
                %td.left
                  %div{ ng: { repeat: 'user in deal.users' } }
                    {{ user.first_name + " " + user.last_name + " (" + user.share + "%)"}}
                %td.left {{ deal.advertiser.name }}
                %td.left
                  %a{ href: '', ng: { click: 'go("/deals/" + deal.id)'  } }
                    {{ deal.name }}
                %td.left {{ deal.agency.name }}
                %td.left {{ deal.stage.name }}
                %td.right {{ deal.stage.probability }}%
                %td.right ${{ (deal.budget || 0) | number : 0}}
                %td.left {{ deal.next_steps.substr(0, 30) }}
                %td.left{ 'ng-bind-html': "getHtml(deal.latest_activity)"}
                %td.left {{ deal.type }}
                %td.left {{ deal.source }}
                %td.left {{ deal.start_date | date: 'MM-dd-yyyy' }}
                %td.left {{ deal.end_date | date: 'MM-dd-yyyy' }}
                %td.right{ ng: { repeat: 'productTime in productRange track by $index' } }
                  ${{ deal.products[$index] | number : 0 }}