#forecasts
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-left.path
              %a.path-link{ ng: { href: '/forecast?time_period_id={{currentTimePeriod.id}}&year={{year}}' }} Forecast
              .path-link{ ng: { repeat: 'parent in forecast.parents' } }
                %a{ ng: { href: '/forecast/{{parent.id}}?time_period_id={{currentTimePeriod.id}}&year={{year}}' }} {{ parent.name }}
              .path-link
                %a{ href: '', ng: { if: 'forecast.name' } }
                  {{ forecast.name }}
            %li.quota-period.pull-right.last{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                %span{ ng: { if: 'year' } }
                  {{ year }} Quarterly
                %span{ ng: { if: '!year && currentTimePeriod' } }
                  {{ currentTimePeriod.name }} ({{ currentTimePeriod.start_date | date: 'shortDate'}} - {{ currentTimePeriod.end_date | date: 'shortDate' }})
                %span.caret
              %ul.dropdown-menu.time-periods
                %li{ ng: { repeat: 'timePeriod in timePeriods', class: '{active: !year && timePeriod.id == currentTimePeriod.id}' } }
                  %a{ href: '', ng: { click: 'updateTimePeriod(timePeriod.id)' } }
                    {{ timePeriod.name }} ({{ timePeriod.start_date | date: 'shortDate'}} - {{ timePeriod.end_date | date: 'shortDate' }})
                %li{ ng: { repeat: 'y in years', class: '{active: year == y}' } }
                  %a{ href: '', ng: { click: 'updateYear(y)' } }
                    {{ y }} Quarterly

  .container
    .row
      .col-xs-12
        %div{ ng: { if: 'chartBarData.datasets.length > 0' } }
          %div
            %canvas{ 'tc-chartjs': true, 'chart-type': 'stackedbar', 'chart-data':'chartBarData', 'chart-options':'chartBarOptions', 'chart-legend':'legend', style: 'width: 100%; height: 300px;' }
          %div{ 'tc-chartjs-legend':'true', 'chart-legend':'legend' }

    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-striped
            %thead
              %tr.no-case
                %th NAME
                %th{ ng: { if: 'year' } }
                  &nbsp;
                %th QUOTA
                %th WEIGHTED PIPELINE
                %th REVENUE
                %th FORECAST AMOUNT
                %th % TO QUOTA
                %th GAP TO QUOTA
                %th WoW WEIGHTED PIPELINE
                %th WoW REVENUE

            %tbody.teams{ ng: { repeat: 'row in teams', include: "'partials/forecast_rows.html'" } }

            %tbody.leader{ ng: { repeat: 'row in [forecast.leader]', include: "'partials/forecast_rows.html'", if: 'forecast.leader && (forecast.leader.revenue > 0 || forecast.leader.weighted_pipeline > 0)' } }

            %tbody.members{ ng: { repeat: 'row in members', include: "'partials/forecast_rows.html'" } }

            %tbody.member{ ng: { hide: 'teams', repeat: 'row in [forecast]', include: "'partials/forecast_rows.html'" } }
