#forecast-detail.z-styles
	.container-fluid
		.row.mb20
			.reports-header
				.header-cell.main-title
					Forecast Detail
				.header-cell.filter-cell
					%z-filter{'on-apply': 'onFilterApply'}
						%z-filter-field{data: 'teams', type: 'team', 'save-as': '{id: "id"}', 'on-change': 'updateSellers', default: 'defaultTeam'} Team
						%z-filter-field{data: 'sellers', 'save-as': '{user_id: "id"}'} Seller
						%z-filter-field{data: 'timePeriods', 'save-as': '{time_period_id: "id"}', 'is-all': 'false', 'order-by': '["period_type", "start_date"]', id: 'time-period-field'} Time period
						%div{style: 'order: 1; margin: 0 10px'}
							%span.mr8 Go to
							%a{href: '', 'ng-click': 'scrollTo("#revenue-section")'} Revenue
							|
							%a{href: '', 'ng-click': 'scrollTo("#deals-section")'} Deals

				.header-cell
					.pull-right
						%download-button{'ng-click': 'export($event)'}
							Export

		%div
			.row
				.col-xs-6
					.block
						%div.mb20
							%span.title Weighted Forecast
						%table.table.table-hover.exportable-table
							%thead
								%tr.hide
									-#title for export
									%th Weighted Forecast
								%tr
									%th
									%th{'ng-repeat': 'quarter in quarters'}
										{{quarter.toUpperCase()}}
									%th{'ng-if': 'isYear()'} Total
							%tbody
								%tr
									%td
										%b Revenue
									%td{'ng-repeat': 'quarter in quarters'}
										{{(forecast.quarterly_revenue[quarter] || 0) | currency : '$' : 0}}
									%td{'ng-if': 'isYear()'}
										{{getAnnualSum(forecast.quarterly_revenue) | currency : '$' : 0}}
								%tr{'ng-repeat': 'stage in forecast.stages'}
									%td
										%b {{stage.probability}}%
									%td{'ng-repeat': 'quarter in quarters'}
										{{forecast.quarterly_weighted_pipeline_by_stage[stage.id][quarter] | currency : '$' : 0}}
									%td{'ng-if': 'isYear()'}
										{{getAnnualSum(forecast.quarterly_weighted_pipeline_by_stage[stage.id]) | currency : '$' : 0}}
								%tr
									%td
										%b Forecast
									%td{'ng-repeat': 'quarter in quarters'}
										{{(forecast.quarterly_weighted_forecast[quarter] || 0) | currency : '$' : 0}}
									%td{'ng-if': 'isYear()'}
										{{getAnnualSum(forecast.quarterly_weighted_forecast) | currency : '$' : 0}}

								%tr
									%td
										%b Quota
									%td{'ng-repeat': 'quarter in quarters'}
										{{(forecast.quarterly_quota[quarter] || 0) | currency : '$' : 0}}
									%td{'ng-if': 'isYear()'}
										{{getAnnualSum(forecast.quarterly_quota) | currency : '$' : 0}}

								%tr
									%td
										%b Gap to Quota
									%td{'ng-repeat': 'quarter in quarters'}
										{{(forecast.quarterly_weighted_gap_to_quota[quarter] || 0) | currency : '$' : 0}}
									%td{'ng-if': 'isYear()'}
										{{getAnnualSum(forecast.quarterly_weighted_gap_to_quota) | currency : '$' : 0}}
								%tr
									%td
										%b % of Annual Quota
									%td{'ng-repeat': 'quarter in quarters'}
										{{isNumber(forecast.quarterly_percentage_of_annual_quota[quarter]) ? forecast.quarterly_percentage_of_annual_quota[quarter] + '%' : 'N/A'}}
									%td{'ng-if': 'isYear()'}

				.col-xs-6
					.block
						%div.mb20
							%span.title Unweighted Forecast
						%table.table.table-hover.exportable-table
							%thead
								%tr.hide
									-#title for export
									%th Unweighted Forecast
								%tr
									%th
									%th{'ng-repeat': 'quarter in quarters'}
										{{quarter.toUpperCase()}}
									%th{'ng-if': 'isYear()'} Total
							%tbody
								%tr
									%td
										%b Revenue
									%td{'ng-repeat': 'quarter in quarters'}
										{{(forecast.quarterly_revenue[quarter] || 0) | currency : '$' : 0}}
									%td{'ng-if': 'isYear()'}
										{{getAnnualSum(forecast.quarterly_revenue) | currency : '$' : 0}}
								%tr{'ng-repeat': 'stage in forecast.stages'}
									%td
										%b {{stage.probability}}%
									%td{'ng-repeat': 'quarter in quarters'}
										{{forecast.quarterly_unweighted_pipeline_by_stage[stage.id][quarter] | currency : '$' : 0}}
									%td{'ng-if': 'isYear()'}
										{{getAnnualSum(forecast.quarterly_unweighted_pipeline_by_stage[stage.id]) | currency : '$' : 0}}
								%tr
									%td
										%b Forecast
									%td{'ng-repeat': 'quarter in quarters'}
										{{(forecast.quarterly_unweighted_forecast[quarter] || 0) | currency : '$' : 0}}
									%td{'ng-if': 'isYear()'}
										{{getAnnualSum(forecast.quarterly_unweighted_forecast) | currency : '$' : 0}}

								%tr
									%td
										%b Quota
									%td{'ng-repeat': 'quarter in quarters'}
										{{(forecast.quarterly_quota[quarter] || 0) | currency : '$' : 0}}
									%td{'ng-if': 'isYear()'}
										{{(getAnnualSum(forecast.quarterly_quota) || 0) | currency : '$' : 0}}

								%tr
									%td
										%b Gap to Quota
									%td{'ng-repeat': 'quarter in quarters'}
										{{(forecast.quarterly_unweighted_gap_to_quota[quarter] || 0) | currency : '$' : 0}}
									%td{'ng-if': 'isYear()'}
										{{getAnnualSum(forecast.quarterly_unweighted_gap_to_quota) | currency : '$' : 0}}
								%tr
									%td
										%b % of Annual Quota
									%td{'ng-repeat': 'quarter in quarters'}
										{{isNumber(forecast.quarterly_percentage_of_annual_quota[quarter]) ? forecast.quarterly_percentage_of_annual_quota[quarter] + '%' : 'N/A'}}
									%td{'ng-if': 'isYear()'}
			#revenue-section.row
				.col-xs-12
					.block
						.switch-row.pull-right
							%span{'ng-class': '{active: switch.revenues == "quarters"}', 'ng-click': 'switch.set("revenues", "quarters")'} Quarterly
							%span{'ng-class': '{active: switch.revenues == "months"}', 'ng-click': 'switch.set("revenues", "months")'} Monthly
						%div.mb20
							%span.title Revenue Details
						%div.table-wrapper
							%table.table.table-hover.exportable-table
								%thead
									%tr.hide
										-#title for export
										%th Revenue Details
									%tr.z-sortable-prime{'sort-name': 'revenues', 'z-fixed-header': true, watch: '["revenues", "revenues.detail_amounts[switch.revenues]"]'}
										%th
											.z-sortable{by: 'name'} IO Name
										%th
											.z-sortable{by: 'advertiser.name'} Advertiser
										%th
											.z-sortable{by: 'agency.name'} Agency
										%th
											.z-sortable{by: 'members'} Team
										%th
											.z-sortable{by: 'start_date'} Start Date
										%th
											.z-sortable{by: 'end_date'} End Date
										%th
											.z-sortable{by: 'budget', default: true} Total Budget
										%th
											.z-sortable{by: 'in_period_split_amt'} Split In-Period Amt
										%th{'ng-repeat': '(index, key) in revenues.detail_amounts[switch.revenues]'}
											.z-sortable{by: 'getSortableAmountKey("revenues", index)'} {{key}}
								%tbody
									%tr{'ng-repeat': 'revenue in revenues | orderBy : zSort.revenues.by : zSort.revenues.rev'}
										%td
											%a{href: '', 'ng-href': '/revenue/ios/{{revenue.id}}', target: '_blank'} {{revenue.name}}
										%td {{revenue.advertiser.name}}
										%td {{revenue.agency.name}}
										%td
											%div{'ng-repeat': 'member in revenue.members'} {{member.user.first_name + ' ' + member.user.last_name}} {{member.share}}%
										%td {{revenue.start_date | date : 'MM/dd/yyyy'}}
										%td {{revenue.end_date | date : 'MM/dd/yyyy'}}
										%td {{revenue.budget | currency : '$' : 2}}
										%td {{revenue.in_period_split_amt | currency : '$' : 2}}
										%td{'ng-repeat': 'amount in revenue.quarters track by $index', 'ng-if': 'switch.revenues == "quarters" && amount != null'}
											{{amount | currency : '$' : 2}}
										%td{'ng-repeat': 'amount in revenue.months track by $index', 'ng-if': 'switch.revenues == "months" && amount != null'}
											{{amount | currency : '$' : 2}}
									%tr{ ng: { if: 'revenues.length == 0' }}
										%td.center.auto-colspan
											No Data for the Filters Selected

			#deals-section.row
				.col-xs-12
					.block
						.switch-row.pull-right
							%span{'ng-class': '{active: switch.deals == "quarters"}', 'ng-click': 'switch.set("deals", "quarters")'} Quarterly
							%span{'ng-class': '{active: switch.deals == "months"}', 'ng-click': 'switch.set("deals", "months")'} Monthly
						%div.mb20
							%span.title Deals
						%div.table-wrapper
							%table.table.table-hover.exportable-table
								%thead
									%tr.hide
										-#title for export
										%th Deals
									%tr.z-sortable-prime{'sort-name': 'deals', 'z-fixed-header': true, watch: '["deals", "deals.detail_amounts[switch.deals]"]'}
										%th
											.z-sortable{by: 'name'} Deal Name
										%th
											.z-sortable{by: 'advertiser.name'} Advertiser
										%th
											.z-sortable{by: 'agency.name'} Agency
										%th
											.z-sortable{by: 'deal_members'} Deal Team
										%th
											.z-sortable{by: 'start_date'} Start Date
										%th
											.z-sortable{by: 'end_date'} End Date
										%th
											.z-sortable{by: 'budget', default: true} Total Budget
										%th
											.z-sortable{by: 'split_period_budget'} Split In-Period Amt
										%th
											.z-sortable{by: 'stage.probability'} %
										%th{'ng-repeat': '(index, key) in deals.detail_amounts[switch.deals]'}
											.z-sortable{by: 'getSortableAmountKey("deals", index)'} {{key}}
								%tbody
									%tr{'ng-repeat': 'deal in deals | orderBy : zSort.deals.by : zSort.deals.rev', popover: '{{deal.next_steps}}', 'popover-title': 'Next Steps', 'popover-placement': 'top', 'popover-trigger': 'mouseenter'}
										%td
											%a{href: '', 'ng-href': '/deals/{{deal.id}}', target: '_blank'} {{deal.name}}
										%td {{deal.advertiser.name}}
										%td {{deal.agency.name}}
										%td
											%div{'ng-repeat': 'member in deal.deal_members'} {{member.name}} {{member.share}}%
										%td {{deal.start_date | date : 'MM/dd/yyyy'}}
										%td {{deal.end_date | date : 'MM/dd/yyyy'}}
										%td {{deal.budget | currency : '$' : 0}}
										%td {{deal.split_period_budget | currency : '$' : 0}}
										%td {{deal.stage.probability}}%
										%td{'ng-repeat': 'amount in deal.quarter_amounts track by $index', 'ng-if': 'switch.deals == "quarters" && amount != null'}
											{{amount | currency : '$' : 0}}
										%td{'ng-repeat': 'amount in deal.month_amounts track by $index', 'ng-if': 'switch.deals == "months" && amount != null'}
											{{amount | currency : '$' : 0}}
									%tr{ ng: { if: 'deals.length == 0' }}
										%td.center.auto-colspan
											No Data for the Filters Selected