#forecast-detail.z-styles
	.container-fluid
		.row.mb20
			.reports-header
				.header-cell.main-title
					Forecast Detail
				.header-cell.filters-block
					%table
						%tr.filter-title
							%td Team
							%td Seller
							%td Time period
						%tr
							%td
								%tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected: 'selectedTeam', 'ng-class': '{"empty": selectedTeam.name === "All"}'}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.seller.name === "All"}' }
											{{(filter.seller.first_name && filter.seller.first_name + ' ' + filter.seller.last_name) || 'All'}}
											%span.caret
										%ul.dropdown-menu
											%li{ ng: { repeat: 'seller in sellers', class: '{active: seller.id === filter.seller.id}' } }
												%a{ href: '', ng: { click: 'setFilter("seller", seller)' } }
													{{ seller.first_name + ' ' + seller.last_name}}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.timePeriod.name === "All"}' }
											{{filter.timePeriod.name || 'All'}}
											%span.caret
										%ul.dropdown-menu
											%li{ ng: { repeat: 'timePeriod in timePeriods', class: '{active: timePeriod.id === filter.timePeriod.id}' } }
												%a{ href: '', ng: { click: 'setFilter("timePeriod", timePeriod)' } }
													{{timePeriod.id !== 'all' ? timePeriod.name : 'All'}}

		.row
			.col-xs-6
				.block
					%div.mb20
						%span.title Weighted Forecast
					%table.table.table-hover
						%thead
							%tr
								%th IO Name
								%th Q1-2017
								%th Q2-2017
								%th Q3-2017
								%th Q4-2017
						%tbody
							%tr
								%td
									%b Revenue
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
							%tr
								%td
									%b Forecast
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}

							%tr
								%td
									%b Quota
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}

							%tr
								%td
									%b Gap to Quota
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
							%tr
								%td
									%b % of Annual Quota
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}

			.col-xs-6
				.block
					%div.mb20
						%span.title Unweighted Forecast
					%table.table.table-hover
						%thead
							%tr
								%th IO Name
								%th Q1-2017
								%th Q2-2017
								%th Q3-2017
								%th Q4-2017
						%tbody
							%tr
								%td
									%b Revenue
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
							%tr
								%td
									%b Forecast
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}

							%tr
								%td
									%b Quota
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}

							%tr
								%td
									%b Gap to Quota
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
							%tr
								%td
									%b % of Annual Quota
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}
								%td {{450000 | currency : '$' : 0}}

		.row
			.col-xs-12
				.block
					.switch-row.pull-right
						%span{'ng-class': '{active: switch.revenue == 1}', 'ng-click': 'switch.set("revenue", 1)'} Quarterly
						%span{'ng-class': '{active: switch.revenue == 2}', 'ng-click': 'switch.set("revenue", 2)'} Monthly
					%div.mb20
						%span.title Revenue Details
					%table.table.table-hover
						%thead
							%tr
								%th IO Name
								%th IO Advertiser Name
								%th IO Agency Name
								%th IO Team
								%th IO Total Budget
								%th Start Date
								%th End Date
								%th Detailed Amounts
						%tbody
							%tr
								%td
									%b Test Name
								%td advertiser
								%td agency
								%td team name 50%
								%td {{5000000 | currency : '$' : 0}}
								%td 05/07/2017
								%td 05/07/2017
								%td {{3000000 | currency : '$' : 0}}
							%tr
								%td
									%b Test Name
								%td advertiser
								%td agency
								%td team name 50%
								%td {{5000000 | currency : '$' : 0}}
								%td 05/07/2017
								%td 05/07/2017
								%td {{3000000 | currency : '$' : 0}}
							%tr
								%td
									%b Test Name
								%td advertiser
								%td agency
								%td team name 50%
								%td {{5000000 | currency : '$' : 0}}
								%td 05/07/2017
								%td 05/07/2017
								%td {{3000000 | currency : '$' : 0}}

		.row
			.col-xs-12
				.block
					.switch-row.pull-right
						%span{'ng-class': '{active: switch.deals == 1}', 'ng-click': 'switch.set("deals", 1)'} Quarterly
						%span{'ng-class': '{active: switch.deals == 2}', 'ng-click': 'switch.set("deals", 2)'} Monthly
					%div.mb20
						%span.title Deals
					%table.table.table-hover
						%thead
							%tr
								%th Deal Name
								%th Advertiser
								%th Agency
								%th Deal Team
								%th Total Budget
								%th %
								%th Next Steps
								%th Detailed Amounts
						%tbody
							%tr
								%td
									%a{href: '', 'ng-href': '/deals/100'} test deal
								%td advertiser
								%td agency
								%td test team 50%
								%td {{10000000 | currency : '$' : 0}}
								%td 100%
								%td next steps
								%td {{20000000 | currency : '$' : 0}}
							%tr
								%td
									%a{href: '', 'ng-href': '/deals/100'} test deal
								%td advertiser
								%td agency
								%td test team 50%
								%td {{10000000 | currency : '$' : 0}}
								%td 100%
								%td next steps
								%td {{20000000 | currency : '$' : 0}}
							%tr
								%td
									%a{href: '', 'ng-href': '/deals/100'} test deal
								%td advertiser
								%td agency
								%td test team 50%
								%td {{10000000 | currency : '$' : 0}}
								%td 100%
								%td next steps
								%td {{20000000 | currency : '$' : 0}}