#forecasts.z-styles.z-report
	.container-fluid.inner-forecasts
		.row.mb20
			.reports-header
				.header-cell.main-title
					Forecastπ
				.header-cell.filters-block
					%table
						%tr.filter-title
							%td{'ng-if': 'hasForecastPermission'} Team
							%td{'ng-if': 'hasForecastPermission'} Seller
							%td Product Family
							%td Product
							%td {{ option1Field }}
							%td {{ option2Field }}
							%td Time period
							%td
								%span.reset-filter{'ng-click': 'resetFilter()'}
									Reset
						%tr
							%td{'ng-if': 'hasForecastPermission'}
								%tree-dropdown{ class:"tree-dropdown team-list", data:"filterTeams", selected: 'filter.team', 'ng-disabled': true, 'ng-class': '{"empty": filter.team.name === "All"}'}

							%td{'ng-if': 'hasForecastPermission'}
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.seller.id}' }
											{{filter.seller.name}}
											%span.caret
										%ul.dropdown-menu
											%li{'ng-class': '{active: !filter.seller.id}'}
												%a{href: '', 'ng-click': 'setFilter("seller", emptyFilter)'}
													{{emptyFilter.name}}
											%li{ ng: { repeat: 'seller in sellers | orderBy : "name"', class: '{active: seller.id === filter.seller.id}' } }
												%a{ href: '', ng: { click: 'setFilter("seller", seller)' } }
													{{seller.name}}
							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.productFamily.id}' }
											{{filter.productFamily.name}}
											%span.caret
										%ul.dropdown-menu
											%li{'ng-class': '{active: !filter.productFamily.id}'}
												%a{href: '', 'ng-click': 'setFilter("productFamily", emptyFilter)'}
													{{emptyFilter.name}}
											%li{ ng: { repeat: 'productFamily in productFamilies | orderBy : "name"', class: '{active: productFamily.id === filter.productFamily.id}' } }
												%a{ href: '', ng: { click: 'setFilter("productFamily", productFamily)' } }
													{{productFamily.name}}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.product.id}' }
											{{filter.product.name}}
											%span.caret
										%ul.dropdown-menu
											%li{'ng-class': '{active: !filter.product.id}'}
												%a{href: '', 'ng-click': 'setFilter("product", emptyFilter)'}
													{{emptyFilter.name}}
											%li{ ng: { repeat: 'product in productsByLevel(0) | orderBy : "name"', class: '{active: product.id === filter.product.id}' } }
												%a{ href: '', ng: { click: 'setFilter("product", product)' } }
													{{product.name}}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.product1.id}' }
											{{filter.product1.name}}
											%span.caret
										%ul.dropdown-menu
											%li{'ng-class': '{active: !filter.product1.id}'}
												%a{href: '', 'ng-click': 'setFilter("product1", emptyFilter)'}
													{{emptyFilter.name}}
											%li{ ng: { repeat: 'product in productsByLevel(1) | orderBy : "name"', class: '{active: product.id === filter.product1.id}' } }
												%a{ href: '', ng: { click: 'setFilter("product1", product)' } }
													{{product.name}}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.product2.id}' }
											{{filter.product2.name}}
											%span.caret
										%ul.dropdown-menu
											%li{'ng-class': '{active: !filter.product2.id}'}
												%a{href: '', 'ng-click': 'setFilter("product2", emptyFilter)'}
													{{emptyFilter.name}}
											%li{ ng: { repeat: 'product in productsByLevel(2) | orderBy : "name"', class: '{active: product.id === filter.product2.id}' } }
												%a{ href: '', ng: { click: 'setFilter("product2", product)' } }
													{{product.name}}
							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.timePeriod.id && !filter.year}' }
											{{filter.timePeriod.id ? filter.timePeriod.name : '' || filter.year ? filter.year + ' Quarterly' : '' || 'Select'}}
											%span.caret
										%ul.dropdown-menu
											%li{ ng: { repeat: 'timePeriod in timePeriods | orderBy : ["period_type", "start_date"]', class: '{active: timePeriod.id === filter.timePeriod.id}' } }
												%a{ href: '', ng: { click: 'setFilter("timePeriod", timePeriod)' } }
													{{timePeriod.id !== 'all' ? timePeriod.name : 'All'}}
											%li{ ng: { repeat: 'year in years', class: '{active: year == filter.year}' } }
												%a{ href: '', ng: { click: 'setFilter("year", year)' } }
													{{year}} Quarterly

				.header-cell
					%button.mr20.add-btn{'ng-click': 'applyFilter()', 'ng-class': '{highlighted: isFilterApplied()}'}
						Run Report

				.header-cell
					%b.mr20 Show UW
					.show-hide-remainder-form.m0
						.switch-remainder-form
							%input#unweighted-toggle.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-checked': 'isUnweighted', 'ng-click': 'toggleUnweighted($event)'}
							%label{for: 'unweighted-toggle'}
								%span

				.header-cell.mr-md{'ng-if': 'hasNetPermission'}
					%b Show Net
					.show-hide-remainder-form.m0
						.switch-remainder-form
							%input#net-toggle.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-checked': 'isNetForecast', 'ng-click': 'toggleNetForecast($event)'}
							%label{for: 'net-toggle'}
								%span

		.row.mb20{'ng-show': 'forecast'}
			.col-xs-12.pl0
				.block
					.table-wrapper
						%div#forecast-chart-container.mb20{'ng-controller': 'ForecastsChartController'}
							%div#forecast-chart-tooltip
							%svg#forecast-chart.forecast-chart
							%div.legend-container
					.table-wrapper
						%table.table.table-hover.nowrap
							%thead
								%tr
									%th
										%span.clickable{ ng: { click: 'sort.toggle("name")' } }
											Name
											%i{ ng: { class: "{ 'fa': sort.column == 'name', 'fa-sort-asc': sort.column == 'name' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'name' && sort.direction == 'desc' }" } }
									%th
										%span.clickable{ ng: { click: 'sort.toggle("quota")' } }
											Quota
											%i{ ng: { class: "{ 'fa': sort.column == 'quota', 'fa-sort-asc': sort.column == 'quota' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'quota' && sort.direction == 'desc' }" } }
									%th{'ng-if': '!isNetForecast'}
										%span.clickable{ ng: { click: 'sort.toggle("revenue")' } }
											Revenue
											%i{ ng: { class: "{ 'fa': sort.column == 'revenue', 'fa-sort-asc': sort.column == 'revenue' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'revenue' && sort.direction == 'desc' }" } }
									%th{'ng-if': 'isNetForecast'}
										%span.clickable{ ng: { click: 'sort.toggle("revenue_net")' } }
											Revenue
											%i{ ng: { class: "{ 'fa': sort.column == 'revenue_net', 'fa-sort-asc': sort.column == 'revenue_net' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'revenue_net' && sort.direction == 'desc' }" } }
									%th{'ng-if': '!isNetForecast'}
										%span.clickable{ ng: { click: 'sort.toggle("weighted_pipeline")' } }
											Pipeline (W)
											%i{ ng: { class: "{ 'fa': sort.column == 'weighted_pipeline', 'fa-sort-asc': sort.column == 'weighted_pipeline' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'weighted_pipeline' && sort.direction == 'desc' }" } }
									%th{'ng-if': 'isNetForecast'}
										%span.clickable{ ng: { click: 'sort.toggle("weighted_pipeline_net")' } }
											Pipeline (W)
											%i{ ng: { class: "{ 'fa': sort.column == 'weighted_pipeline_net', 'fa-sort-asc': sort.column == 'weighted_pipeline_net' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'weighted_pipeline_net' && sort.direction == 'desc' }" } }
									%th{'ng-if': '!isNetForecast'}
										%span.clickable{ ng: { click: 'sort.toggle("amount")' } }
											Forecast Amt
											%i{ ng: { class: "{ 'fa': sort.column == 'amount', 'fa-sort-asc': sort.column == 'amount' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'amount' && sort.direction == 'desc' }" } }
									%th{'ng-if': 'isNetForecast'}
										%span.clickable{ ng: { click: 'sort.toggle("amount_net")' } }
											Forecast Amt
											%i{ ng: { class: "{ 'fa': sort.column == 'amount_net', 'fa-sort-asc': sort.column == 'amount_net' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'amount_net' && sort.direction == 'desc' }" } }
									%th
										%span.clickable{ ng: { click: 'sort.toggle("gap_to_quota")' } }
											Gap to Quota
											%i{ ng: { class: "{ 'fa': sort.column == 'gap_to_quota', 'fa-sort-asc': sort.column == 'gap_to_quota' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'gap_to_quota' && sort.direction == 'desc' }" } }
									%th
										%span.clickable{ ng: { click: 'sort.toggle("percent_to_quota")' } }
											\% to Quota
											%i{ ng: { class: "{ 'fa': sort.column == 'percent_to_quota', 'fa-sort-asc': sort.column == 'percent_to_quota' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'percent_to_quota' && sort.direction == 'desc' }" } }
									%th
										%span.clickable{ ng: { click: 'sort.toggle("percent_booked")' } }
											\% Booked
											%i{ ng: { class: "{ 'fa': sort.column == 'percent_booked', 'fa-sort-asc': sort.column == 'percent_booked' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'percent_booked' && sort.direction == 'desc' }" } }
									%th
										%span.clickable{ ng: { click: 'sort.toggle("new_deals_needed")' } }
											\# Deals Needed
											%i{ ng: { class: "{ 'fa': sort.column == 'new_deals_needed', 'fa-sort-asc': sort.column == 'new_deals_needed' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'new_deals_needed' && sort.direction == 'desc' }" } }
									%th
										%span.clickable{ ng: { click: 'sort.toggle("wow_weighted_pipeline")' } }
											WoW Pipeline
											%i{ ng: { class: "{ 'fa': sort.column == 'wow_weighted_pipeline', 'fa-sort-asc': sort.column == 'wow_weighted_pipeline' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'wow_weighted_pipeline' && sort.direction == 'desc' }" } }
									%th.center
										%span.clickable{ ng: { click: 'sort.toggle("wow_revenue")' } }
											Wow Revenue
											%i{ ng: { class: "{ 'fa': sort.column == 'wow_revenue', 'fa-sort-asc': sort.column == 'wow_revenue' && sort.direction == 'asc', 'fa-sort-desc': sort.column == 'wow_revenue' && sort.direction == 'desc' }" } }
									-#%th
										Call Qtr
							%tbody.teams{ ng: { repeat: 'row in teams', include: "'partials/forecast/forecast_row.html'" } }
							%tbody.members{ ng: { repeat: 'row in members', include: "'partials/forecast/forecast_row.html'" } }
							%tbody.member{ ng: { hide: 'teams || members', repeat: 'row in [forecast]', include: "'partials/forecast/forecast_row.html'" } }
							%tbody.totals{ ng: { repeat: 'row in [totals]', include: "'partials/forecast/forecast_row.html'" } }

			-#.col-xs-3.pr0
				.block
					%div.mb20
						%span.title Forecast Insights
					%h5 Pipeline Concentration Risk
					%table.table.table-stripped.mb10
						%thead
							%tr
								%th % of Deals
								%th % Total Pipe Value
								%th # Deals
						%tbody
							%tr
								%td 20%
								%td -50%-------------
								%td 5
							%tr
								%td 30%
								%td -75%-------------
								%td 10
							%tr
								%td 50%
								%td -100%------------
								%td 20

					%h5 Deals Missing IOs
					%table.table.table-stripped.mb10
						%thead
							%tr
								%th # Deals
								%th Value
						%tbody
							%tr
								%td 3
								%td {{200000 | currency : '$' : 0}}
							%tr
								%td 5
								%td {{450000 | currency : '$' : 0}}

					%h5 Underdelivery (UD) Risk
					%table.table.table-stripped.mb10
						%thead
							%tr
								%th # Lines
								%th UD Risk Amount
						%tbody
							%tr
								%td 5
								%td {{100000 | currency : '$' : 0}}
							%tr
								%td 10
								%td {{300000 | currency : '$' : 0}}