.container
  .row
    .col-xs-12
      .panel
        .panel-body
          %h3 Forecast Detail
          .table-wrapper
            %table.table.table-striped{ 'ng-repeat': '(year, forecast) in forecastsByStage' }
              %thead
                %tr
                  %th{colspan: 6}
                    {{year}}
                %tr.subheading
                  %th{ width: '25%' }
                    Stage Probability
                  %th.right{ width: '15%' }
                    Q1-{{year}}
                  %th.right{ width: '15%' }
                    Q2-{{year}}
                  %th.right{ width: '15%' }
                    Q3-{{year}}
                  %th.right{ width: '15%' }
                    Q4-{{year}}
                  %th.right{ width: '15%' }
                    FY-{{year}}
              %tbody
                %tr
                  %td.text-right
                    100%
                  %td.text-right
                    {{ revenuesByQuarter[year][1] | humanReadableMoney }}
                  %td.text-right
                    {{ revenuesByQuarter[year][2] | humanReadableMoney }}
                  %td.text-right
                    {{ revenuesByQuarter[year][3] | humanReadableMoney }}
                  %td.text-right
                    {{ revenuesByQuarter[year][4] | humanReadableMoney }}
                  %td.text-right
                    {{ revenuesByQuarter[year][1] + revenuesByQuarter[year][2] + revenuesByQuarter[year][3] + revenuesByQuarter[year][4] | humanReadableMoney }}
                %tr{ 'ng-repeat': 'stage in forecast.stages | orderHashBy:"probability":true' }
                  %td.text-right
                    {{ stagesById[stage.key].probability }}%
                  %td.text-right
                    {{ stage[1] | humanReadableMoney }}
                  %td.text-right
                    {{ stage[2] | humanReadableMoney }}
                  %td.text-right
                    {{ stage[3] | humanReadableMoney }}
                  %td.text-right
                    {{ stage[4] | humanReadableMoney }}
                  %td.text-right
                    {{ stage[1] + stage[2] + stage[3] + stage[4] | humanReadableMoney }}
                %tr
                  %td.text-right
                    {{year}} Forecast
                  %td.text-right{ 'ng-repeat': '(quarter, pipeline) in forecastsByQuarter[year]' }
                    {{ pipeline | humanReadableMoney }}
                  %td.text-right
                    {{ forecastsByYear[year] | humanReadableMoney }}
                %tr
                  %td.text-right
                    {{year}} Quota
                  %td.text-right{ 'ng-repeat': '(quarter, quota) in quotasByQuarter[year]' }
                    {{ quota | humanReadableMoney }}
                  %td.text-right
                    {{ quotasByYear[year] | humanReadableMoney }}
                %tr
                  %td.text-right
                    Gap to Quota
                  %td.text-right{ 'ng-repeat': '(quarter, pipeline) in forecastsByQuarter[year]' }
                    {{ (quotasByQuarter[year][quarter] - pipeline) | humanReadableMoney }}
                  %td.text-right
                    {{ (quotasByYear[year] - forecastsByYear[year]) | humanReadableMoney }}
                %tr
                  %td.text-right
                    Percentage of Annual Quota
                  %td.text-right{ 'ng-repeat': '(quarter, quota) in quotasByQuarter[year]' }
                    {{ (((quota || 0) / (quotasByYear[year] || 1)) * 100).toFixed(1) }}%
                  %td.text-right



      .panel
        .panel-body
          %h3 Unweighted Forecast
          .table-wrapper
            %table.table.table-striped{ 'ng-repeat': '(year, forecast) in unweightedByStage' }
              %thead
                %tr
                  %th{colspan: 6}
                    {{year}}
                %tr.subheading
                  %th{ width: '25%' }
                    Stage Probability
                  %th.right{ width: '15%' }
                    Q1-{{year}}
                  %th.right{ width: '15%' }
                    Q2-{{year}}
                  %th.right{ width: '15%' }
                    Q3-{{year}}
                  %th.right{ width: '15%' }
                    Q4-{{year}}
                  %th.right{ width: '15%' }
                    FY-{{year}}
              %tbody
                %tr
                  %td.text-right
                    100%
                  %td.text-right
                    {{ revenuesByQuarter[year][1] | humanReadableMoney }}
                  %td.text-right
                    {{ revenuesByQuarter[year][2] | humanReadableMoney }}
                  %td.text-right
                    {{ revenuesByQuarter[year][3] | humanReadableMoney }}
                  %td.text-right
                    {{ revenuesByQuarter[year][4] | humanReadableMoney }}
                  %td.text-right
                    {{ revenuesByQuarter[year][1] + revenuesByQuarter[year][2] + revenuesByQuarter[year][3] + revenuesByQuarter[year][4] | humanReadableMoney }}
                %tr{ 'ng-repeat': 'stage in forecast.stages | orderHashBy:"probability":true' }
                  %td.text-right
                    {{ stagesById[stage.key].probability }}%
                  %td.text-right
                    {{ stage[1] | humanReadableMoney }}
                  %td.text-right
                    {{ stage[2] | humanReadableMoney }}
                  %td.text-right
                    {{ stage[3] | humanReadableMoney }}
                  %td.text-right
                    {{ stage[4] | humanReadableMoney }}
                  %td.text-right
                    {{ stage[1] + stage[2] + stage[3] + stage[4] | humanReadableMoney }}
                %tr
                  %td.text-right
                    {{year}} Forecast
                  %td.text-right{ 'ng-repeat': '(quarter, pipeline) in unweightedByQuarter[year]' }
                    {{ pipeline | humanReadableMoney }}
                  %td.text-right
                    {{ unweightedByYear[year] | humanReadableMoney }}
                %tr
                  %td.text-right
                    {{year}} Quota
                  %td.text-right{ 'ng-repeat': '(quarter, quota) in quotasByQuarter[year]' }
                    {{ quota | humanReadableMoney }}
                  %td.text-right
                    {{ quotasByYear[year] | humanReadableMoney }}
                %tr
                  %td.text-right
                    Percentage of Annual Quota
                  %td.text-right{ 'ng-repeat': '(quarter, quota) in quotasByQuarter[year]' }
                    {{ (((quota || 0) / (quotasByYear[year] || 1)) * 100).toFixed(1) }}%
                  %td.text-right
                %tr
                  %td.text-right
                    Gap to Quota
                  %td.text-right{ 'ng-repeat': '(quarter, pipeline) in unweightedByQuarter[year]' }
                    {{ (quotasByQuarter[year][quarter] - pipeline) | humanReadableMoney }}
                  %td.text-right
                    {{ (quotasByYear[year] - unweightedByYear[year]) | humanReadableMoney }}



      .panel
        .panel-body
          .period-toggle.pull-right
            %select.form-control{ 'ng-model': 'showQuarterlyDeals', 'ng-options': "o.v as o.n for o in [{ n: 'Quarterly', v: true }, { n: 'Monthly', v: false }]" }
          %h3 Revenue

          .table-wrapper
            %table.table.table-striped
              %thead
                %tr{ 'ng-show': 'showQuarterlyDeals' }
                  %th.left Client
                  %th.right Deal Value
                  %th.right Probability
                  %th.right Revenue Q1
                  %th.right Revenue Q2
                  %th.right Revenue Q3
                  %th.right Revenue Q4
                %tr{ 'ng-hide': 'showQuarterlyDeals' }
                  %th.left Client
                  %th.right Deal Value
                  %th.right Probability
                  %th.right Jan
                  %th.right Feb
                  %th.right Mar
                  %th.right Apr
                  %th.right May
                  %th.right Jun
                  %th.right Jul
                  %th.right Aug
                  %th.right Sep
                  %th.right Oct
                  %th.right Nov
                  %th.right Dec
              %tbody
                %tr{ 'ng-repeat': 'revenue in revenues' }
                  %td.left
                    {{revenue.client.name}}
                  %td.right
                    {{ revenue.budget | humanReadableMoney }}
                  %td.right
                    100%
                  %td.right{ 'ng-repeat': 'quarter in revenue.quarter_amounts track by $index', 'ng-show': 'showQuarterlyDeals' }
                    {{ quarter | humanReadableMoney }}
                  %td.right{ 'ng-repeat': 'month in revenue.month_amounts track by $index', 'ng-hide': 'showQuarterlyDeals' }
                    {{ month | humanReadableMoney }}

      .panel
        .panel-body
          .period-toggle.pull-right
            %select.form-control{ 'ng-model': 'showQuarterlyDeals', 'ng-options': "o.v as o.n for o in [{ n: 'Quarterly', v: true }, { n: 'Monthly', v: false }]" }
          %h3 Deals

          .table-wrapper
            %table.table.table-striped
              %thead
                %tr{ 'ng-show': 'showQuarterlyDeals' }
                  %th.left Client
                  %th.left Seller
                  %th.right Deal Value
                  %th.right Probability
                  %th.left Next Steps
                  %th.right Revenue Q1
                  %th.right Revenue Q2
                  %th.right Revenue Q3
                  %th.right Revenue Q4
                %tr{ 'ng-hide': 'showQuarterlyDeals' }
                  %th.left Client
                  %th.left Seller
                  %th.right Deal Value
                  %th.right Probability
                  %th.left Next Steps
                  %th.right Jan
                  %th.right Feb
                  %th.right Mar
                  %th.right Apr
                  %th.right May
                  %th.right Jun
                  %th.right Jul
                  %th.right Aug
                  %th.right Sep
                  %th.right Oct
                  %th.right Nov
                  %th.right Dec
              %tbody
                %tr{ 'ng-repeat': 'deal in deals' }
                  %td.left
                    {{deal.advertiser.name}}
                  %td.left
                    {{deal.deal_members[0].name}}
                  %td.right
                    {{ ((deal.budget || 0) / 100) | humanReadableMoney }}
                  %td.right
                    {{deal.stage.probability}}%
                  %td.left
                    {{deal.next_steps}}
                  %td.right{ 'ng-repeat': 'quarter in deal.quarter_amounts track by $index', 'ng-show': 'showQuarterlyDeals' }
                    {{ quarter | humanReadableMoney }}
                  %td.right{ 'ng-repeat': 'month in deal.month_amounts track by $index', 'ng-hide': 'showQuarterlyDeals' }
                    {{ month | humanReadableMoney }}
