#forecasts
  .container
    .row
      .col-xs-12
        %h3
          {{ forecast.name || 'Forecast' }}

    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            Forecast Period
        .row
          .col-xs-12{ dropdown: true }
            %a{ href: '', dropdown: { toggle: true }}
              {{ currentTimePeriod.name }} ({{ currentTimePeriod.start_date | date: 'shortDate'}} - {{ currentTimePeriod.end_date | date: 'shortDate' }})
              %span.caret
            %ul.dropdown-menu
              %li{ ng: { repeat: 'timePeriod in timePeriods', class: '{active: timePeriod.id == currentTimePeriod.id}' } }
                %a{ href: '', ng: { click: 'updateTimePeriod(timePeriod.id)' } }
                  {{ timePeriod.name }} ({{ timePeriod.start_date | date: 'shortDate'}} - {{ timePeriod.end_date | date: 'shortDate' }})
    .row
      .col-xs-12
        .well
          .row
            .col-xs-12
              .header
                %ul.list-inline
                  %li
                    %h2
                      {{ forecast.percent_to_quota | number: 0 }}%
                    %h5
                      Attainment
                  %li
                    %h2
                      {{ forecast.quota | currency: '$': 0 }}
                    %h5
                      Quota: {{ currentTimePeriod.name }}
                  %li
                    %h2
                      {{ forecast.amount | currency: '$': 0 }}
                    %h5
                      Forecast
                  %li
                    %h2
                      {{ forecast.gap_to_quota | currency: '$': 0 }}
                    %h5
                      Gap to Goal
    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th Name
                %th Quota
                %th Weighted Pipeline
                %th Revenue
                %th Forecast Amount
                %th % to Quota
                %th Gap to Quota

            %tbody
              %tr{ ng: { repeat: 'row in teams' } }
                %td
                  %a{ ng: { href: '/forecast/{{row.id}}?time_period_id={{currentTimePeriod.id}}' } }
                    {{ row.name }}
                %td {{ row.quota | currency: '$': 0 }}
                %td {{ row.weighted_pipeline | currency: '$': 0 }}
                %td {{ row.revenue | currency: '$': 0 }}
                %td {{ row.amount | currency: '$': 0 }}
                %td {{ row.percent_to_quota | number: 0 }}%
                %td {{ row.gap_to_quota | currency: '$': 0 }}

              %tr{ ng: { 'repeat-start': 'row in members' } }
                %td {{ row.full_name }}
                %td {{ row.quota | currency: '$': 0 }}
                %td.weighted-pipeline
                  %a{ href: '', ng: { click: 'toggleWeightedPipelineDetail(row.id)' } }
                    {{ row.weighted_pipeline | currency: '$': 0 }}
                  .arrow-up{ ng: { show: 'row.id == weightedPipelineDetailId' } }
                %td {{ row.revenue | currency: '$': 0 }}
                %td {{ row.amount | currency: '$': 0 }}
                %td {{ row.percent_to_quota | number: 0 }}%
                %td {{ row.gap_to_quota | currency: '$': 0 }}
              %tr.weighted-pipeline-detail{ ng: { 'repeat-end': true, if: 'row.id == weightedPipelineDetailId' } }
                %td.weighted-pipeline-table-wrapper{ colspan: 6 }
                  .row
                    .col-xs-12
                      %h3 Pipeline details
                      %span
                        |
                      %h4
                        %a{ href: '/deals' }
                          Manage Pipeline
                      %a.close{ ng: { click: 'toggleWeightedPipelineDetail(row.id)' } }
                        %span{'aria-hidden' => 'true'}
                          = inline_svg 'icons/close.svg'

                  %table.table.black-table.detail
                    %thead
                      %tr
                        %th Deal name
                        %th Client
                        %th Probability
                        %th Total Budget
                        %th In-period Amount
                        %th Start Date
                    %tbody
                      %tr{ ng: { repeat: 'subrow in weighted_pipeline' } }
                        %td {{ subrow.name }}
                        %td {{ subrow.client_name }}
                        %td {{ subrow.probability }}%
                        %td {{ subrow.budget / 100 | currency: '$': 0 }}
                        %td {{ subrow.in_period_amt | currency: '$': 0 }}
                        %td {{ subrow.start_date | date: 'MMMM d, y' }}

              %tr{ ng: { hide: 'teams' } }
                %td {{ forecast.full_name }}
                %td {{ forecast.quota | currency: '$': 0 }}
                %td {{ forecast.weighted_pipeline | currency: '$': 0 }}
                %td {{ forecast.revenue | currency: '$': 0 }}
                %td {{ forecast.amount | currency: '$': 0 }}
                %td {{ forecast.percent_to_quota | number: 0 }}%
                %td {{ forecast.gap_to_quota | currency: '$': 0 }}
