#forecasts
  .container
    .row
      .col-xs-12
        %h3
          {{ forecast.name || 'Forecast' }}

    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            Forecast Period
        .row
          .col-xs-12{ dropdown: true }
            %a{ href: '', dropdown: { toggle: true }}
              {{ currentTimePeriod.name }} ({{ currentTimePeriod.start_date | date: 'shortDate'}} - {{ currentTimePeriod.end_date | date: 'shortDate' }})
              %span.caret
            %ul.dropdown-menu
              %li{ ng: { repeat: 'timePeriod in timePeriods', class: '{active: timePeriod.id == currentTimePeriod.id}' } }
                %a{ href: '', ng: { click: 'updateTimePeriod(timePeriod.id)' } }
                  {{ timePeriod.name }} ({{ timePeriod.start_date | date: 'shortDate'}} - {{ timePeriod.end_date | date: 'shortDate' }})
    .row
      .col-xs-12
        %div{ ng: { include: "'partials/stats.html'" } }

    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-striped
            %thead
              %tr
                %th Name
                %th Quota
                %th Weighted Pipeline
                %th Revenue
                %th Forecast Amount
                %th % to Quota
                %th Gap to Quota

            %tbody.teams{ ng: { repeat: 'row in teams', include: "'partials/forecast_rows.html'" } }

            %tbody.leader{ ng: { repeat: 'row in [forecast.leader]', include: "'partials/forecast_rows.html'", if: 'forecast.leader && (forecast.leader.revenue > 0 || forecast.leader.weighted_pipeline > 0)' } }

            %tbody.members{ ng: { repeat: 'row in members', include: "'partials/forecast_rows.html'" } }

            %tbody.member{ ng: { hide: 'teams', repeat: 'row in [forecast]', include: "'partials/forecast_rows.html'" } }
