#kpi-analytics
	.container#inactives-dashboard
		.row
			.col-xs-12
				%h3.title Which clients have gone inactive or are about to?

		.row.well.kpi-block
			%table.filter-block.pull-right
				%tr.filter-title
					%td Spend Lookback Window
					-#%td Product
					%td Category
					%td Sub-Category
					%td Team
					%td Seller
					%td
						%span.reset-filter{'ng-click': 'inactive.resetFilter()'}
							Reset
				%tr
					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }}
									{{inactive.selected.qtrs.name}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'option in inactive.lookbackWindow', class: '{active: option.value === inactive.filter.qtrs}' } }
										%a{ href: '', ng: { click: 'inactive.setFilter("qtrs", option)' } }
											{{ option.name }}
					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !inactive.selected.category.id}' }
									{{inactive.selected.category ? inactive.selected.category.name : 'All'}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'category in inactive.categories', class: '{active: category.id === inactive.filter.category_id}' } }
										%a{ href: '', ng: { click: 'inactive.setFilter("category", category)' } }
											{{ category.name }}

					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !inactive.selected.subcategory.id}' }
									{{inactive.selected.subcategory ? inactive.selected.subcategory.name : 'All'}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'subcategory in inactive.subcategories', class: '{active: subcategory.id === inactive.filter.subcategory_id}' } }
										%a{ href: '', ng: { click: 'inactive.setFilter("subcategory", subcategory)' } }
											{{ subcategory.name }}

					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !inactive.selected.team.id}' }
									{{inactive.selected.team ? inactive.selected.team.name : 'All'}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'team in teams', class: '{active: team.id === inactive.filter.team_id}' } }
										%a{ href: '', ng: { click: 'inactive.setFilter("team", team)' } }
											{{ team.name }}

					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !inactive.selected.seller.id}' }
									{{inactive.selected.seller ? inactive.selected.seller.name : 'All'}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'seller in sellers', class: '{active: seller.id === inactive.filter.seller_id}' } }
										%a{ href: '', ng: { click: 'inactive.setFilter("seller", seller)' } }
											{{ seller.name }}
			%h4.chart-title Inactive
			%span.chart-subtitle No spend this quarter with spend last {{inactive.selected.qtrs.name}}
			%div{'ng-show': 'inactive.data.length == 0'}
				%h4.chart-title No Data Available
			%div{'ng-show': 'inactive.data.length > 0'}
				.col-xs-12.pad
					%svg#inactive-chart.inactives-chart
				.col-xs-12.table-report.text-center
					%table.table.table-hover
						%thead
							%tr
								%th Advertiser
								%th Ave Spend per Qtr
								%th Open Pipeline
								%th Last Activity
								%th Seller

						%tbody
							%tr{'ng-repeat': 'item in inactive.data'}
								%td
									%a{'ng-href': '/accounts/{{item.id}}', target: '_blank'}
										{{item.name}}
								%td {{item.average_quarterly_spend | currency : $ : 0}}
								%td {{item.open_pipeline | currency : $ : 0}}
								%td {{item.last_activity.happened_at | date : mediumDate}} - {{item.last_activity.activity_type_name}}
								%td {{item.sellers.join(', ')}}

		.row.well.kpi-block{'ng-style': '{"margin-bottom": seasonalInactive.data.length == 0 ? "250px" : "0"}'}
			%table.filter-block.pull-right
				%tr.filter-title
					%td Comparison Type
					%td Comparison Time Period
					%td Category
					%td Sub-Category
					%td Team
					%td Seller
					%td
						%span.reset-filter{'ng-click': 'seasonalInactive.resetFilter()'}
							Reset
				%tr
					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }}
									{{seasonalInactive.selected.comparisonType.name}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'option in seasonalInactive.comparisonTypes', class: '{active: option.value === seasonalInactive.filter["time_period_type"]}' } }
										%a{ href: '', ng: { click: 'seasonalInactive.setFilter("comparisonType", option)' } }
											{{ option.name }}
					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }}
									{{seasonalInactive.selected.comparisonNumber.name}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'option in seasonalInactive.comparisonNames[seasonalInactive.selectedType]', class: '{active: option.value === seasonalInactive.filter["time_period_number"]}' } }
										%a{ href: '', ng: { click: 'seasonalInactive.setFilter("comparisonNumber", option)' } }
											{{ option.name }}
					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !seasonalInactive.selected.category.id}' }
									{{seasonalInactive.selected.category ? seasonalInactive.selected.category.name : 'All'}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'category in seasonalInactive.categories', class: '{active: category.id === seasonalInactive.filter.category_id}' } }
										%a{ href: '', ng: { click: 'seasonalInactive.setFilter("category", category)' } }
											{{ category.name }}

					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !seasonalInactive.selected.subcategory.id}' }
									{{seasonalInactive.selected.subcategory ? seasonalInactive.selected.subcategory.name : 'All'}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'subcategory in seasonalInactive.subcategories', class: '{active: subcategory.id === seasonalInactive.filter.subcategory_id}' } }
										%a{ href: '', ng: { click: 'seasonalInactive.setFilter("subcategory", subcategory)' } }
											{{ subcategory.name }}

					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !seasonalInactive.selected.team.id}' }
									{{seasonalInactive.selected.team ? seasonalInactive.selected.team.name : 'All'}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'team in teams', class: '{active: team.id === seasonalInactive.filter.team_id}' } }
										%a{ href: '', ng: { click: 'seasonalInactive.setFilter("team", team)' } }
											{{ team.name }}

					%td
						%ul.kpi-block__filter
							%li{ dropdown: true }
								%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !seasonalInactive.selected.seller.id}' }
									{{seasonalInactive.selected.seller ? seasonalInactive.selected.seller.name : 'All'}}
									%span.caret
								%ul.dropdown-menu
									%li{ ng: { repeat: 'seller in sellers', class: '{active: seller.id === seasonalInactive.filter.seller_id}' } }
										%a{ href: '', ng: { click: 'seasonalInactive.setFilter("seller", seller)' } }
											{{ seller.name }}
			%h4.chart-title Seasonal Inactive
			%span.chart-subtitle {{seasonalInactive.getSeasonalDescription()}}
			%div{'ng-show': 'seasonalInactive.data.length == 0'}
				%h4.chart-title No Data Available
			%div{'ng-show': 'seasonalInactive.data.length > 0'}
				.col-xs-12.pad
					%svg#seasonal-chart.inactives-chart
				.col-xs-12.table-report.text-center
					%table.table.table-hover
						%thead
							%tr
								%th Advertiser
								%th Ave Spend per {{seasonalInactive.selected.comparisonType.value == 'month' ? 'Month' : 'Qtr'}}
								%th Open Pipeline
								%th Last Activity
								%th Seller

						%tbody
							%tr{'ng-repeat': 'item in seasonalInactive.data'}
								%td
									%a{'ng-href': '/accounts/{{item.id}}', target: '_blank'}
										{{item.name}}
								%td {{item.average_quarterly_spend | currency : $ : 0}}
								%td {{item.open_pipeline | currency : $ : 0}}
								%td  {{item.last_activity.happened_at | date : mediumDate}} - {{item.last_activity.activity_type_name}}
								%td {{item.sellers.join(', ')}}
