#kpi-analytics
	.container#inactives-dashboard
		.row
			.col-xs-12
				%h3.title Which clients have gone inactive or are about to?
		.row.legend.well.kpi-block
			.col-xs-12
				%table.filter-block
					%tr.filter-title
						%td Spend Lookback Window
						%td Product
						%td Category
						%td Sub-Category
						%td
							%span.reset-filter{'ng-click': 'resetFilter()'}
								Reset
					%tr
						%td
							%ul.kpi-block__filter
								%li{ dropdown: true }
									%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !selected.qtrs.value}' }
										{{selected.qtrs ? selected.qtrs.name : 'All'}}
										%span.caret
									%ul.dropdown-menu
										%li{ ng: { repeat: 'option in lookbackWindow', class: '{active: option.value === filter.qtrs}' } }
											%a{ href: '', ng: { click: 'setFilter("qtrs", option)' } }
												{{ option.name }}
						%td
							%ul.kpi-block__filter
								%li{ dropdown: true }
									%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !selected.product.id}' }
										{{selected.product ? selected.product.name : 'All'}}
										%span.caret
									%ul.dropdown-menu
										%li{ ng: { repeat: 'product in productsList', class: '{active: product.id === filter.product_id}' } }
											%a{ href: '', ng: { click: 'setFilter("product", product)' } }
												{{ product.name }}
						%td
							%ul.kpi-block__filter
								%li{ dropdown: true }
									%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !selected.category.id}' }
										{{selected.category ? selected.category.name : 'All'}}
										%span.caret
									%ul.dropdown-menu
										%li{ ng: { repeat: 'category in categories', class: '{active: category.id === filter.category_id}' } }
											%a{ href: '', ng: { click: 'setFilter("category", category)' } }
												{{ category.name }}

						%td
							%ul.kpi-block__filter
								%li{ dropdown: true }
									%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"not-selected": !selected.subcategory.id}' }
										{{selected.subcategory ? selected.subcategory.name : 'All'}}
										%span.caret
									%ul.dropdown-menu
										%li{ ng: { repeat: 'subcategory in subcategories', class: '{active: subcategory.id === filter.subcategory_id}' } }
											%a{ href: '', ng: { click: 'setFilter("subcategory", subcategory)' } }
												{{ subcategory.name }}

		.row.well.kpi-block
			%h4.chart-title Inactive
			%span.chart-subtitle No spend this quarter with spend last X Qtrs
			%div{'ng-style': '{display: inactives.length == 0 ? "block" : "none"}'}
				%h4.chart-title No Data Available
			%div{'ng-style': '{display: inactives.length > 0 ? "block" : "none"}'}
				.col-xs-12
					%svg#inactive-chart.inactives-chart
				.col-xs-12.table-report.text-center
					%table.table.table-hover
						%thead
							%tr
								%th Advertiser
								%th Ave Spend per Qtr
								%th Open Pipeline
								%th Last Activity
								%th Seller

						%tbody
							%tr{'ng-repeat': 'item in inactives'}
								%td {{item.client_name}}
								%td {{item.average_quarterly_spend | currency : $ : 0}}
								%td {{item.open_pipeline | currency : $ : 0}}
								%td {{item.last_activity}}
								%td {{item.sellers.join(', ')}}