#influencer-budget-detail.z-styles
  .container-fluid
    .row.mb20
      .reports-header
        .header-cell.main-title
          Influencer Budget Detail
        .header-cell.filter-cell
          %z-filter{'on-apply': 'onFilterApply'}
            %z-filter-field{data: 'influencers', 'save-as': '{influencer_id: "id"}'} Influencer
            %z-filter-field{type: 'daterange', 'save-as': '{asset_date_start: "startDate", asset_date_end: "endDate"}'} Asset Date

        .header-cell
          .pull-right
            %download-button{'ng-click': 'export()'}
              Export
    .row
      .col-md-12
        .block
          .total-stats.mb20
            %div.stats-col
              .value {{totalGrossAmount | currency: '$': 0}}
              .text Total Gross Amount

            %div.stats-col
              .value {{totalNetAmount | currency: '$': 0}}
              .text Total Net Amount
          .table-wrapper
            %table.table.table-hover
              %thead
                %tr.z-sortable-prime
                  %th.left{ width: "200" }
                    .z-sortable{by: 'team_name'} Team
                  %th.left{ width: "100" }
                    .z-sortable{by: 'content_fee.io.io_number'} IO Number
                  %th.left{ width: "150" }
                    .z-sortable{by: 'content_fee.io.name'} IO Name
                  %th.left{ width: "150" }
                    .z-sortable{by: 'content_fee.io.advertiser.name'} Advertiser
                  %th.left{ width: "150" }
                    .z-sortable{by: 'content_fee.io.agency.name'} Agency
                  %th.left{ width: "150" }
                    .z-sortable{by: 'content_fee.io.seller'} Seller
                  %th.left{ width: "150" }
                    .z-sortable{by: 'content_fee.io.account_manager'} Account Manager
                  %th.left{ width: "150" }
                    .z-sortable{by: 'content_fee.product.name'} Product
                  %th.right{ width: "100" }
                    .z-sortable{by: 'content_fee.budget_loc'} Total Budget
                  %th.left{ width: "100" }
                    .z-sortable{by: 'content_fee.io.start_date'} IO Start Date
                  %th.left{ width: "100" }
                    .z-sortable{by: 'effect_date'} Asset Date
                  %th.left{ width: "100" }
                    .z-sortable{by: 'influencer.name'} Influencer
                  %th.left{ width: "100" }
                    .z-sortable{by: 'influencer.network_name'} Network
                  %th.left{ width: "100" }
                    .z-sortable{by: 'fee_type'} Fee Type
                  %th.right{ width: "100" }
                    .z-sortable{by: '["fee_amount", "fee_amount_loc"]'} Fee
                  %th.right{ width: "100" }
                    .z-sortable{by: 'gross_amount_loc'} Gross Amount
                  %th.right{ width: "100" }
                    .z-sortable{by: 'net_loc'} Net Amount
                  %th.left{ width: "200" }
                    .z-sortable{by: 'asset'} Asset Link
              %tbody.nowrap
                %tr{ ng: { repeat: 'influencer_content_fee in influencer_content_fees | orderBy : zSort.by : zSort.rev' } }
                  %td.left
                    {{ influencer_content_fee.team_name }}
                  %td.left
                    %a{'ng-href': '/revenue/ios/{{influencer_content_fee.content_fee.io.id}}', target: '_blank'}
                      {{ influencer_content_fee.content_fee.io.io_number }}
                  %td.left
                    %a{'ng-href': '/revenue/ios/{{influencer_content_fee.content_fee.io.id}}', target: '_blank'}
                      {{ influencer_content_fee.content_fee.io.name }}
                  %td.left
                    {{ influencer_content_fee.content_fee.io.advertiser.name }}
                  %td.left
                    {{ influencer_content_fee.content_fee.io.agency.name }}
                  %td.left
                    %div{'ng-repeat': 'seller in influencer_content_fee.content_fee.io.seller'}
                      {{seller.first_name + ' ' + seller.last_name}}
                  %td.left
                    %div{'ng-repeat': 'seller in influencer_content_fee.content_fee.io.account_manager'}
                      {{seller.first_name + ' ' + seller.last_name}}
                  %td.left
                    {{ influencer_content_fee.content_fee.product.name }}
                  %td.right
                    {{ influencer_content_fee.content_fee.budget_loc | currency:'$':0 }}
                  %td.left
                    {{ influencer_content_fee.content_fee.io.start_date | date: 'MM-dd-yyyy' }}
                  %td.left
                    {{ influencer_content_fee.effect_date | date: 'MM-dd-yyyy' }}
                  %td.left
                    {{ influencer_content_fee.influencer.name }}
                  %td.left
                    {{ influencer_content_fee.influencer.network_name }}
                  %td.left
                    %div{'ng-if': 'influencer_content_fee.fee_type == "flat"'}
                      Flat
                    %div{'ng-if': 'influencer_content_fee.fee_type == "percentage"'}
                      \%
                  %td.right
                    %div{'ng-if': 'influencer_content_fee.fee_type == "flat"'}
                      {{ influencer_content_fee.fee_amount_loc | currency:'$':0 }}
                    %div{'ng-if': 'influencer_content_fee.fee_type == "percentage"'}
                      {{ influencer_content_fee.fee_amount }}%
                  %td.right
                    {{ influencer_content_fee.gross_amount_loc | currency:'$':0 }}
                  %td.right
                    {{ influencer_content_fee.net_loc | currency:'$':0 }}
                  %td.left
                    {{ influencer_content_fee.asset }}
                %tr{ ng: { if: 'influencer_content_fees.length == 0' }}
                  %td.center.auto-colspan
                    No Data for the Filters Selected

