#io.z-styles.z-detail-page
	.container-fluid
		.row
			.col-xs-8
				.block.detail-stats
					%div.stats-body
						%div.mb30
							%span.main-title
								%span.mr8 {{ currentIO.name }}
								%i.fa.fa-pencil.z-icon{'ng-if': 'canEditIO', 'ng-click': 'showIOEditModal(currentIO)'}
								%i.fa.fa-trash.z-icon{'ng-if': 'canEditIO', 'ng-click': 'deleteIo(currentIO)'}
								.right-link.pull-right{'ng-if': 'currentIO.deal_id'}
									Go to 
									%a{'href': '', 'ng-href': '/deals/{{currentIO.deal_id}}'}
										Deal
							.detail-info
								%a{'href': '', 'ng-href': '/accounts/{{currentIO.advertiser.id}}'} {{currentIO.advertiser.name || ''}}
								{{currentIO.advertiser.name && currentIO.agency.name && '|'}}
								%a{'href': '', 'ng-href': '/accounts/{{currentIO.agency.id}}'} {{currentIO.agency.name || ''}}
							.detail-info
								%span.mr8 IO # {{currentIO.io_number}}
								%span External IO # {{currentIO.external_io_number}}
						.clearfix
						%div.stats-numbers.mb30
							%div.stats-col
								.col-body-wrap
									.col-body
										.description Status
										.title Active
							%div.stats-col
								.col-body-wrap
									.col-body
										.description Budget
										.title {{currentIO.budget_loc | currency:currency_symbol:0 }}
										.subtitle{'ng-if': 'currentIO.curr_cd != "USD"'} {{currentIO.budget | currency: '$' : 0}}

							%div.stats-col
								.col-body-wrap
									.col-body
										.description Currency
										.title {{ currentIO.curr_cd }}

							%div.stats-col
								.col-body-wrap
									.col-body
										.description Freeze Budgets
										.title
											.show-hide-remainder-form
												.switch-remainder-form
													%input.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'currentIO.freezed', 'ng-change': 'updateIO()', id: "rem-act-modal-toggle12"}
													%label{:for => "rem-act-modal-toggle12"}
														%span

							%div.stats-col
								.col-body-wrap
									.col-body
										.description Start-End Dates
										%div{'ng-if': 'currentUser.is_admin || canEditIO'}
											.title.bs-datepicker
												%span.editable{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { model: 'currentIO.start_date', click: 'startOpened = !startOpened', class: '{ editing: startOpened }', change: 'updateIO()' }, 'is-open': 'startOpened' }
													{{currentIO.start_date | date : 'mediumDate'}}
												{{'-'}}
												%span.no-wrap-line
													%span.editable{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { model: 'currentIO.end_date', click: 'endOpened = !endOpened', class: '{ editing: endOpened }', change: 'updateIO()' }, 'is-open': 'endOpened' }
														{{currentIO.end_date | date : 'mediumDate'}}
													%span.caret
										%div{'ng-if': '!currentUser.is_admin && !canEditIO'}
											.title
												%span {{currentIO.start_date | date : 'mediumDate'}}
												{{'-'}}
												%span {{currentIO.end_date | date : 'mediumDate'}}

				.block#line-content-fees
					%div.mb20
						%span.title Line Items - content & fees
						%add-button{'ng-click': 'showNewContentFeeModal()'} Add

					.table-wrapper
						%table.table.table-hover
							%thead
								%tr
									%th.left.product-column Product
									%th.left  
									%th.left.column{ 'ng-show': 'company.product_options_enabled && company.product_option1_enabled' } {{ company.product_option1_field || 'Option1' }}
									%th.left.column{ 'ng-show': 'company.product_options_enabled && company.product_option2_enabled' } {{ company.product_option2_field || 'Option2' }}
									%th.column.left Start Date
									%th.column.left End Date
									%th.column.right Total Budget
									%th.column.right{ ng: { repeat: "range in currentIO.readable_months" } }
										{{ range.name }}
							%tbody
								%tr{ ng: { if: 'currentIO.content_fees && currentIO.content_fees.length > 0', repeat: "content_fee in currentIO.content_fees | orderBy: 'created_at'"} }
									%td.product-column
										.dropdown
											%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
												%span.editable
													{{content_fee.product.level0.name || 'Select Product'}}
													%span.caret
											%ul.dropdown-menu
												%li{'ng-repeat': 'product in productsByLevel(0, content_fee.product)', 'ng-class': '{active: content_fee.product.level0.id == product.id}'}
													%a{'href': '', 'ng-click': 'onChangeProduct(product, content_fee); updateContentFee(content_fee);'}
														%span.text {{product.name}}
									%td
										%i.fa.fa-trash.z-icon{'ng-click': 'deleteContentFee(content_fee)'}
									%td{ 'ng-if': 'company.product_options_enabled && company.product_option1_enabled' }
										.dropdown{'ng-if': 'productsByLevel(1, content_fee.product).length > 0'}
											%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
												%span.editable
													{{content_fee.product.level1.name || 'Select '+company.product_option1_field}}
													%span.caret
											%ul.dropdown-menu
												%li{'ng-repeat': 'product in productsByLevel(1, content_fee.product)', 'ng-class': '{active: content_fee.product.level1.id == product.id}'}
													%a{'href': '', 'ng-click': 'onChangeProduct(product, content_fee); updateContentFee(content_fee);'}
														%span.text {{product.name}}
									%td{ 'ng-if': 'company.product_options_enabled && company.product_option2_enabled' }
										.dropdown{'ng-if': 'productsByLevel(2, content_fee.product).length > 0'}
											%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
												%span.editable
													{{content_fee.product.level2.name || 'Select '+company.product_option2_field}}
													%span.caret
											%ul.dropdown-menu
												%li{'ng-repeat': 'product in productsByLevel(2, content_fee.product)', 'ng-class': '{active: content_fee.product.level2.id == product.id}'}
													%a{'href': '', 'ng-click': 'onChangeProduct(product, content_fee); updateContentFee(content_fee);'}
														%span.text {{product.name}}
									%td
										{{ currentIO.start_date | date: 'M/d/yyyy' }}
									%td
										{{ currentIO.end_date | date: 'M/d/yyyy' }}
									%td.right
										%span{'click-to-edit':'click-to-edit', type: "number", prefix: "{{currency_symbol}}", decimal: '2', 'ng-model': "content_fee.budget_loc", 'on-after-save': 'updateContentFee(content_fee)', 'ng-if': "(currentUser.is_admin || canEditIO) && !currentIO.freezed" }
										%span{ ng: { if: "(!currentUser.is_admin && !canEditIO) || currentIO.freezed" } }
											{{ content_fee.budget_loc | currency:currency_symbol:2 }}
									%td.right{ ng: { repeat: "product_budget in content_fee.content_fee_product_budgets | orderBy: 'start_date'" } }
										%span{'click-to-edit':'click-to-edit', type: "number", prefix: "{{currency_symbol}}", decimal: '2', 'ng-model': "product_budget.budget_loc", 'on-after-save': 'updateContentFeeAndBudget(content_fee)', 'ng-if': "currentUser.is_admin || canEditIO" }
										%span{ ng: { if: "!currentUser.is_admin && !canEditIO" } }
											{{ product_budget.budget_loc | currency:currency_symbol:2 }}
								%tr.sum-budgets-row{ ng: { if: 'currentIO.content_fees && currentIO.content_fees.length > 0'} }
									%td{ 'ng-show': 'company.product_options_enabled && company.product_option1_enabled'}
									%td{ 'ng-show': 'company.product_options_enabled && company.product_option2_enabled'}
									%td{colspan: 3}
									%td.right
										%b TOTAL
									%td.right
										%b {{sumContentFeeBudget() | currency: currency_symbol : 2}}
									%td.right{'ng-repeat': 'month in currentIO.months'}
										%b {{sumContentFeeBudget($index) | currency: currency_symbol : 2}}
								%tr{ ng: { if: '!currentIO.content_fees || currentIO.content_fees.length == 0' } }
									%td.center.auto-colspan
										No data available
				%div{'ng-include': '"partials/io/io_costs.html"'}
				%div{'ng-include': '"partials/io/io_agreements.html"'}
				.block#line-display
					%div.mb20
						%span.title Line Items - display
					.table-wrapper
						%table.table.table-hover
							%thead
								%tr
									%th.left Line #
									%th.left AdServer
									%th.left Start Date
									%th.left End Date
									%th.left
										.product Product
									%th.left{'ng-if': 'company.product_options_enabled && company.product_option1_enabled'} {{ company.product_option1_field }}
									%th.left{'ng-if': 'company.product_options_enabled && company.product_option2_enabled'} {{ company.product_option2_field }}
									%th.left Ad Unit
									%th.left Ad Server Product
									%th.right Qty
									%th.right Price
									%th.left Price Type
									%th.right Budget
									%th.right Budg Del
									%th.right Budg Rem
									%th.right Qty Del
									%th.right Qty Rem
									%th.right 3PQtyDel
									%th.right 3PQtyRem
									%th.right 3PBudDel
									%th.right 3PBudRem
									%th.right Daily Rate
									%th.right {{"#DaysNoBud"}}
									%th.right Clicks
									%th.right CTR
							%tbody{ ng: { if: 'currentIO.display_line_items && currentIO.display_line_items.length > 0', repeat: "displayLineItem in currentIO.display_line_items | orderBy: 'line_number'"} }
								%tr
									%td.left
										{{ displayLineItem.line_number }}
									%td.left
										{{ displayLineItem.ad_server }}
									%td.left
										{{ displayLineItem.start_date | date: 'M/d/yyyy' }}
									%td.left
										{{ displayLineItem.end_date | date: 'M/d/yyyy' }}
									%td.left
										{{ displayLineItem.product.level0.name }}
									%td.left{'ng-if': 'company.product_options_enabled && company.product_option1_enabled'}
										{{ displayLineItem.product.level1.name }}
									%td.left{'ng-if': 'company.product_options_enabled && company.product_option2_enabled'}
										{{ displayLineItem.product.level2.name}}
									%td.left
										{{ displayLineItem.ad_unit }}
									%td.left
										{{ displayLineItem.ad_server_product }}
									%td.right
										{{ displayLineItem.quantity }}
									%td.right
										{{ displayLineItem.price | currency:currency_symbol:2 }}
									%td.left
										{{ displayLineItem.pricing_type }}
									%td.right.display-line-table-budget
										%div
											%a{href: '', 'ng-click': 'showBudgetRow(displayLineItem, $event)'}
												{{ displayLineItem.budget_loc | currency:currency_symbol:2 }}
										%div.budget-arrow{'ng-class': '{"active": displayLineItem == selectedIORow}'}
											.fa.fa-caret-up
									%td.right
										{{ displayLineItem.budget_delivered_loc | currency:currency_symbol:2 }}
									%td.right
										{{ displayLineItem.budget_remaining_loc | currency:currency_symbol:2 }}
									%td.right
										{{ displayLineItem.quantity_delivered }}
									%td.right
										{{ displayLineItem.quantity_remaining }}
									%td.right
										{{ displayLineItem.quantity_delivered_3p }}
									%td.right
										{{ displayLineItem.quantity_remaining_3p }}
									%td.right
										{{ displayLineItem.budget_delivered_3p_loc | currency:currency_symbol:0 }}
									%td.right
										{{ displayLineItem.budget_remaining_3p_loc | currency:currency_symbol:0 }}
									%td.right
										{{ displayLineItem.daily_run_rate | currency:currency_symbol:0 }}
									%td.right
										{{ displayLineItem.num_days_til_out_of_budget }}
									%td.right
										{{ displayLineItem.clicks }}
									%td.right
										{{ displayLineItem.ctr }}
								%tr.display-line-budgets-row
									%td.left.auto-colspan
										%div.display-line-budgets{'data-displayID': '{{displayLineItem.id}}', 'ng-class': '{active: selectedIORow == displayLineItem }'}
											%div.budgets-inner
												%div.title
													Monthly Budgets
													%span ( {{ budgets.rest | currency:currency_symbol:2 }} remaining )
												%div.line-budget{'ng-if': 'currentUser.is_admin || canEditIO', 'ng-repeat': 'budget in budgets'}
													.month {{budget.month}}
													.budget.hide-input-arrows
														%span.editable-budget{'editable-number': 'budget.budget_loc', 'blur': 'submit', 'onbeforesave': 'createOrUpdateBudget(budget, $data, $index)'}
															%span{'ng-if': '!isNaN(budget.budget_loc)'}
																{{ budget.budget_loc | currency : currency_symbol : 2 }}
																%i.fa.fa-close.budget-delete{'ng-click': 'deleteBudget(budget, $event)'}
															%span{'ng-if': 'isNaN(budget.budget_loc)'}
																%b.add-budget Add
												%div.line-budget{'ng-if': '!currentUser.is_admin && !canEditIO', 'ng-repeat': 'budget in budgets'}
													.month {{budget.month}}
													.budget {{budget.budget_loc | currency : currency_symbol : 2}}

							%tbody{ ng: { if: '!currentIO.display_line_items || currentIO.display_line_items.length == 0' } }
								%tr
									%td.center.auto-colspan
										No data available
				.block#line-print
					%div.mb20
						%span.title Line Items - print

					.table-wrapper
						%table.table.table-hover
							%thead
								%tr
									%th.left Ad Unit
									%th.left Type
									%th.right Rate
									%th.left Market
									%th.left Start Date
									%th.left End Date
							%tbody
								%tr{ ng: { if: 'currentIO.print_items && currentIO.print_items.length > 0', repeat: "printItem in currentIO.print_items"} }
									%td.left
										{{ printItem.ad_unit }}
									%td.left
										{{ printItem.ad_type }}
									%td.right
										{{ printItem.rate | currency:currency_symbol:0 }}
									%td.left
										{{ printItem.market }}
									%td.left
										{{ printItem.start_date | date: 'M/d/yyyy' }}
									%td.left
										{{ printItem.end_date | date: 'M/d/yyyy' }}
								%tr{ ng: { if: '!currentIO.print_items || currentIO.print_items.length == 0' } }
									%td.center.auto-colspan
										No data available
				.block#influencer{'ng-show': 'currentUser.company_influencer_enabled'}
					%div.mb20
						%span.title Influencers
						%add-button{'ng-click': 'showNewInfluencerContentFeeModal()'} Add
						%a.pull-right{'ng-click': 'updateInfluencerBudget()'}
							Update Influencer Budget
					.table-wrapper
						%table.table.table-hover
							%thead
								%tr
									%th.left{width: '200'} Influencer
									%th.left Product
									%th.left{'ng-if': 'company.product_options_enabled && company.product_option1_enabled'} {{ company.product_option1_field }}
									%th.left{'ng-if': 'company.product_options_enabled && company.product_option2_enabled'} {{ company.product_option2_field }}
									%th.left Date
									%th.left Fee Type
									%th.right Fee Amount
									%th.right Gross
									%th.right Net
									%th.left Asset
							%tbody
								%tr{ ng: { if: 'currentIO.influencer_content_fees && currentIO.influencer_content_fees.length > 0', repeat: "influencerContentFee in currentIO.influencer_content_fees"} }
									%td.left
										{{ influencerContentFee.influencer.name }}
										%i.fa.fa-pencil.edit-deal.action-button{'ng-click': 'showEditInfluencerContentFeeModal(influencerContentFee)'}
										%i.fa.fa-trash.delete-deal.action-button{'ng-click': 'deleteInfluencerContentFee(influencerContentFee)'}
									%td.left
										{{ influencerContentFee.content_fee.product.level0.name }}
									%td.left{'ng-if': 'company.product_options_enabled && company.product_option1_enabled'}
										{{ influencerContentFee.content_fee.product.level1.name }}
									%td.left{'ng-if': 'company.product_options_enabled && company.product_option2_enabled'}
										{{ influencerContentFee.content_fee.product.level2.name }}
									%td.left
										{{ influencerContentFee.effect_date | date: 'M/d/yyyy'	}}
									%td.left
										{{ influencerContentFee.fee_type == 'flat' ? 'Flat' : '%' }}
									%td.right{'ng-if': 'influencerContentFee.fee_type == "flat"'}
										{{ influencerContentFee.fee_amount_loc | currency:influencerContentFee.currency.curr_symbol:0 }}
									%td.right{'ng-if': 'influencerContentFee.fee_type == "percentage"'}
										{{ influencerContentFee.fee_amount }}%
									%td.right
										{{ influencerContentFee.gross_amount_loc | currency:influencerContentFee.currency.curr_symbol:0 }}
									%td.right
										{{ influencerContentFee.net_loc | currency:influencerContentFee.currency.curr_symbol:0 }}
									%td.left
										{{ influencerContentFee.asset }}

								%tr{'ng-if': 'currentIO.influencer_content_fees && currentIO.influencer_content_fees.length > 0'}
									%td.left
										Total
									%td.left
									%td.left{'ng-if': 'company.product_options_enabled && company.product_option1_enabled'}
									%td.left{'ng-if': 'company.product_options_enabled && company.product_option2_enabled'}
									%td.left
									%td.left
									%td.right
									%td.right
										{{ currentIO.total_influencer_gross | currency:currentIO.currency.curr_symbol:0 }}
									%td.right
										{{ currentIO.total_influencer_net | currency:currentIO.currency.curr_symbol:0 }}
									%td.left
								%tr{ ng: { if: '!currentIO.influencer_content_fees || currentIO.influencer_content_fees.length == 0' } }
									%td.center.auto-colspan
										No data available
			.col-xs-4
				.block#team-split
					%div.mb20
						%span.title Team & Split
						%span{ 'ng-show': 'currentUser.is_admin || canEditIO', dropdown: true, 'dropdown-append-to-body': true, 'auto-close': 'outsideClick'	}
							%add-button{ dropdown: { toggle: true }, ng: { click: 'showLinkExistingUser()' } } Add
							%ul.dropdown-menu.new-member-options
								%li.existing-user-options
									%ui-select{ name: 'user-list', ng: { model: 'userToLink', disabled: true }, 'append-to-body': 'true', 'on-select': 'linkExistingUser($item)' }
										%ui-select-match{ placeholder: 'start typing their name here' }
											{{ $select.selected.name }}
										%ui-select-choices{ repeat: 'user in users | filter: { name: $select.search }' }
											%div{ ng: { bind: { html: 'user.name' } } }
					.table-wrapper
						%table.table.table-hover
							%thead
								%tr
									%th.left Member
									%th.left From
									%th.left To
									%th.left Share
							%tbody
								%tr{ ng: { repeat: "io_member in currentIO.io_members | orderBy: 'name'"} }
									%td
										%span.mr8 {{ io_member.name }}
										%i.fa.fa-trash.z-icon{ href: '', ng: { if: "currentUser.is_admin || canEditIO", click: 'deleteMember(io_member)' } }
									%td
										.bs-datepicker
											%span.editable{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { if: "currentUser.is_admin || canEditIO", model: 'io_member.from_date', click: 'startOpened1 = !startOpened1', class: '{ editing: startOpened1 }', change: 'updateIOMember(io_member)' }, 'is-open': 'startOpened1' }
												{{ io_member.from_date | date: 'M/d/yyyy' }}
											%span{ ng: { if: "!currentUser.is_admin && !canEditIO" } }
												{{ io_member.from_date | date: 'M/d/yyyy' }}
									%td
										.bs-datepicker
											%span.editable{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { if: "currentUser.is_admin || canEditIO", model: 'io_member.to_date', click: 'endOpened1 = !endOpened1', class: '{ editing: endOpened1 }', change: 'updateIOMember(io_member)' }, 'is-open': 'endOpened1' }
												{{ io_member.to_date | date: 'M/d/yyyy' }}
										%span{ ng: { if: "!currentUser.is_admin && !canEditIO" } }
											{{ io_member.to_date | date: 'M/d/yyyy' }}
									%td
										%span{'click-to-edit':'click-to-edit', type: "inputText", postfix: '%', 'ng-model': "io_member.share", 'on-after-save': 'updateIOMember(io_member)', 'ng-if': "currentUser.is_admin || canEditIO" }
										%span{ ng: { if: "!currentUser.is_admin && !canEditIO" } }
											{{ io_member.share }}%
