#kpi-analytics
  .container
    .row
      .col-xs-12
        %h3.title KPI`s Dashboard

    .row.well.kpi-block
      .row
        .col-xs-12
          %h4.kpi-block__title Win Rate by Seller
      .row.legend
        .col-xs-12
          %span Filter by
          %ul.kpi-block__filter
            %li{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                Team
                %span.caret
              %ul.dropdown-menu
                %li{ ng: { repeat: 'filter in teamFilters', class: '{active: filter.id == teamId}' } }
                  %a{ href: '', ng: { click: 'filterByTeam(filter.id)' } }
                    {{ filter.name }}
          %ul.kpi-block__filter
            %li{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                Seller
                %span.caret
              %ul.dropdown-menu
                %li{ ng: { repeat: 'filter in sellerFilters', class: '{active: filter.name == clientFilter.name}' } }
                  %a{ href: '', ng: { click: 'filterClients(filter)' } }
                    {{ filter.name }}
          %ul.kpi-block__filter
            %li{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                Product
                %span.caret
              %ul.dropdown-menu
                %li{ ng: { repeat: 'product in productsList', class: '{active: product.name === productFilter.name}' } }
                  %a{ href: '', ng: { click: 'filterByProduct(product)' } }
                    {{ product.name }}
          %ul.kpi-block__filter
            %li{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                Type
                %span.caret
              %ul.dropdown-menu
                %li{ ng: { repeat: 'type in typesList', class: '{active: type.name === typeFilter.name}' } }
                  %a{ href: '', ng: { click: 'filterByType(type)' } }
                    {{ type.name }}
          %ul.kpi-block__filter
            %li{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                Source
                %span.caret
              %ul.dropdown-menu
                %li{ ng: { repeat: 'filter in sourceFilters', class: '{active: filter.name == clientFilter.name}' } }
                  %a{ href: '', ng: { click: 'filterClients(filter)' } }
                    {{ filter.name }}
          %ul.kpi-block__filter
            %span.bs-datepicker
              %input{ placeholder: 'Start Date',
                name: 'start_date', type: 'text',
                datepicker: { popup: 'MMMM d, y' },
                ng: { model: 'start_date', required: true, click: 'callStartDateOpened = true' },
                'is-open': 'callStartDateOpened' }
          %ul.kpi-block__filter
            %span.bs-datepicker
              %input{ placeholder: 'End Date',
                name: 'end_date', type: 'text',
                datepicker: { popup: 'MMMM d, y' },
                ng: { model: 'end_date', required: true, click: 'callEndDateOpened = true' },
                'is-open': 'callEndDateOpened' }
          %ul.kpi-block__filter
            %button.btn.btnPrimary.reset-dates{'ng-click': 'resetDates()'}
              reset dates
          .pull-right.buttons__filter
            %button.btn{ 'ng-class': '{btnPrimary: time_period === "month"}', 'ng-click': 'filterByPeriod("month")'}
              Month
            %button.btn{ 'ng-class': '{btnPrimary: time_period === "qtr"}', 'ng-click': 'filterByPeriod("qtr")'}
              Quarter

      .row
        .col-xs-12.schedule
          %div.graph
      .row
        .col-md-12.table-report.text-center
          %table.table.table-hover
            %thead
              %tr
                %th{ ng: { if: 'isTeamsNamesInWinRateTable' }}
                  Teams
                %th{ ng: { if: '!isTeamsNamesInWinRateTable' }}
                  Sellers
                %th{ ng: { repeat: 'period in winRateTimePeriods' }}
                  {{period}}
                %th.text--bold{ 'ng-click': 'changeSortType("total")'}
                  Total

            %tbody
              %tr{ ng: { repeat: 'itemsData in winRateData' }}
                %td{ ng: { repeat: 'item in itemsData' }}
                  %span{ ng: { if: 'item.win_rate !== undefined' }}
                    {{item.win_rate}}
                  %span{ ng: { if: 'item.win_rate === undefined' }}
                    {{item}}
              %tr{ ng: { if: 'winRateAverage' }}
                %td.text--bold Average
                %td.text--bold{ ng: { repeat: 'average in winRateAverage track by $index' }}
                  {{average}}
                %td


