#pacing-dashboard.z-styles
	.container-fluid.inner-pacing-dashboard
		.row.mb20
			.reports-header
				.header-cell.main-title
					Pacing Dashboard
				.header-cell.filters-block
					%table
						%tr.filter-title
							%td Time period
						%tr
							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.timePeriod.id}' }
											{{filter.timePeriod.name}}
											%span.caret
										%ul.dropdown-menu
											%li{ ng: { class: '{active: !filter.timePeriod.id}' } }
												%a{ href: '', ng: { click: 'setFilter("timePeriod", defaultFilter.timePeriod)' } }
													{{defaultFilter.timePeriod.name}}
											%li{ ng: { repeat: 'timePeriod in timePeriods | orderBy : "start_date"', class: '{active: timePeriod.id === filter.timePeriod.id}' } }
												%a{ href: '', ng: { click: 'setFilter("timePeriod", timePeriod)' } }
													{{timePeriod.name}}
		.row.mb20
			.block
				%div.mb20
					%span.title Pipeline & Revenue Pacing
				%div.pacing-metrics>
					%div
						%b Show metrics
					%div{'ng-repeat': 'metric in metrics'}
						%div.metric-row{'ng-click': 'setMetric(metric)'}
							%i.fa{'ng-class': '{"fa-check-square active": metric.active, "fa-square-o": !metric.active}'}
							{{metric.name}}
				%div#pipeline-revenue-chart-container.mb20
					%svg#pipeline-revenue-chart.pacing-chart
					%div.legend-container
				.table-wrapper
					%table.table.table-hover
						%tbody
							%tr.header-row
								%th
									%b Weighted Pipe
								%th{'ng-repeat': 'week in weeks'}
									Week {{week <= weekShift ? week - weekShift - 1 : week - weekShift}}
						%tbody{'ng-show': 'pipelineRevenue.weighted_pipeline'}
							%tr
								%td This Qtr
								%td{'ng-repeat': 'val in pipelineRevenue.weighted_pipeline.current_quarter track by $index'}
									{{isNumber(val) ? (val | currency: '$' : '0') : '-'}}
							%tr
								%td Last Qtr
								%td{'ng-repeat': 'val in pipelineRevenue.weighted_pipeline.previous_quarter track by $index'}
									{{isNumber(val) ? (val | currency: '$' : '0') : '-'}}
							%tr
								%td Last Year
								%td{'ng-repeat': 'val in pipelineRevenue.weighted_pipeline.previous_year_quarter track by $index'}
									{{isNumber(val) ? (val | currency: '$' : '0') : '-'}}
						%tbody
							%tr.header-row
								%th
									%b Revenue
								%th{'ng-repeat': 'week in weeks'}
									Week {{week <= weekShift ? week - weekShift - 1 : week - weekShift}}
						%tbody{'ng-show': 'pipelineRevenue.revenue'}
							%tr
								%td This Qtr
								%td{'ng-repeat': 'val in pipelineRevenue.revenue.current_quarter track by $index'}
									{{isNumber(val) ? (val | currency: '$' : '0') : '-'}}
							%tr
								%td Last Qtr
								%td{'ng-repeat': 'val in pipelineRevenue.revenue.previous_quarter track by $index'}
									{{isNumber(val) ? (val | currency: '$' : '0') : '-'}}
							%tr
								%td Last Year
								%td{'ng-repeat': 'val in pipelineRevenue.revenue.previous_year_quarter track by $index'}
									{{isNumber(val) ? (val | currency: '$' : '0') : '-'}}

		.row.mb20
			.reports-header
				.header-cell.main-title
					Activity Pacing

		.row
			.col-xs-6.pl0
				.block
					%div.mb20
						%span.title New Deal/RFP Pacing
					%div#activity-new-chart-container
						%svg#activity-new-chart.pacing-chart
						%div.legend-container
			.col-xs-6.pr0
				.block
					%div.mb20
						%span.title Weekly Won Revenue Pacing
					%div#activity-won-chart-container
						%svg#activity-won-chart.pacing-chart
						%div.legend-container
		.row.mb20
			.block
				%div.mb20
					%span.title Activity Pacing
				%table.table.table-hover
					%tbody
						%tr.header-row
							%th
								%b New Deals #
							%th{'ng-repeat': 'week in dealWeeks'} Week {{week}}
					%tbody{'ng-show': 'pipelineRevenue.weighted_pipeline'}
						%tr
							%td This Qtr
							%td{'ng-repeat': 'val in newDeals.current_quarter track by $index'}
								{{val}}
						%tr
							%td Last Qtr
							%td{'ng-repeat': 'val in newDeals.previous_quarter track by $index'}
								{{val}}
						%tr
							%td Last Year
							%td{'ng-repeat': 'val in newDeals.previous_year_quarter track by $index'}
								{{val}}

					%tbody
						%tr.header-row
							%th
								%b Won Deals
							%th{'ng-repeat': 'week in dealWeeks'} Week {{week}}
					%tbody{'ng-show': 'pipelineRevenue.revenue'}
						%tr
							%td This Qtr
							%td{'ng-repeat': 'val in wonDeals.current_quarter track by $index'}
								{{val | currency: '$' : '0'}}
						%tr
							%td Last Qtr
							%td{'ng-repeat': 'val in wonDeals.previous_quarter track by $index'}
								{{val | currency: '$' : '0'}}
						%tr
							%td Last Year
							%td{'ng-repeat': 'val in wonDeals.previous_year_quarter track by $index'}
								{{val | currency: '$' : '0'}}