#pipeline-summary-report.z-styles
	.container-fluid
		.row.mb20
			.reports-header
				.header-cell.main-title
					Pipeline Summary
				.header-cell.filters-block
					%table
						%tr.filter-title
							%td Team
							%td Team Member
							%td Stage
							%td Type
							%td Source
							%td Start Date
							%td Created Date
							%td Closed Date
							%td
								%span.reset-filter{'ng-click': 'resetFilter()'}
									Reset
						%tr
							%td
								%tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected: 'filter.team', 'ng-class': '{"empty": filter.team.name === "All"}'}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.seller.id}' }
											{{filter.seller.name}}
											%span.caret
										%ul.dropdown-menu
											%li{'ng-class': '{active: !filter.seller.id}'}
												%a{href: '', 'ng-click': 'setFilter("seller", emptyFilter)'}
													{{emptyFilter.name}}
											%li{ ng: { repeat: 'seller in sellers | orderBy : "name"', class: '{active: seller.id === filter.seller.id}' } }
												%a{ href: '', ng: { click: 'setFilter("seller", seller)' } }
													{{seller.name}}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.stages.length == 0}' }
											%span{'ng-if': 'filter.stages.length == 0'}
												All
											%span{'ng-repeat': 'stage in filter.stages'}
												{{stage.name}} {{stage.probability + '%'}}
												%i.fa.fa-times.close-btn{'ng-click': 'removeFilter("stages", stage)'}
											%span.caret
										%ul.dropdown-menu
											%li{ ng: { repeat: 'stage in stages | orderBy: ["-open", "probability"]' } }
												%a{ href: '', ng: { click: 'setFilter("stages", stage)' } }
													{{stage.name}} {{isNumber(stage.probability) ? stage.probability + '%' : ''}}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.type.id}' }
											{{filter.type.name}}
											%span.caret
										%ul.dropdown-menu
											%li{'ng-class': '{active: !filter.type.id}'}
												%a{href: '', 'ng-click': 'setFilter("type", emptyFilter)'}
													{{emptyFilter.name}}
											%li{ ng: { repeat: 'type in types | orderBy : "name"', class: '{active: type.id === filter.type.id}' } }
												%a{ href: '', ng: { click: 'setFilter("type", type)' } }
													{{type.name}}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.source.id}' }
											{{filter.source.name}}
											%span.caret
										%ul.dropdown-menu
											%li{'ng-class': '{active: !filter.source.id}'}
												%a{href: '', 'ng-click': 'setFilter("source", emptyFilter)'}
													{{emptyFilter.name}}
											%li{ ng: { repeat: 'source in sources | orderBy : "name"', class: '{active: source.id === filter.source.id}' } }
												%a{ href: '', ng: { click: 'setFilter("source", source)' } }
													{{source.name}}

							%td
								.date-picker-wrap
									%div.date-picker{'date-range-picker': true,
														   'ng-model': 'filter.startDate',
														   :options => "{locale: {format: 'MMMM D, YYYY'},
																		 eventHandlers: {'apply.daterangepicker': datePicker.apply}}"}
										%span.empty{'ng-hide': 'datePicker.toString("startDate")'}
											Time period
											%span.caret
										%span{'ng-show': 'datePicker.toString("startDate")'}
											{{datePicker.toString("startDate")}}
											%span.caret

							%td
								.date-picker-wrap
									%div.date-picker{'date-range-picker': true,
														   'ng-model': 'filter.createdDate',
														   :options => "{locale: {format: 'MMMM D, YYYY'},
																		 eventHandlers: {'apply.daterangepicker': datePicker.apply}}"}
										%span.empty{'ng-hide': 'datePicker.toString("createdDate")'}
											Time period
											%span.caret
										%span{'ng-show': 'datePicker.toString("createdDate")'}
											{{datePicker.toString("createdDate")}}
											%span.caret

							%td
								.date-picker-wrap
									%div.date-picker{'date-range-picker': true,
														   'ng-model': 'filter.closedDate',
														   :options => "{locale: {format: 'MMMM D, YYYY'},
																		 eventHandlers: {'apply.daterangepicker': datePicker.apply}}"}
										%span.empty{'ng-hide': 'datePicker.toString("closedDate")'}
											Time period
											%span.caret
										%span{'ng-show': 'datePicker.toString("closedDate")'}
											{{datePicker.toString("closedDate")}}
											%span.caret
												
				.header-cell
					%button.add-btn{'ng-click': 'applyFilter()'}
						Run Report

				.header-cell
					.pull-right
						%download-button{'ng-click': 'export()'}
							Export

		.row
			.col-xs-12
				.block
					.total-stats.mb20
						%div.stats-col
							.value {{totals.pipelineUnweighted | currency: '$': 0}}
							.text Total Pipeline (UW)

						%div.stats-col
							.value {{totals.pipelineWeighted | currency: '$': 0}}
							.text Total Pipeline (W)

						%div.stats-col
							.value {{totals.pipelineRatio}}
							.text Pipeline W/UW Ratio

						%div.stats-col
							.value {{totals.deals}}
							.text Total Deals

						%div.stats-col
							.value {{totals.aveDealSize | currency: '$': 0}}
							.text Ave Deal Size

					%div.table-wrapper
						%table.table.table-hover{'fixed-table-header': '', watch: '["data", "dealCustomFieldNames"]'}
							%thead
								%tr
									%th
										%span.clickable{'ng-click': 'sorting.set("id")'} Deal ID
									%th
										%span.clickable{'ng-click': 'sorting.set("name")'} Name
									%th
										%span.clickable{'ng-click': 'sorting.set("advertiser.name")'} Advertiser
									%th
										%span.clickable{'ng-click': 'sorting.set("category")'} Category
									%th
										%span.clickable{'ng-click': 'sorting.set("agency.name")'} Agency
									%th
										%span.clickable{'ng-click': 'sorting.set("holding_company")'} Holding Company
									%th
										%span.clickable{'ng-click': 'sorting.set("budget")'} Budget USD
									%th
										%span.clickable{'ng-click': 'sorting.set("budget_loc.budget")'} Budget
									%th
										%span.clickable{'ng-click': 'sorting.set("stage.name")'} Stage
									%th
										%span.clickable{'ng-click': 'sorting.set("stage.probability")'} %
									%th
										%span.clickable{'ng-click': 'sorting.set("start_date")'} Start Date
									%th
										%span.clickable{'ng-click': 'sorting.set("end_date")'} End Date
									%th
										%span.clickable{'ng-click': 'sorting.set("created_at")'} Created Date
									%th
										%span.clickable{'ng-click': 'sorting.set("closed_at")'} Closed Date
									%th
										%span.clickable{'ng-click': 'sorting.set("stage.closed_reason")'} Close Reason
									%th
										%span.clickable{'ng-click': 'sorting.set("stage.closed_reason_text")'} Close Comments
									%th
										%span Members
									%th
										%span.clickable{'ng-click': 'sorting.set("team")'} Team
									%th
										%span.clickable{'ng-click': 'sorting.set("type")'} Type
									%th
										%span.clickable{'ng-click': 'sorting.set("source")'} Source
									%th
										%span.clickable{'ng-click': 'sorting.set("initiative")'} Initiative
									%th{'ng-repeat': 'cfName in dealCustomFieldNames'}
										%span.clickable{'ng-click': 'sorting.set("custom_fields[{{cfName.id}}]")'} {{cfName.field_label}}
							%tbody.nowrap
								%tr{'ng-repeat': 'deal in deals | orderBy : sorting.key : sorting.reverse'}
									%td {{deal.id}}
									%td
										%a{href: '', 'ng-href': '/deals/{{deal.id}}'} {{deal.name}}
									%td
										%a{href: '', 'ng-href': '/accounts/{{deal.advertiser.id}}'} {{deal.advertiser.name}}
									%td {{deal.category}}
									%td
										%a{href: '', 'ng-href': '/accounts/{{deal.agency.id}}'} {{deal.agency.name}}
									%td {{deal.holding_company}}
									%td {{deal.budget | currency: '$': 0 }}
									%td {{deal.budget_loc.budget | currency : deal.budget_loc.curr_symbol || deal.budget_loc.curr_cd: 0 }}
									%td {{deal.stage.name}}
									%td {{deal.stage.probability}}
									%td {{deal.start_date | date : 'shortDate'}}
									%td {{deal.end_date | date : 'shortDate'}}
									%td {{deal.created_at | date : 'shortDate'}}
									%td {{deal.closed_at | date : 'shortDate'}}
									%td {{deal.closed_reason}}
									%td {{deal.closed_reason_text}}
									%td
										%div{'ng-repeat': 'member in deal.members'}
											{{member.name}} {{member.share || 0}}%
									%td {{deal.team}}
									%td {{deal.type}}
									%td {{deal.source}}
									%td {{deal.initiative}}
									%td{'ng-repeat': 'cfName in dealCustomFieldNames'}
										{{deal.custom_fields[cfName.id]}}
