#pipeline-changes-report.z-styles.z-report
  .container-fluid
    .row.mb20
      .reports-header
        .header-cell.main-title
          Pipeline Change Report
        .header-cell.filters-block
          %table
            %tr.filter-title
              %td Change Type
              %td Change Date
              %td
                %span.reset-filter{'ng-click': 'resetFilter()'}
                  Reset
            %tr
              %td
                %ul.filter-item
                  %li{ dropdown: true }
                    %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": !filter.type}' }
                      {{filter.type || 'All'}}
                      %span.caret
                    %ul.dropdown-menu
                      %li{'ng-class': '{active: !filter.type}'}
                        %a{href: '', 'ng-click': 'setFilter("type", "")'}
                          All
                      %li{ ng: { repeat: 'type in changeTypes', class: '{active: type === filter.type}' } }
                        %a{ href: '', ng: { click: 'setFilter("type", type)' } }
                          {{type}}

              %td
                .date-picker-wrap
                  %div.date-picker{'date-range-picker': true,
                                                             'ng-model': 'filter.date',
                                                             :options => "{locale: {format: 'MMMM D, YYYY'},
                                                                           eventHandlers: {'apply.daterangepicker': datePicker.apply}}"}
                    %span.empty{'ng-hide': 'datePicker.toString("date")'}
                      Time period
                      %span.caret
                    %span{'ng-show': 'datePicker.toString("date")'}
                      {{datePicker.toString("date")}}
                      %span.caret

        .header-cell
          %button.add-btn{'ng-click': 'applyFilter()'}
            Run Report

        .header-cell
          .pull-right
            %download-button{'ng-click': 'export()'}
              Export
    .row
      .col-md-12
        .table-wrapper
          %table.table
            %thead
              -#%tr{'z-fixed-header': true, watch: '"report_data_items"'}
              %tr
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("date")'}
                    Date
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("deal_type")'}
                    Change type
                %th.left{ width: "150" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("name")'}
                    Deal name
                %th.left{ width: "150" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("advertiser_name")'}
                    Advertiser name
                %th.right{ width: "100" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("budget")'}
                    Deal budget
                %th.left{ width: "150" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("start_date")'}
                    Deal start date
                %th.left{ width: "150" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("stage_name")'}
                    Stage name
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("previous_stage")'}
                    Previous stage
                %th.left{ width: "200" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("budget_change")'}
                    Budget change
            %tbody
              %tr{ ng: { repeat: 'deal in report_data_items | orderBy:sortType:sortReverse' } }
                %td.left
                  {{ deal.date | date: 'MM-dd-yyyy' }}
                %td.left
                  {{ deal.deal_type }}
                %td.left
                  %a{ href: '', ng: { click: 'go("/deals/" + deal.id)'  } }
                    {{ deal.name }}
                %td.left
                  {{ deal.advertiser_name }}
                %td.right
                  {{ deal.budget | currency:'$':0 }}
                %td.left
                  {{ deal.start_date | date: 'MM-dd-yyyy' }}
                %td.left
                  {{ deal.stage_name }}
                %td.left
                  {{ deal.previous_stage }}
                %td.left
                  {{ deal.budget_change | currency:'$':0 }}
