#reports.z-styles.z-report
  .container-fluid
    .row.mb20
      .reports-header
        .header-cell.main-title
          Pipeline Monthly Summary
        .header-cell.filter-cell
          %z-filter{'on-apply': 'onFilterApply'}
            %z-filter-field{data: 'teams', type: 'team', 'save-as': '{team_id: "id"}', 'on-change': 'updateSellers'} Team
            %z-filter-field{data: 'stages', type: 'stage', 'save-as': '{"stage_ids[]": "id"}'} Stage
            %z-filter-field{data: 'types', 'save-as': '{type: "id"}'} Type
            %z-filter-field{data: 'sources', 'save-as': '{source: "id"}'} Source
            %z-filter-field{data: 'products', 'save-as': '{product_id: "id"}'} Product
            %z-filter-field{data: 'sellers', 'save-as': '{user_id: "id"}'} Team Member
            %z-filter-field{data: 'timePeriods', 'save-as': '{time_period_id: "id"}', 'order-by': '["period_type", "start_date"]'} Time period

        .header-cell
          .pull-right
            %download-button{'ng-click': 'export()'}
              Export

    .row
      .col-md-12
        .block
          .total-stats.mb20
            %div.stats-col
              .value {{totals.pipelineUnweighted | currency: '$': 0}}
              .text Total Pipeline (UW)

            %div.stats-col
              .value {{totals.pipelineWeighted | currency: '$': 0}}
              .text Total Pipeline (W)

            %div.stats-col
              .value {{totals.pipelineRatio}}
              .text Pipeline W/UW Ratio

            %div.stats-col
              .value {{totals.deals}}
              .text Total Deals

            %div.stats-col
              .value {{totals.aveDealSize | currency: '$': 0}}
              .text Ave Deal Size

          .table-wrapper
            %table.table.table-hover
              %thead
                %tr.z-sortable-prime.z-sortable-second{'z-fixed-header': true, watch: '"deals"'}
                  %th
                    .z-sortable{by: 'users[0].first_name'} Team Member
                  %th
                    .z-sortable{by: 'advertiser.name'} Advertiser
                  %th
                    .z-sortable{by: 'name', default: true} Name
                  %th
                    .z-sortable{by: 'agency.name'} Agency
                  %th
                    .z-sortable{by: 'agency.parent_client.name'} Agency Parent
                  %th
                    .z-sortable{by: 'stage.name'} Stage
                  %th
                    .z-sortable{by: 'stage.probability'} %
                  %th
                    .z-sortable{by: 'budget'} Budget
                  %th
                    .z-sortable{by: 'next_steps'} Next Steps
                  %th
                    .z-sortable{by: 'next_steps_due'} Next Steps Due
                  %th
                    .z-sortable{by: 'latest_activity'} Latest Activity
                  %th
                    .z-sortable{by: 'type'} Deal Type
                  %th
                    .z-sortable{by: 'source'} Deal Source
                  %th
                    .z-sortable{by: 'team'} Team
                  %th
                    .z-sortable{by: 'start_date'} Start Date
                  %th
                    .z-sortable{by: 'end_date'} End Date
                  %th{ ng: { repeat: 'productTime in productRange track by $index' } }
                    %div.mb10.text-left
                      {{ monthly_budgets[productTime] | currency:'$':0 }}
                    .z-sortable{by: '"deal_product_budgets["+$index+"]"'}
                      {{ productTime | date: 'MMM-yy' }}
                  %th{ ng: { repeat: 'dealCustomFieldName in dealCustomFieldNames | orderBy: "position"', init: 'fieldName = dealCustomFieldName.field_type + dealCustomFieldName.field_index' } }
                    .z-sortable{by: '"deal_custom_field[\""+fieldName+"\"]"'} {{dealCustomFieldName.field_label}}
              %tbody.nowrap{'infinite-scroll': "loadMoreData()", 'infinite-scroll-listen-for-event': 'lazy:scroll'}
                %tr{ ng: { repeat: 'deal in deals | orderBy : zSort.by : zSort.rev' } }
                  %td
                    %div{ ng: { repeat: 'user in deal.users' } }
                      {{ user.first_name + " " + user.last_name + " (" + user.share + "%)"}}
                  %td {{ deal.advertiser.name }}
                  %td
                    %a{ href: '', ng: { href: '/deals/{{deal.id}}'  } }
                      {{ deal.name }}
                  %td {{ deal.agency.name }}
                  %td {{ deal.agency.parent_client.name }}
                  %td {{ deal.stage.name }}
                  %td {{ deal.stage.probability }}%
                  %td {{ deal.budget | currency:'$':0}}
                  %td {{ deal.next_steps.substr(0, 30) }}
                  %td {{ deal.next_steps_due | date: 'MM-dd-yyyy' }}
                  %td{ ng: { if: 'deal.latest_activity' } }
                    %span{ ng: { if: 'deal.latest_activity.happened_at' } }
                      Date: {{ deal.latest_activity.happened_at | date: 'MM-dd-yyyy h:mm a' }}
                      %br
                    %span{ ng: { if: 'deal.latest_activity.activity_type_name' } }
                      Type: {{ deal.latest_activity.activity_type_name }}
                      %br
                  %td{ ng: { if: '!deal.latest_activity' } }
                  %td {{ deal.type }}
                  %td {{ deal.source }}
                  %td {{ deal.team }}
                  %td {{ deal.start_date | date: 'MM-dd-yyyy' }}
                  %td {{ deal.end_date | date: 'MM-dd-yyyy' }}
                  %td{ ng: { repeat: 'productTime in productRange track by $index' } }
                    {{ (deal.deal_product_budgets[$index] | currency:'$':0) || '-'}}
                  %td{ ng: { repeat: 'dealCustomFieldName in dealCustomFieldNames | orderBy: "position"', init: 'fieldName = dealCustomFieldName.field_type + dealCustomFieldName.field_index' } }
                    %span{'ng-if': 'dealCustomFieldName.field_type == "percentage"'}
                      {{deal.deal_custom_field[fieldName] || 0}}%
                    %span{'ng-if': 'dealCustomFieldName.field_type == "number"'}
                      {{ (deal.deal_custom_field[fieldName] || 0) | number : 2}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "number_4_dec"'}
                      {{ (deal.deal_custom_field[fieldName] || 0) | number : 4}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "currency"'}
                      ${{ (deal.deal_custom_field[fieldName] || 0) | number : 2}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "text" || dealCustomFieldName.field_type == "note"'}
                      {{deal.deal_custom_field[fieldName] || "N/A"}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "integer"'}
                      {{ (deal.deal_custom_field[fieldName] || 0) | number : 0}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "boolean"'}
                      {{ deal.deal_custom_field[fieldName] ? "Yes" : "No" }}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "datetime"'}
                      {{ deal.deal_custom_field[fieldName] ? (deal.deal_custom_field[fieldName] | date: 'MM-dd-yyyy') : "N/A" }}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "dropdown"'}
                      {{deal.deal_custom_field[fieldName] || "N/A"}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "sum"'}
                      {{ (deal.deal_custom_field[fieldName] || 0) | number : 0 }}
                    %a{href: '', ng: { 'if': 'dealCustomFieldName.field_type == "link"', href: '{{deal.deal_custom_field[fieldName]}}' } }
                      {{deal.deal_custom_field[fieldName]}}
                %tr{ ng: { if: 'deals.length == 0' }}
                  %td.center.auto-colspan
                    No Data for the Filters Selected
