#reports.z-styles.z-report
  .container-fluid
    .row.mb20
      .reports-header
        .header-cell.main-title
          Pipeline Monthly Summary
        .header-cell
          .filters-block
            %table
              %tr.filter-title
                %td Team
                %td Stage
                %td Type
                %td Source
                %td Product
                %td Team Member
                %td Time period
                %td
                  %span.reset-filter{'ng-click': 'resetFilter()'}
                    Reset
              %tr
                %td
                  %tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected: 'selectedTeam', 'ng-class': '{"empty": selectedTeam.name === "All"}'}

                %td
                  %ul.filter-item
                    %li{ dropdown: true }
                      %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.stages.length == 0}' }
                        %span{'ng-if': 'filter.stages.length == 0'}
                          All
                        %span{'ng-repeat': 'stage in filter.stages'}
                          {{stage.name}} {{stage.probability + '%'}}
                          %i.fa.fa-times.close-btn{'ng-click': 'removeFilter("stages", stage)'}
                        %span.caret
                      %ul.dropdown-menu
                        %li{ ng: { repeat: 'stage in stages | orderBy: ["-open", "probability"]' } }
                          %a{ href: '', ng: { click: 'setFilter("stages", stage)' } }
                            {{stage.name}} {{ stage.probability + '%' }}

                %td
                  %ul.filter-item
                    %li{ dropdown: true }
                      %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.type.name === "All"}' }
                        {{filter.type.name}}
                        %span.caret
                      %ul.dropdown-menu
                        %li{ ng: { repeat: 'type in types', class: '{active: type.id === filter.type.id}' } }
                          %a{ href: '', ng: { click: 'setFilter("type", type)' } }
                            {{ type.name }}
                %td
                  %ul.filter-item
                    %li{ dropdown: true }
                      %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.source.name === "All"}' }
                        {{filter.source.name}}
                        %span.caret
                      %ul.dropdown-menu
                        %li{ ng: { repeat: 'source in sources', class: '{active: source.id === filter.source.id}' } }
                          %a{ href: '', ng: { click: 'setFilter("source", source)' } }
                            {{ source.name }}
                %td
                  %ul.filter-item
                    %li{ dropdown: true }
                      %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.product.name === "All"}' }
                        {{filter.product.name}}
                        %span.caret
                      %ul.dropdown-menu
                        %li{ ng: { repeat: 'product in products', class: '{active: product.id === filter.product.id}' } }
                          %a{ href: '', ng: { click: 'setFilter("product", product)' } }
                            {{ product.name }}
                %td
                  %ul.filter-item
                    %li{ dropdown: true }
                      %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.seller.name === "All"}' }
                        {{(filter.seller.first_name && filter.seller.first_name + ' ' + filter.seller.last_name) || 'All'}}
                        %span.caret
                      %ul.dropdown-menu
                        %li{ ng: { repeat: 'seller in sellers', class: '{active: seller.id === filter.seller.id}' } }
                          %a{ href: '', ng: { click: 'setFilter("seller", seller)' } }
                            {{ seller.first_name + ' ' + seller.last_name}}
                    %td
                      %ul.filter-item
                        %li{ dropdown: true }
                          %a{href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.timePeriod.name === "All"}' }
                            {{filter.timePeriod.name || 'All'}}
                            %span.caret
                          %ul.dropdown-menu
                            %li{ ng: { repeat: 'timePeriod in timePeriods', class: '{active: timePeriod.id === filter.timePeriod.id}' } }
                              %a{ href: '', ng: { click: 'setFilter("timePeriod", timePeriod)' } }
                                {{timePeriod.id !== 'all' ? timePeriod.name : 'All'}}
            .header-cell
              %button.add-btn{'ng-click': 'applyFilter()', 'ng-class': '{highlighted: isFilterApplied()}'}
                Run Report

        .header-cell
          .pull-right
            %download-button{'ng-click': 'exportReports()'}
              Export

    .row
      .col-md-12
        .block
          .total-stats.mb20
            %div.stats-col
              .value {{totals.pipelineUnweighted | currency: '$': 0}}
              .text Total Pipeline (UW)

            %div.stats-col
              .value {{totals.pipelineWeighted | currency: '$': 0}}
              .text Total Pipeline (W)

            %div.stats-col
              .value {{totals.pipelineRatio}}
              .text Pipeline W/UW Ratio

            %div.stats-col
              .value {{totals.deals}}
              .text Total Deals

            %div.stats-col
              .value {{totals.aveDealSize | currency: '$': 0}}
              .text Ave Deal Size

          .table-wrapper
            %table.table.table-hover
              %thead
                %tr{'z-fixed-header': true, watch: '"deals"'}
                  %th
                    %span.clickable{'ng-click': 'changeSortType("users[0].first_name")'}
                      Team Member
                  %th
                    %span.clickable{'ng-click': 'changeSortType("advertiser.name")'}
                      Advertiser
                  %th
                    %span.clickable{'ng-click': 'changeSortType("name")'}
                      Name
                  %th
                    %span.clickable{'ng-click': 'changeSortType("agency.name")'}
                      Agency
                  %th
                    %span.clickable{'ng-click': 'changeSortType("agency.parent_client.name")'}
                      Agency Parent
                  %th
                    %span.clickable{'ng-click': 'changeSortType("stage.name")'}
                      Stage
                  %th
                    %span.clickable{'ng-click': 'changeSortType("stage.probability")'} %
                  %th
                    %span.clickable{'ng-click': 'changeSortType("budget")'}
                      Budget
                  %th
                    %span.clickable{'ng-click': 'changeSortType("next_steps")'}
                      Next Steps
                  %th
                    %span.clickable{'ng-click': 'changeSortType("next_steps_due")'}
                      Next Steps Due
                  %th
                    %span.clickable{'ng-click': 'changeSortType("latest_activity")'}
                      Latest Activity
                  %th
                    %span.clickable{'ng-click': 'changeSortType("type")'}
                      Deal Type
                  %th
                    %span.clickable{'ng-click': 'changeSortType("source")'}
                      Deal Source
                  %th
                    %span.clickable{'ng-click': 'changeSortType("team")'}
                      Team
                  %th
                    %span.clickable{'ng-click': 'changeSortType("start_date")'}
                      Start Date
                  %th
                    %span.clickable{'ng-click': 'changeSortType("end_date")'}
                      End Date
                  %th{ ng: { repeat: 'productTime in productRange track by $index' } }
                    %span.clickable{'ng-click': 'changeSortType("deal_product_budgets["+$index+"]")'}
                      {{ productTime | date: 'MMM-yy' }}
                  %th{ ng: { repeat: 'dealCustomFieldName in dealCustomFieldNames | orderBy: "position"', init: 'fieldName = dealCustomFieldName.field_type + dealCustomFieldName.field_index' } }
                    %span.clickable{'ng-click': 'changeSortType("deal_custom_field[\""+fieldName+"\"]")'}
                      {{dealCustomFieldName.field_label}}
              %tbody.nowrap{'infinite-scroll': "loadMoreData()"}
                %tr{ ng: { repeat: 'deal in deals | orderBy:sortType:sortReverse' } }
                  %td
                    %div{ ng: { repeat: 'user in deal.users' } }
                      {{ user.first_name + " " + user.last_name + " (" + user.share + "%)"}}
                  %td {{ deal.advertiser.name }}
                  %td
                    %a{ href: '', ng: { href: '/deals/{{deal.id}}'  } }
                      {{ deal.name }}
                  %td {{ deal.agency.name }}
                  %td {{ deal.agency.parent_client.name }}
                  %td {{ deal.stage.name }}
                  %td {{ deal.stage.probability }}%
                  %td {{ deal.budget | currency:'$':0}}
                  %td {{ deal.next_steps.substr(0, 30) }}
                  %td {{ deal.next_steps_due | date: 'MM-dd-yyyy' }}
                  %td{ ng: { if: 'deal.latest_activity && deal.latest_activity.activity_type_name == "Email"' } }
                    %button.btn.activity-email-btn{'ng-click': 'showEmailsModal(deal.latest_activity)'}
                      Show email
                  %td{ ng: { if: 'deal.latest_activity && deal.latest_activity.activity_type_name != "Email"' } }
                    %span{ ng: { if: 'deal.latest_activity.happened_at' } }
                      Date: {{ deal.latest_activity.happened_at | date: 'MM-dd-yyyy h:mm a' }}
                      %br
                    %span{ ng: { if: 'deal.latest_activity.activity_type_name' } }
                      Type: {{ deal.latest_activity.activity_type_name }}
                      %br
                    %span{ ng: { if: 'deal.latest_activity.comment' } }
                      Note: {{ deal.latest_activity.comment }}
                  %td{ ng: { if: '!deal.latest_activity' } }
                  %td {{ deal.type }}
                  %td {{ deal.source }}
                  %td {{ deal.team }}
                  %td {{ deal.start_date | date: 'MM-dd-yyyy' }}
                  %td {{ deal.end_date | date: 'MM-dd-yyyy' }}
                  %td{ ng: { repeat: 'productTime in productRange track by $index' } }
                    ${{ deal.deal_product_budgets[$index] | number : 0 }}
                  %td{ ng: { repeat: 'dealCustomFieldName in dealCustomFieldNames | orderBy: "position"', init: 'fieldName = dealCustomFieldName.field_type + dealCustomFieldName.field_index' } }
                    %span{'ng-if': 'dealCustomFieldName.field_type == "percentage"'}
                      {{deal.deal_custom_field[fieldName] || 0}}%
                    %span{'ng-if': 'dealCustomFieldName.field_type == "number"'}
                      {{ (deal.deal_custom_field[fieldName] || 0) | number : 2}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "number_4_dec"'}
                      {{ (deal.deal_custom_field[fieldName] || 0) | number : 4}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "currency"'}
                      ${{ (deal.deal_custom_field[fieldName] || 0) | number : 2}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "text" || dealCustomFieldName.field_type == "note"'}
                      {{deal.deal_custom_field[fieldName] || "N/A"}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "integer"'}
                      {{ (deal.deal_custom_field[fieldName] || 0) | number : 0}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "boolean"'}
                      {{ deal.deal_custom_field[fieldName] ? "Yes" : "No" }}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "datetime"'}
                      {{ deal.deal_custom_field[fieldName] ? (deal.deal_custom_field[fieldName] | date: 'MM-dd-yyyy') : "N/A" }}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "dropdown"'}
                      {{deal.deal_custom_field[fieldName] || "N/A"}}
                    %span{'ng-if': 'dealCustomFieldName.field_type == "sum"'}
                      {{ (deal.deal_custom_field[fieldName] || 0) | number : 0 }}
                    %a{href: '', ng: { 'if': 'dealCustomFieldName.field_type == "link"', href: '{{deal.deal_custom_field[fieldName]}}' } }
                      {{deal.deal_custom_field[fieldName]}}
