#pipeline-changes-report.z-styles.z-report
	.container-fluid
		.row.mb20
			.reports-header
				.header-cell.main-title
					Pipeline Change Report
				.header-cell.filter-cell
					%z-filter{'on-apply': 'onFilterApply'}
						%z-filter-field{data: 'changeTypes', 'save-as': '{change_type: "name"}'} Change Type
						%z-filter-field{type: 'daterange', 'save-as': '{start_date: "startDate", end_date: "endDate"}', id: 'time-period-field'} Change Date

				.header-cell
					.pull-right
						%download-button{'ng-click': 'export()'}
							Export
		.row
			.col-md-12
				.block
					.table-wrapper
						%table.table.table-hover
							%thead
								%tr.z-sortable-prime
									%th
										.z-sortable{by: 'date'} Change Date
									%th
										.z-sortable{by: 'name'} Deal Name
									%th
										.z-sortable{by: 'advertiser_name'} Advertiser Name
									%th
										.z-sortable{by: 'deal_type'} Change Type
									%th
										.z-sortable{by: 'old_value'} Old Value
									%th
										.z-sortable{by: 'new_value'} New Value
									%th
										.z-sortable{by: 'budget'} Deal Budget
									%th
										.z-sortable{by: 'budget_change'} Budget Change Amount
									%th
										.z-sortable{by: 'start_date'} Deal Start Date
									%th
										.z-sortable{by: 'biz_days'} Number Business Days
									%th
										.z-sortable{by: 'changed_by'} Changed By
							%tbody
								%tr{ ng: { repeat: 'deal in report_data_items | orderBy : zSort.by : zSort.rev' } }
									%td {{deal.date | date: 'MM-dd-yyyy'}}
									%td
										%a{href: '', 'ng-href': '/deals/{{deal.id}}'} {{deal.name}}
									%td {{deal.advertiser_name}}
									%td {{deal.deal_type}}
									%td {{deal.old_value}}
									%td {{deal.new_value}}
									%td {{deal.budget}}
									%td {{deal.budget_change}}
									%td {{deal.start_date | date: 'MM-dd-yyyy'}}
									%td.center {{deal.biz_days}}
									%td.center {{deal.changed_by}}
								%tr{ ng: { if: 'report_data_items.length == 0' }}
									%td.center.auto-colspan
										No Data for the Filters Selected
