#pipeline-summary-report.z-styles
	.container-fluid
		.row.mb20
			.reports-header
				.header-cell.main-title
					Pipeline Summary
				.header-cell.filter-cell
					%z-filter{'on-apply': 'onFilterApply'}
						%z-filter-field{data: 'teams', type: 'team', 'save-as': '{team_id: "id"}', 'on-change': 'updateSellers'} Team
						%z-filter-field{data: 'sellers', 'save-as': '{seller_id: "id"}'} Team Member
						%z-filter-field{data: 'stages', type: 'stage', 'save-as': '{"stage_ids[]": "id"}'} Stage
						%z-filter-field{data: 'types', 'save-as': '{type_id: "id"}'} Type
						%z-filter-field{data: 'sources', 'save-as': '{source_id: "id"}'} Source
						%z-filter-field{type: 'daterange', 'save-as': '{start_date: "startDate", end_date: "endDate"}'} Start Date
						%z-filter-field{type: 'daterange', 'save-as': '{created_date_start: "startDate", created_date_end: "endDate"}'} Created Date
						%z-filter-field{type: 'daterange', 'save-as': '{closed_date_start: "startDate", closed_date_end: "endDate"}'} Closed Date

				.header-cell
					%download-button{'ng-click': 'export()'} Export

		.row
			.col-xs-12
				.block
					.total-stats.mb20
						%div.stats-col
							.value {{totals.pipelineUnweighted | currency: '$': 0}}
							.text Total Pipeline (UW)

						%div.stats-col
							.value {{totals.pipelineWeighted | currency: '$': 0}}
							.text Total Pipeline (W)

						%div.stats-col
							.value {{totals.pipelineRatio}}
							.text Pipeline W/UW Ratio

						%div.stats-col
							.value {{totals.deals}}
							.text Total Deals

						%div.stats-col
							.value {{totals.aveDealSize | currency: '$': 0}}
							.text Ave Deal Size

					%div.table-wrapper
						%table.table.table-hover
							%thead
								%tr{'z-fixed-header': true, watch: '["deals", "dealCustomFieldNames"]'}
									%th
										%span.clickable{'ng-click': 'sorting.set("id")'} Deal ID
									%th
										%span.clickable{'ng-click': 'sorting.set("name")'} Name
									%th
										%span.clickable{'ng-click': 'sorting.set("advertiser.name")'} Advertiser
									%th
										%span.clickable{'ng-click': 'sorting.set("category")'} Category
									%th
										%span.clickable{'ng-click': 'sorting.set("agency.name")'} Agency
									%th
										%span.clickable{'ng-click': 'sorting.set("holding_company")'} Holding Company
									%th
										%span.clickable{'ng-click': 'sorting.set("budget")'} Budget USD
									%th
										%span.clickable{'ng-click': 'sorting.set("budget_loc.budget")'} Budget
									%th
										%span.clickable{'ng-click': 'sorting.set("stage.name")'} Stage
									%th
										%span.clickable{'ng-click': 'sorting.set("stage.probability")'} %
									%th
										%span.clickable{'ng-click': 'sorting.set("start_date")'} Start Date
									%th
										%span.clickable{'ng-click': 'sorting.set("end_date")'} End Date
									%th
										%span.clickable{'ng-click': 'sorting.set("created_at")'} Created Date
									%th
										%span.clickable{'ng-click': 'sorting.set("closed_at")'} Closed Date
									%th
										%span.clickable{'ng-click': 'sorting.set("stage.closed_reason")'} Close Reason
									%th
										%span.clickable{'ng-click': 'sorting.set("stage.closed_reason_text")'} Close Comments
									%th
										%span Members
									%th
										%span.clickable{'ng-click': 'sorting.set("team")'} Team
									%th
										%span.clickable{'ng-click': 'sorting.set("type")'} Type
									%th
										%span.clickable{'ng-click': 'sorting.set("source")'} Source
									%th
										%span.clickable{'ng-click': 'sorting.set("initiative")'} Initiative
									%th
										%span.clickable{'ng-click': 'sorting.set("billing_contact.name")'} Billing Contact
									%th{'ng-repeat': 'cfName in dealCustomFieldNames'}
										%span.clickable{'ng-click': 'sorting.set("custom_fields[{{cfName.id}}]")'} {{cfName.field_label}}
							%tbody.nowrap
								%tr{'ng-repeat': 'deal in deals | orderBy : sorting.key : sorting.reverse'}
									%td {{deal.id}}
									%td
										%a{href: '', 'ng-href': '/deals/{{deal.id}}', 'target': '_blank'} {{deal.name}}
									%td
										%a{href: '', 'ng-href': '/accounts/{{deal.advertiser.id}}', 'target': '_blank'} {{deal.advertiser.name}}
									%td {{deal.category}}
									%td
										%a{href: '', 'ng-href': '/accounts/{{deal.agency.id}}', 'target': '_blank'} {{deal.agency.name}}
									%td {{deal.holding_company}}
									%td {{deal.budget | currency: '$': 0 }}
									%td {{deal.budget_loc | currency : deal.currency.curr_symbol : 0 }}
									%td {{deal.stage.name}}
									%td {{deal.stage.probability}}
									%td {{deal.start_date | date : 'shortDate'}}
									%td {{deal.end_date | date : 'shortDate'}}
									%td {{deal.created_at | date : 'shortDate'}}
									%td {{deal.closed_at | date : 'shortDate'}}
									%td {{deal.closed_reason}}
									%td {{deal.closed_reason_text}}
									%td
										%div{'ng-repeat': 'member in deal.members'}
											{{member.name}} {{member.share || 0}}%
									%td {{deal.team}}
									%td {{deal.type}}
									%td {{deal.source}}
									%td {{deal.initiative}}
									%td {{deal.billing_contact.name}}
									%td{'ng-repeat': 'cfName in dealCustomFieldNames'}
										{{deal.custom_fields[cfName.id]}}
									%tr{ ng: { if: 'deals.length == 0' }}
										%td.center.auto-colspan
											No Data for the Filters Selected


