#reports
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right
              %a.export{ href: '', ng: { click: 'exportReports()' } }
                = inline_svg 'icons/export.svg'
                Export
  .container-fluid.table-report
    .row
      .col-xs-12
        %h3
          Pipeline Summary
    .row
      .col-md-12
        .table-wrapper{ ng: { repeat: '(title, dataObj) in data' } }
          %table.table
            %thead
              %tr
                %th.left{ width: "150" }
                  -#%a{href:"javascript:void(0)", 'ng-click': 'changeSortType("name")'}
                  {{title}}
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(1)'}
                    Jan
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(2)'}
                    Feb
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(3)'}
                    Mar
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("Q1")'}
                    Q1 Total
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(4)'}
                    Apr
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(5)'}
                    May
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(6)'}
                    Jun
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("Q2")'}
                    Q2 Total
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(7)'}
                    Jul
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(8)'}
                    Aug
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(9)'}
                    Sep
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("Q3")'}
                    Q3 Total
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(10)'}
                    Oct
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(11)'}
                    Nov
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType(12)'}
                    Dec
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("Q4")'}
                    Q4 Total
                %th.right{ width: "90" }
                  %a{href:"javascript:void(0)", 'ng-click': 'changeSortType("FY")'}
                    FY Total
            %tbody
              %tr{ ng: { repeat: '(key, row) in dataObj | orderBy:sortType:sortReverse', if: 'key!="Total"' } }
                %td.left {{ key }}
                %td.right ${{ (row[1] ? row[1] : 0) | number : 0}}
                %td.right ${{ (row[2] ? row[2] : 0) | number : 0}}
                %td.right ${{ (row[3] ? row[3] : 0) | number : 0}}
                %td.right ${{ (row['Q1'] ? row['Q1'] : 0) | number : 0}}
                %td.right ${{ (row[4] ? row[4] : 0) | number : 0}}
                %td.right ${{ (row[5] ? row[5] : 0) | number : 0}}
                %td.right ${{ (row[6] ? row[6] : 0) | number : 0}}
                %td.right ${{ (row['Q2'] ? row['Q2'] : 0) | number : 0}}
                %td.right ${{ (row[7] ? row[7] : 0) | number : 0}}
                %td.right ${{ (row[8] ? row[8] : 0) | number : 0}}
                %td.right ${{ (row[9] ? row[9] : 0) | number : 0}}
                %td.right ${{ (row['Q3'] ? row['Q3'] : 0) | number : 0}}
                %td.right ${{ (row[10] ? row[10] : 0) | number : 0}}
                %td.right ${{ (row[11] ? row[11] : 0) | number : 0}}
                %td.right ${{ (row[12] ? row[12] : 0) | number : 0}}
                %td.right ${{ (row['Q4'] ? row['Q4'] : 0) | number : 0}}
                %td.right ${{ (row['FY'] ? row['FY'] : 0) | number : 0}}
              %tr
                %td.left Total
                %td.right ${{ (dataObj['Total'][1] ? dataObj['Total'][1] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][2] ? dataObj['Total'][2] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][3] ? dataObj['Total'][3] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total']['Q1'] ? dataObj['Total']['Q1'] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][4] ? dataObj['Total'][4] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][5] ? dataObj['Total'][5] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][6] ? dataObj['Total'][6] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total']['Q2'] ? dataObj['Total']['Q2'] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][7] ? dataObj['Total'][7] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][8] ? dataObj['Total'][8] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][9] ? dataObj['Total'][9] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total']['Q3'] ? dataObj['Total']['Q3'] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][10] ? dataObj['Total'][10] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][11] ? dataObj['Total'][11] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total'][12] ? dataObj['Total'][12] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total']['Q4'] ? dataObj['Total']['Q4'] : 0) | number : 0}}
                %td.right ${{ (dataObj['Total']['FY'] ? dataObj['Total']['FY'] : 0) | number : 0}}