#pipeline-split-report.z-styles
	.container-fluid
		.row.mb20
			.reports-header
				.header-cell.main-title
					Pipeline Split Adjusted
				.header-cell.filters-block
					%table
						%tr.filter-title
							%td Team
							%td Seller
							%td Stage
							%td Status
							%td
								%span.reset-filter{'ng-click': 'resetFilter()'}
									Reset
						%tr
							%td
								%tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected: 'filter.team', 'ng-class': '{"empty": filter.team.name === "All"}'}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.seller.name === "All"}' }
											{{filter.seller.name}}
											%span.caret
										%ul.dropdown-menu
											%li{ ng: { repeat: 'seller in sellers', class: '{active: seller.id === filter.seller.id}' } }
												%a{ href: '', ng: { click: 'setFilter("seller", seller)' } }
													{{seller.name}}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.stages.length == 0}' }
											%span{'ng-if': 'filter.stages.length == 0'}
												All
											%span{'ng-repeat': 'stage in filter.stages'}
												{{stage.name}} {{stage.probability + '%'}}
												%i.fa.fa-times.close-btn{'ng-click': 'removeFilter("stages", stage)'}
											%span.caret
										%ul.dropdown-menu
											%li{ ng: { repeat: 'stage in stages | orderBy: ["-open", "probability"]' } }
												%a{ href: '', ng: { click: 'setFilter("stages", stage)' } }
													{{stage.name}} {{isNumber(stage.probability) ? stage.probability + '%' : ''}}

							%td
								%ul.filter-item
									%li{ dropdown: true }
										%a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.status.name === "All"}' }
											{{filter.status.name}}
											%span.caret
										%ul.dropdown-menu
											%li{ ng: { repeat: 'status in statuses', class: '{active: status.name === filter.status.name}' } }
												%a{ href: '', ng: { click: 'setFilter("status", status)' } }
													{{ status.name }}

				.header-cell
					%button.add-btn{'ng-click': 'applyFilter()', 'ng-class': '{highlighted: isFilterApplied()}'}
						Run Report

				.header-cell
					.pull-right
						%download-button{'ng-click': 'export()'}
							Export

		.row
			.col-xs-12
				.block
					.total-stats.mb20
						%div.stats-col
							.value {{totals.pipelineUnweighted | currency: '$': 0}}
							.text Total Pipeline (UW)

						%div.stats-col
							.value {{totals.pipelineWeighted | currency: '$': 0}}
							.text Total Pipeline (W)

						%div.stats-col
							.value {{totals.pipelineRatio}}
							.text Pipeline W/UW Ratio

						%div.stats-col
							.value {{totals.deals}}
							.text Total Deals

						%div.stats-col
							.value {{totals.aveDealSize | currency: '$': 0}}
							.text Ave Deal Size

					%div.table-wrapper
						%table.table.table-hover
							%thead
								%tr.z-sortable-prime{'z-fixed-header': true, watch: '"deals"'}
									%th
										%span.z-sortable{by: 'deal_id'} Deal ID
									%th
										%span.z-sortable{by: 'deal_name'} Name
									%th
										%span.z-sortable{by: 'advertiser.name'} Advertiser
									%th
										%span.z-sortable{by: 'agency.name'} Agency
									%th
										%span.z-sortable{by: 'name'} Team Member
									%th
										%span.z-sortable{by: 'share'} Split %
									%th
										%span.z-sortable{by: 'stage.name'} Stage
									%th
										%span.z-sortable{by: 'stage.probability'} %
									%th
										%span.z-sortable{by: 'budget_loc'} Budget
									%th
										%span.z-sortable{by: 'budget'} Budget USD
									%th
										%span.z-sortable{by: 'split_budget'} Split Budget USD
									%th
										%span.z-sortable{by: 'type'} Type
									%th
										%span.z-sortable{by: 'source'} Source
									%th
										%span.z-sortable{by: 'next_steps'} Next Steps
									%th
										%span.z-sortable{by: 'next_steps_due'} Next Steps Due
									%th
										%span.z-sortable{by: 'start_date'} Start Date
									%th
										%span.z-sortable{by: 'end_date'} End Date
									%th
										%span.z-sortable{by: 'created_date'} Created Date
									%th
										%span.z-sortable{by: 'closed_date'} Closed Date
							%tbody
								%tr{'ng-repeat': 'deal in deals | orderBy : zSort.by : zSort.rev'}
									%td {{deal.deal_id}}
									%td
										%a{href: '', 'ng-href': '/deals/{{deal.deal_id}}'} {{deal.deal_name}}
									%td
										%a{href: '', 'ng-href': '/accounts/{{deal.advertiser.id}}'} {{deal.advertiser.name}}
									%td
										%a{href: '', 'ng-href': '/accounts/{{deal.agency.id}}'} {{deal.agency.name}}
									%td {{deal.name}}
									%td {{deal.share}}%
									%td {{deal.stage.name}}
									%td {{deal.stage.probability}}%
									%td {{deal.budget_loc | currency : deal.curr_symbol || deal.curr_cd: 0 }}
									%td {{deal.budget | currency: '$': 0 }}
									%td {{deal.split_budget | currency: '$': 0 }}
									%td {{deal.type}}
									%td {{deal.source}}
									%td {{deal.next_steps}}
									%td {{deal.next_steps_due | date : 'shortDate'}}
									%td {{deal.start_date | date : 'shortDate'}}
									%td {{deal.end_date | date : 'shortDate'}}
									%td {{deal.created_date | date : 'shortDate'}}
									%td {{deal.closed_date | date : 'shortDate'}}
