#pipeline-split-report.z-styles
	.container-fluid
		.row.mb20
			.reports-header
				.header-cell.main-title
					Pipeline Split Adjusted
				.header-cell.filter-cell
					%z-filter{'on-apply': 'onFilterApply'}
						%z-filter-field{data: 'teams', type: 'team', 'save-as': '{team_id: "id"}', 'on-change': 'updateSellers'} Team
						%z-filter-field{data: 'sellers', 'save-as': '{seller_id: "id"}'} Seller
						%z-filter-field{data: 'stages', type: 'stage', 'save-as': '{"stage_ids[]": "id"}'} Stage
						%z-filter-field{data: 'statuses', 'save-as': '{status: "id"}', 'order-by': '"-name"'} Status
				.header-cell
					.pull-right
						%download-button{'ng-click': 'export()'}
							Export

		.row
			.col-xs-12
				.block
					.total-stats.mb20
						%div.stats-col
							.value {{totals.pipelineUnweighted | currency: '$': 0}}
							.text Total Pipeline (UW)

						%div.stats-col
							.value {{totals.pipelineWeighted | currency: '$': 0}}
							.text Total Pipeline (W)

						%div.stats-col
							.value {{totals.pipelineRatio}}
							.text Pipeline W/UW Ratio

						%div.stats-col
							.value {{totals.deals}}
							.text Total Deals

						%div.stats-col
							.value {{totals.aveDealSize | currency: '$': 0}}
							.text Ave Deal Size

					%div.table-wrapper
						%table.table.table-hover
							%thead
								%tr.z-sortable-prime{'z-fixed-header': true, watch: '"deals"'}
									%th
										%span.z-sortable{by: 'deal_id'} Deal ID
									%th
										%span.z-sortable{by: 'deal_name'} Name
									%th
										%span.z-sortable{by: 'advertiser.name'} Advertiser
									%th
										%span.z-sortable{by: 'agency.name'} Agency
									%th
										%span.z-sortable{by: 'name'} Team Member
									%th
										%span.z-sortable{by: 'share'} Split %
									%th
										%span.z-sortable{by: 'stage.name'} Stage
									%th
										%span.z-sortable{by: 'stage.probability'} %
									%th
										%span.z-sortable{by: 'budget_loc'} Budget
									%th
										%span.z-sortable{by: 'budget'} Budget USD
									%th
										%span.z-sortable{by: 'split_budget'} Split Budget USD
									%th
										%span.z-sortable{by: 'type'} Type
									%th
										%span.z-sortable{by: 'source'} Source
									%th
										%span.z-sortable{by: 'next_steps'} Next Steps
									%th
										%span.z-sortable{by: 'next_steps_due'} Next Steps Due
									%th
										%span.z-sortable{by: 'start_date'} Start Date
									%th
										%span.z-sortable{by: 'end_date'} End Date
									%th
										%span.z-sortable{by: 'created_date'} Created Date
									%th
										%span.z-sortable{by: 'closed_date'} Closed Date
							%tbody
								%tr{'ng-repeat': 'deal in deals | orderBy : zSort.by : zSort.rev'}
									%td {{deal.deal_id}}
									%td
										%a{href: '', 'ng-href': '/deals/{{deal.deal_id}}', 'target': '_blank'} {{deal.deal_name}}
									%td
										%a{href: '', 'ng-href': '/accounts/{{deal.advertiser.id}}', 'target': '_blank'} {{deal.advertiser.name}}
									%td
										%a{href: '', 'ng-href': '/accounts/{{deal.agency.id}}', 'target': '_blank'} {{deal.agency.name}}
									%td {{deal.name}}
									%td {{deal.share}}%
									%td {{deal.stage.name}}
									%td {{deal.stage.probability}}%
									%td {{deal.budget_loc | currency : deal.curr_symbol || deal.curr_cd: 0 }}
									%td {{deal.budget | currency: '$': 0 }}
									%td {{deal.split_budget | currency: '$': 0 }}
									%td {{deal.type}}
									%td {{deal.source}}
									%td {{deal.next_steps}}
									%td {{deal.next_steps_due | date : 'shortDate'}}
									%td {{deal.start_date | date : 'shortDate'}}
									%td {{deal.end_date | date : 'shortDate'}}
									%td {{deal.created_date | date : 'shortDate'}}
									%td {{deal.closed_date | date : 'shortDate'}}
								%tr{ ng: { if: 'deals.length == 0' }}
									%td.center.auto-colspan
										No Data for the Filters Selected
