#pmp.z-styles.z-detail-page
  .container-fluid
    .row
      .col-xs-8
        %div{'ng-include': '"partials/pmp/pmp_detail.html"'}
      .col-xs-4
        %div{'ng-include': '"partials/pmp/pmp_members.html"'}
      .col-xs-12
        %div{'ng-include': '"partials/pmp/pmp_delivery.html"'}
      .col-xs-12
        %div{'ng-include': '"partials/pmp/pmp_item_daily_actuals.html"'}