#forecast-detail.z-styles
  .container-fluid
    .row.mb20
      .reports-header
        .header-cell.main-title
          Forecast Detail by Product
        .header-cell.filter-cell
          %z-filter{'on-apply': 'onFilterApply'}
            %z-filter-field{data: 'teams', type: 'team', 'save-as': '{id: "id"}', 'on-change': 'updateSellers', default: 'defaultTeam'} Team
            %z-filter-field{data: 'sellers', 'save-as': '{user_id: "id"}'} Seller
            %z-filter-field{data: 'productFamilies', 'save-as': '{product_family_id: "id"}'} Product Family
            %z-filter-field{data: 'products', type: 'multiselect', 'save-as': '{"product_ids[]": "id"}'} Products
            %z-filter-field{data: 'timePeriods', 'save-as': '{time_period_id: "id"}', 'is-all': 'false', 'order-by': '["period_type", "start_date"]', id: 'time-period-field'} Time period
            %div{style: 'order: 1; margin: 0 10px'}
              %span.mr8 Go to
              %a{href: '', 'ng-click': 'scrollTo("#revenue-section")'} Revenue
              |
              %a{href: '', 'ng-click': 'scrollTo("#deals-section")'} Deals

        .header-cell
          .pull-right
            %download-button{'ng-click': 'export()'}
              Export

    %div
      .row
        .col-xs-12
          .block
            %div.mb20
              %span.title Forecast
            %table.table.table-hover.exportable-table
              %thead
                %tr.hide
                  -#title for export
                  %th Forecast
                %tr.csv-ignore
                  %th
                  %th{colspan: "{{stages.length + 1}}"}
                    Pipeline (W)
                  %th
                  %th{colspan: "2"}
                    Total Forecast Amount
                %tr.z-sortable-prime{'sort-name': 'forecast'}
                  %th
                    .z-sortable{by: 'product.name', default: true} Product
                  %th
                    .z-sortable{by: 'product.product_family.name'} Product Family
                  %th{'ng-repeat': 'stage in stages'}
                    .z-sortable{by: '"weighted_pipeline_by_stage[\""+stage.id+"\"]"'} {{stage.probability}}%
                  %th
                    .z-sortable{by: 'weighted_pipeline'} Pipeline (W)
                  %th
                    .z-sortable{by: 'revenue'} Revenue
                  %th{width: '160px'}
                    Weighted
                  %th{width: '160px'}
                    Unweighted
              %tbody
                %tr{'ng-repeat': 'product_forecast in forecastData | orderBy : zSort.forecast.by : zSort.forecast.rev'}
                  %td
                    {{product_forecast.product.name}}
                  %td
                    {{product_forecast.product.product_family.name}}
                  %td{'ng-repeat': 'stage in stages'}
                    {{(product_forecast.weighted_pipeline_by_stage[stage.id] || 0) | currency : '$' : 0}}
                  %td
                    {{product_forecast.weighted_pipeline | currency : '$' : 0}}
                  %td
                    {{product_forecast.revenue | currency : '$' : 0}}
                  %td
                    {{(product_forecast.weighted_pipeline + product_forecast.revenue) | currency : '$' : 0}}
                  %td
                    {{(product_forecast.unweighted_pipeline + product_forecast.revenue) | currency : '$' : 0}}
                %tr{'ng-if': 'totalForecastData'}
                  %td
                    %strong
                      Total
                  %td
                  %td{'ng-repeat': 'stage in stages'}
                    %strong
                      {{(totalForecastData.weighted_pipeline_by_stage[stage.id] || 0) | currency : '$' : 0}}
                  %td
                    %strong
                      {{(totalForecastData.weighted_pipeline || 0) | currency : '$' : 0}}
                  %td
                    %strong
                      {{(totalForecastData.revenue || 0) | currency : '$' : 0}}
                  %td
                    %strong
                      {{((totalForecastData.weighted_pipeline || 0) + (totalForecastData.revenue || 0)) | currency : '$' : 0}}
                  %td
                    %strong
                      {{((totalForecastData.unweighted_pipeline || 0) + (totalForecastData.revenue || 0)) | currency : '$' : 0}}
      #revenue-section.row
        .col-xs-12
          .block
            %div.mb20
              %span.title Revenue Details
            %div.table-wrapper
              %table.table.table-hover.exportable-table
                %thead
                  %tr.hide
                    -#title for export
                    %th Revenue Details
                  %tr.z-sortable-prime{'sort-name': 'revenues', 'z-fixed-header': true, watch: '["revenues", "teams"]'}
                    %th
                      .z-sortable{by: 'name'} IO Name
                    %th
                      .z-sortable{by: 'advertiser.name'} Advertiser
                    %th.right
                      .z-sortable{by: 'budget', default: true} Total Budget
                    %th
                      .z-sortable{by: 'product.name'} Product
                    %th.right
                      .z-sortable{by: 'in_period_split_amt'} Product Budget
                    %th
                      .z-sortable{by: 'start_date'} Start Date
                    %th
                      .z-sortable{by: 'end_date'} End Date
                    %th
                      .z-sortable{by: 'members'} Team
                %tbody
                  %tr{'ng-repeat': 'revenue in revenues | orderBy : zSort.revenues.by : zSort.revenues.rev'}
                    %td
                      %a{href: '', 'ng-href': '/revenue/ios/{{revenue.id}}'} {{revenue.name}}
                    %td {{revenue.advertiser.name}}
                    %td.right {{revenue.budget | currency : '$' : 2}}
                    %td {{revenue.product.name}}
                    %td.right {{revenue.in_period_amt | currency : '$' : 2}}
                    %td {{revenue.start_date | date : 'MM/dd/yyyy'}}
                    %td {{revenue.end_date | date : 'MM/dd/yyyy'}}
                    %td
                      %div{'ng-repeat': 'member in revenue.members track by $index'} {{member.user.first_name + ' ' + member.user.last_name}} {{member.share}}%
                  %tr{ ng: { if: 'revenues.length == 0' }}
                    %td.center.auto-colspan
                      No Data for the Filters Selected
      #revenue-section.row
        .col-xs-12
          .block
            %div.mb20
              %span.title PMP Details
            %div.table-wrapper
              %table.table.table-hover.exportable-table
                %thead
                  %tr.hide
                    -#title for export
                    %th PMP Details
                  %tr.z-sortable-prime{'sort-name': 'pmp_revenues', 'z-fixed-header': true, watch: '["pmp_revenues", "teams"]'}
                    %th
                      .z-sortable{by: 'name'} PMP Name
                    %th
                      .z-sortable{by: 'advertiser'} Advertiser
                    %th.right
                      .z-sortable{by: 'budget', default: true} Total Budget
                    %th
                      .z-sortable{by: 'product.name'} Product
                    %th.right
                      .z-sortable{by: 'in_period_split_amt'} Product Budget
                    %th
                      .z-sortable{by: 'start_date'} Start Date
                    %th
                      .z-sortable{by: 'end_date'} End Date
                    %th
                      .z-sortable{by: 'pmp_members'} Team
                %tbody
                  %tr{'ng-repeat': 'pmp_revenue in pmp_revenues | orderBy : zSort.pmp_revenues.by : zSort.pmp_revenues.rev'}
                    %td
                      %a{href: '', 'ng-href': '/revenue/pmps/{{pmp_revenue.id}}'} {{pmp_revenue.name}}
                    %td {{pmp_revenue.advertiser}}
                    %td.right {{pmp_revenue.budget | currency : '$' : 2}}
                    %td {{pmp_revenue.product.name}}
                    %td.right {{pmp_revenue.in_period_amt | currency : '$' : 2}}
                    %td {{pmp_revenue.start_date | date : 'MM/dd/yyyy'}}
                    %td {{pmp_revenue.end_date | date : 'MM/dd/yyyy'}}
                    %td
                      %div{'ng-repeat': 'member in pmp_revenue.pmp_members track by $index'} {{member.name}} {{member.share}}%
                  %tr{ ng: { if: 'pmp_revenues.length == 0' }}
                    %td.center.auto-colspan
                      No Data for the Filters Selected

      #deals-section.row
        .col-xs-12
          .block
            %div.mb20
              %span.title Deals
            %div.table-wrapper
              %table.table.table-hover.exportable-table
                %thead
                  %tr.hide
                    -#title for export
                    %th Deals
                  %tr.z-sortable-prime{'sort-name': 'deals', 'z-fixed-header': true, watch: '["deals", "teams"]'}
                    %th
                      .z-sortable{by: 'name'} Deal Name
                    %th
                      .z-sortable{by: 'advertiser.name'} Advertiser
                    %th
                      .z-sortable{by: 'stage.probability'} %
                    %th.right
                      .z-sortable{by: 'budget', default: true} Total Budget
                    %th
                      .z-sortable{by: 'product.name'} Product
                    %th.right
                      .z-sortable{by: 'in_period_amt'} Product Budget
                    %th
                      .z-sortable{by: 'start_date'} Start Date
                    %th
                      .z-sortable{by: 'end_date'} End Date
                    %th
                      .z-sortable{by: 'deal_members'} Deal Team
                %tbody
                  %tr{'ng-repeat': 'deal in deals | orderBy : zSort.deals.by : zSort.deals.rev', popover: '{{deal.next_steps}}', 'popover-title': 'Next Steps', 'popover-placement': 'top', 'popover-trigger': 'mouseenter'}
                    %td
                      %a{href: '', 'ng-href': '/deals/{{deal.id}}'} {{deal.name}}
                    %td {{deal.advertiser.name}}
                    %td {{deal.stage.probability}}%
                    %td.right {{deal.budget | currency : '$' : 0}}
                    %td {{deal.product.name}}
                    %td.right {{deal.in_period_amt | currency : '$' : 0}}
                    %td {{deal.start_date | date : 'MM/dd/yyyy'}}
                    %td {{deal.end_date | date : 'MM/dd/yyyy'}}
                    %td
                      %div{'ng-repeat': 'member in deal.deal_members'} {{member.name}} {{member.share}}%
                  %tr{ ng: { if: 'deals.length == 0' }}
                    %td.center.auto-colspan
                      No Data for the Filters Selected