#product-monthly-summary.z-styles.z-report
  .container-fluid
    .row
      .reports-header
        .header-cell.main-title
          Product Monthly Summary
        .header-cell.filters-block
          %table
            %tr.filter-title
              %td Team
              %td Seller
              %td Product
              %td Created Date
              %td
                %span.reset-filter{'ng-click': 'resetFilter()'}
                  Reset
            %tr
              %td
                %tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected: 'filter.team', 'ng-class': '{"empty": filter.team.name === "All"}'}

              %td
                %ul.filter-item
                  %li{ dropdown: true }
                    %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.seller.name === "All"}' }
                      {{(filter.seller.first_name && filter.seller.first_name + ' ' + filter.seller.last_name) || 'All'}}
                      %span.caret
                    %ul.dropdown-menu
                      %li{ ng: { repeat: 'seller in sellers | orderBy: "name"', class: '{active: seller.id === filter.seller.id}' } }
                        %a{ href: '', ng: { click: 'setFilter("seller", seller)' } }
                          {{ seller.first_name + ' ' + seller.last_name}}

              %td
                %ul.filter-item
                  %li{ dropdown: true }
                    %a{ href: '', dropdown: { toggle: true }, 'ng-class': '{"empty": filter.product.name === "All"}' }
                      {{filter.product.name}}
                      %span.caret
                    %ul.dropdown-menu
                      %li{ ng: { repeat: 'product in products', class: '{active: product.id === filter.product.id}' } }
                        %a{ href: '', ng: { click: 'setFilter("product", product)' } }
                          {{ product.name }}

              %td
                .date-picker-wrap
                  %div.date-picker{'date-range-picker': true,
                               'ng-model': 'filter.createdDate',
                               :options => "{locale: {format: 'MMMM D, YYYY'},
                                     eventHandlers: {'apply.daterangepicker': datePicker.apply}}"}
                    %span.empty{'ng-hide': 'datePicker.toString("createdDate")'}
                      Time period
                      %span.caret
                    %span{'ng-show': 'datePicker.toString("createdDate")'}
                      {{datePicker.toString("createdDate")}}
                      %span.caret
        .header-cell
          %button.add-btn{'ng-click': 'applyFilter()', 'ng-class': '{"disabled": isLoading == true, highlighted: isFilterApplied()}'}
            Run Report
        .header-cell
          .pull-right
            %download-button{'ng-click': 'export()'}
              Export

    %div
      .row
        .col-xs-12
          .block
            %div.table-wrapper
              %table.table.table-hover.exportable-table
                %thead
                  %tr{'z-fixed-header': true, watch: '"data"'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("product")'}
                        Product
                        %i{'ng-show': 'sort.field == "product"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th{'ng-repeat': 'cfName in customFieldNames'}
                      %span.clickable{'ng-click': 'sort.by("custom_fields[{{cfName.field_type + cfName.field_index}}]")'} {{cfName.field_label}}
                    %th
                      %span.clickable{'ng-click': 'sort.by("record_type")'}
                        Record Type
                        %i{'ng-show': 'sort.field == "record_type"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("record_id")'}
                        Record ID
                        %i{'ng-show': 'sort.field == "record_id"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("members[0].name")'}
                        Team Member
                        %i{'ng-show': 'sort.field == "members[0].name"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("name")'}
                        Name
                        %i{'ng-show': 'sort.field == "name"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("advertiser.name")'}
                        Advertiser
                        %i{'ng-show': 'sort.field == "advertiser.name"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("agency.name")'}
                        Agency
                        %i{'ng-show': 'sort.field == "agency.name"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("holding_company")'}
                        Holding CO
                        %i{'ng-show': 'sort.field == "holding_company"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("stage.name")'}
                        Stage
                        %i{'ng-show': 'sort.field == "stage.name"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("stage.probability")'}
                        \%
                        %i{'ng-show': 'sort.field == "stage.probability"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("budget_loc")'}
                        Budget
                        %i{'ng-show': 'sort.field == "budget_loc"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("budget")'}
                        Budget USD
                        %i{'ng-show': 'sort.field == "budget"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("weighted_budget")'}
                        Weighted Amt
                        %i{'ng-show': 'sort.field == "weighted_budget"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("start_date")'}
                        Start Date
                        %i{'ng-show': 'sort.field == "start_date"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("end_date")'}
                        End Date
                        %i{'ng-show': 'sort.field == "end_date"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("created_at")'}
                        Created Date
                        %i{'ng-show': 'sort.field == "created_at"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("closed_at")'}
                        Closed Date
                        %i{'ng-show': 'sort.field == "closed_at"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("type")'}
                        Deal Type
                        %i{'ng-show': 'sort.field == "type"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                    %th
                      %span.clickable{'ng-click': 'sort.by("source")'}
                        Deal Source
                        %i{'ng-show': 'sort.field == "source"', class: 'fa fa-caret-{{sort.reverse ? "up" : "down"}}'}
                %tbody
                  %tr{'ng-repeat': 'row in data | orderBy : sort.field : sort.reverse'}
                    %td {{row.product}}
                    %td{'ng-repeat': 'cfName in customFieldNames'}
                      {{row.custom_fields[cfName.field_type + cfName.field_index]}}
                    %td {{row.record_type}}
                    %td {{row.record_id}}
                    %td
                      %div{'ng-repeat': 'member in row.members'}
                        {{member.name}} ({{member.share}}%)
                    %td
                      %a{href: '', target: '_blank', 'ng-href': '/deals/{{row.record_id}}', 'ng-if': 'row.record_type == "Deal"'} {{row.name}}
                      %a{href: '', target: '_blank', 'ng-href': '/revenue/ios/{{row.record_id}}', 'ng-if': 'row.record_type == "IO"'} {{row.name}}
                    %td {{row.advertiser.name}}
                    %td {{row.agency.name}}
                    %td {{row.holding_company}}
                    %td {{row.stage.name}}
                    %td {{row.stage.probability}}
                    %td {{row.budget_loc | currency: row.currency || '$' : 0}}
                    %td {{row.budget | currency: '$' : 0}}
                    %td {{row.weighted_budget | currency: '$' : 0}}
                    %td {{row.start_date | date : 'MM/dd/yyyy'}}
                    %td {{row.end_date | date : 'MM/dd/yyyy'}}
                    %td {{row.created_at | date : 'MM/dd/yyyy'}}
                    %td {{row.closed_at  | date : 'MM/dd/yyyy'}}
                    %td {{row.type}}
                    %td {{row.source}}