#product-monthly-summary.z-styles.z-report
  .container-fluid
    .row
      .reports-header
        .header-cell.main-title
          Product Monthly Summary
        .header-cell.filter-cell
          %z-filter{'on-apply': 'onFilterApply'}
            %z-filter-field{data: 'teams', type: 'team', 'save-as': '{team_id: "id"}', 'on-change': 'updateSellers'} Team
            %z-filter-field{data: 'sellers', 'save-as': '{seller_id: "id"}'} Seller
            %z-filter-field{data: 'products', 'save-as': '{product_id: "id"}'} Product
            %z-filter-field{type: 'daterange', 'save-as': '{created_date_start: "startDate", created_date_end: "endDate"}'} Created Date
        .header-cell
          .pull-right
            %download-button{'ng-click': 'export()'}
              Export

    %div
      .row
        .col-xs-12
          .block
            %div.table-wrapper
              %table.table.table-hover.exportable-table
                %thead
                  %tr.z-sortable-prime{'z-fixed-header': true, watch: '"data"'}
                    %th.z-sortable{by: 'product.name'} Name
                    %th{'ng-repeat': 'cfName in customFieldNames'}
                      .z-sortable{by: 'custom_fields["{{cfName.field_type + cfName.field_index}}"]'} {{cfName.field_label}}
                    %th.z-sortable{by: 'record_type'} Record Type
                    %th.z-sortable{by: 'record_id'} Record ID
                    %th.z-sortable{by: 'members[0].name'} Team Member
                    %th.z-sortable{by: 'name'} Name
                    %th.z-sortable{by: 'advertiser.name'} Advertiser
                    %th.z-sortable{by: 'agency.name'} Agency
                    %th.z-sortable{by: 'holding_company'} Holding CO
                    %th.z-sortable{by: 'stage.name'} Stage
                    %th.z-sortable{by: 'stage.probability'} %
                    %th.z-sortable{by: 'budget_loc'} Budget
                    %th.z-sortable{by: 'budget'} Budget USD
                    %th.z-sortable{by: 'weighted_budget'} Weighted Amt
                    %th.z-sortable{by: 'start_date'} Start Date
                    %th.z-sortable{by: 'end_date'} End Date
                    %th.z-sortable{by: 'created_at'} Created Date
                    %th.z-sortable{by: 'closed_at'} Closed Date
                    %th.z-sortable{by: 'type'} Deal Type
                    %th.z-sortable{by: 'source'} Deal Source
                %tbody{'ng-if': 'shouldRenderList', infinite: {scroll: 'loadMoreData()', 'scroll-disabled': 'isLoading || allItemsLoaded', 'scroll-distance': '0.5', 'scroll-listen-for-event': 'lazy:scroll'}}
                  %tr{'ng-repeat': 'row in data | orderBy : zSort.by : zSort.rev'}
                    %td {{row.product.name}}
                    %td{'ng-repeat': 'cfName in customFieldNames'}
                      {{row.custom_fields[cfName.field_type + cfName.field_index]}}
                    %td {{row.record_type}}
                    %td {{row.record_id}}
                    %td
                      %div{'ng-repeat': 'member in row.members'}
                        {{member.name}} ({{member.share}}%)
                    %td
                      %a{href: '', target: '_blank', 'ng-href': '/deals/{{row.id}}', 'ng-if': 'row.record_type == "Deal"'} {{row.name}}
                      %a{href: '', target: '_blank', 'ng-href': '/revenue/ios/{{row.id}}', 'ng-if': 'row.record_type == "IO"'} {{row.name}}
                    %td {{row.advertiser.name}}
                    %td {{row.agency.name}}
                    %td {{row.holding_company}}
                    %td {{row.stage.name}}
                    %td {{row.stage.probability}}
                    %td {{row.budget_loc | currency: row.currency.curr_cd || '$' : 0}}
                    %td {{row.budget | currency: '$' : 0}}
                    %td {{row.weighted_budget | currency: '$' : 0}}
                    %td {{row.start_date | date : 'MM/dd/yyyy'}}
                    %td {{row.end_date | date : 'MM/dd/yyyy'}}
                    %td {{row.created_at | date : 'MM/dd/yyyy'}}
                    %td {{row.closed_at  | date : 'MM/dd/yyyy'}}
                    %td {{row.type}}
                    %td {{row.source}}