#reports
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.quota-period.pull-right.last{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                %span{ ng: { if: 'year' } }
                  {{ year }} Quarterly
                %span{ ng: { if: '!year && currentTimePeriod' } }
                  {{ currentTimePeriod.name }} ({{ currentTimePeriod.start_date | date: 'shortDate'}} - {{ currentTimePeriod.end_date | date: 'shortDate' }})
                %span.caret
              %ul.dropdown-menu.time-periods
                %li{ ng: { repeat: 'timePeriod in timePeriods', class: '{active: !year && timePeriod.id == currentTimePeriod.id}' } }
                  %a{ href: '', ng: { click: 'updateTimePeriod(timePeriod)' } }
                    {{ timePeriod.name }} ({{ timePeriod.start_date | date: 'shortDate'}} - {{ timePeriod.end_date | date: 'shortDate' }})
                %li{ ng: { repeat: 'y in years', class: '{active: year == y}' } }
                  %a{ href: '', ng: { click: 'updateYear(y)' } }
                    {{ y }} Quarterly
            %li.pull-right
              %a.export{ href: '', ng: { click: 'exportReports()' } }
                Export
  .container.table-report
    .row
      .col-xs-12
        %h3
          Sellers Activities

    .row
      .col-md-12
        .table-wrapper.seller-activities__table
          %table.table.table-hover.text-center
            %thead
              %tr
                %th.left{ 'ng-click': 'changeSortType("user.name")'}
                  Name
                %th{ ng: { repeat: 'type in types track by $index' }, 'ng-click': 'changeSortType(type.name)', 'ng-if': 'type.name !== "Email"' }
                  {{ type.name }}
                %th{ 'ng-click': 'changeSortType("Total")'}
                  Total

            %tbody
              %tr{ ng: { repeat: 'report in userReportValues | orderBy:sortType:sortReverse' } }
                %td.left {{ report.user.name }}
                %td {{report['InitialMeeting']}}
                %td {{report['Pitch']}}
                %td {{report['Proposal']}}
                %td {{report['Feedback']}}
                %td {{report['AgencyMeeting']}}
                %td {{report['ClientMeeting']}}
                %td {{report['Entertainment']}}
                %td {{report['CampaignReview']}}
                %td {{report['QBR']}}
                %td {{report['Total']}}

              %tr
                %td.left  Total
                %td {{companyReports['InitialMeeting']}}
                %td {{companyReports['Pitch']}}
                %td {{companyReports['Proposal']}}
                %td {{companyReports['Feedback']}}
                %td {{companyReports['AgencyMeeting']}}
                %td {{companyReports['ClientMeeting']}}
                %td {{companyReports['Entertainment']}}
                %td {{companyReports['CampaignReview']}}
                %td {{companyReports['QBR']}}
                %td {{companyReports['Total']}}
