#reports
  #nav.transparent
    .container-fluid
      .row
        .col-xs-12
          .reports-header
            .header-cell
              .h3.header-title
                Activity Summary
            .header-cell
              %ul.nav.nav-tabs
                %li.detail-filter.dropdown
                  %span Filter by
                  %tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected:"selectedTeam"}
                  %ul.kpi-block__filter
                    %li{ dropdown: true }
                      %a{ href: '', dropdown: { toggle: true } }
                        User Type
                        %span.caret
                      %ul.dropdown-menu
                        %li{ ng: { class: '{active: userTypeId === undefined}' } }
                          %a{ href: '', ng: { click: 'setFilter("userTypeId", undefined)' } }
                            All
                        %li{ ng: { repeat: 'userType in userTypes | orderBy: "name"', class: '{active: userType.id == userTypeId}' } }
                          %a{ href: '', ng: { click: 'setFilter("userTypeId", userType.id)' } }
                            {{ userType.name }}
                  .date-picker-wrap
                    %div.date-picker#kpi-date-picker{'date-range-picker': true,
                                                     'ng-model': 'datePicker',
                                                     :options => "{locale: {format: 'MMMM D, YYYY',
                                                                            cancelLabel: 'Clear'},
                                                                   eventHandlers: {'apply.daterangepicker': datePickerApply,
                                                                                   'cancel.daterangepicker': datePickerCancel}}"}
                      Time period
                    %span.caret
                  %span#reset-filter{'ng-click': 'resetFilters()'}
                    Reset

            .header-cell
              %button.add-btn{'ng-click': 'applyFilter()'}
                Run Report

            .header-cell
              .pull-right
                .header-cell-right
                  %a.export{ href: '', ng: { click: 'exportReports()' } }
                    = inline_svg 'icons/export.svg'
                    Export
  .container-fluid.table-report
    .row
      .col-xs-12

    .row
      .col-md-12
        .table-wrapper.seller-activities__table
          %table.table.table-hover.text-center
            %thead
              %tr
                %th.left{ 'ng-click': 'changeSortType("username")'}
                  Name
                %th{ ng: { repeat: 'type in types track by $index' }, 'ng-click': 'changeSortType(type.name)' }
                  {{ type.name }}
                %th.text--bold{ 'ng-click': 'changeSortType("total")'}
                  Total

            %tbody
              %tr{ ng: { repeat: 'report in userReportValues | orderBy:sortType:sortReverse' } }
                %td.left {{ report.username }}
                %td{'ng-repeat': 'type in types'}
                  %a{'ng-click': 'drillActivityDetail(report.user_id, type.name)'}
                    {{report[type.name]}}
                %td.text--bold
                  %a{'ng-click': 'drillActivityDetail(report.user_id, null)'}
                    {{report['total']}}

              %tr.text--bold
                %td.left Total
                %td{'ng-repeat': 'type in types'}
                  %a{'ng-click': 'drillActivityDetail(null, type.name)'}
                    {{total_activities[type.name]}}
                %td
                  %a{'ng-click': 'drillActivityDetail(null, null)'}
                    {{total_activities['total']}}
