#reports
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.quota-period.pull-right.last{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                %span{ ng: { if: 'year' } }
                  {{ year }} Quarterly
                %span{ ng: { if: '!year && currentTimePeriod' } }
                  {{ currentTimePeriod.name }} ({{ currentTimePeriod.start_date | date: 'shortDate'}} - {{ currentTimePeriod.end_date | date: 'shortDate' }})
                %span.caret
              %ul.dropdown-menu.time-periods
                %li{ ng: { repeat: 'timePeriod in timePeriods', class: '{active: !year && timePeriod.id == currentTimePeriod.id}' } }
                  %a{ href: '', ng: { click: 'updateTimePeriod(timePeriod)' } }
                    {{ timePeriod.name }} ({{ timePeriod.start_date | date: 'shortDate'}} - {{ timePeriod.end_date | date: 'shortDate' }})
                %li{ ng: { repeat: 'y in years', class: '{active: year == y}' } }
                  %a{ href: '', ng: { click: 'updateYear(y)' } }
                    {{ y }} Quarterly
            %li.pull-right
              %a.export{ href: '', ng: { click: 'exportReports()' } }
                Export
  .container.table-report
    .row
      .col-xs-12
        %h3
          Sellers Activities

    .row
      .col-md-12
        .table-wrapper.seller-activities__table
          %table.table.table-hover.text-center
            %thead
              %tr
                %th Name
                %th {{ types[0].name }}
                %th {{ types[1].name }}
                %th {{ types[2].name }}
                %th {{ types[3].name }}
                %th {{ types[4].name }}
                %th {{ types[5].name }}
                %th {{ types[6].name }}
                %th {{ types[7].name }}
                %th {{ types[8].name }}
                %th Total

            %tbody
              %tr{ ng: { repeat: 'user in users | orderBy: "-currentReportValues[9]"' } }
                %td.left {{ user.name }}
                %td {{ user.currentReportValues[0] }}
                %td {{ user.currentReportValues[1] }}
                %td {{ user.currentReportValues[2] }}
                %td {{ user.currentReportValues[3] }}
                %td {{ user.currentReportValues[4] }}
                %td {{ user.currentReportValues[5] }}
                %td {{ user.currentReportValues[6] }}
                %td {{ user.currentReportValues[7] }}
                %td {{ user.currentReportValues[8] }}
                %td {{ user.currentReportValues[9] }}
              %tr
                %td.left  Total
                %td {{ company.currentReportValues[0] }}
                %td {{ company.currentReportValues[1] }}
                %td {{ company.currentReportValues[2] }}
                %td {{ company.currentReportValues[3] }}
                %td {{ company.currentReportValues[4] }}
                %td {{ company.currentReportValues[5] }}
                %td {{ company.currentReportValues[6] }}
                %td {{ company.currentReportValues[7] }}
                %td {{ company.currentReportValues[8] }}
                %td {{ company.currentReportValues[9] }}
