#reports.z-styles.z-report
  .container-fluid
    .row.mb20
      .reports-header
        .header-cell.main-title
          Activity Summary
        .header-cell.filter-cell
          %z-filter{'on-apply': 'onFilterApply'}
            %z-filter-field{data: 'teams', type: 'team', 'save-as': '{team_id: "id"}', 'on-change': 'updateSellers'} Team
            %z-filter-field{data: 'userTypes', 'save-as': '{user_type: "id"}'} User Type
            %z-filter-field{type: 'daterange', 'save-as': '{start_date: "startDate", end_date: "endDate"}'} Time period

        .header-cell
          .pull-right
            .header-cell-right
              %download-button{'ng-click': 'exportReports()'}
                Export

    .row
      .col-md-12
        .block
          .table-wrapper
            %table.table.table-hover
              %thead
                %tr.z-sortable-prime{'z-fixed-header': true, watch: '["types", "userReportValues"]'}
                  %th.left
                    .z-sortable{by: 'username', default: true}
                      Name
                  %th{ ng: { repeat: 'type in types track by $index' } }
                    .z-sortable{by: '"\"" + type.name + "\""'}
                      {{type.name}}
                  %th.text--bold
                    .z-sortable{by: 'total'}
                      Total

              %tbody
                %tr{ ng: { repeat: 'report in userReportValues | orderBy : zSort.by : zSort.rev' } }
                  %td.left {{ report.username }}
                  %td{'ng-repeat': 'type in types'}
                    %a{'ng-click': 'showActivityDetailModal(report.user_id, type.id)'}
                      {{report[type.name]}}
                  %td.text--bold
                    %a{'ng-click': 'showActivityDetailModal(report.user_id, null)'}
                      {{report['total']}}

                %tr.text--bold
                  %td.left Total
                  %td{'ng-repeat': 'type in types'}
                    %a{'ng-click': 'showActivityDetailModal(null, type.id)'}
                      {{total_activities[type.name]}}
                  %td
                    %a{'ng-click': 'showActivityDetailModal(null, null)'}
                      {{total_activities['total']}}
