#revenue
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a.upload{ href: '', ng: { click: 'showUploadModal()' } }
                = inline_svg 'icons/upload.svg'
                Upload
  .container-fluid
    .row
      .col-xs-12
        %h3
          Revenue

    .row
      .col-md-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th Client ID
                %th Client Name
                %th Order #
                %th Line #
                %th Ad Server
                %th Price
                %th Price Type
                %th Quantity
                %th Delivered
                %th Remaining
                %th Budget
                %th Budget Remaining
                %th Start Date
                %th End Date
                %th Sales Rep
                %th Product
                %th Date Loaded
                %th Date Updated

            %tbody
              %tr{ ng: { repeat: 'row in revenue' } }
                %td {{ row.client_id }}
                %td {{ row.client_name }}
                %td {{ row.order_number }}
                %td {{ row.line_number }}
                %td {{ row.ad_server }}
                %td.right {{ row.price/100 | currency:'$' }}
                %td {{ row.price_type }}
                %td.right {{ row.quantity | number }}
                %td.right {{ row.delivered | number }}
                %td.right {{ row.remaining | number }}
                %td.right {{ row.budget | currency:'$':0 }}
                %td.right {{ row.budget_remaining | currency:'$':0 }}
                %td {{ row.start_date | date: 'shortDate' }}
                %td {{ row.end_date | date: 'shortDate' }}
                %td {{ row.user_name }}
                %td {{ row.product_name }}
                %td {{ row.created_at | date: 'shortDate' }}
                %td {{ row.updated_at | date: 'shortDate' }}
