#revenue
  .container
    .row
      .col-xs-12
        %h3
          Revenue
        .search
          %form
            .input-group
              .input-group-addon
                %i.glyphicon.glyphicon-search
              %input.form-control{ ng: { model: 'searchText' }, placeholder: "Search by Advertiser, Agency, Name, etc." }

    .row
      .col-md-12
        .navbar.navbar-white
          %ul.nav.navbar-nav
            %li{ ng: { repeat: 'filter in revenueFilters', class: '{active: filter.name == revenueFilter.name}' } }
              %a{ href: "javascript:void(0);", ng: { click: 'filterRevenues(filter)'} }
                {{ filter.name }}
        .table-wrapper
          %table.table.table-hover.table-striped{ng: {if: "revenueFilter.param == ''"}}
            %thead
              %tr
                %th.left IO #
                %th.left External #
                %th.left Name
                %th.left Advertiser
                %th.left Agency
                %th.right Budget
                %th.left Start Date
                %th.left End Date
                %th.left Deal Name
                %th.right

            %tbody{ ng: { repeat: 'row in revenue | filter:searchText', include: "'partials/revenue_io_rows.html'" } }

          %table.table.table-hover.table-striped{ng: {if: "revenueFilter.param == 'no-match'"}}
            %thead
              %tr
                %th.left External #
                %th.left Name
                %th.left Advertiser
                %th.left Agency
                %th.right Budget
                %th.left Start Date
                %th.left End Date
                %th.right

            %tbody{ ng: { repeat: 'row in revenue | filter:searchText', include: "'partials/revenue_no_match_display_rows.html'" } }

          %table.table.table-hover.table-striped{ng: {if: "revenueFilter.param == 'risk' || revenueFilter.param == 'upside'"}}
            %thead
              %tr
                %th.left Ext IO #
                %th.left Advertiser
                %th.left Agency
                %th.right Daily Rate
                %th.right {{"#DaysNoBud"}}
                %th.right {{ revenueFilter.param == "risk" ? "Risk Amt" : (revenueFilter.param == "upside" ? "Upside Amt" : "Balance") }}
                %th.left Line #
                %th.left AdServer
                %th.left Start Date
                %th.left End Date
                %th.left Product
                %th.right Qty
                %th.right Price
                %th.left Price Type
                %th.right Budget
                %th.right Budg Del
                %th.right Budg Rem
                %th.right Qty Del
                %th.right Qty Rem
                %th.right 3PQtyDel
                %th.right 3PQtyRem
                %th.right 3PBudDel
                %th.right 3PBudRem

            %tbody{ ng: { repeat: 'displayLineItem in revenue | filter:searchText', include: "'partials/revenue_display_item_rows.html'"} }
