#revenue.z-styles
  .container-fluid
    .row.revenue-header.mb20
      .header-item.title
        .main-title Revenue
        %add-button{'ng-click': 'addPmp()', 'ng-if': "filter.revenue == 'pmp'"} Add PMP
      .header-item
        %div.filter-row
          %span{ ng: { repeat: 'revenueFilter in revenueFilters', class: '{active: filter.revenue == revenueFilter.value}', click: 'setFilter("revenue", revenueFilter.value)'} }
            {{ revenueFilter.name }}
        %div.filter-row.sub-filter{ ng: { if: "filter.revenue == 'risk' || filter.revenue == 'upside'"} }
          %span{ ng: { repeat: 'pacingFilter in pacingAlertsFilters', class: '{ active: filter.pacing == pacingFilter.value}', click: 'setFilter("pacing", pacingFilter.value)'} }
            {{pacingFilter.name}}
      .header-item.search
        %form
          .input-group
            .input-group-addon
              %i.glyphicon.glyphicon-search
            %input.form-control{ ng: { model: 'filter.name', 'model-options': '{debounce: 400}', change: 'applyFilter()' }, placeholder: "Search by Name, Advertiser, Agency, etc." }
      .header-item.date-filter
        %span Start date period
        .date-picker-wrap
          .date-picker-wrap
            %div.date-picker{'date-range-picker': true,
                               'ng-model': 'filter.date',
                               :options => "{locale: {format: 'MMMM D, YYYY'},
                                             eventHandlers: {'apply.daterangepicker': datePicker.apply}}"}
              %span.empty{'ng-hide': 'datePicker.toString()'}
                Time period
                %span.caret
              %span{'ng-show': 'datePicker.toString()'}
                {{datePicker.toString()}}
                %span.caret

    .row
      .block
        .table-wrapper{infinite: {scroll: 'loadMoreRevenues()', 'scroll-disabled': 'isLoading || allItemsLoaded', 'scroll-distance': '0.5'}}
          %table.table.table-hover{ng: {if: "filter.revenue == ''"}}
            %thead
              %tr.z-sortable-prime
                %th.left
                  %span.z-sortable{by: 'io_number'} IO #
                %th.left
                  %span.z-sortable{by: 'external_io_number'} External #
                %th.left
                  %span.z-sortable{by: 'name'} Name
                %th.left
                  %span.z-sortable{by: 'advertiser.name'} Advertiser
                %th.left
                  %span.z-sortable{by: 'agency.name'} Agency
                %th.right
                  %span.z-sortable{by: 'budget_loc'} Budget
                %th.left
                  %span.z-sortable{by: 'start_date'} Start Date
                %th.left
                  %span.z-sortable{by: 'end_date'} End Date
                %th.left
                  %span.z-sortable{by: 'deal.name'} Deal Name
                %th.action-column
                -#%th.right

            %tbody{ 'ng-include': "'partials/revenue_io_rows.html'" }

          %table.table.table-hover{ng: {if: "filter.revenue == 'no-match'"}}
            %thead
              %tr.z-sortable-prime
                %th.left
                  %span.z-sortable{by: 'external_io_number'} External #
                %th.left
                  %span.z-sortable{by: 'name'} Name
                %th.left
                  %span.z-sortable{by: 'advertiser'} Advertiser
                %th.left
                  %span.z-sortable{by: 'agency'} Agency
                %th.right
                  %span.z-sortable{by: 'budget_loc'} Budget
                %th.left
                  %span.z-sortable{by: 'start_date'} Start Date
                %th.left
                  %span.z-sortable{by: 'end_date'} End Date
                %th.right

            %tbody{ 'ng-include': "'partials/revenue_no_match_display_rows.html'" }

          %table.table.table-hover{ng: {if: "filter.revenue == 'no-match-adv'"}}
            %thead
              %tr.z-sortable-prime
                %th.left
                  %span.z-sortable{by: 'name'} Deal-ID
                %th.left
                  %span.z-sortable{by: 'deal_id'} Deal Name
                %th.left
                  %span.z-sortable{by: 'advertiser.name'} Advertiser
                %th.right
                  %span.z-sortable{by: 'agency.name'} Impressions
                %th.right
                  %span.z-sortable{by: 'budget_loc'} Revenue
                %th.right

            %tbody{ 'ng-include': "'partials/revenue_no_match_advertiser_rows.html'" }

          %table.table.table-hover{ng: {if: "filter.revenue == 'pmp'"}}
            %thead
              %tr.z-sortable-prime
                %th.left
                  %span.z-sortable{by: 'name'} Name
                %th.left
                  %span.z-sortable{by: 'deal_id'} Deal-ID
                %th.left
                  %span.z-sortable{by: 'advertiser.name'} Advertiser
                %th.left
                  %span.z-sortable{by: 'agency.name'} Agency
                %th.left
                  %span.z-sortable{by: 'start_date'} Start Date
                %th.right
                  %span.z-sortable{by: 'budget_loc'} Budget
                %th.right

            %tbody{ 'ng-include': "'partials/revenue_pmp_rows.html'" }

          %table.table.table-hover{ng: {if: "filter.revenue == 'risk' || filter.revenue == 'upside'"}}
            %thead
              %tr.z-sortable-prime
                %th.left
                  %span.z-sortable{by: 'io.name'} IO name
                %th.left
                  %span.z-sortable{by: 'io.external_io_number'} Ext IO #
                %th.left
                  %span.z-sortable{by: 'io.advertiser.name'} Advertiser
                %th.left
                  %span.z-sortable{by: 'io.agency.name'} Agency
                %th.right
                  %span.z-sortable{by: 'daily_run_rate'} Daily Rate
                %th.right
                  %span.z-sortable{by: 'num_days_til_out_of_budget'} {{"#DaysNoBud"}}
                %th.right
                  %span.z-sortable{by: 'balance'} {{ filter.revenue == "risk" ? "Risk Amt" : (filter.revenue == "upside" ? "Upside Amt" : "Balance") }}
                %th.left
                  %span.z-sortable{by: 'line_number'} Line #
                %th.left
                  %span.z-sortable{by: 'ad_server'} AdServer
                %th.left
                  %span.z-sortable{by: 'start_date'} Start Date
                %th.left
                  %span.z-sortable{by: 'end_date'} End Date
                %th.left
                  %span.z-sortable{by: 'product.name'} Product
                %th.right
                  %span.z-sortable{by: 'quantity'} Qty
                %th.right
                  %span.z-sortable{by: 'price'} Price
                %th.left
                  %span.z-sortable{by: 'pricing_type'} Price Type
                %th.right
                  %span.z-sortable{by: 'budget_loc'} Budget
                %th.right
                  %span.z-sortable{by: 'budget_delivered_loc'} Budg Del
                %th.right
                  %span.z-sortable{by: 'budget_remaining_loc'} Budg Rem
                %th.right
                  %span.z-sortable{by: 'quantity_delivered'} Qty Del
                %th.right
                  %span.z-sortable{by: 'quantity_remaining'} Qty Rem
                %th.right
                  %span.z-sortable{by: 'quantity_delivered_3p'} 3PQtyDel
                %th.right
                  %span.z-sortable{by: 'quantity_remaining_3p'} 3PQtyRem
                %th.right
                  %span.z-sortable{by: 'budget_delivered_3p_loc'} 3PBudDel
                %th.right
                  %span.z-sortable{by: 'budget_remaining_3p_loc'} 3PBudRem

            %tbody{ 'ng-include': "'partials/revenue_display_item_rows.html'" }
