#revenue
  #nav.transparent
    .container
      .row.filter-section
        .col-xs-4.col-xs-offset-2
          %tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected:"selectedTeam"}
        .col-xs-4
          %div.member-list{ dropdown: true }
            %a{ href: '', dropdown: { toggle: true } }
              %p{ class: "select" }
                {{ selectedMember.name ? selectedMember.name : "Select Member" }}
            %ul.dropdown-menu.members
              %li{ ng: { repeat: 'member in selectedTeam.members', class: '{active: member.id == selectedMember.id}' } }
                %a{ href: '', ng: { click: 'changeMember(member)' } }
                  {{ member.name }}


  .container-fluid
    .row
      .col-md-4.col-md-offset-4
        .table-wrapper
          %h3
            KPIs
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.center Win Rate
                %th.center Deal Size
                %th.center Cycle Time


            %tbody
              %tr
                %td.center {{averageWinRate}}% / {{allAverageWinRate}}% (ave)
                %td.center {{averageDealSize | currency: '$' : 0}}k / {{allAverageDealSize | currency: '$' : 0}}k (ave)
                %td.center {{averageCycleTime}}d / {{allAverageCycleTime}}d (ave)
        .table-wrapper
          %h3
            Largest Open Deals
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Client
                %th.left Budget
                %th.left %
                %th.left Start Date
                %th.right Next Step


            %tbody
              %tr{ 'ng-repeat': 'deal in topDeals' }
                %td.left {{ deal.advertiser.name }}
                %td.left {{deal.budget/100 | currency: '$' : 0}}
                %td.left {{deal.stage.probability}}
                %td.left {{deal.start_date | date:'MM-dd-yyyy'}}
                %td.right {{deal.next_steps}}
        .table-wrapper
          %h3
            Weekly Pipeline Movement
          %table.table-bar-charts
            %tbody
              %tr{ 'ng-repeat': 'item in chartWeekPipeMovement'}
                %td.left
                  {{item.name}}
                %td.bar-section
                  %div.bar{ng: { style: 'item.styles'}}
                    %span
                      {{item.value | currency: '$' : 0}}
                %td.right

        .table-wrapper
          %h3
            Pipeline by Product
          -#%div{ 'd3-horizon-stacked-bars':true, class: 'product-pipeline-chart', data: 'd3Data', ng: { if: "d3Data.dataset"} }
          -#  %div.hidden{ id:"tooltip"}
          -#    %p
          -#      %span{ id: 'value'}
          -#        100
          %nvd3{ options:'optionsProductPipeline', data: 'dataProductPipeline', class: '.product-pipeline-chart', ng: {if: 'dataProductPipeline'}}
          %div{ class: "product-pipeline-choice" }
            %div{ ng: {class: '{active: productPipelineChoice == "weighted"}', click: 'changeProductPipelineChoice("weighted")'} }
              Weighted
            %div{ ng: {class: '{active: productPipelineChoice == "unweighted"}', click: 'changeProductPipelineChoice("unweighted")' } }
              Unweighted