#revenue.sales-execution-dashboard
  #nav.transparent
    .container
      .row.filter-section
        .col-xs-4
          %h3
            Sales Execution Dashboard

        .col-xs-3
          %tree-dropdown{ class:"tree-dropdown team-list", data:"teams", selected:"filter.selectedTeam"}
        .col-xs-3
          %div.member-list{ dropdown: true }
            %a{ href: '', dropdown: { toggle: true } }
              %p{ class: "select" }
                {{ filter.selectedMember.name ? filter.selectedMember.name : "Select Member" }}
            %ul.dropdown-menu.members
              %li{ ng: { class: '{active: !filter.selectedMember.id}' } }
                %a{ href: '', ng: { click: 'changeMember(allMemberEntry)' } }
                  {{ allMemberEntry.name }}
              %li{ ng: { repeat: 'member in filter.selectedTeam.members | orderBy : "name"', class: '{active: member.id == filter.selectedMember.id}' } }
                %a{ href: '', ng: { click: 'changeMember(member)' } }
                  {{ member.name }}

        .col-xs-2
          %button.mr20.add-btn{'ng-click': 'applyFilter()', 'ng-class': '{highlighted: isFilterApplied()}'}
            Run Report


  .container-fluid
    .row
      .col-md-4
        .table-wrapper{ ng: { include: "'partials/sales_execution_dashboard/this_quarter.html'" } }
        .table-wrapper{ ng: { include: "'partials/sales_execution_dashboard/deal_loss_summary.html'" } }
        .table-wrapper{ ng: { include: "'partials/sales_execution_dashboard/deal_loss_stages.html'" } }

      .col-md-4
        .table-wrapper{ ng: { include: "'partials/sales_execution_dashboard/kpis.html'" } }
        .table-wrapper{ ng: { include: "'partials/sales_execution_dashboard/weekly_pipeline_movement.html'" } }
        .table-wrapper{ ng: { include: "'partials/sales_execution_dashboard/pipeline_by_product.html'" } }
        .table-wrapper{ ng: { include: "'partials/sales_execution_dashboard/largest_open_deals.html'" } }
      .col-md-4
        .table-wrapper{ ng: { include: "'partials/sales_execution_dashboard/next_quarter.html'" } }
        .table-wrapper{ ng: { include: "'partials/sales_execution_dashboard/upcoming_client_meeting.html'" } }
        .table-wrapper{ ng: { include: "'partials/sales_execution_dashboard/activity_summary.html'" } }