#settings.z-styles
	%div.settings-options
		%a.option{'ng-repeat': 'option in options | orderBy : "title" | filter: ""', href: '', 'ng-href': '{{option.url}}'}
			.option-inner
				%div.icon
					%i{class: 'fa fa-{{option.icon}}'}
				%div.body
					.title {{option.title}}
					.description {{option.description}}