%h3
  KPIs
%hr{width: '100%'}
%table.table.table-hover.table-striped.table-large
  %tbody
    %tr
      %td.center
        %div.label
          Win Rate
        %div
          {{averageWinRate}}% / {{allAverageWinRate}}%
        %div.small
          (ave)
      %td.center
        %div.label
          Deal Size
        %div
          {{averageDealSize | currency: '$' : 0}}k / {{allAverageDealSize | currency: '$' : 0}}k
        %div.small
          (ave)
      %td.center
        %div.label
          Cycle Time
        %div
          {{averageCycleTime}}d / {{allAverageCycleTime}}d
        %div.small
          (ave)