%h3
  KPIs
%table.table.table-hover.table-striped
  %thead
    %tr
      %th.left Win Rate
      %th.left Deal Size
      %th.right Cycle Time
  %tbody
    %tr
      %td.left {{averageWinRate}}% / {{allAverageWinRate}}% (ave)
      %td.left {{averageDealSize | currency: '$' : 0}}k / {{allAverageDealSize | currency: '$' : 0}}k (ave)
      %td.right {{averageCycleTime}}d / {{allAverageCycleTime}}d (ave)