%h3
  KPIs
%table.table.table-hover.table-striped
  %thead
    %tr
      %th.center Win Rate
      %th.center Deal Size
      %th.center Cycle Time
  %tbody
    %tr
      %td.center {{averageWinRate}}% / {{allAverageWinRate}}% (ave)
      %td.center {{averageDealSize | currency: '$' : 0}}k / {{allAverageDealSize | currency: '$' : 0}}k (ave)
      %td.center {{averageCycleTime}}d / {{allAverageCycleTime}}d (ave)