%h3
  Largest Open Deals
%hr{width: '100%'}
%table.table.table-hover.table-striped
  %thead
    %tr
      %th.left Account
      %th.right Budget
      %th.left{width: "30"} %
      %th.left{width: "90"}
        Start Date

  %tbody
    %tr{ 'ng-repeat': 'deal in topDeals', 'popover-template': "'topDealPopupHtml'", 'popover-placement': 'top', 'popover-trigger': 'mouseenter' }
      %td.left {{ deal.advertiser.name }}
      %td.right {{ deal.budget | currency: '$' : 0}}
      %td.left {{ deal.stage.probability }}
      %td.left {{ deal.start_date | date:'MM-dd-yyyy' }}

%script{ type: 'text/ng-template', id: 'topDealPopupHtml' }
  %table.activity-popup
    %tr
      %td
        Deal:
      %td
        {{deal.name}}
    %tr
      %td
        Next Steps:
      %td
        {{deal.next_steps}}
