%h3
  Largest Open Deals
%hr{width: '100%'}
%table.table.table-hover.table-striped
  %thead
    %tr
      %th.left
        %span{'ng-click': 'sort.toggle("advertiser_name")'} Account
      %th.right
        %span{'ng-click': 'sort.toggle("budget")'} Budget
      %th.left{width: "30"}
        %span{'ng-click': 'sort.toggle("stage_probability")'} %
      %th.left{width: "90"}
        %span{'ng-click': 'sort.toggle("start_date")'} Start Date

  %tbody
    %tr{ 'ng-repeat': 'deal in topDeals | orderBy : sorting.key : sorting.reverse', 'popover-template': "'topDealPopupHtml'", 'popover-placement': 'top', 'popover-trigger': 'mouseenter' }
      %td.left {{ deal.advertiser_name }}
      %td.right {{ deal.budget | currency: '$' : 0}}
      %td.left {{ deal.stage_probability }}
      %td.left {{ deal.start_date | date:'MM-dd-yyyy' }}

%script{ type: 'text/ng-template', id: 'topDealPopupHtml' }
  %table.activity-popup
    %tr
      %td
        Deal:
      %td
        {{deal.name}}
    %tr
      %td
        Next Steps:
      %td
        {{deal.next_steps}}
