%h3
  Next Quarter - {{dataQuaterForecast[1].new_deals_needed}} Deals Needed
%nvd3{ options:'optionsQuarterForecast[1]', data: 'dataQuaterForecast[1].graphData', callback:"initLabels()", class: 'quarter-forecast-chart quarter-forecast-chart2', ng: {if: 'dataQuaterForecast[1]'}}
%table.table.table-hover.table-striped.table-large
  %thead
    %tr
      %th.center Quota
      %th.center Weighted Pipe
      %th.center Revenue
  %tbody{ng: {if: "dataQuaterForecast[1]"}}
    %tr
      %td.center {{dataQuaterForecast[1].quota | currency: '$' : 0}}
      %td.center {{dataQuaterForecast[1].weighted_pipeline | currency: '$' : 0}}
      %td.center {{dataQuaterForecast[1].revenue | currency: '$' : 0}}
%table.table.table-hover.table-striped.table-large
  %thead
    %tr
      %th.center Forecast
      %th.center % Quota
      %th.center # Deals Needed
  %tbody{ng: {if: "dataQuaterForecast[1]"}}
    %tr
      %td.center {{(dataQuaterForecast[1].weighted_pipeline + dataQuaterForecast[1].revenue) | currency: '$' : 0}}
      %td.center {{dataQuaterForecast[1].percent_to_quota.toFixed(0)}}%
      %td.center {{dataQuaterForecast[1].new_deals_needed}}