%h3
  Next Quarter - {{dataQuaterForecast[1].new_deals_needed}} Deals Needed
%hr{width: '100%'}
%nvd3{ options:'optionsQuarterForecast[1]', data: 'dataQuaterForecast[1].graphData', callback:"initLabels()", class: 'quarter-forecast-chart quarter-forecast-chart2', ng: {if: 'dataQuaterForecast[1]'}}
%hr{width: '100%'}
%table.table.table-hover.table-striped.table-large
  %tbody
    %tr{ng: {if: "dataQuaterForecast[1]"}}
      %td.center
        %div.label Quota
        %div
          {{dataQuaterForecast[1].quota | currency: '$' : 0}}
      %td.center
        %div.label Weighted Pipe
        %div
          {{dataQuaterForecast[1].weighted_pipeline | currency: '$' : 0}}
      %td.center
        %div.label Revenue
        %div
          {{dataQuaterForecast[1].revenue | currency: '$' : 0}}
    %tr{ng: {if: "dataQuaterForecast[1]"}}
      %td.center
        %div.label Forecast
        %div
          {{(dataQuaterForecast[1].weighted_pipeline + dataQuaterForecast[1].revenue) | currency: '$' : 0}}
      %td.center
        %div.label % Quota
        %div
          {{dataQuaterForecast[1].percent_to_quota.toFixed(0)}}%
      %td.center
        %div.label # Deals Needed
        %div
          {{dataQuaterForecast[1].new_deals_needed}}
