%h3{ class: 'float-left'}
  Pipeline by Product
%div{ class: "pull-right chart-choice" }
  %div{ ng: {class: '{active: productPipelineChoice == "weighted"}', click: 'changeProductPipelineChoice("weighted")'} }
    Weighted
  %div{ ng: {class: '{active: productPipelineChoice == "unweighted"}', click: 'changeProductPipelineChoice("unweighted")' } }
    Unweighted
.clearBox
%hr{width: '100%'}
%nvd3{ options:'optionsProductPipeline', data: 'dataProductPipeline', class: 'product-pipeline-chart', ng: {if: 'dataProductPipeline'}}
