%h3
  Pipeline by Product
%nvd3{ options:'optionsProductPipeline', data: 'dataProductPipeline', class: 'product-pipeline-chart', ng: {if: 'dataProductPipeline'}}
%div{ class: "chart-choice" }
  %div{ ng: {class: '{active: productPipelineChoice == "weighted"}', click: 'changeProductPipelineChoice("weighted")'} }
    Weighted
  %div{ ng: {class: '{active: productPipelineChoice == "unweighted"}', click: 'changeProductPipelineChoice("unweighted")' } }
    Unweighted