#api-configurations {
  span.page-title {
    font-size: 22px;
    font-weight: 600;
    margin-right: 20px;
  }
  .col-centered {
    float: none;
    margin: 0 auto;
  }
  .dfp-import-buttons {
    margin-top: 15px;
  }
}

#dfp-info-modal {
  .info-text {
    color: #1ABC9C;
  }
  .popup-modal-body {
    text-align: center;
  }
}

