#api-configurations {
  span.page-title {
    font-size: 22px;
    font-weight: 600;
    margin-right: 20px;
  }
  .col-centered {
    float: none;
    margin: 0 auto;
  }
  .dfp-import-buttons {
    margin-top: 15px;
  }
}

#dfp-info-modal {
  .info-text {
    .status_ok {
      color: #1ABC9C;
    }
    .status_error {
      color: $error-color;
    }
  }
  .popup-modal-body {
    text-align: center;
  }
}

#notification-modal.api-config-modal {
  .toggle-on-modal{
    height: 10px;
    margin: 10px 0;
  }
  span.star {
    color: $error-color;
  }
}
