#custom-values {
  span.page-title {
    font-size: 24px;
    font-weight: 600;
    margin-right: 20px;
    display: block;
  }

  .msides20 {
    margin: 0 20px 0 20px;
  }
  .well:not(.primary) {
    cursor: pointer;
  }

  .well {
    .title {
      padding-right: 7px;
      &[disabled] {
        cursor: not-allowed;
      }
    }
    .total {
      padding-left: 7px;
    }
  }

  .editable {
    padding: 0 10px;
    cursor: text;
  }

  .btn-group {
    margin: 3px 0;
  }

  #options, #suboptions {
    a[disabled] {
      cursor: no-drop;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        position: relative;

        a.delete {
          display: none;
          position: absolute;
          right: 12px;
          top: 50%;
          margin-top: -15px;
        }


        &:hover a.delete {
          display:block;
        }
      }
    }
  }

  .default-label {
    color: #818689;
  }

  .list-group {
    .active {
      border-right: 3px solid $brand-primary;
      border-radius: 2px;
    }
  }

  .ui-sortable-placeholder {
    border: 4px dotted $gray-light; visibility: visible !important;
  }
}
