#settings-products {
  .settings-product-header {
    display: flex;

    .header-item {
      white-space: nowrap;
      margin-right: 30px;
      margin-top: -2px;

      &:last-child {
        margin: 0 0 0 auto;

        .form-group {
          margin-top: 10px;

          .z-toggle {
            vertical-align: middle;
          }
        }
      }

      span.menu-item {
        display: inline-block;
        padding: 12px 5px;
        margin: 0 10px;
        font-weight: 600;
        cursor: pointer;

        &.active {
          color: $main-color;
          border-bottom: 2px solid $main-color;
        }
      }
    }

    .search {
      width: 30%;
    }
  }

  #options, #suboptions {
    a[disabled] {
      cursor: no-drop;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        position: relative;

        a.delete {
          display: none;
          position: absolute;
          right: 12px;
          top: 50%;
          margin-top: -15px;
        }


        &:hover a.delete {
          display:block;
        }

        &.active {
          border-right: 3px solid #FF7E30;
          border-radius: 2px;
        }
      }
    }
  }

  #product-option-settings {
    padding-left: 0px;

    .panel-item {
      margin-top: 20px;
    }
  }
}

#products {
    .table {
        th:first-child {
            padding-left: 34px;
            vertical-align: middle;
        }
        .ad-unit-table {
            width: 100%;
            th:first-child, td:first-child {
                padding-left: 34px;
                text-align: left;
                background-color: #F6F9FC;
            }
            tr {
                .z-icon {
                    visibility: hidden;
                }
                &:hover {
                    .z-icon {
                        visibility: visible;
                    }
                }
            }
            .add-unit {
                color: $main-color;
                cursor: pointer;
                padding: 5px;
            }
        }
    }
}