#stages {
  .stage-types {
    display: inline-block;
    padding: 2px 9px 5px 20px;
    position: absolute;

    span {
      display: inline-block;
      padding: 0 5px 5px 5px;
      margin: 0 10px 0 5px;
      font-weight: bold;
      cursor: pointer;

      &.active {
        color: $main-color;
        border-bottom: 2px solid $main-color;
      }
    }
  }

  .title {
    color: #2B3C49;
    font-family: "Avenir Next";
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    padding-bottom: 37px;
    padding-left: 18px;
    padding-right: 20px;
  }

  .dndDraggingSource {
    display: none;
  }

  .dndPlaceholder {
    margin-bottom: 10px;
    height: 50px;
    list-style-type: none;
  }

  .dndDragging {
    box-shadow: none;
    opacity: 1;
    height: 70px;
  }

  .publisher-table {
    tr {
      cursor: pointer;
    }
  }

  .block-navigation {
    background-color: white;
    padding: 15px 3px 0;
  }

  .block {
    background-color: white;
    padding: 0 20px;
    border-radius: 4px;
    border-bottom: 1px solid #E6E6E8;
  }
}