!!!
%html
  %head
    %meta{name: 'x-apple-disable-message-reformatting'}
    %meta{'http-equiv': 'content-type', content: 'text/html; charset=UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1'}
    = yield :head
  %body
    = yield
    %p
      boostr admin
