.row
  #options.col-xs-3.col-xs-offset-1.list-group
    .well.primary
      {{ company.product_option1_field || 'Option1'}}
      .pull-right
        %a.add{ href: '', ng: { click: 'addOption()' } }
          = inline_svg 'icons/add.svg'
          Add
    %ul
      %li{ ng: { repeat: 'option in getOptions()', click: 'setOption(option)', class: '{ active: selectedOption === option }' } }
        .well
          .row
            .col-xs-10
              %input.title.editable-control{ type: 'text', 'ng-model': 'option.name', placeholder: "Enter option", 'ng-blur': 'updateOption(option)' }
              |
              %span.total
                {{ getSubOptions(option).length }}-Sub
            %a.delete{ href: '', ng: { click: 'deleteOption(option)' } }
              = inline_svg 'icons/trash.svg'

  #suboptions.col-xs-3.list-group
    .well.primary
      {{ company.product_option2_field || 'Option2'}}
      .pull-right
        %a.add{ href: '', ng: { click: 'addOption(true)', if: 'selectedOption.id' } }
          = inline_svg 'icons/add.svg'
          Add
    %ul
      %li{ ng: { repeat: 'option in getSubOptions(selectedOption)' } }
        .well
          .row
            .col-xs-10
              %input.title.editable-control{ type: 'text', 'ng-model': 'option.name', placeholder: "Enter option", 'ng-blur': 'updateOption(option, true)' }
            %a.delete{ href: '', ng: { click: 'deleteOption(option)' } }
              = inline_svg 'icons/trash.svg'

  #product-option-settings.col-xs-4
    .panel
      .panel-title 
        %h4 Settings
      .panel-body
        %label Customize Option Field Names
        .form-group
          %input.form-control{ type: 'text', 'ng-model': 'company.product_option1_field', placeholder: "Enter name", 'ng-blur': 'updateSettings()' }
        .form-group
          %input.form-control{ type: 'text', 'ng-model': 'company.product_option2_field', placeholder: "Enter name", 'ng-blur': 'updateSettings()' }