.row.block
  %div.mb20
    %span.title Product Families
    %add-button.add-family{'ng-click': 'showNewFamilyModal()'} Add

  .table-wrapper
    %table.table.table-hover
      %thead
        %tr
          %th Family Name
          %th Active
      %tbody{ ng: { repeat: 'productFamily in productFamilies' } }
        %tr
          %td
            %span.mr8 {{ productFamily.name }}
            %i.fa.fa-pencil.z-icon.edit-family{'ng-click': 'showNewFamilyModal(productFamily); $event.stopPropagation()'}
            %i.fa.fa-trash.z-icon{ href: '', ng: { click: 'deleteFamily(productFamily); $event.stopPropagation()' } }
          %td {{ productFamily.active ? 'Yes' : 'No' }}