.row
  #product-option-settings.col-xs-4
    .panel
      .panel-body
        %h4 Product Options
        .panel-item
          .form-group
            %label.control-label Enable/Disable Options
            %br
            %z-toggle{'ng-model': 'company.product_options_enabled', 'ng-change': 'updateSettings()',  id: "product_options_enabled"}
        .panel-item
          %label Customize Option Field Names
          .form-group
            %input.form-control{ type: 'text', 'ng-model': 'company.product_option1_field', placeholder: "Enter name", 'ng-blur': 'updateSettings()' }
          .form-group
            %input.form-control{ type: 'text', 'ng-model': 'company.product_option2_field', placeholder: "Enter name", 'ng-blur': 'updateSettings()' }