.deal-products.block
	%div.mb20
		%span.title Products & Budgets
		%add-button{'ng-if': 'currentDeal.stage.open', 'ng-click': 'showNewProductModal(currentDeal)'} Add
	.products
		%table.table.table-hover
			%thead
				%tr
					%th Product
					%th Total Budget
					%th{ ng: { repeat: 'month in currentDeal.months' } }
						{{ month | boDate }}
			%tbody{'ng-if': 'currentDeal.stage.open'}
				%tr{ ng: { repeat: 'deal_product in currentDeal.deal_products' } }
					%td
						{{ deal_product.name }}
						%i.fa.fa-trash.delete-product{'ng-click': 'deleteDealProduct(deal_product)'}
					%td.product-budget
						%div
							%div.total-budget-wrap
								%div.budget-value.total-budget{'click-to-edit':'click-to-edit', type: "number", 'ng-attr-prefix': "{{currency_symbol}}", 'ng-model': "deal_product.budget_loc", 'on-after-save': 'updateDealProduct(deal_product)'}
							%div.error-tooltip{'ng-show': 'deal_product.isIncorrectTotalBudgetPercent'}
								Total budget percentage should be equal 100%
							%span.budget-percent{ 'ng-class': "{'has-error':deal_product.isIncorrectTotalBudgetPercent}"}
								{{deal_product.total_budget_percent + '%'}}
					%td.product-budget{ ng: { repeat: 'deal_product_budget in deal_product.deal_product_budgets' } }
						%div{'ng-if': '!deal_product_budget.editMode'}
							%span.editable.budget-value{ 'ng-click': 'initProductEditMode(deal_product, deal_product_budget, "moneyOnFocus", "saveCopyProduct")' }
								{{ deal_product_budget.budget_loc | currency: currency_symbol : 0 }}
							%div
								%span.editable.budget-percent{'ng-click': 'initProductEditMode(deal_product, deal_product_budget, "percentOnFocus", "saveCopyProduct")'}
									{{ deal_product_budget.budget_percent+ '%'}}
						%div.editable-wrap{'ng-if': 'deal_product_budget.editMode'}
							%div.budget-value
								%span.symbol.currency {{currency_symbol}}
								%input.editable{ 'ng-model': 'deal_product_budget.budget_loc',
												'ng-change': 'changeMonthBudget(deal_product, deal_product_budget, $index, $event, "moneyOnFocus")',
												'ng-keypress': 'changeMonthBudget(deal_product, deal_product_budget, $index, $event, "moneyOnFocus")',
												'ng-click': 'initProductEditMode(deal_product, deal_product_budget, "moneyOnFocus")',
												id:'{{"deal_product_budget-" + deal_product_budget.id}}',
												'ng-blur':'disableProductsEditMode(deal_product, deal_product.deal_product_budgets, deal_product_budget)',
												'numbers-only': ''}
							%span.glyphicon.glyphicon-link
							%div.budget-percent
								%input.editable.month-budget__percent{ 'ng-model': 'deal_product_budget.budget_percent',
												'ng-change': 'changeMonthBudget(deal_product, deal_product_budget, $index, $event, "percentOnFocus")',
												'ng-keypress': 'changeMonthBudget(deal_product, deal_product_budget, $index, $event, "percentOnFocus")',
												'ng-click': 'initProductEditMode(deal_product, deal_product_budget, "percentOnFocus")',
												id:'{{"deal_product_budget-percent-" + deal_product_budget.id}}',
												'ng-blur':'disableProductsEditMode(deal_product, deal_product.deal_product_budgets, deal_product_budget)',
												'numbers-only': '' }>
								%span.symbol.percent %

			%tbody{'ng-if': '!currentDeal.stage.open'}
				%tr{ ng: { repeat: 'deal_product in currentDeal.deal_products' } }
					%td{style: 'padding-right: 30px'}
						{{ deal_product.name }}
					%td.product-budget
						%div
							%div.budget-value.total-budget {{deal_product.budget_loc | currency: currency_symbol : 0}}
							%span.budget-percent
								{{deal_product.total_budget_percent + '%'}}
					%td.text-center.month-budget{ ng: { repeat: 'deal_product_budget in deal_product.deal_product_budgets' } }
						%span.budget-value
							{{ deal_product_budget.budget_loc | currency: currency_symbol : 0 }}
						%div.budget-percent
							{{ deal_product_budget.budget_percent+ '%'}}