.detail-stats.block
	.deal-won-indicator{ 'ng-show': '!currentDeal.stage.open && currentDeal.stage.probability == 100' }
		.deal-won-indicator-oval
		.deal-won-indicator-deal
			Deal
		.deal-won-indicator-won
			Won
	%div.stats-body
		%div.deal-title.mb30
			%span.main-title
				{{currentDeal.name}}
				%i.fa.fa-pencil.edit-deal{'ng-click': 'showDealEditModal(currentDeal)'}
				%i.fa.fa-trash.delete-deal{'ng-click': 'deleteDeal(currentDeal)'}
				.ealert-label.pull-right{'ng-class': '{danger: (ealertReminder && currentDeal.company_ealert_reminder)}'}
					eAlerts
				%i.fa.fa-envelope.ealert.pull-right{ng: {click: 'showDealEalertModal(currentDeal)', class: '{danger: (ealertReminder && currentDeal.company_ealert_reminder)}'}}
				
			.detail-info
				%div
					%label Advertiser Name:
					%a{'href': '', 'ng-href': '/accounts/{{currentDeal.advertiser.id}}'} {{currentDeal.advertiser.name || ''}}
	
				%div
					%label{ ng: { class: '{ danger: agencyRequired }' } }
						%div.error-tooltip{ ng: { show: 'agencyRequired' } }
							Agency is required
						Agency Name:
					%a{'href': '', 'ng-href': '/accounts/{{currentDeal.agency.id}}'} {{currentDeal.agency.name || ''}}

		.clearfix
		%div.stats-numbers.mb30
			%div.stats-col
				.col-body-wrap
					.col-body
						%span.error-tooltip{'ng-show': 'errors.campaignPeriod'} {{ errors.campaignPeriod }}
						.description Campaign Period
						%div{'ng-if': 'currentDeal.stage.open'}
							.title.bs-datepicker
								%span.editable{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { model: 'currentDeal.start_date', click: 'startOpened = !startOpened', change: 'updateDealDate("start_date")' }, 'is-open': 'startOpened' }
									{{currentDeal.start_date | date : 'mediumDate' : 'UTC'}}
								{{'-'}}
								%span.no-wrap-line
									%span.editable{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { model: 'currentDeal.end_date', click: 'endOpened = !endOpened', change: 'updateDealDate("end_date")' }, 'is-open': 'endOpened' }
										{{currentDeal.end_date | date : 'mediumDate' : 'UTC'}}
									%span.caret
						%div{'ng-if': '!currentDeal.stage.open'}
							.title
								%span {{currentDeal.start_date | date : 'mediumDate' : 'UTC'}}
								{{'-'}}
								%span {{currentDeal.end_date | date : 'mediumDate' : 'UTC'}}
			%div.stats-col
				.col-body-wrap
					.col-body
						.description Total Amount
						.title {{currentDeal.budget_loc | currency: currency_symbol : 0}}
						.subtitle{'ng-if': 'currentDeal.currency.curr_cd != "USD"'} {{currentDeal.budget | currency: '$' : 0}}

			%div.stats-col
				.col-body-wrap
					.col-body
						.description Forecast Amount
						.title {{currentDeal.budget_loc * currentDeal.stage.probability / 100 | currency: currency_symbol : 0}}
						.subtitle{'ng-if': 'currentDeal.currency.curr_cd != "USD"'} {{currentDeal.budget * currentDeal.stage.probability / 100 | currency: '$' : 0}}

			%div.stats-col
				.col-body-wrap
					.col-body
						.description Freeze Budgets
						.title
							.show-hide-remainder-form
								.switch-remainder-form
									%input.cmn-toggle.cmn-toggle-round-flat{type: 'checkbox', 'ng-model': 'currentDeal.freezed', 'ng-change': 'updateDeal()', id: "rem-act-modal-toggle12"}
									%label{:for => "rem-act-modal-toggle12"}
										%span

			%div.stats-col
				.col-body-wrap
					.col-body
						%span.error-tooltip{'ng-show': 'errors.stage'} {{ errors.stage }}
						.description Current Stage
						.dropdown
							%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
								%span.title.editable
									{{currentDeal.stage.probability + '%'}} -
									%span.no-wrap-line
										{{currentDeal.stage.name}}
										%span.caret
							%ul.dropdown-menu
								%li{'ng-repeat': 'stage in stages', 'ng-class': '{active: currentDeal.stage.name == stage.name}'}
									%a{'href': '', 'ng-click': 'updateDealStage(currentDeal, stage.id)'}
										%span.text {{stage.name}} {{stage.probability}}%
			%div.stats-col
				.col-body-wrap
					.col-body
						%span.error-tooltip{'ng-show': 'errors.curr_cd'} {{ errors.curr_cd }}
						.description Deal Currency
						.dropdown
							%button.btn.btn-primary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
								%span.title.editable {{currentDeal.curr_cd}}
								%span.caret
							%ul.dropdown-menu
								%li{'ng-repeat': 'currency in currencies', 'ng-class': '{active: currentDeal.curr_cd == currency.curr_cd}'}
									%a{'href': '', 'ng-click': 'updateDealCurrency(currentDeal, currency.curr_cd)'}
										%span.text {{currency.name}}